<div class="ocloudInfo account_Info">
  <h5>
    <button (click)="back()">
      <span class="material-icons">arrow_back</span>Back
    </button>
    Account {{languageService.i18n['information']}} – {{accountInfo.id}}
  </h5>

  <div class="BOX  basicInfo ">
    <label class="boxTitle">{{languageService.i18n['basic.info']}}</label>
    <ul>
      <li><label>{{languageService.i18n['user_account']}}</label><span>{{accountInfo.id}}</span></li>
        <!-- <input type="text" [(ngModel)]="accountInfo.id" name="id" readonly></li> -->
      <li><label>{{languageService.i18n['key_account']}}</label><span>{{accountInfo.key}}</span></li>
        <!-- <input type="text" [(ngModel)]="accountInfo.key" name="key"></li> -->
        <li><label>{{languageService.i18n['role_account']}}</label><span>{{roleDisplayName(accountInfo.role)}}</span>
          <!-- <select [(ngModel)]="accountInfo.role" name="role">
            <option *ngFor="let opt of userTypeList" [value]="opt.value">{{opt.displayName}}</option>
          </select> -->
        </li>        
      <li><label>{{languageService.i18n['expired_time_account']}}</label>
        <span>{{accountInfo.expiretime}}</span></li>   
    </ul>
    <div class="buttons">
      <!-- <button type="button" (click)="openUpdateModal()" >Update Settings</button> -->
      <button tooltip="{{languageService.i18n['updateSoftware']}}" (click)="openUpdateModel()">{{languageService.i18n['updateSoftware']}}</button>
    </div>

    <ng-template #updateModal>
      <h5>Update User {{accountInfo.id}}</h5>
      <p>Confirm to Update {{accountInfo.id}}?</p>
      <div class="buttons">
        <button type="button" mat-dialog-close>Cancel</button>
        <button type="button" >OK</button>
      </div>
    </ng-template>
