<h5>{{languageService.i18n['index.menu_performMgr']}}</h5>
<div class="table performance">
  <table>
    <thead>
      <tr>
        <th>Field Name</th>
        <th>DRB Accessibility</th>
        <th>Integrity<div>(4 Indicator)</div></th>
        <th>DRB Retainability</th>
        <th>NG-RAN Data Energy Efficiency</th>
        <th>Utilization<div>(5 Indicator)</div></th>
        <th>Mobility<div>(NG-RAN handover success rate)</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Field01</td>
        <td>100</td>
        <td>
          <div>Integrated downlink delay <label>0</label></div>
          <div>Integrated uplink delay <label>0</label></div>
          <div>DL RAN UE throughout <label>0</label></div>
          <div>UL RAN UE throughout <label>0</label></div>
          <div>DRB Retainability <label>0.0</label></div>
        </td>
        <td>0.0</td>
        <td>28780.54</td>
        <td>
          <div>Mean number of PDU <label>0</label></div>
          <div>Resource Disk <label>0.0</label></div>
          <div>Resource Memory <label>47.0</label></div>
          <div>Resource Process <label>5.0</label></div>
          <div>Maximum number of PDU <label>520</label></div>
        </td>
        <td>-</td>
      </tr>

      <tr>
        <td>Field02</td>
        <td>100</td>
        <td>
          <div>Integrated downlink delay <label>0</label></div>
          <div>Integrated uplink delay <label>0</label></div>
          <div>DL RAN UE throughout <label>0</label></div>
          <div>UL RAN UE throughout <label>0</label></div>
          <div>DRB Retainability <label>0.0</label></div>
        </td>
        <td>0.0</td>
        <td>28780.54</td>
        <td>
          <div>Mean number of PDU <label>0</label></div>
          <div>Resource Disk <label>0.0</label></div>
          <div>Resource Memory <label>47.0</label></div>
          <div>Resource Process <label>5.0</label></div>
          <div>Maximum number of PDU <label>520</label></div>
        </td>
        <td>-</td>
      </tr>

      <tr>
        <td>Field03</td>
        <td>100</td>
        <td>
          <div>Integrated downlink delay <label>0</label></div>
          <div>Integrated uplink delay <label>0</label></div>
          <div>DL RAN UE throughout <label>0</label></div>
          <div>UL RAN UE throughout <label>0</label></div>
          <div>DRB Retainability <label>0.0</label></div>
        </td>
        <td>0.0</td>
        <td>28780.54</td>
        <td>
          <div>Mean number of PDU <label>0</label></div>
          <div>Resource Disk <label>0.0</label></div>
          <div>Resource Memory <label>47.0</label></div>
          <div>Resource Process <label>5.0</label></div>
          <div>Maximum number of PDU <label>520</label></div>
        </td>
        <td>-</td>
      </tr>

      <tr>
        <td>Field04</td>
        <td>100</td>
        <td>
          <div>Integrated downlink delay <label>0</label></div>
          <div>Integrated uplink delay <label>0</label></div>
          <div>DL RAN UE throughout <label>0</label></div>
          <div>UL RAN UE throughout <label>0</label></div>
          <div>DRB Retainability <label>0.0</label></div>
        </td>
        <td>0.0</td>
        <td>28780.54</td>
        <td>
          <div>Mean number of PDU <label>0</label></div>
          <div>Resource Disk <label>0.0</label></div>
          <div>Resource Memory <label>47.0</label></div>
          <div>Resource Process <label>5.0</label></div>
          <div>Maximum number of PDU <label>520</label></div>
        </td>
        <td>-</td>
      </tr>

      <tr>
        <td>Field05</td>
        <td>100</td>
        <td>
          <div>Integrated downlink delay <label>0</label></div>
          <div>Integrated uplink delay <label>0</label></div>
          <div>DL RAN UE throughout <label>0</label></div>
          <div>UL RAN UE throughout <label>0</label></div>
          <div>DRB Retainability <label>0.0</label></div>
        </td>
        <td>0.0</td>
        <td>28780.54</td>
        <td>
          <div>Mean number of PDU <label>0</label></div>
          <div>Resource Disk <label>0.0</label></div>
          <div>Resource Memory <label>47.0</label></div>
          <div>Resource Process <label>5.0</label></div>
          <div>Maximum number of PDU <label>520</label></div>
        </td>
        <td>-</td>
      </tr>

    </tbody>
  </table>
</div>

<pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
  nextLabel="" id="o-cloud-table">
</pagination-controls>
