<h5>{{languageService.i18n['index.menu_performMgr']}}</h5>
<div class="table performance">
  <table>
    <thead>
      <tr>
        <th>{{languageService.i18n['pm.field']}}</th>
        <th>{{languageService.i18n['pm.accessibility']}}</th>
        <th>{{languageService.i18n['pm.integrity']}}</th>
        <th>{{languageService.i18n['pm.retainability']}}</th>
        <th>{{languageService.i18n['pm.efficiency']}}</th>
        <th>{{languageService.i18n['pm.utilization']}}</th>
        <th>{{languageService.i18n['pm.mobility']}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let opt of fieldList.fields | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems, id: 'pmList' } ">
        <td>{{opt.name}}</td>
        <td>{{opt.accessibility}}</td>
        <td>
          . Integrated downlink delay:{{opt.integrity.downlinkDelay}}<br>
          . Integrated uplink delay:{{opt.integrity.uplinkDelay}}<br>
          . DL RAN UE throughput:{{opt.integrity.downlinkThrouthput}}<br>
          . UL RAN UE throughput:{{opt.integrity.uplinkThrouthput}}
        </td>
        <td>{{opt.retainability}}</td>
        <td>{{opt.energy}}</td>
        <td>
          . Mean number of PDU:{{opt.utilization.pdu}}<br>
          . Resource Disk:{{opt.utilization.resourceDisk}}<br>
          . Resource Memory:{{opt.utilization.resourceMemory}}<br>
          . Resource Process:{{opt.utilization.resourceProcess}}<br>
          . Maximum number of PDU:{{opt.utilization.maxPdu}}
        </td>
        <td>{{opt.mobility}}</td>
      </tr>    
    </tbody>
  </table>
</div>

<pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
  nextLabel="" id="pmList">
</pagination-controls>
