.table table {
  width: 98%;
  margin: 0;
  text-align: center;
  max-height: 79vh;
}
table tr td {
  width: 15vw;
  text-align: center;
  /* font-size: .9em; */
}
table tr td:nth-child(1),
table tr td:nth-child(2) {
  width: 7vw;
}
table tr td:nth-child(4),
table tr td:nth-child(5) {
  width: 9vw;
}
table tr td:nth-child(3),
table tr td:nth-child(6) {
  width: 20vw;
}
table tr td > div {
  padding: 3px 0;
  white-space: nowrap;
  display: list-item;
  margin: 0 0 0 1.5em;
  text-align: left;
}

table tr td > div > label::before {
  content: ':';
  margin: 0 3px 0 0;
}
table tr td > div > label {
  margin: 0 0 0 3px;
}
table tr th div {
  font-size: .9em;
}
table tr th {
  white-space: nowrap;
}
.table table td ul li label {
  margin: 0 0 0 .5em;
}
@media screen and (max-width:1600px){
  .table table td ul li {
    word-break: break-all;
    white-space: initial;
}
.table table {
  max-height: 76vh;
}
}
@media screen and (max-width:1366px) {
  table tr td:nth-child(4), table tr td:nth-child(5) {
    width: 11vw;
}
.table table td ul li {
  word-break: break-all;
  white-space: initial;
}
table tr td:nth-child(3), table tr td:nth-child(6) {
  width: 22vw;
}
}
