<h5>{{languageService.i18n['index.menu_performMgr']}}</h5>
<div class="table performance">
  <table>
    <thead>
      <tr>
        <th>{{languageService.i18n['pm.field']}}</th>
        <th>{{languageService.i18n['pm.accessibility']}}</th>
        <th>{{languageService.i18n['pm.integrity']}}</th>
        <th>{{languageService.i18n['pm.retainability']}}</th>
        <th>{{languageService.i18n['pm.efficiency']}}</th>
        <th>{{languageService.i18n['pm.utilization']}}</th>
        <th>{{languageService.i18n['pm.mobility']}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let opt of fieldList.fields | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems, id: 'pmList' } ">
        <td>{{opt.name}}</td>
        <td>{{opt.accessibility}}</td>
        <td>
          <ul>
            <li>Integrated downlink delay:<label>{{opt.integrity.downlinkDelay}}</label></li>
            <li>Integrated uplink delay:<label>{{opt.integrity.uplinkDelay}}</label></li>
            <li>DL RAN UE throughput:<label>{{opt.integrity.downlinkThrouthput}}</label></li>
            <li>UL RAN UE throughput:<label>{{opt.integrity.uplinkThrouthput}}</label></li>
          </ul>
          
        </td>
        <td>{{opt.retainability}}</td>
        <td>{{opt.energy}}</td>
        <td>
          <ul>
            <li>Mean number of PDU:<label>{{opt.utilization.pdu}}</label></li>
            <li>Resource Disk:<label>{{opt.utilization.resourceDisk}}</label></li>
            <li>Resource Memory:<label>{{opt.utilization.resourceMemory}}</label></li>
            <li>Resource Process:<label>{{opt.utilization.resourceProcess}}</label></li>
            <li>Maximum number of PDU:<label>{{opt.utilization.maxPdu}}</label></li>
          </ul>
        </td>
        <td>{{opt.mobility}}</td>
      </tr>    
    </tbody>
  </table>
</div>

<pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
  nextLabel="" id="pmList">
</pagination-controls>
