.table table {
  width: 98%;
  margin: 0;
  text-align: center;
  max-height: 70vh;
}
table tr td {
  width: 15vw;
  text-align: center;
  border-right:1px solid #63acc9;
}

table tr td > div {
  padding: 3px 0;
  white-space: nowrap;
  display: list-item;
  margin: 0 0 0 1.5em;
  text-align: left;
}

table tr td > div > label::before {
  content: ':';
  margin: 0 3px 0 0;
}
table tr td > div > label {
  margin: 0 0 0 3px;
}
table tr th div {
  font-size: .9em;

}

@media screen and (max-width:1366px) {

}
