<h5>{{languageService.i18n['index.menu_accountMgr']}}
  <mat-icon tooltip="{{languageService.i18n['addSoftware']}}" (click)="openCreateModal()">add</mat-icon>
</h5>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>{{languageService.i18n['user_account']}}</th>
        <th>{{languageService.i18n['role_account']}}</th>
        <th>{{languageService.i18n['index.view']}}</th>
        <th>{{languageService.i18n['table.delete']}}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let opt of accountLists.users | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems, id: 'display' } ">
        <td>{{opt.id}}</td>
        <td>{{typeText(+opt.role)}}</td>
        <!-- <td>{{opt.role}}</td> -->
        <td class="icon">
          <mat-icon tooltip="{{languageService.i18n['index.view']}}" (click)="accInfoPage(opt)">description</mat-icon>
          <!-- <mat-icon tooltip="{{languageService.i18n['index.view']}}" (click)="viewPage(opt)">description</mat-icon>-->
        </td>
        <td class="icon">
          <mat-icon tooltip="{{languageService.i18n['delItem']}}" (click)="openDelectModal(opt)" >delete_forever</mat-icon>
          <!-- (click)="openDelectModal(opt)" -->
        </td>
      </tr>
    </tbody>
  </table>

</div>

<pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
  nextLabel="" id="display">
</pagination-controls>


<ng-template #createAccountModal>
  <h5>{{languageService.i18n['addaccount']}}</h5>
  <form [formGroup]="createForm">
    <ul>
      <li>
        <label>{{languageService.i18n['user_account']}}</label>
        <span>
          <input type="text" formControlName="id" class="{{formValidated&&createForm.controls['id'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['id'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['key_account']}}</label>
        <span>
          <input type="text" formControlName="key" class="{{formValidated&&createForm.controls['key'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['key'].invalid">Required</mat-error>
        </span>
      </li>
      <li><label>{{languageService.i18n['role_account']}}</label>
        <span>
          <select formControlName="role">
            <option *ngFor="let opt of userTypeList" [value]="opt.value">{{opt.displayName}}</option>
          </select>
        </span>
      </li>   

    </ul>
    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" (click)="create()">OK</button>
    </div>
  </form>
</ng-template>

<ng-template #deleteModal>
  <h5>{{languageService.i18n['delaccount']}}
  </h5>
  <p>{{languageService.i18n['confirm_del_acc']}} – {{selectUser.id}}</p>
  <div class="buttons">
    <button type="button" mat-dialog-close>Cancel</button>
    <button type="button" (click)="delete()">Delete</button>
  </div>
</ng-template>

<ng-template #accInfoModal>
  <h5>{{languageService.i18n['basic.info']}}
  </h5>
    <ul>
      <li><label>{{languageService.i18n['user_account']}}:</label><span>{{accountInfo.id}}</span></li>
      <li><label>{{languageService.i18n['key_account']}}:</label><span>{{accountInfo.key}}</span></li>
        <li><label>{{languageService.i18n['role_account']}}:</label>
          <span><select [(ngModel)]="accountInfo.role" name="role">
            <option *ngFor="let opt of userTypeList" [value]="opt.value">{{opt.displayName}}</option>
          </select></span>
        </li>        
      <li><label>{{languageService.i18n['expired_time_account']}}:</label>
        <span>{{accountInfo.expiretime}}</span>
      </li>   
    </ul>
    <div class="buttons">
      <!-- <button type="button" (click)="openUpdateModal()" >Update Settings</button> -->
      <button tooltip="{{languageService.i18n['updateSoftware']}}" (click)="update()">{{languageService.i18n['updateSoftware']}}</button>
      <button type="button" mat-dialog-close>{{languageService.i18n['cancel']}}</button>
    </div>
</ng-template>

<ng-template #updateModal>
  <h5>Update User {{accountInfo.id}}</h5>
  <p>Confirm to Update {{accountInfo.id}}?</p>
  <div class="buttons">
    <button type="button" mat-dialog-close>Cancel</button>
    <button type="button" (click)="update()">OK</button>
  </div>
</ng-template>