<h5>{{languageService.i18n['index.menu_accountMgr']}}
  <mat-icon tooltip="{{languageService.i18n['addSoftware']}}" (click)="openCreateModal()">add</mat-icon>
</h5>
  <!-- <form [formGroup]="searchForm">
    <div class="filter">
      <span><label>Manufacturer</label>
        <input type="text">
      </span>
      <span><label>Model</label>
          <input type="text">
      </span>
      <span><label>{{languageService.i18n['type']}}</label>
        <select>
          <option value="All">All</option>
          <option *ngFor="let opt of searchTypeList" [value]="opt.value">{{opt.displayName}}</option>
        </select>
      </span>
      <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search()">search</span>
      <span tooltip="{{languageService.i18n['a_search']}}" class="material-symbols-outlined" (click)="openAdvancedModal()">settings</span>
    </div>
  </form> -->

<div class="table">
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Role</th>
        <th>{{languageService.i18n['index.view']}}</th>
        <th>{{languageService.i18n['table.delete']}}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let opt of accountLists.users | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems, id: 'display' } ">
        <td>{{opt.id}}</td>
        <td>{{typeText(+opt.role)}}</td>
        <!-- <td>{{opt.role}}</td> -->
        <td class="icon">
          <mat-icon tooltip="{{languageService.i18n['index.view']}}" (click)="viewPage(opt)">description</mat-icon>
          <!-- <mat-icon tooltip="{{languageService.i18n['index.view']}}" (click)="viewPage(opt)">description</mat-icon>-->
        </td>
        <td class="icon">
          <mat-icon tooltip="{{languageService.i18n['delItem']}}" (click)="openDelectModal(opt)" >delete_forever</mat-icon>
          <!-- (click)="openDelectModal(opt)" -->
        </td>
      </tr>
    </tbody>
  </table>

</div>

<pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
  nextLabel="" id="display">
</pagination-controls>


<ng-template #createModal>
  <h5>{{languageService.i18n['addSoftware']}}</h5>
  <form [formGroup]="createForm">
    <ul>
      <li>
        <label>{{languageService.i18n['firm']}}</label>
        <span>
          <input type="text" formControlName="version" class="{{formValidated&&createForm.controls['version'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['version'].invalid">Required</mat-error>
        </span>
        <!-- <span class="upload {{formValidated&&createForm.controls['fileName'].invalid?'required':''}}">
          <span>{{languageService.i18n['upload']}}
            <input type="file" name="uploadedFile" (change)="fileChange($event)" accept=".zip, .tar" #fileInput>
          </span>
          <label>{{createForm.controls['fileName'].value}}</label>
          <mat-error *ngIf="formValidated&&createForm.controls['fileName'].invalid">is Required</mat-error>
          <mat-error *ngIf="fileMsg">{{fileMsg}}</mat-error>
        </span> -->
      </li>
      <li>
        <label>{{languageService.i18n['model']}}</label>
        <span>
          <input type="text" formControlName="version" class="{{formValidated&&createForm.controls['version'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['version'].invalid">Required</mat-error>
        </span>
      </li>



      <li>
        <label>{{languageService.i18n['type']}}</label>
        <span>
          <select name="" id="">
            <option value=""></option>
          </select>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['version']}}</label>
        <span>
          <input type="text" formControlName="version" class="{{formValidated&&createForm.controls['version'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['version'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['add.method']}}</label>
        <span class="btn-group">
            <mat-button-toggle-group [(ngModel)]="uploadType" >
              <mat-button-toggle value="upload">{{languageService.i18n['upload.file']}}</mat-button-toggle>
              <mat-button-toggle value="url">{{languageService.i18n['url']}}</mat-button-toggle>
            </mat-button-toggle-group>
            <ng-container *ngIf="uploadType == 'upload'">
              <div>
                <input type="file" name="uploadedFile">
                <!-- view detail 才出現以下二個 -->
                <div>
                  File Size:
                  <br/>
                  Checksum:
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="uploadType == 'url'">
                <input type="text" placeholder="Url">
            </ng-container>
        </span>
      </li>
        <li>
        <label>{{languageService.i18n['notes']}}</label>
        <span>
          <textarea></textarea>
        </span>
      </li>

      <li>
        <label>{{languageService.i18n['ftp.account']}}</label>
        <span>
          <input type="text" formControlName="version" class="{{formValidated&&createForm.controls['version'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['version'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['ftp.password']}}</label>
        <span>
          <input type="text" formControlName="version" class="{{formValidated&&createForm.controls['version'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['version'].invalid">Required</mat-error>
        </span>
      </li>

    </ul>
    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" (click)="create()">OK</button>
      <!-- <button (click)="debug()">debug</button> -->
    </div>
  </form>
</ng-template>

<ng-template #deleteModal>
  <h5>{{languageService.i18n['delsoftware']}}
  </h5>
  <p>{{languageService.i18n['confirm_del_soft']}} – {{selectUser.id}}</p>
  <div class="buttons">
    <button type="button" mat-dialog-close>Cancel</button>
    <button type="button" (click)="delete()">Delete</button>
  </div>
</ng-template>

<ng-template #advancedModal>
  <form [formGroup]="advancedForm">
    <h5>Software  {{languageService.i18n['performance_Advanced_Search']}}</h5>

      <ul>
      <li>
        <span>Global ID:</span> <input type="text" formControlName="version">
      </li>
      <li>
        <span>Field {{languageService.i18n['table.header_name']}}:</span> <input type="text" formControlName="version">
      </li>
      <li>
        <span>NF ID:</span> <input type="text" formControlName="version">
      </li>
      <li>
        <span>NF {{languageService.i18n['table.header_name']}}:</span> <input type="text" formControlName="version">
      </li>
      <li>
        <span>From:</span>
        <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
        <span class="widthInit">To:</span>
        <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
      </li>
      <li>
        <span>Acknowledge Owner:</span> <input type="text" formControlName="version">
      </li>
    </ul>

    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" mat-dialog-close="OK">Ok</button>
      <!-- <button type="button" (click)="debug()">debug</button> -->
    </div>
  </form>
</ng-template>