<h5>{{ languageService.i18n['index.menu_scheduleMgr'] }}
  <mat-icon tooltip="{{ languageService.i18n['sm.th_create'] }}" (click)="openCreateModal()">add</mat-icon>
</h5>
<form [formGroup]="searchForm">
  <div class="filter">

    <!-- 日期選擇器 - 排程執行時間 @2024/04/25 Add  -->
    <span>
      <label>{{ languageService.i18n['sm.scheduledExecutionTime'] }}&nbsp;</label>
      <span>
        <p-calendar formControlName="from" [showTime]="true" inputId="scheduledExecutionStartTime" dateFormat="yy-mm-dd"></p-calendar>
      </span>
    </span>
    <span>
      <label>{{ languageService.i18n['sm.scheduledExecutionTimeTo'] }}&nbsp;</label>
      <span style="margin-left: 3px;">
        <p-calendar formControlName="to" [showTime]="true" inputId="scheduledExecutionEndTime" dateFormat="yy-mm-dd"></p-calendar>
      </span>
    </span>

    <!-- 下拉式選單 - 類型 @2024/04/25 Add -->
    <span>
      <label>{{ languageService.i18n['sm.scheduleType'] }}</label>
      <select formControlName="Type">
        <option *ngFor="let type of Types" [ngValue]="type.value">
          {{ type.displayName }}
        </option>
      </select>
      <mat-error *ngIf="searchForm.controls['Type'].invalid">Required</mat-error>
    </span>

    <!-- 下拉式選單 - 執行狀態 @2024/04/25 Add -->
    <span>
      <label>{{ languageService.i18n['sm.th_state'] }}</label>
      <select formControlName="State">
        <option *ngFor="let state of States" [ngValue]="state.value">
          {{ state.displayName }}
        </option>
      </select>
      <mat-error *ngIf="searchForm.controls['State'].invalid">Required</mat-error>
    </span>

    <span tooltip="{{ languageService.i18n['search'] }}" class="material-icons" (click)="search_ScheduleList()" >search</span>

    <!-- Button of clear_search_ScheduleList -->
    <span tooltip="{{ languageService.i18n['clear_search'] }}" class="material-symbols-outlined" (click)="clear_search_ScheduleList()">clear</span>
  </div>
  
  <!-- Search Criteria Summary of Schedule List -->
  <div class="filterBY">
    <span class="material-symbols-outlined">info</span>{{ languageService.i18n['search_criteria'] }}&nbsp;

      <!-- 日期選擇器 - 排程執行時間 @2024/04/25 Add  -->
      <span *ngIf="afterSearchForm.controls['from'].value || afterSearchForm.controls['to'].value">
        <label>{{ languageService.i18n['sm.scheduledExecutionTime'] }}:&nbsp;</label>
        {{ afterSearchForm.controls['from'].value ? ( commonService.dealPostDate(afterSearchForm.controls['from'].value ) + ' ~ ') : '' }}
        {{ afterSearchForm.controls['to'].value ? commonService.dealPostDate( afterSearchForm.controls['to'].value ) : '' }}
      </span>

      <!-- 下拉式選單 - 類型 @2024/04/25 Add -->
      <span *ngIf="afterSearchForm && afterSearchForm.controls['Type'] && afterSearchForm.controls['Type'].value">
        <label>{{ languageService.i18n['sm.scheduleType'] }}:&nbsp;</label>
        <label *ngIf="afterSearchForm.controls['Type'].value === 'All'">All</label>
        <label *ngIf="afterSearchForm.controls['Type'].value === '0' ">
          {{ languageService.i18n['sm.sfUpdate'] }}
        </label>
        <label *ngIf=" afterSearchForm.controls['Type'].value === '1' ">
          {{ languageService.i18n['sm.caReport'] }}</label>
        <label *ngIf=" afterSearchForm.controls['Type'].value === '2' ">
          {{ languageService.i18n['sm.pmReport'] }}</label>
        <label *ngIf=" afterSearchForm.controls['Type'].value === '3' ">
          {{ languageService.i18n['sm.fmReport'] }}</label>
        <label *ngIf=" afterSearchForm.controls['Type'].value === '4' ">
          {{ languageService.i18n['sm.sfReport'] }}</label>
      </span>

      <!-- 下拉式選單 - 執行狀態 @2024/04/25 Add -->
      <span *ngIf="afterSearchForm && afterSearchForm.controls['State'] && afterSearchForm.controls['State'].value">
        <label>{{ languageService.i18n['sm.th_state'] }}:&nbsp;</label>
        <label *ngIf="afterSearchForm.controls['State'].value === 'All'">All</label>
        <span *ngIf="afterSearchForm.controls['State'].value === '0' || afterSearchForm.controls['State'].value === '1'">
          {{ languageService.i18n['sm.jobSchedulingString'] }}
        </span>
        <label *ngIf=" afterSearchForm.controls['State'].value === '2' ">{{ languageService.i18n['sm.jobOnGoingString'] }}</label>
        <label *ngIf=" afterSearchForm.controls['State'].value === '3' ">{{ languageService.i18n['sm.jobSuccessString'] }}</label>
        <label *ngIf=" afterSearchForm.controls['State'].value === '4' ">{{ languageService.i18n['sm.jobFailString'] }}</label>
        <label *ngIf=" afterSearchForm.controls['State'].value === '5' ">{{ languageService.i18n['sm.jobPartialSuccessString'] }}</label>
      </span>
  </div>
</form>
  
<div class="table">
  <table>
    <thead>
      <tr>
        <th>{{ languageService.i18n['sm.scheduledExecutionTime'] }}</th>
        <th>{{ languageService.i18n['sm.scheduleType'] }}</th>
        <th class="icon state">{{ languageService.i18n['sm.th_state'] }}</th>
        <th class="icon">{{ languageService.i18n['sm.th_view'] }}</th>
        <th class="icon">{{ languageService.i18n['sm.th_download'] }}</th>
        <th class="icon">{{ languageService.i18n['sm.th_delete'] }}</th>
      </tr>
    </thead>
    <tbody>

      <!-- 當數據正在加載時顯示進度條 -->
      <!-- <ng-container *ngIf="isLoadingScheduleList">
        <tr>
          <td colspan="6">
            <div class="progress-spinner-container"> -->
              <!-- 指示器大小設置 -->
              <!-- <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="90"></mat-progress-spinner>
            </div>
          </td>
        </tr>
      </ng-container> -->

      <!-- 加載完成後顯示 排程列表 數據 -->
      <!-- <ng-container *ngIf="!isLoadingScheduleList"> -->
        <tr *ngFor="let schedule of scheduleListToDisplay | paginate: { 
                      itemsPerPage: pageSize,
                      currentPage: p, 
                        totalItems: totalItems, 
                                id: 'PageDisplay_of_scheduleList'
          };">
          <td>{{ schedule.executedtime }}</td>
          <td>
            <label *ngIf=" schedule.tickettype === '0' ">{{ languageService.i18n['sm.sfUpdate'] }}</label>
            <label *ngIf=" schedule.tickettype === '1' ">{{ languageService.i18n['sm.caReport'] }}</label>
            <label *ngIf=" schedule.tickettype === '2' ">{{ languageService.i18n['sm.pmReport'] }}</label>
            <label *ngIf=" schedule.tickettype === '3' ">{{ languageService.i18n['sm.fmReport'] }}</label>
            <label *ngIf=" schedule.tickettype === '4' ">{{ languageService.i18n['sm.sfReport'] }}</label>
          </td>
          <td class="icon state">
            <label [class]="getScheduleStatusInfo( schedule ).icon"></label>
            &zwnj;<label>{{ getScheduleStatusInfo( schedule ).message }}</label>
          </td>
          <td class="icon">
            <mat-icon tooltip="{{ languageService.i18n['sm.view_detail'] }}" (click)="viewScheduleDetailInfo( schedule )"> remove_red_eye </mat-icon>
          </td>
          <td class="icon">
            <mat-icon *ngIf="schedule.ticketresult" tooltip="{{ languageService.i18n['sm.smDownload'] }}" (click)="downloadSpecificScheduleReportInList( schedule )">
              sim_card_download
            </mat-icon>
          </td>
          <td class="icon"><!-- 刪除按鈕 -->
            <mat-icon tooltip="{{ languageService.i18n['sm.delItem'] }}" (click)="openDeleteSchedule_ConfirmWindow( schedule )">
              delete_forever
            </mat-icon>
          </td>
        </tr>
        <tr class="notFind" *ngIf="scheduleListToDisplay.length === 0">
          <td colspan="7">{{ languageService.i18n['no_results'] }}</td>
        </tr> 
      <!-- </ng-container> -->
    </tbody>
  </table>
</div>
<pagination-controls
   (pageChange)="pageChanged( $event )"
    screenReaderPaginationLabel="Pagination"
    previousLabel=""
    nextLabel=""
    id="PageDisplay_of_scheduleList"
  ></pagination-controls>

<!-- Confirm Window of Delete Schedule @2024/06/21 Update -->
<ng-template #deleteSchedule_ConfirmWindow>
  
  <!-- 確認視窗標題 -->
  <h5><mat-icon>warning_amber</mat-icon>{{ languageService.i18n['field.warningFault'] }}</h5>

  <!-- 確認刪除的提示信息，展示 Schedule 相關資訊 -->
  <p>{{ languageService.i18n['sm.confirm_del'] }} ?</p>
  <div class="del_confirmName" style="font-size: 1em;">
    <label *ngIf=" selectSchedule.tickettype === '0' ">{{ languageService.i18n['sm.sfUpdate'] }}</label>
    <label *ngIf=" selectSchedule.tickettype === '1' ">{{ languageService.i18n['sm.caReport'] }}</label>
    <label *ngIf=" selectSchedule.tickettype === '2' ">{{ languageService.i18n['sm.pmReport'] }}</label>
    <label *ngIf=" selectSchedule.tickettype === '3' ">{{ languageService.i18n['sm.fmReport'] }}</label>
    <label *ngIf=" selectSchedule.tickettype === '4' ">{{ languageService.i18n['sm.sfReport'] }}</label>
    <label> - {{ selectSchedule.executedtime }} </label>
  </div>

  <!-- 按鈕容器 -->
  <div class="buttons">
    
    <!-- 確認按鈕，點擊時呼叫 confirmDeleteSchedule() 函數處理確認邏輯，並且關閉視窗 -->
    <button type="button" (click)="confirmDeleteSchedule()" mat-dialog-close>
      {{ languageService.i18n['confirm'] }}
    </button>

    <!-- 取消按鈕，點擊時不進行任何操作，直接關閉視窗 -->
    <button type="button" mat-dialog-close>
      {{ languageService.i18n['cancel'] }}
    </button>

  </div>
</ng-template>



<ng-template #createScheduleModal>
  <h5>{{ languageService.i18n['sm.createWindowTitle'] }}</h5>
  <form [formGroup]="createForm" >
    <ul class="addschedule-ul-li-label">
      <li>
        <label>{{languageService.i18n['sm.select_type']}}</label>
        <span>
          <select formControlName="comtype" class="{{formValidated&&createForm.controls['comtype'].invalid?'required':''}}">
            <option value="" ></option>
            <option *ngFor="let opt of comtype" [value]="opt.value">{{opt.displayName}}</option>
          </select>
          <mat-error *ngIf="formValidated&&createForm.controls['comtype'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['sm.select_field']}}</label>
        <span>
          <select formControlName="comtype" class="{{formValidated&&createForm.controls['comtype'].invalid?'required':''}}">
            <option value="" ></option>
            <option *ngFor="let opt of comtype" [value]="opt.value">{{opt.displayName}}</option>
          </select>
          <mat-error *ngIf="formValidated&&createForm.controls['comtype'].invalid">Required</mat-error>
        </span>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" (click)="create()">OK</button>
      <button type="button" mat-dialog-close>Cancel</button>
    </div>
  </form>
</ng-template>

<ng-template #deleteModal>
  <h5 >{{languageService.i18n['cm.delete']}}</h5>
  <h5 ><mat-icon class="error-icon">warning</mat-icon>{{languageService.i18n['cm.error']}}</h5>
  
  <div class="buttons">
    <button type="button" mat-dialog-close>Cancel</button>
    <button type="button" (click)="delete()">Delete</button>
  </div>
</ng-template>


<ng-template #provisionModal>
<h5>{{languageService.i18n['cm.provision']}} - {{selectSchedule.tickettype}}</h5>
  <form [formGroup]="provisionForm">
    <ul>
      <li>
        <label>{{languageService.i18n['add.method']}}</label>
        <span>
          <div class="upload {{formValidated&&provisionForm.controls['fileName'].invalid?'required':''}}">
            <span>{{languageService.i18n['upload']}}
              <input type="file" name="uploadedFile" (change)="fileChange($event)" accept=".zip, .tar" #fileInput>
            </span>
            <div>{{provisionForm.controls['fileName'].value}}</div>
            <mat-error *ngIf="formValidated&&provisionForm.controls['fileName'].invalid">is Required</mat-error>
            <mat-error *ngIf="fileMsg">{{fileMsg}}</mat-error>
          </div>
        </span>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" >Confirm</button>
    </div>
  </form>

</ng-template>

<ng-template #advancedModal>
  <form [formGroup]="advancedForm">
    <h5>Software  {{languageService.i18n['performance_Advanced_Search']}}</h5>
      <ul>
      <li>
        <span>{{languageService.i18n['manufacturer']}}</span> <input type="text" formControlName="firm">
      </li>
      <li>
        <span>{{languageService.i18n['model']}}</span> <input type="text" formControlName="model">
      </li>
      <li>
        <span>{{languageService.i18n['type']}}</span>
        <select formControlName="uploadtype">
          <option value="All">All</option>
          <option *ngFor="let opt of comtype" [value]="opt.value">{{opt.displayName}}</option>
        </select>
      </li>
      <li>
        <span>{{languageService.i18n['version']}}</span> <input type="text" formControlName="version">
      </li>
      <li>
        <span>From:</span>
        <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
        <span>To:</span>
        <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
      </li>
      <li>
        <span>{{languageService.i18n['fileName']}}</span> <input type="text" formControlName="fileName">
      </li>
    </ul>

    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" mat-dialog-close="OK">Ok</button>
    </div>
  </form>
</ng-template>