table {
  //width: 100%;
  max-width: 97.65%;
  table-layout: fixed; // 固定列寬
}
.table {
  margin-top: 0;
}
thead tr th,
tbody tr td {
  width: 20%;    // 將每個列的寬度設置為相等的百分比
  text-align: center; // 所有內容都居中對齊
  white-space: nowrap;
}

.icon {
  width: 3%!important;
  text-align: center;
}

// 成功 - ticketstatus = 3
.greenLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #89d135;
}

// 失敗 - ticketstatus = 4
.redLight {
  display: inline-block;
}

// 排程中、排程中(每天) - ticketstatus = 1
.grayLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #7e7e7e;
}

// 部份成功 - ticketstatus = 5
.yellowLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: rgb(243, 192, 73);
}

// 進行中 - ticketstatus = 2
.blueLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: rgb(0, 67, 200);
}

// Spinner 居中並設定大小
.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px; 
}

// 設定進度調 (Spinner) 的顏色
::ng-deep .mat-progress-spinner circle {
  stroke: #7cbaec !important;
}

input[type="file"] {
  outline: 0;
}
ul li > label {
  min-width: 7em;
}
div.del_confirmName {
  font-size: 18px;
  margin: 0.35em 2em;
  text-align: center;
}

td.state {
  text-align: left!important;
}
td.state > label {
  vertical-align: middle;
}
td.icon.state > label:first-child {
  margin: 0 0.35em 0 2.5em;
}