table {
  //width: 100%;
  max-width: 97.65%;
  table-layout: fixed; // 固定列寬
}

thead tr th,
tbody tr td {
  width: 20%;    // 將每個列的寬度設置為相等的百分比
  text-align: center; // 所有內容都居中對齊
  white-space: nowrap;
}

.icon {
  width: 4%!important;
  text-align: center;
}

.greenLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #89d135;
}

.redLight {
  display: inline-block;
}

.grayLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #7e7e7e;
}

// Spinner 居中並設定大小
.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px; 
}

// 設定進度調 (Spinner) 的顏色
::ng-deep .mat-progress-spinner circle {
  stroke: #7cbaec !important;
}

input[type="file"] {
  outline: 0;
}
ul li > label {
  min-width: 7em;
}
