<h5>{{languageService.i18n['index.menu_fieldMgr']}}
  <mat-icon tooltip="{{languageService.i18n['field.create']}}" (click)="openCreateFieldWindow()">add</mat-icon>
</h5>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>{{languageService.i18n['field.name']}}</th>
        <th>{{languageService.i18n['field.bsNum']}}</th>
        <th class="icon">{{languageService.i18n['field.view']}}</th>
        <th class="icon">{{languageService.i18n['field.alarm']}}</th>
        <th class="icon">{{languageService.i18n['field.snapshot']}}</th>
        <th class="icon">{{languageService.i18n['field.delTitle']}}</th>
    </thead>
    <tbody>
        <!-- 顯示進度條 -->
        <ng-container *ngIf="isLoading">
          <tr>
            <td colspan="6">
              <div class="progress-spinner-container">
                                                                                  <!-- diameter: 指示器大小-->
                <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="90"></mat-progress-spinner>
              </div>
            </td>
          </tr>
        </ng-container>
        <!-- 顯示數據 -->
        <ng-container *ngIf="!isLoading">
          <tr *ngFor="let opt of fieldList.fields | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems, id: 'fieldsListDisplay' };">
            <td>{{opt.name}}</td>
            <td>{{opt.bsNum}}</td>
            <td class="icon">
              <mat-icon tooltip="{{ languageService.i18n['field.view'] }}" (click)="viewFieldDetail(opt)">remove_red_eye</mat-icon>
            </td>
            <td class="icon">
              <mat-icon tooltip="{{ languageService.i18n['field.alarm'] }}" (click)="viewFieldAlarm(opt)">warning</mat-icon>
            </td>
            <td class="icon">
              <mat-icon tooltip="{{languageService.i18n['field.snapshot']}}" (click)="openSnapshot(opt)">camera_alt</mat-icon>
            </td>
            <td class="icon">
              <mat-icon tooltip="{{languageService.i18n['field.delItem']}}" (click)="openDeleteField_ConfirmWindow(opt)">delete_forever</mat-icon>
            </td>
          </tr>
        </ng-container>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel="" nextLabel="" id="fieldsListDisplay">
</pagination-controls>


<ng-template #createModal>
  <h5>{{languageService.i18n['add_field']}}</h5>
  <form [formGroup]="createForm">
    <ul>
      <li>
        <label>Field {{languageService.i18n['table.header_name']}}</label>
        <span>
          <input type="text" formControlName="name" class="{{formValidated&&createForm.controls['name'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['name'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['description']}}</label>
        <span>
          <textarea formControlName="description"></textarea>
        </span>
      </li>
      <li>
        <label>選擇新增方式</label>
        <span>
        <mat-button-toggle-group formControlName="method" (change)="changeMethod($event)">
          <mat-button-toggle value="existing">納管既有的 Field</mat-button-toggle>
          <mat-button-toggle value="smo">透過 SMO 建立 Field</mat-button-toggle>
        </mat-button-toggle-group>
        <ng-template [ngIf]="createForm.controls['method'].value === 'existing'">
          <div>
            <label>IMS Endpoint</label>
            <span>
              <input type="text" formControlName="imsEndpoint" class="{{formValidated&&createForm.controls['imsEndpoint'].invalid?'required':''}}">
              <mat-error *ngIf="formValidated&&createForm.controls['imsEndpoint'].invalid">Required</mat-error>
            </span>
          </div>
          <div>
            <label>Field ID</label>
            <span>
              <input type="text" formControlName="oCloudId" class="{{formValidated&&createForm.controls['oCloudId'].invalid?'required':''}}">
              <mat-error *ngIf="formValidated&&createForm.controls['oCloudId'].invalid">Required</mat-error>
            </span>
          </div>
        </ng-template>

        <ng-template [ngIf]="createForm.controls['method'].value === 'smo'">
          <div>
            <label>First Node URL</label>
            <span>
              <input type="text" formControlName="firstNode" class="{{formValidated&&createForm.controls['firstNode'].invalid?'required':''}}">
              <mat-error *ngIf="formValidated&&createForm.controls['firstNode'].invalid">Required</mat-error>
            </span>
          </div>
          <div>
            <label>Image URL</label>
            <span>
              <input type="text" formControlName="image" class="{{formValidated&&createForm.controls['image'].invalid?'required':''}}">
              <mat-error *ngIf="formValidated&&createForm.controls['image'].invalid">Required</mat-error>
            </span>
          </div>
        </ng-template>
      </span>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" (click)="create()">OK</button>
      <button type="button" mat-dialog-close>Cancel</button>
    </div>
  </form>
</ng-template>


<!-- Window of Create Field @2024/01/31 Add -->
<ng-template #createFieldWindow>
  <div>
    <h5>{{ languageService.i18n['field.createTitle'] }}</h5>
  </div>  

  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <!-- <mat-stepper orientation="vertical" [linear]="isLinear" #stepper> -->
  <mat-stepper orientation="vertical" [linear]="true" #stepper> 
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{ languageService.i18n['field.setFieldName'] }}</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>{{ languageService.i18n['field.name'] }}</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{ languageService.i18n['field.setFieldBoundsCoord'] }}</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['field.northBound'] }}</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="( -90.0 ~ 90.0 )"
                  required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['field.southBound'] }}</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="( -90.0 ~ 90.0 )"
                  required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['field.westBound'] }}</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="( -180.0 ~ 180.0 )"
                  required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['field.eastBound'] }}</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="( -180.0 ~ 180.0 )"
                  required>
          </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
          <button mat-button matStepperNext>{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>{{ languageService.i18n['field.setNotificationNum'] }}</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>{{ languageService.i18n['field.PhoneNum'] }}</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="0912345678"
                  required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
          <button mat-button matStepperNext>{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="forthFormGroup">
      <form [formGroup]="forthFormGroup">
        <ng-template matStepLabel>{{ languageService.i18n['field.selectBaseStations'] }}</ng-template>
          <!-- 選擇基站列表 For field Creation @2024/01/31 Add by yuchen -->	
          <div class="table">
            <table class="center">
              <thead>
                <tr>
                  <!-- 使用 *ngIf 控制顯示 "選擇基站" 這一列 @2024/01/25 Add -->
                    <!-- <th *ngIf="isCheckboxVisible">{{ languageService.i18n['field.selectBSs'] }}</th> -->
                  <th>{{ languageService.i18n['field.selectBSs'] }}</th>
                  <th>{{ languageService.i18n['field.BSname'] }}</th>
                  <th>{{ languageService.i18n['field.BStype'] }}</th>
                  <th>gNB ID</th>
                  <th>gNB ID Length</th>
                  <th>{{ languageService.i18n['field.bsAntennaCoord'] }}</th>
                  <th>{{ languageService.i18n['field.BSstatus'] }}</th>
                </tr>
              </thead>
              <tbody>
                
                  <!-- <tr *ngFor="let opt of bsList.basestation" style="overflow-y: auto;"> -->
                  
                  <!-- 根據 displayAllBSFlag 旗標選擇迭代的數據來源 ( .ts 進行控制 ) -->
                  <tr>

                    <!-- 根據條件顯示 Checkbox @2024/01/26 Update -->
                    <td>
                      <input type="checkbox"  >
                    </td>  
                    <td>
                      <!-- 顯示 "基站名稱" -->
                      1111
                    </td>
                    <td>
                      64646
                      <!-- {{ opt.gNBId }} -->
                    </td>
                    <td>
                      46546
                      <!-- {{ opt.gNBIdLength }} -->
                    </td>
                    <td>
                      4546546
                      <!-- <label>{{ opt.position }}</label> -->
                    </td>
                    <td class="icon">
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        <div>
          <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
          <button mat-button matStepperNext>{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ languageService.i18n['field.createDone'] }}</ng-template>
      <p>{{ languageService.i18n['field.setupComplete'] }}</p>
      <div>
        <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
        <button mat-button (click)="stepper.reset()">{{ languageService.i18n['field.createReset'] }}</button>
      </div>
    </mat-step>
  </mat-stepper>

  <div class="buttons buttons-centered">
    <button type="button"  mat-dialog-close>
      {{ languageService.i18n['confirm'] }}
    </button>
    <button type="button" mat-dialog-close>
      {{ languageService.i18n['cancel'] }}
    </button>
  </div>
  
  
  
  

</ng-template>
  

<!-- Window of Delete Field @2024/01/29 Update -->
<ng-template #deleteField_ConfirmWindow>
  <!-- 標題部分，使用 languageService.i18n['confirm'] 來國際化確認文字 -->
  <h5>{{languageService.i18n['confirm']}}</h5>
  
  <!-- 確認刪除的提示信息，展示場域名稱-->
  <p>{{languageService.i18n['confirm_del_field']}} - {{selectField.name}} ?</p>
  
  <!-- 按鈕容器 -->
  <div class="buttons">
    <!-- 確認按鈕，點擊時呼叫 confirmDeleteField() 函數處理確認邏輯，並且關閉視窗 -->
    <button type="button" (click)="confirmDeleteField()" mat-dialog-close>
      {{ languageService.i18n['confirm'] }} <!-- 按鈕文字 -->
    </button>
    
    <!-- 取消按鈕，點擊時不進行任何操作，直接關閉視窗 -->
    <button type="button" mat-dialog-close>
      {{ languageService.i18n['cancel'] }} <!-- 按鈕文字 -->
    </button>
  </div>
</ng-template>
