
.table table {
  max-width: 97.65%;
  //table-layout: fixed;     // 固定列寬
  text-align: center;        // 內容水平居中
  border-collapse: collapse; // 移除單元格間的間距
}

.table th, 
.table td {
  vertical-align: middle; // 內容垂直居中
  text-align: center;     // 內容水平居中
}

.table th:first-child,
.table td:first-child {
  width: 500px; // 內容寬度
}

.table th,
.table td {
  width: calc(100% / 6); // 將表格分為6等份，如果列數不同，請調整分母
}

// 針對圖示的特定調整
.table mat-icon {
  width: 7.5em;
  text-align: center;
}

// 進度調居中並設定大小 @12/28 Add
.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px; 
}

// 設定進度調的顏色 @12/28 Add
::ng-deep .mat-progress-spinner circle {
  stroke: #7cbaec !important;
}

// 這個樣式類會增加進度調的大小 @12/28 Add
.custom-spinner-size {
  width: 100px;  // 進度調的寬度
  height: 100px; // 進度調的高度
}

// 針對較小的螢幕尺寸進行響應式布局調整
@media screen and (max-width:1366px) {
  .table th, 
  .table td {
    padding: 10px; // 在小屏幕上增加一些內邊距以便於閱讀
  }
}
