
.table table {
  max-width: 97.65%;
  //table-layout: fixed;     // 固定列寬
  text-align: center;        // 內容水平居中
  border-collapse: collapse; // 移除單元格間的間距
}

// 整個 mat-stepper 區的設定 @2024/02/02 Add 
mat-stepper {
  background-color: #232934; 
}

//  @2024/02/02 Add 
.mat-form-field {
  margin-top: 16px;
  background-color: rgb(255, 255, 255); // 輸入框背景底色

  box-shadow: 0 4px 8px 0 rgba(216, 201, 201, 0.2);
  transition: 0.3s;

  padding: 5px;
  flex: 1;       // 讓所有 form-field 元素彈性地占滿可用空間

  max-width: 300px;
  margin: 2.5px; // 移除 mat-form-field 的外邊距
  width: calc( 50% - 10px ); // 設置寬度為容器的 50% 減去假設間距的一半
}

// @2024/02/02 Add 
.mat-stepper-boundary-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // 確保子元素從左邊開始排列
}

// @2024/02/01 Add 
.mat-stepper-boundary-row {
  display: flex;
  justify-content: space-between; // 在子元素之間添加平均空間
  //margin-bottom: 0px; // 下方間距，可根據需要調整
}

// 設定輸入視窗的使用者輸入的字體大小 @2024/02/02 Add 
.custom-stepper .mat-input-element {
  color: #151b24; 
  font-size: 13px; 
}

// 設定輸入視窗的標題字體大小 @2024/02/02 Add 
::ng-deep .mat-form-field-label {
  color: #3f4e69;
  font-size: 13px; 
}

// 設定輸入視窗的 placeholder @2024/02/02 Add 
::ng-deep .mat-input-element::placeholder {
  font-size: 12px; 
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  /* 設定輸入框聚焦時的浮動標籤字體顏色 */
  color: #3f4e69; 
}

// 設定 Expansion Panel 標題的樣式 @2024/03/07 Add
.custom-panel-title {
  font-size: 15px;
}

// 設定 Expansion Panel 描述的樣式 @2024/03/07 Add
.custom-panel-description {
  font-size: 13px;
}

.table th, 
.table td {
  vertical-align: middle; // 內容垂直居中
  text-align: center;     // 內容水平居中
}

.table th,
.table td {
  width: 20%; // 內容寬度
}


// 針對圖示的特定調整
.icon {
  width: 4%!important;
  text-align: center;
}

// Spinner 居中並設定大小 @12/28 Add
.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px; 
}

// 設定進度調 (Spinner) 的顏色 @12/28 Add
::ng-deep .mat-progress-spinner circle {
  stroke: #7cbaec !important;
}

// 這個樣式類會增加進度調的大小 @12/28 Add
.custom-spinner-size {
  width: 100px;  // 進度調的寬度
  height: 100px; // 進度調的高度
}
::ng-deep #fieldCreationWindow .next button {
  background-color: #4e92ff;
  color: #fff;
  margin: 0 0.5em 0 0;
}
::ng-deep #fieldCreationWindow .mat-form-field {
  background-color: transparent;
  box-shadow: none;
}
::ng-deep #fieldCreationWindow .mat-vertical-stepper-header {
  height: 0;
/*   border-top: 1px solid rgb(53 119 177 / 40%);
 */}
::ng-deep #fieldCreationWindow .mat-step-header .mat-step-icon-selected {
  background-color: #4e92ff;
  border: 0;
  z-index: 999;
}
::ng-deep #fieldCreationWindow .custom-stepper .mat-input-element {
  color: #fff;
  font-size: 15px;
}
::ng-deep #fieldCreationWindow mat-stepper {
  background-color: transparent;
}
::ng-deep #fieldCreationWindow .mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
}
::ng-deep #fieldCreationWindow .mat-form-field-label {
    color: #ffffff;
    font-family: Microsoft JhengHei;
}
::ng-deep #fieldCreationWindow .mat-error {
    padding: 0.5em;
}
::ng-deep .mat-stepper-vertical-line::before {
  border-left-color: #394a65;
}
::ng-deep .mat-step-header .mat-step-icon {
  background-color: transparent;
  color: #fff;
  border: 1px solid #919191;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: #ffffff6b;
}

::ng-deep #fieldCreationWindow .mat-input-element::placeholder {
  color: #ffa9a9;
}
::ng-deep #fieldCreationWindow .table table th {
  white-space: nowrap;
  font-size: 14px;
}
::ng-deep #fieldCreationWindow .table table thead tr th:first-child,
::ng-deep #fieldCreationWindow .table table tbody tr td:first-child {
  width: 1.5em;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: #ffffff6b;
}
::ng-deep .mat-step-header .mat-step-label.mat-step-label {
  font-family: Microsoft JhengHei;
}
::ng-deep #fieldCreationWindow .mat-step-text-label {
  color: #fff;
}
::ng-deep #fieldSnapshotSetWindow {
  min-width: 40em;
}
::ng-deep #fieldSnapshotSetWindow .time {
  float: right;
  color: #7aa9e3;
  font-size: 14px;
}
::ng-deep #fieldSnapshotSetWindow ul {
  margin: 0;
  padding: 0;
}

::ng-deep #fieldSnapshotSetWindow .content {
  margin: 0 1em;
}
::ng-deep #fieldSnapshotSetWindow  button {
  background-color: #4e92ff;
  color: #fff;
  border-radius: 4px;
  border: 0;
  padding: .3em .6em;
  margin: 0 0.5em 0 0;
  cursor: pointer;
}
::ng-deep #fieldSnapshotSetWindow h3 {
  font-size: 1em;
  margin: -5px 0 5px 5px;
  display: inline-block;
}
::ng-deep #fieldSnapshotSetWindow ul li > label {
  min-width: 7em;
}
::ng-deep #fieldSnapshotSetWindow .name input {
  width: 20em;
  font-size: 1em;
}
::ng-deep #fieldSnapshotSetWindow .mat-expansion-panel {
  background: transparent;
  border: 1px solid #293f66;
  margin: 0 1em;
}
::ng-deep #fieldSnapshotSetWindow .mat-expansion-indicator::after ,
::ng-deep #fieldSnapshotSetWindow .mat-expansion-panel-header-title,
::ng-deep #fieldSnapshotSetWindow .mat-expansion-panel-header-description,
::ng-deep #fieldSnapshotSetWindow .mat-expansion-panel table th,
::ng-deep #fieldSnapshotSetWindow .mat-expansion-panel table td {
  white-space: nowrap;
  color: #fff;
}
::ng-deep #fieldSnapshotSetWindow .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
::ng-deep body.tw #fieldSnapshotSetWindow ul li > label {
  min-width: 4em;
}
::ng-deep #fieldSnapshotSetWindow .mat-expansion-panel table {
  margin: -20px 0 0 0;
}
.Snapshot_UI02 {
  position: relative;
  margin: 2em 2em 0 !important;
  display: block;
  background-color: #449fe9db;
  padding: 1em 1em 0.5em;
  border-radius: 10px;
}
.Snapshot_UI02 .time {
  position: absolute;
  top: -23px;
  right: 0;
  color: #7aa9e3;
  font-size: 14px;
}
.Snapshot_UI02 h3 {
  position: absolute;
  top: -1.5em;
  left: 0;
  color: #6ca9db;
  font-size: 15px !important;
}
.Snapshot_UI02 li {
  color: #fff;
}
.Snapshot_UI02 .save_name {
  position: absolute;
  top: 6.2em;
  width: 100%;
}
.Snapshot_UI02 .buttons .download {
  position: absolute;
  top: -60px;
  right: 22px;
  border-radius: 5em !important;
  background-color: transparent !important;
  color: #000 !important;
  border: 1px solid #2485d9 !important;
  padding: 7px 13px !important;
  font-size: 14px;
  background: linear-gradient(0deg, #86bbfd, #ffffff);
}
.Snapshot_UI02 + .mat-accordion {
  margin: 3.4em 1em 0;
  display: block;
}
.arrow3 {
  display: none;
}
.Snapshot_UI02 .arrow3 {
  display: inline-block;
  position: absolute;
  color: #4ea4ff;
}
.Snapshot_UI02 .save_name ul {
  list-style: none;
}
.Snapshot_UI02 .save_name input {
  width: 17em!important;
  margin: -5px 0 0;
}
.Snapshot_UI02 .buttons .save {
  position: absolute;
  top: -5px;
  right: 26px;
  font-size: 14px;
  min-width: initial;
  padding: 9px 12px !important;
}

// 針對較小的螢幕尺寸進行響應式布局調整
@media screen and (max-width:1366px) {
  .table th, 
  .table td {
    padding: 10px; // 在小屏幕上增加一些內邊距以便於閱讀
  }
}
