
.table table {
  max-width: 97.65%;
  //table-layout: fixed;     // 固定列寬
  text-align: center;        // 內容水平居中
  border-collapse: collapse; // 移除單元格間的間距
}

// 整個 mat-stepper 區的設定 @2024/02/02 Add 
mat-stepper {
  background-color: #232934; 
}

//  @2024/02/02 Add 
.mat-form-field {
  margin-top: 16px;
  background-color: rgb(255, 255, 255); // 輸入框背景底色

  box-shadow: 0 4px 8px 0 rgba(216, 201, 201, 0.2);
  transition: 0.3s;

  padding: 5px;
  flex: 1;       // 讓所有 form-field 元素彈性地占滿可用空間

  max-width: 300px;
  margin: 2.5px; // 移除 mat-form-field 的外邊距
  width: calc( 50% - 10px ); // 設置寬度為容器的 50% 減去假設間距的一半
}

// @2024/02/02 Add 
.mat-stepper-boundary-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // 確保子元素從左邊開始排列
}

// @2024/02/01 Add 
.mat-stepper-boundary-row {
  display: flex;
  justify-content: space-between; // 在子元素之間添加平均空間
  //margin-bottom: 0px; // 下方間距，可根據需要調整
}

// 設定輸入視窗的使用者輸入的字體大小 @2024/02/02 Add 
.custom-stepper .mat-input-element {
  color: #151b24; 
  font-size: 13px; 
}

// 設定輸入視窗的標題字體大小 @2024/02/02 Add 
::ng-deep .mat-form-field-label {
  color: #3f4e69;
  font-size: 13px; 
}

// 設定輸入視窗的 placeholder @2024/02/02 Add 
::ng-deep .mat-input-element::placeholder {
  font-size: 12px; 
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  /* 設定輸入框聚焦時的浮動標籤字體顏色 */
  color: #3f4e69; 
}

// 設定 Expansion Panel 標題的樣式 @2024/03/07 Add
.custom-panel-title {
  font-size: 15px;
}

// 設定 Expansion Panel 描述的樣式 @2024/03/07 Add
.custom-panel-description {
  font-size: 13px;
}

.table th, 
.table td {
  vertical-align: middle; // 內容垂直居中
  text-align: center;     // 內容水平居中
}

.table th,
.table td {
  width: 20%; // 內容寬度
}


// 針對圖示的特定調整
.icon {
  width: 4%!important;
  text-align: center;
}

// Spinner 居中並設定大小 @12/28 Add
.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px; 
}

// 設定進度調 (Spinner) 的顏色 @12/28 Add
::ng-deep .mat-progress-spinner circle {
  stroke: #7cbaec !important;
}

// 這個樣式類會增加進度調的大小 @12/28 Add
.custom-spinner-size {
  width: 100px;  // 進度調的寬度
  height: 100px; // 進度調的高度
}
::ng-deep #fieldCreationWindow .next button {
  background-color: #4e92ff;
  color: #fff;
  margin: 0 0.5em 0 0;
}
::ng-deep #fieldCreationWindow .mat-form-field {
  background-color: transparent;
  box-shadow: none;
}
::ng-deep #fieldCreationWindow .mat-vertical-stepper-header {
  height: 0;
/*   border-top: 1px solid rgb(53 119 177 / 40%);
 */}
::ng-deep #fieldCreationWindow .mat-step-header .mat-step-icon-selected {
  background-color: #4e92ff;
  border: 0;
  z-index: 999;
}
::ng-deep #fieldCreationWindow .custom-stepper .mat-input-element {
  color: #fff;
  font-size: 15px;
}
::ng-deep #fieldCreationWindow mat-stepper {
  background-color: transparent;
}
::ng-deep #fieldCreationWindow .mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
}
::ng-deep #fieldCreationWindow .mat-form-field-label {
    color: #ffffff;
    font-family: Microsoft JhengHei;
}
::ng-deep #fieldCreationWindow .mat-error {
    padding: 0.5em;
}
::ng-deep .mat-stepper-vertical-line::before {
  border-left-color: #394a65;
}
::ng-deep .mat-step-header .mat-step-icon {
  background-color: transparent;
  color: #fff;
  border: 1px solid #919191;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: #ffffff6b;
}

::ng-deep #fieldCreationWindow .mat-input-element::placeholder {
  color: #ffa9a9;
}
::ng-deep #fieldCreationWindow .table table th {
  white-space: nowrap;
  font-size: 14px;
}
::ng-deep #fieldCreationWindow .table table thead tr th:first-child,
::ng-deep #fieldCreationWindow .table table tbody tr td:first-child {
  width: 1.5em;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: #ffffff6b;
}
::ng-deep .mat-step-header .mat-step-label.mat-step-label {
  font-family: Microsoft JhengHei;
}
::ng-deep #fieldCreationWindow .mat-step-text-label {
  color: #fff;
}
// 針對較小的螢幕尺寸進行響應式布局調整
@media screen and (max-width:1366px) {
  .table th, 
  .table td {
    padding: 10px; // 在小屏幕上增加一些內邊距以便於閱讀
  }
}
