<h5>{{languageService.i18n['index.menu_fieldMgr']}}
  <mat-icon tooltip="{{languageService.i18n['field.create']}}" (click)="openfieldCreationWindow()">add</mat-icon>
</h5>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>{{languageService.i18n['field.name']}}</th>
        <th>{{languageService.i18n['field.bsNum']}}</th>
        <th class="icon">{{languageService.i18n['field.view']}}</th>
        <th class="icon">{{languageService.i18n['field.alarm']}}</th>
        <th class="icon">{{languageService.i18n['field.snapshot']}}</th>
        <th class="icon">{{languageService.i18n['field.delTitle']}}</th>
    </thead>
    <tbody>
        <!-- 顯示進度條 -->
        <ng-container *ngIf="isLoading">
          <tr>
            <td colspan="6">
              <div class="progress-spinner-container">
                                                                                  <!-- diameter: 指示器大小-->
                <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="90"></mat-progress-spinner>
              </div>
            </td>
          </tr>
        </ng-container>
        <!-- 顯示數據 -->
        <ng-container *ngIf="!isLoading">
          <tr *ngFor="let opt of fieldList.fields | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems, id: 'fieldsListDisplay' };">
            <td>{{opt.name}}</td>
            <td>{{opt.bsNum}}</td>
            <td class="icon">
              <mat-icon tooltip="{{ languageService.i18n['field.view'] }}" (click)="viewFieldDetail(opt)">remove_red_eye</mat-icon>
            </td>
            <td class="icon">
              <mat-icon tooltip="{{ languageService.i18n['field.alarm'] }}" (click)="viewFieldAlarm(opt)">warning</mat-icon>
            </td>
            <td class="icon">
              <mat-icon tooltip="{{languageService.i18n['field.snapshot']}}" (click)="openSnapshot(opt)">camera_alt</mat-icon>
            </td>
            <td class="icon">
              <mat-icon tooltip="{{languageService.i18n['field.delItem']}}" (click)="openDeleteField_ConfirmWindow(opt)">delete_forever</mat-icon>
            </td>
          </tr>
        </ng-container>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel="" nextLabel="" id="fieldsListDisplay">
</pagination-controls>


<!-- Window of Create Field @2024/02/01 Update -->
<ng-template #fieldCreationWindow>
  <div>
    <h5>{{ languageService.i18n['field.createTitle'] }}</h5>
  </div>  

  <mat-stepper orientation="vertical" [linear]="false" #stepper> 
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{ languageService.i18n['field.setFieldName'] }}</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>{{ languageService.i18n['field.name'] }}</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{ languageService.i18n['field.setFieldBoundsCoord'] }}</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['field.northBound'] }}</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="( -90.0 ~ 90.0 )"
                  required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['field.southBound'] }}</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="( -90.0 ~ 90.0 )"
                  required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['field.westBound'] }}</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="( -180.0 ~ 180.0 )"
                  required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['field.eastBound'] }}</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="( -180.0 ~ 180.0 )"
                  required>
          </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
          <button mat-button matStepperNext>{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>{{ languageService.i18n['field.setNotificationNum'] }}</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>{{ languageService.i18n['field.PhoneNum'] }}</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="0912345678"
                  required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
          <button mat-button matStepperNext>{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="forthFormGroup">
      <form [formGroup]="forthFormGroup">
        <ng-template matStepLabel>{{ languageService.i18n['field.selectBaseStations'] }}</ng-template>
          <!-- 選擇基站列表 For field creation @2024/02/01 Update by yuchen -->
          <div class="table">
            <!-- 創建一個表格 -->
            <table class="center">
              <thead>
                <tr>
                  <th> <!-- 全選複選框的標題 -->
                    <input type="checkbox" [checked]="isAllSelected" (change)="onSelectAllBs($event)">
                    <!-- 綁定全選複選框的選中狀態到 isAllSelected 變數，並設置改變事件 -->
                  </th>
                  <th>{{ languageService.i18n['field.BSname'] }}</th> <!-- 基站名稱的標題 -->
                  <th>gNB ID</th> <!-- gNB ID 的標題 -->
                  <th>gNB ID Length</th> <!-- gNB ID 長度的標題 -->
                  <th>{{ languageService.i18n['field.bsAntennaCoord'] }}</th> <!-- 基站天線座標的標題 -->
                  <th>{{ languageService.i18n['field.bsDescription'] }}</th> <!-- 基站描述的標題 -->
                </tr>
              </thead>
              <tbody>
                <!-- 循環 displayedBSs 陣列來顯示每個基站的資料 -->
                <tr *ngFor="let opt of displayedBSs" style="overflow-y: auto;">
                  <td>
                    <input type="checkbox" [checked]="opt.selected" (change)="onBsSelectionChange( opt.id, $event )">
                    <!-- 綁定每個基站選中狀態到 opt.selected，並設置改變事件 -->
                  </td>
                  <td>
                    <!-- 顯示 "基站名稱" -->
                    {{ opt.name }}
                  </td>
                  <td>
                    <!-- 顯示 gNB ID -->
                    {{ opt.gNBId }}
                  </td>
                  <td>
                    <!-- 顯示 gNB ID 長度 -->
                    {{ opt.gNBIdLength }}
                  </td>
                  <td>
                    <!-- 顯示基站天線座標 -->
                    {{ opt.position }}
                  </td>
                  <td>
                    <!-- 顯示基站地點說明 -->
                    {{ opt.description }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <div>
          <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
          <button mat-button matStepperNext>{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ languageService.i18n['field.createDone'] }}</ng-template>
      <p>{{ languageService.i18n['field.setupComplete'] }}</p>
      <div>
        <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
        <button mat-button (click)="stepper.reset()">{{ languageService.i18n['field.createReset'] }}</button>
      </div>
    </mat-step>
  </mat-stepper>

  <div class="buttons buttons-centered">
    <button type="button"  mat-dialog-close>
      {{ languageService.i18n['confirm'] }}
    </button>
    <button type="button" mat-dialog-close>
      {{ languageService.i18n['cancel'] }}
    </button>
  </div>
  
</ng-template>
  

<!-- Window of Delete Field @2024/01/29 Update -->
<ng-template #deleteField_ConfirmWindow>
  <!-- 標題部分，使用 languageService.i18n['confirm'] 來國際化確認文字 -->
  <h5>{{languageService.i18n['confirm']}}</h5>
  
  <!-- 確認刪除的提示信息，展示場域名稱-->
  <p>{{languageService.i18n['confirm_del_field']}} - {{selectField.name}} ?</p>
  
  <!-- 按鈕容器 -->
  <div class="buttons">
    <!-- 確認按鈕，點擊時呼叫 confirmDeleteField() 函數處理確認邏輯，並且關閉視窗 -->
    <button type="button" (click)="confirmDeleteField()" mat-dialog-close>
      {{ languageService.i18n['confirm'] }} <!-- 按鈕文字 -->
    </button>
    
    <!-- 取消按鈕，點擊時不進行任何操作，直接關閉視窗 -->
    <button type="button" mat-dialog-close>
      {{ languageService.i18n['cancel'] }} <!-- 按鈕文字 -->
    </button>
  </div>
</ng-template>
