<div class="ocloudInfo software">
  <h5>
    <button (click)="back()">
      <span class="material-icons">arrow_back</span>Back
    </button>
    Software {{languageService.i18n['information']}} – {{softwareInfo.firm}}/{{softwareInfo.modelname}} {{commonService.NFdetails(softwareInfo.uploadtype)}} {{softwareInfo.uploadversion}}
  </h5>

  <div class="BOX basicInfo ">
    <label class="boxTitle">{{languageService.i18n['basic.info']}}</label>
    <div class="center">
      <ul class="Software_info">
        <h3>Software Information</h3>
        <li><label>{{languageService.i18n['manufacturer']}}</label><span>{{softwareInfo.firm}}</span></li>
        <li><label>{{languageService.i18n['model']}}</label><span>{{softwareInfo.modelname}}</span></li>
        <li><label>{{languageService.i18n['type']}}</label><span>{{commonService.NFdetails(softwareInfo.uploadtype)}}</span></li>
        <li><label>{{languageService.i18n['version']}}</label><span>{{softwareInfo.uploadversion}}</span></li>
        <li><label>{{languageService.i18n['notes']}}</label><span>{{softwareInfo.description}}</span></li>
      </ul>
      <ul class="file_url_info">
        <h3>File/URL Information</h3>
        <li><label>File name</label><span>{{softwareInfo.uploadinfo}}</span></li>
        <li><label>URL</label><span>{{softwareInfo.uploadurl}}</span></li>
        <li><label>File size</label><span>{{softwareInfo.size}}</span></li>
        <li><label>CheckSum</label><span>{{softwareInfo.checksum}}</span></li>
      </ul>
      <ul class="ftp_info">
        <h3>FTP Information</h3>
        <li><label>FTP Account</label><span>{{softwareInfo.ftpid}}</span></li>
        <li><label>FTP Password</label><span>{{softwareInfo.ftpkey}}</span></li>
      </ul>
    </div>
    <label class="boxTitle">Modify Software Content</label>
    <ul class="modify">
      <li>
        <span class="btn-group">
          <mat-button-toggle-group [(ngModel)]="uploadType" >
            <mat-button-toggle value="upload">{{languageService.i18n['upload.file']}}</mat-button-toggle>
            <mat-button-toggle value="url">{{languageService.i18n['url']}}</mat-button-toggle>
          </mat-button-toggle-group>
          <ng-container *ngIf="uploadType == 'upload'">
            <div class="upload">
              <input type="file" name="uploadedFile" (change)="fileChange($event)" accept=".zip, .tar" #fileInput>
            </div>
          </ng-container>
          <ng-container *ngIf="uploadType == 'url'">
              <div class="url"><input type="text" placeholder="Url"></div>
          </ng-container>
      </span>
      </li>
    </ul>
    <div class="buttons">
      <button tooltip="{{languageService.i18n['updateSoftware']}}" (click)="openUpdateModel()">{{languageService.i18n['updateSoftware']}}</button>
    </div>
  </div>

<ng-template #updateModal>
  <h5>Confirm to {{languageService.i18n['software_update']}}</h5>
  <form [formGroup]="updateForm">
    <ul>
      <li>
        <label>Update Version: </label>
        <span>{{softwareInfo.uploadversion}}</span>
      </li>
      <li>
        <label>Manufacturer: </label>
        <span>{{softwareInfo.firm}}</span>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button">OK</button>
    </div>
  </form>
</ng-template>
