.basicInfo ul {
  font-size: 0.9em;
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin: 0 1% 0;
}
.basicInfo ul li {
  font-size: 1.35em;
  margin: 0 0 0 1.5em;
  text-align: left;
}
.basicInfo ul li span {
  word-break: break-all;
}
.boxTitle {
  display: block;
  font-size: 1.5em;
  line-height: 2;
  margin: 0 0 0.5em;
  text-align: center;
  padding: 0;
}
.BOX {
  position: relative;
  display: inline-block;
  padding: 0 1.5em 1.5em;
  vertical-align: top;
  margin: 0 1% 1% 0;
  border-radius: 10px;
  opacity: 1;
}
.basicInfo ul li label::after {
  content: ":";
  display: inline-block;
  margin: 0 0.3em;
}
ul + .buttons {
  display: block;
  text-align: center;
}


ul h3 {
  font-size: 1.3em;
  text-align: center;
  border-bottom: 1px solid #3b6a97;
  padding: 0;
  margin: 0 0 0.5em;
  line-height: 1.75;
  display: block;
  color: #7ea3cf;
}
.center {
  text-align: center;
  margin-bottom: 2em;
}
