.basicInfo ul {
  font-size: 0.9em;
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin: 0 1% 0;
}
.basicInfo ul li {
  font-size: 1.35em;
  margin: 0 0 0 1.5em;
  text-align: left;
}
.ocloudInfo.software .basicInfo ul li label {
  display: inline-block;
}
ul.Software_info li label {
  width: 5.5em;
}
ul.ftp_info li label {
  width: 7em;
}
ul.file_url_info li label {
  width: 5.6em;
}
.basicInfo ul li span {
  word-break: break-all;
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
.basicInfo ul.url li label {
  width: 5.6em!important;
}
.basicInfo ul.url li span {
  width: 75%;
}
.boxTitle {
  display: block;
  font-size: 1.5em;
  line-height: 2;
  margin: 0 0 0.5em;
  text-align: center;
  padding: 0;
}
.BOX {
  position: relative;
  display: inline-block;
  padding: 0 1.5em 1.5em;
  vertical-align: top;
  margin: 0 1% 1% 0;
  border-radius: 10px;
  opacity: 1;
  width: 97%;
}
.basicInfo ul li label::after {
  content: ":";
  display: inline-block;
  margin: 0 0.3em;
}
ul + .buttons {
  display: block;
  text-align: center;
}


ul h3 {
  font-size: 1.3em;
  text-align: left;
  padding: 5px 13px;
  margin: 0 0 0.5em;
  border-radius: 5px;
  line-height: 1.75;
  display: block;
  color: #fff;
  background: linear-gradient(to right, #1d8ee5 0%, #1e5799 100%);
}
.center {
  text-align: center;
  margin-bottom: 2em;
}
ul.modify {
  width: 40%!important;
}
.upload > span {
  outline: 0;
  padding: 0.3em 2em;
  border: 0;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  font-size: 0.9em;
  border-radius: 50em;
  cursor: pointer;
}
.upload > span input {
  position: absolute;
  font-size: 50px;
  right: 0;
  top: 0;
  width: 100%;
  height: 27px;
  opacity: 0;
  cursor: pointer;
}
.upload label {
  word-wrap: break-word;
  display: inline-block;
  max-width: 75%;
  line-height: 1;
  vertical-align: middle;
}
span.upload {
  width: 70%;
}
