<div class="ocloudInfo software">
  <h5>
    <button (click)="back()">
      <span class="material-icons">arrow_back</span>{{ languageService.i18n['back'] }}
    </button>
    {{ languageService.i18n['sf.info'] }} – {{mapUploadType(softwareInfo.uploadtype)}} / {{softwareInfo.firm}} / {{softwareInfo.modelname}} / {{softwareInfo.uploadversion}}
  </h5>

  <div class="BOX basicInfo ">
    <label class="boxTitle">{{languageService.i18n['sm.detailInfo']}}</label>
    <div class="center">
      <ul class="Software_info">
        <h3>{{ languageService.i18n['basic.info'] }}</h3>
        <li><label>{{ languageService.i18n['type'] }}</label>{{ mapUploadType(softwareInfo.uploadtype) }}</li>
        <li><label>{{ languageService.i18n['manufacturer'] }}</label>{{ softwareInfo.firm }}</li>
        <li><label>{{ languageService.i18n['model'] }}</label>{{ softwareInfo.modelname }}</li>
        <!-- <li><label>{{languageService.i18n['model']}}</label><input type="text" [(ngModel)]="softwareInfo.modelname"/></li> -->
        <!-- <li><label>{{languageService.i18n['type']}}</label>
          <select [(ngModel)]="softwareInfo.uploadtype" >
            <option *ngFor="let opt of uploadtypeUI" [value]="opt.value">{{opt.displayName}}</option>
          </select>
        </li> -->
        <li><label>{{ languageService.i18n['version'] }}</label>{{ softwareInfo.uploadversion }}</li>
        
        <li><label>{{ languageService.i18n['notes'] }}</label>{{ softwareInfo.description }}</li>
      </ul>
      <ul class="file_url_info">
        <h3>File/URL {{ languageService.i18n['sf.information'] }}</h3>
        <li><label>{{ languageService.i18n['sf.fileName'] }}</label><span>{{ softwareInfo.uploadinfo }}</span></li>
        <li><label>{{ languageService.i18n['sf.fileSize'] }}</label><span>{{ softwareInfo.size }}</span></li>
        <li><label>URL</label><span>{{ softwareInfo.uploadurl }}</span></li>
        <li><label>CheckSum</label><span>{{ softwareInfo.checksum }}</span></li>
      </ul>
      <ul class="ftp_info">
        <h3>FTP {{ languageService.i18n['sf.information'] }}</h3>
        <li><label>{{languageService.i18n['ftp.account']}}</label>{{softwareInfo.ftpid}}</li>
        <li><label>{{languageService.i18n['ftp.password']}}</label>{{softwareInfo.ftpkey}}</li>
      </ul>
    </div>
    <ul class="modify">
    </ul>
    <div class="buttons">
      <button tooltip="{{languageService.i18n['updateSoftware']}}" (click)="openUpdateModel()">{{languageService.i18n['updateSoftware']}}</button>
    </div>
  </div>

<ng-template #updateModal>
  <h5>Confirm to {{languageService.i18n['software_update']}}</h5>
    <ul>
      <li>
        <label>{{languageService.i18n['manufacturer']}}: </label>
        <span><input type="text" [(ngModel)]="softwareInfo.firm"/></span>
      </li>
      <li>
        <label>{{languageService.i18n['model']}}: </label>
        <span><input type="text" [(ngModel)]="softwareInfo.modelname"/></span>
      </li>
      <li><label>{{languageService.i18n['type']}}</label>
        <span class="type">
          <select [(ngModel)]="softwareInfo.uploadtype" >
            <option *ngFor="let opt of uploadtypeUI" [value]="opt.value">{{opt.displayName}}</option>
          </select>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['version']}}: </label>
        <span><input type="text" [(ngModel)]="softwareInfo.uploadversion"/></span>
      </li>
      <li>
        <label>{{languageService.i18n['notes']}}: </label>
        <span><input type="text" [(ngModel)]="softwareInfo.description"/></span>
      </li>
      <li>
        <label>{{languageService.i18n['ftp.account']}}:</label>
        <span><input type="text" [(ngModel)]="softwareInfo.ftpid"/></span>
      </li>
      <li>
        <label>{{languageService.i18n['ftp.password']}}:</label>
        <span><input type="text" [(ngModel)]="softwareInfo.ftpkey"/></span>
      </li>
        <label class="boxTitle">{{languageService.i18n['modify_content']}}</label>
        <span class="btn-group">
          <mat-button-toggle-group [(ngModel)]="softwarecontent" >
            <mat-button-toggle value="upload">{{languageService.i18n['upload.file']}}</mat-button-toggle>
            <mat-button-toggle value="url">{{languageService.i18n['url']}}</mat-button-toggle>
          </mat-button-toggle-group>
          <ng-container *ngIf="softwarecontent == 'upload'">
            <div class="upload">
              <input type="file" name="uploadedFile" (change)="fileChange($event)" accept=".zip, .tar" #fileInput>
            </div>
          </ng-container>
          <ng-container *ngIf="softwarecontent == 'url'">
              <div class="url"><input type="text" placeholder="Url"></div>
          </ng-container>
        </span>
    </ul>
    
    <div class="buttons">
      <button type="button" (click)="update()">OK</button>
      <button type="button" mat-dialog-close>Cancel</button>
    </div>
</ng-template>
