:host ::ng-deep .loading-text button {
  background-color: #3d86ab;
  border: 1px solid #6ba1cf;
  color: #fff;
  border-radius: 5px;
  padding: 0.3em 1em;
  margin: 0 0 0 0.7em;
  cursor: pointer;
}
