.basicInfo ul {
  font-size: 0.9em;
  display: inline-block;
  vertical-align: top;
  margin: 0 1% 0;
}
.basicInfo ul li {
  font-size: 1.35em;
  margin: 0 0 3px 1.5em;
  text-align: left;
}
.ocloudInfo.software .basicInfo ul li label {
  display: inline-block;
}
ul.Software_info li label {
  width: 5.5em;
}
ul.ftp_info li label {
  width: 9em;
}
ul.file_url_info li label {
  width: 9em;
}

ul.file_url_info li label + span {
  width: 60%!important;
}
.basicInfo ul li span {
  word-break: break-all;
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
.basicInfo ul.url li label {
  width: 5.6em!important;
}
.basicInfo ul.url li span {
  width: 75%;
}
.boxTitle {
  display: block;
  font-size: 1.5em;
  line-height: 2;
  margin: 0 0 0.5em;
  text-align: center;
  padding: 0;
}
.BOX {
  position: relative;
  display: inline-block;
  padding: 0 1.5em 1.5em;
  vertical-align: top;
  margin: 0 1% 1% 0;
  border-radius: 10px;
  opacity: 1;
  width: 97%;
}
.basicInfo ul li label::after {
  content: ":";
  display: inline-block;
  margin: 0 0.3em;
}
ul + .buttons {
  display: block;
  text-align: center;
}


ul h3 {
  font-size: 1.3em;
  text-align: center;
  border-bottom: 1px solid #3b6a97;
  padding: 0;
  margin: 0 0 0.5em;
  line-height: 1.75;
  display: block;
  color: #7ea3cf;
}
.center {
  text-align: center;
  margin-bottom: 2em;
}
ul.modify {
  width: 40%!important;
}
.upload > span {
  outline: 0;
  padding: 0.3em 2em;
  border: 0;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  font-size: 0.9em;
  border-radius: 50em;
  cursor: pointer;
}
.upload > span input {
  position: absolute;
  font-size: 50px;
  right: 0;
  top: 0;
  width: 100%;
  height: 27px;
  opacity: 0;
  cursor: pointer;
}
.upload label {
  word-wrap: break-word;
  display: inline-block;
  max-width: 75%;
  line-height: 1;
  vertical-align: middle;
}
span.upload {
  width: 70%;
}

.icon {
  width: 4% !important;
  text-align: center;
  vertical-align: middle !important;
  margin-top: -5px;
}

// 成功 - ticketstatus = 3
.greenLight {
  display: inline-block;
  width: 1em!important;
  height: 1em;
  border-radius: 50em;
  background-color: #89d135;
}

// 失敗 - ticketstatus = 4
.redLight {
  display: inline-block;
}

// 排程中、排程中(每天) - ticketstatus = 1
.grayLight {
  display: inline-block;
  width: 1em!important;
  height: 1em;
  border-radius: 50em;
  background-color: #7e7e7e;
}

// 部份成功 - ticketstatus = 5
.yellowLight {
  display: inline-block;
  width: 1em!important;
  height: 1em;
  border-radius: 50em;
  background-color: rgb(243, 192, 73);
}

// 進行中 - ticketstatus = 2
.blueLight {
  display: inline-block;
  width: 1em!important;
  height: 1em;
  border-radius: 50em;
  background-color: rgb(0, 67, 200);
}


// 用於控制顯示 "軟體更新" 執行結果的表格
.vertical-align-middle {
  vertical-align: middle;
}

// Spinner 居中並設定大小
.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; 
}

// 設定進度調 (Spinner) 的顏色
::ng-deep .mat-progress-spinner circle {
  stroke: #7cbaec !important;
}

body.tw ul.file_url_info li label {
  width: 6em;
}
.basicInfo table {
  width: 100%;
  margin-top: 8px;
  max-height: 35em;
  overflow: auto;
  display: block;
}
.basicInfo table td {
  text-align: center;
  width: initial;
  min-width: initial;
  white-space: initial;
  border: 1px solid ;
  padding:5px;
  word-break: break-all;
  font-size: 15px;
}
.basicInfo table th {
  text-align: center;
  width: initial;
  min-width: initial;
  border: 1px solid ;
  padding:5px;
  white-space: nowrap;
  font-weight: normal;
  font-size: 15px;
  color: #eee;
  background-color: #053e74;
  position: sticky;
  top: -1px;
}
.basicInfo table th ,
.basicInfo table td {
  border-color: #4d6183;
}
.file_url_info,
.Software_info {
  width: 28%;
}
.ftp_info {
  width: 38%;
}

.downloadRPT span button {
  color: #3b82f6;
  width: initial;
  height: initial;
  line-height: initial;
}
.par_success th,.par_success td {
  width: 9.3em !important;
}
.ocloudInfo.software.kpiTable .ftp_info,
.ocloudInfo.software.kpiTable .Software_info {
  width: 28%;
}
.ocloudInfo.software.kpiTable .file_url_info {
  width: 35%;
}
.ocloudInfo.software.kpiTable .file_url_info table td:not(:first-child) {
  text-align: left;
}