<div class="ocloudInfo software">
  <h5>
    <button (click)="back()">
      <span class="material-icons">arrow_back</span>Back
    </button>
    Software {{languageService.i18n['information']}} – /
  </h5>

  <div class="BOX basicInfo ">
    <label class="boxTitle">{{languageService.i18n['basic.info']}}</label>
    <div class="center">
      <ul class="Software_info">
        <h3>Software Information</h3>
        <li><label>{{languageService.i18n['manufacturer']}}</label><span>2</span></li>
        <li><label>{{languageService.i18n['model']}}</label><span>2</span></li>
        <li><label>{{languageService.i18n['type']}}</label><span>2</span></li>
        <li><label>{{languageService.i18n['version']}}</label><span>2</span></li>
        <li><label>{{languageService.i18n['notes']}}</label><span>2</span></li>
      </ul>
      <ul class="file_url_info">
        <h3>File/URL Information</h3>
        <li><label>File name</label><span>1</span></li>
        <li><label>URL</label><span>2</span></li>
        <li><label>File size</label><span>2</span></li>
        <li><label>CheckSum</label><span>2</span></li>
      </ul>
      <ul class="ftp_info">
        <h3>FTP Information</h3>
        <li><label>FTP Account</label><span>1111111111111</span></li>
        <li><label>FTP Password</label><span>111111</span></li>
      </ul>
    </div>
  </div>
