.basicInfo ul {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  margin: 0 2% 1% 0;
}
.basicInfo ul li {
  font-size: 1.35em;
  margin: 0 0 5px 2.1em;
  text-align: left;
}
.ocloudInfo.schedule .basicInfo ul li label {
  display: inline-block;
  vertical-align: top;
}
ul.Software_info li label {
  width: 10em;
}
ul.ftp_info li > label {
  width: 9em;
}
ul.ftp_info li > span {
  width: 60%!important;
}
ul.file_url_info li label {
  width: 12.3em;
}

ul.file_url_info li label + span {
  width: 50%!important;
}
.basicInfo ul li span {
  word-break: break-all;
  display: inline-block;
  vertical-align: top;
  width: 65%;
}
.basicInfo ul.url li label {
  width: 5.6em!important;
}
.basicInfo ul.url li span {
  width: 75%;
}
.boxTitle {
  display: block;
  font-size: 1.5em;
  line-height: 2;
  text-align: center;
  padding: 0;
  margin-left: -4%;
}
.BOX {
  position: relative;
  display: inline-block;
  padding: 0 1.5em 1.5em;
  vertical-align: top;
  margin: 0 1% 1% 0;
  border-radius: 10px;
  opacity: 1;
  width: 97%;
}
.basicInfo ul li label::after {
  content: ":";
  display: inline-block;
  margin: 0 0.3em;
}
ul + .buttons {
  display: block;
  text-align: center;
}


ul h3 {
  font-size: 1.3em;
  text-align: left;
  padding: 5px 13px;
  margin: 0 0 0.5em;
  border-radius: 5px;
  line-height: 1.75;
  display: block;
  color: #fff;
  background: linear-gradient(to right, #1d8ee5 0%, #1e5799 100%);
}
.center {
  text-align: center;
  margin-bottom: 2em;
}
ul.modify {
  width: 40%!important;
}
.upload > span {
  outline: 0;
  padding: 0.3em 2em;
  border: 0;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  font-size: 0.9em;
  border-radius: 50em;
  cursor: pointer;
}
.upload > span input {
  position: absolute;
  font-size: 50px;
  right: 0;
  top: 0;
  width: 100%;
  height: 27px;
  opacity: 0;
  cursor: pointer;
}
.upload label {
  word-wrap: break-word;
  display: inline-block;
  max-width: 75%;
  line-height: 1;
  vertical-align: middle;
}
span.upload {
  width: 70%;
}

.icon {
  width: 1em!important;
  height: 1em!important;
  vertical-align: middle !important;
  margin-top: -5px;
}

// 成功 - ticketstatus = 3
.greenLight {
  display: inline-block;
  width: 1em!important;
  height: 1em;
  border-radius: 50em;
  background-color: #89d135;
}

// 失敗 - ticketstatus = 4
.redLight {
  display: inline-block;
}

// 排程中、排程中(每天) - ticketstatus = 1
.grayLight {
  display: inline-block;
  width: 1em!important;
  height: 1em;
  border-radius: 50em;
  background-color: #7e7e7e;
}

// 部份成功 - ticketstatus = 5
.yellowLight {
  display: inline-block;
  width: 1em!important;
  height: 1em;
  border-radius: 50em;
  background-color: rgb(243, 192, 73);
}

// 進行中 - ticketstatus = 2
.blueLight {
  display: inline-block;
  width: 1em!important;
  height: 1em;
  border-radius: 50em;
  background-color: rgb(0, 67, 200);
}


// 用於控制顯示 "軟體更新" 執行結果的表格
.vertical-align-middle {
  vertical-align: middle;
}

// Spinner 居中並設定大小
.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; 
}

// 設定進度調 (Spinner) 的顏色
::ng-deep .mat-progress-spinner circle {
  stroke: #7cbaec !important;
}

body.tw ul.file_url_info li label {
  width: 6em;
}
.basicInfo table {
  width: 100%;
  margin-top: 8px;
  max-height: 43.5em;
  overflow: auto;
  display: block;
}
.basicInfo table td {
  text-align: center;
  width: 13em;
  min-width: initial;
  white-space: initial;
 /*  border: 1px solid ; */
  padding:5px;
  word-break: break-word;
  font-size: 15px;
}
.basicInfo table tbody tr td:first-child {
  width: 10em;
}
.basicInfo table th {
  text-align: center;
  width: initial;
  min-width: initial;
  /* border: 1px solid ; */
  padding:5px 12px;
  white-space: nowrap;
  font-weight: normal;
  font-size: 15px;
/*   color: #eee;
  background-color: #053e74; */
  position: sticky;
  top: -1px;
}
.file_url_info,
.Software_info {
  width: 47%;
}
/* .file_url_info, */
.ftp_info {
  width: 47%;
}
.downloadRPT span button {
  color: #3b82f6;
  width: initial;
  height: initial;
  line-height: initial;
}
.par_success th,.par_success td {
  width: 16.5em !important;
}
/* .ocloudInfo.schedule .kpiTable .ftp_info,
.ocloudInfo.schedule .kpiTable .Software_info {
  width: 28%!important;
} */
/* .ocloudInfo.schedule .kpiTable .file_url_info {
  width: 38%!important;
} */
.ocloudInfo.schedule .kpiTable .file_url_info .table {
  width: 96%;
  margin: auto;
}
.ocloudInfo.schedule .kpiTable .file_url_info table td:last-child {
  width: 50%!important;
}
.ocloudInfo.schedule .kpiTable .file_url_info table td:not(:first-child) {
  text-align: left!important;
  word-break: break-word;
}
table tbody tr td[rowspan="2"] {
  border-bottom: 1px solid #223b50;
}
.caReport ul.file_url_info li label {
  width: 12.5em;
}

.sfUpdate ul.file_url_info li label {
  width: 9em;
}
.sfReport ul.file_url_info li label ,
.pmReport ul.file_url_info li label ,
.fmReport ul.file_url_info li label{
  width: 9.5em;
}
.sfReport .ul.Software_info li label {
  width: 5em;
}
.schedule.sfUpdate .ftp_info .table table {
  max-height: 46em;
}
