<h5>{{languageService.i18n['index.menu_logMgr']}}</h5>

<div class="table">

  <div class="logTab">
    <mat-button-toggle-group name="type" [(ngModel)]="type" (change)="changeType($event)">
      <mat-button-toggle value="User_Logs">{{languageService.i18n['UserLogs']}}</mat-button-toggle>
      <mat-button-toggle value="NE_Logs">{{languageService.i18n['NELogs']}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- User Logs -->
  <ul *ngIf="type === 'User_Logs'">
    <form [formGroup]="searchForm">
      <div class="filter">

        <!-- userid Filter for User Logs @11/20 Add by yuchen -->
        <span style="margin-left: 1px;">
          <label style="margin-right: 5px !important">{{languageService.i18n['UserLog.userid']}}</label>
          <input formControlName="UserID" class="userid-input">
        </span>

        <span><label>{{languageService.i18n['UserLog.logtype']}}</label>
          <select formControlName="UserLogType">
            <option value="All">All</option>
            <option *ngFor="let userlogtype of UserLogTypes" [value]="userlogtype">{{userlogtype}}</option>
          </select>
          <mat-error *ngIf="searchForm.controls['UserLogType'].invalid">Required</mat-error>
        </span>

        <!-- Keywords Filter for User Logs @11/13 Add by yuchen -->
        <span style="margin-left: 1px;">
          <label style="margin-right: 5px !important">{{languageService.i18n['UserLog.logKeywordString']}}</label>
          <input formControlName="keyword">
        </span>

        <!-- User Logs 的日期選擇器 -->
        <span><label>{{languageService.i18n['Log.start']}}&nbsp;</label>
          <span>
            <p-calendar formControlName="from" [showTime]="true" inputId="userLogStartTime" dateFormat="yy-mm-dd"></p-calendar>
          </span>
        </span>
        <span><label>{{languageService.i18n['Log.end']}}&nbsp;</label>
          <span style="margin-left: 3px;">
            <p-calendar formControlName="to" [showTime]="true" inputId="userLogEndTime" dateFormat="yy-mm-dd"></p-calendar>
          </span>
        </span>

        <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search_UserLogs()">search</span>

        <!-- Button of clear_search @11/24 Add by yuchen -->
        <span tooltip="{{languageService.i18n['clear_search']}}" class="material-symbols-outlined" (click)="clear_search_UserLogs()">clear</span>

        <!-- Button of Export User logs to XLSX @11/23 Add by yuchen -->
        <!-- <span tooltip="{{languageService.i18n['UserLog.ExportXLSX']}}" class="material-icons" (click)="exportToExcel('UserLogs')">assignment_returned</span> -->
        <span tooltip="{{languageService.i18n['UserLog.Export']}}" class="material-icons" (click)="exportLogsToFile('UserLogs')">
          <mat-icon svgIcon="export_to_xlsx"></mat-icon>
        </span>
        
        
        <!-- Button of Export User logs to CSV @11/07 Add by yuchen @11/24 not use -->
        <!-- <span tooltip="{{languageService.i18n['UserLog.ExportCSV']}}" class="material-icons" (click)="exportToCSV('UserLogs')">content_paste_go</span> -->
        <!-- <span tooltip="{{languageService.i18n['UserLog.ExportCSV']}}" class="material-icons" (click)="exportToCSV('UserLogs')">
          <mat-icon svgIcon="export_to_csv"></mat-icon>
        </span> -->
      </div>

      
      <!-- Search Criteria Summary of User Logs @2024/03/13 Update -->
      <!-- <div *ngIf="isSearch_userLogs" class="filterBY"> -->
      <div class="filterBY"> <!-- 改成常駐顯示 @2024/03/13 Update -->
        <span class="material-symbols-outlined">info</span>{{ languageService.i18n['search_criteria'] }}&nbsp;
        <span *ngIf="afterSearchForm.controls['UserID'].value">
          <label>{{ languageService.i18n['UserLog.userid'] }}:&nbsp;</label>{{ afterSearchForm.controls['UserID'].value }}
        </span>
        <span *ngIf="afterSearchForm.controls['UserLogType'].value">
          <label>{{ languageService.i18n['UserLog.logtype'] }}:&nbsp;</label>{{ afterSearchForm.controls['UserLogType'].value }}
        </span>
        <span *ngIf="afterSearchForm.controls['keyword'].value">
          <label>{{ languageService.i18n['UserLog.logKeywordString'] }}:&nbsp;</label>{{ afterSearchForm.controls['keyword'].value }}
        </span>
        <span *ngIf="afterSearchForm.controls['from'].value || afterSearchForm.controls['to'].value">
          <label>{{ languageService.i18n['UserLog.logtime'] }}:&nbsp;</label>
          {{ afterSearchForm.controls['from'].value ? (commonService.dealPostDate(afterSearchForm.controls['from'].value) + ' ~ ') : '' }}
          {{ afterSearchForm.controls['to'].value ? commonService.dealPostDate(afterSearchForm.controls['to'].value) : '' }}
        </span>
      </div>
    </form>


    <table class="userLog">
      <thead>
        <tr>
          <th>{{languageService.i18n['UserLog.No']}}</th>
          <th>{{languageService.i18n['UserLog.userid']}}</th>
          <th>{{languageService.i18n['UserLog.logtype']}}</th>
          <th>{{languageService.i18n['UserLog.loglevel']}}</th>
          <th class="logmsg">{{languageService.i18n['UserLog.logmsg']}}</th>
          <th>{{languageService.i18n['UserLog.logtime']}}</th>
          <th>{{languageService.i18n['UserLog.view']}}</th>
        </tr>
      </thead>
      <tbody>

        <!-- 當數據正在加載時顯示進度條 @2024/03/10 Add -->
        <!-- <ng-container *ngIf="isGetUserLogsInfoLoading">
          <tr>
            <td colspan="6">
              <div class="progress-spinner-container"> -->
                <!-- 指示器大小設置 -->
                <!-- <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="90"></mat-progress-spinner> -->
              <!-- </div>
            </td>
          </tr>
        </ng-container> -->

        <!-- 加載完成後顯示 User Logs 的數據 @2024/03/10 Add -->
        <ng-container *ngIf="!isGetUserLogsInfoLoading">
          <tr *ngFor="let opt of userLogsToDisplay | paginate: { itemsPerPage: pageSize,
                                    currentPage: p, totalItems: totalLogs, id: 'userlogsList' }; let i = index">
            <td>{{ (p - 1) * pageSize + i + 1 }}</td> <!-- 更動為動態生成每條 User log 的編號 @11/14 changed by yuchen-->
            <td>{{ opt.userid }}</td>
            <td>{{ opt.logtype }}</td>
            <td class="center">{{ opt.loglevel }}</td>
            <td class="logmsg">{{ opt.logmsg }}</td>
            <td>{{ opt.logtime }}</td>
            <td><mat-icon tooltip="{{ languageService.i18n['view_detail'] }}" (click)="openUserlogDetail(opt)">remove_red_eye</mat-icon></td>
          </tr>        
          <tr class="notFind" *ngIf="totalLogs === 0">
            <td colspan="7">{{ languageService.i18n['no_results'] }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
      <!-- pagination @11/01 Add by yuchen --> 
      <!-- <span class="total">{{languageService.i18n['UserLog.total1']}} {{userLogsToDisplay.length}} {{languageService.i18n['UserLog.total2']}}</span> -->
      <!-- 使用 getTotalLogsText 函數來決定顯示 'User Log' 還是 'User Logs' @11/21 Add by yuchen -->
      <span class="total">{{ getTotalLogsText('user') }}</span>
      <pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel="" nextLabel="" id="userlogsList"> 
      </pagination-controls>
  </ul>

  <!-- NE Logs -->
  <ul *ngIf="type === 'NE_Logs'">
    <form [formGroup]="searchForm">
      <div class="filter">

        <!-- userid Filter for NE Logs @11/20 Add by yuchen -->
        <span style="margin-left: 1px;">
          <label style="margin-right: 5px !important">{{languageService.i18n['NElog.userid']}}</label>
          <input formControlName="UserID" class="userid-input">
        </span>

        <!-- NE Name Filter for NE Logs @11/22 Add by yuchen -->
        <span style="margin-left: 1px;">
          <label style="margin-right: 5px !important">{{languageService.i18n['NElog.comp_name']}}</label>
          <input formControlName="neName" class="userid-input-neName">
        </span>

        <span><label>{{languageService.i18n['NElog.operation']}}</label>
          <select formControlName="NELogType">
            <option value="All">All</option>
            <option *ngFor="let nelogtype of NELogTypes" [value]="nelogtype">{{nelogtype}}</option>
          </select>
          <mat-error *ngIf="searchForm.controls['NELogType'].invalid">Required</mat-error>
        </span>

        <!-- Keyword Filter @11/03 add by yuchen -->
        <span style="margin-left: 1px;">
          <label style="margin-right: 5px !important">{{languageService.i18n['NElog.logKeywordString']}}</label>
          <input formControlName = "keyword">
        </span>

        <!-- NE Logs 的日期選擇器 -->
        <span><label>{{languageService.i18n['Log.start']}}</label>
          <span>
            <p-calendar formControlName="from" [showTime]="true" inputId="neLogStartTime" dateFormat="yy-mm-dd"></p-calendar>
          </span>
        </span>
        <span><label>{{languageService.i18n['Log.end']}}</label>
          <span style="margin-left: 3px;">
            <p-calendar formControlName="to" [showTime]="true" inputId="neLogEndTime" dateFormat="yy-mm-dd"></p-calendar>
          </span>
        </span>

        <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search_NELogs()">search</span>
        <!--<span tooltip="{{languageService.i18n['a_search']}}" class="material-symbols-outlined" (click)="openAdvancedModal()">settings</span> -->

        <!-- Button of clear_search @11/24 Add by yuchen -->
        <span tooltip="{{languageService.i18n['clear_search']}}" class="material-symbols-outlined" (click)="clear_search_NELogs()">clear</span>

        <!-- Button of Export NE logs to XLSX @11/23 add by yuchen -->
        <!-- <span tooltip="{{languageService.i18n['NElog.ExportXLSX']}}" class="material-icons" (click)="exportToExcel('NELogs')">assignment_returned</span> -->
        <span tooltip="{{languageService.i18n['NElog.Export']}}" class="material-icons" (click)="exportLogsToFile('NELogs')">
          <mat-icon svgIcon="export_to_xlsx"></mat-icon>
        </span>

        <!-- Button of Export NE logs to CSV @11/07 add by yuchen @11/24 not use -->
        <!-- <span tooltip="{{languageService.i18n['NElog.ExportCSV']}}" class="material-icons" (click)="exportToCSV('NELogs')">content_paste_go</span> -->
        <!-- <span tooltip="{{languageService.i18n['NElog.ExportCSV']}}" class="material-icons" (click)="exportToCSV('NELogs')">
          <mat-icon svgIcon="export_to_csv"></mat-icon>
        </span> -->
      </div>

      <!-- Search Criteria Summary of NE Logs @2024/03/13 Update -->
      <!-- <div *ngIf="isSearch_neLogs" class="filterBY"> -->
      <div class="filterBY"> <!-- 改成常駐顯示 @2024/03/13 Update -->
        <span class="material-symbols-outlined">info</span>{{ languageService.i18n['search_criteria'] }}&nbsp;
        <span *ngIf="afterSearchForm.controls['UserID'].value">
          <label>{{ languageService.i18n['NElog.userid'] }}:&nbsp;</label>{{ afterSearchForm.controls['UserID'].value }}
        </span>
        <span *ngIf="afterSearchForm.controls['neName'].value">
          <label>{{ languageService.i18n['NElog.comp_name'] }}:&nbsp;</label>{{ afterSearchForm.controls['neName'].value }}
        </span>
        <span *ngIf="afterSearchForm.controls['NELogType'].value">
          <label>{{ languageService.i18n['NElog.operation'] }}:&nbsp;</label>{{ afterSearchForm.controls['NELogType'].value }}
        </span>
        <span *ngIf="afterSearchForm.controls['keyword'].value">
          <label>{{ languageService.i18n['NElog.logKeywordString'] }}:&nbsp;</label>{{ afterSearchForm.controls['keyword'].value }}
        </span>
        <span *ngIf="afterSearchForm.controls['from'].value || afterSearchForm.controls['to'].value">
          <label>{{ languageService.i18n['NElog.logtime'] }}:&nbsp;</label>
              {{ afterSearchForm.controls['from'].value ? (commonService.dealPostDate(afterSearchForm.controls['from'].value) + ' ~ ') : '' }}
              {{ afterSearchForm.controls['to'].value ? commonService.dealPostDate(afterSearchForm.controls['to'].value) : '' }}
        </span>
      </div>

    </form>

    <table class="neLog">
      <thead>
        <tr>
          <th>{{languageService.i18n['NElog.No']}}</th>
          <th>{{languageService.i18n['NElog.userid']}}</th>
          <th>{{languageService.i18n['NElog.comp_name']}}</th>
          <th>{{languageService.i18n['NElog.operation']}}</th>
          <th>{{languageService.i18n['NElog.req_data']}}</th>
          <th>{{languageService.i18n['NElog.resp_data']}}</th>
          <th>{{languageService.i18n['NElog.logtime']}}</th>
          <th>{{languageService.i18n['NElog.view']}}</th>
        </tr>
      </thead>
      <tbody>

        <!-- 當數據正在加載時顯示進度條 @2024/03/10 Add -->
        <!-- <ng-container *ngIf="isGetNELogsInfoLoading">
          <tr>
            <td colspan="6">
              <div class="progress-spinner-container"> -->
                <!-- 指示器大小設置 -->
                <!-- <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="90"></mat-progress-spinner>
              </div>
            </td>
          </tr>
        </ng-container> -->

        <!-- 加載完成後顯示 NE Logs 的數據 @2024/03/10 Add -->
        <ng-container *ngIf="!isGetNELogsInfoLoading">
          <tr *ngFor="let opt of neLogsToDisplay | paginate: { itemsPerPage: pageSize,
                                  currentPage: p, totalItems: totalLogs, id: 'nelogsList' }; let i = index">
            <td>{{ (p - 1) * pageSize + i + 1 }}</td> <!-- 更動為動態生成每條 NE log 的編號 @11/14 changed by yuchen-->
            <td>{{opt.userid}}</td>
            <td>{{opt.comp_name}}</td>
            <td>{{opt.operation}}</td>
            <td class="truncate">
              {{ opt.req_data | truncate:118 }}
            </td>
            <td>
              {{ opt.resp_data | truncate:118 }}
            </td>          
            <td>{{opt.logtime}}</td>
            <td><mat-icon tooltip="{{languageService.i18n['view_detail']}}" (click)="openNElogDetail(opt)">remove_red_eye</mat-icon></td>
          </tr>
          <tr class="notFind" *ngIf="totalLogs === 0">
            <td colspan="7">{{ languageService.i18n['no_results'] }}</td>
          </tr> 
        </ng-container>
      </tbody>
    </table>
    
    <!-- pagination @10/31 changed by yuchen --> 
    <!--<span class="total">{{languageService.i18n['NElog.total1']}} {{neLogsToDisplay.length}} {{languageService.i18n['NElog.total2']}}</span>-->
    <!-- 使用 getTotalLogsText 函數來決定顯示 'NE Log' 還是 'NE Logs' @11/21 Add by yuchen -->
    <span class="total">{{ getTotalLogsText('ne') }}</span>
    <pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination2" previousLabel="" 
                            nextLabel="" id="nelogsList"> 
    </pagination-controls>
  </ul>
  
</div>

<!-- View of User Logs @11/06 changed by yuchen -->
<ng-template #userlogDetail>
  <div><h5>{{languageService.i18n['UserLog.detail']}}</h5></div>
  <div style="max-height: calc(100vh - 195px); overflow-y: auto;">
    <ul>
      <li>
        <span>{{languageService.i18n['UserLog.userid']}}: </span><span>{{userLogdetail.userid}}</span>
      </li>
      <li>
        <span>{{languageService.i18n['UserLog.logtype']}}: </span><span>{{userLogdetail.logtype}}</span>
      </li>
      <li>
        <span>{{languageService.i18n['UserLog.loglevel']}}: </span><span>{{userLogdetail.loglevel}}</span>
      </li>
      <li>
        <span>{{languageService.i18n['UserLog.logtime']}}: </span><span>{{userLogdetail.logtime}}</span>
      </li>
      <li>
        <span>{{languageService.i18n['UserLog.logmsg']}}: </span><span>{{userLogdetail.logmsg}}</span>
      </li>
    </ul>
  </div>
  <div class="buttons">
    <button type="button" mat-dialog-close>{{languageService.i18n['UserLog.detailclose']}}</button>
  </div>
</ng-template>

<!-- View of NE Logs @11/06 changed by yuchen -->
<ng-template #nelogDetail>

  <div><h5>{{ languageService.i18n['NElog.detail'] }}</h5></div>
  <div style="max-height: calc(100vh - 195px); overflow-y: auto;">
    <ul>
      <li>
        <span>{{ languageService.i18n['NElog.userid'] }}: </span><span>{{ neLogdetail.userid }}</span>
      </li>
      <li> <!-- @11/14 Add by yuchen-->
        <span>{{ languageService.i18n['NElog.comp_name'] }}: </span><span>{{ neLogdetail.comp_name }}</span>
      </li>
      <li>
        <span>{{ languageService.i18n['NElog.operation'] }}: </span><span>{{ neLogdetail.operation }}</span>
      </li>
      <li>
        <span>{{ languageService.i18n['NElog.req_data'] }}: </span><span>{{ neLogdetail.req_data }}</span>
      </li>
      <li>
        <span>{{ languageService.i18n['NElog.resp_data'] }}: </span><span>{{ neLogdetail.resp_data }}</span>
      </li>
      <li>
        <span>{{ languageService.i18n['NElog.logtime'] }}: </span><span>{{ neLogdetail.logtime }}</span>
      </li>
    </ul>
  </div>
  <div class="buttons">
    <button type="button" mat-dialog-close>{{ languageService.i18n['NElog.detailclose'] }}</button>
  </div>
</ng-template>