
.userLog
td mat-icon {
  cursor: pointer;
}
td label {
  display: inline-block;
}
:host ::ng-deep p-calendar {
  width: initial;
}
.table {
  margin-top: 0;
}
table.userLog thead th {  // @11/21 Add by yuchen
  vertical-align: middle; // 內容垂直置中
  text-align: center;     // 內容水平置中
}

div.tab {
    display: block;
    text-align: center;
    margin: 1em auto;
}
.widthInit  {
  width: initial!important;
  min-width: initial!important;
}
:host ::ng-deep .switch .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  padding: 4px 10px;
}

input[name="processComment"] {
  margin: 0.5em;
  width: 70%;
  padding: 2px 4px;
}

button.modify {
  background-color: #2879c5;
  border: 0;
  font-size: 1em;
  color: #fff !important;
  padding: 0.3em 0.8em;
  border-radius: 1.2em;
}
.statusTable td{
  width: 30vw!important;
}
.statusTable td .material-symbols-outlined {
  vertical-align: middle;
  font-size: 20px;
}
.statusTable table {
  display: block;
  width: 88% !important;
  margin: auto;
  max-height: 42vh;
  font-size: 1em;
}

// For Log Management table @11/02 add by yuchen
table {
  width: 100%;
  max-width: 97.65%;
  table-layout: fixed; // 固定列寬
}

table thead th, table tbody td {
  text-align: center;
  padding: 8px;
  /* white-space: nowrap; */
  // width: 14.28%; // 平均分配列寬，有 7 個欄位: 100 % / 7 ≈ 14.28% 
  vertical-align: top;
  //text-overflow: ellipsis;
  //overflow: hidden;
}

table.neLog thead th {    // @11/21 Add by yuchen
  vertical-align: middle; // 內容垂直置中
  text-align: center;     // 內容水平置中
}
table.neLog tbody td {
  width: 12vw;
}
table.neLog tr td:nth-last-child(0),
table.neLog tr td:nth-last-child(6) {
  width: 5vw;
}
table.neLog tr td:nth-last-child(2) {
  width: 6vw;
}
table.neLog tr td:nth-last-child(3),
table.neLog tr td:nth-last-child(4) {
  text-align: left;
  width: 75vw;
  word-break: break-all;
  //max-width: 530px;          // 限制最大寬度，視需要調整
}


table tbody td.time {
  text-align: left;
}

// @2024/03/10 Add
// Spinner 居中並設定大小
.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px; 
}

// @2024/03/10 Add
// 設定進度調 (Spinner) 的顏色
::ng-deep .mat-progress-spinner circle {
  stroke: #7cbaec !important;
}


.filter {
  position: relative;
  padding-left: 15em;
}
.logTab {
  position: absolute;
    z-index: 999;
    margin-top: 0.3em;
    margin-left: 2em;
}
:host ::ng-deep .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color:#ba5a2a!important;
}
:host ::ng-deep .mat-button-toggle-appearance-standard{
  background-color:#485c77!important;
  color:#ddd;
}
:host ::ng-deep .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left:0;
}
.filter input {
  width: 15em;
  border-radius: 3px;
  border: 0;
  line-height: 2.2;
}

.userid-input { // @11/20 Add by yuchen
  width: 6em!important;
  border-radius: 3px;
  border: 0;
  line-height: 2.2;
  margin-right: 3px;
}

.userid-input-neName { // @11/22 Add by yuchen
  width: 7em!important;
  border-radius: 3px;
  border: 0;
  line-height: 2.2;
  margin-right: 3px;
}

table.userLog th,
table.userLog td {
  min-width: 5vw;
}
table.userLog th.logmsg,
table.userLog td.logmsg {
  width: 50vw;
}
table.userLog td.logmsg {
  text-align: left;
}

// 對所有的表格單元格應用垂直居中對齊
table tr td {
  vertical-align: middle;
}

// @11/28 Add by yuchen
#nelogDetail mat-dialog-container {
  max-height: calc(100vh - 150px); // 設定最大高度
  overflow-y: auto;                // 內容超過最大高度時顯示滾動條
}
.neLog thead tr th:first-child,
.userLog thead tr th:first-child,
.neLog tbody tr td:first-child,
.userLog tbody tr td:first-child {
  min-width: 1.5em;
  width: 3em;
}
@media screen and (max-width:1920px) {
  .table table {
    max-height: 70vh;
  }

}
@media screen and (max-width:1600px) {
   table tr td:nth-child(4) {
    min-width: 10.3vw;
}
.table table {
    max-height: 66vh;
}
}
@media screen and (max-width:1366px) {
  .table table {
    width: 98.5%;
    max-height: 58vh;
  }

}
