<h5>{{languageService.i18n['index.menu_logMgr']}}</h5>

<div class="table">

  <h4>{{languageService.i18n['LogLists']}}</h4>

  <div class="logTab">
    <mat-button-toggle-group name="type" [(ngModel)]="type" (change)="changeType($event)">
      <mat-button-toggle value="User_Logs">{{languageService.i18n['UserLogs']}}</mat-button-toggle>
      <mat-button-toggle value="NE_Logs">{{languageService.i18n['NELogs']}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- User Logs -->
  <ul *ngIf="type === 'User_Logs'">
    <form [formGroup]="searchForm" style="padding-bottom: 10px;">
      <div class="filter">
        
        
        <span><label>{{languageService.i18n['Log.start']}}</label>
          <span>
            <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
          </span>
        </span>
        <span><label>{{languageService.i18n['Log.end']}}</label>
          <span>
            <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
          </span>
        </span>
        <span><label>{{languageService.i18n['UserLog.logtype']}}</label>
          <select formControlName="UserLogType">
            <option value="All">All</option>
            <option *ngFor="let userlogtype of UserLogTypes" [value]="userlogtype">{{userlogtype}}</option>
          </select>
          <mat-error *ngIf="searchForm.controls['UserLogType'].invalid">Required</mat-error>
        </span>

        <!-- Keyword Filter for User Logs @11/13 add by yuchen -->
        <span style="margin-left: 10px;">
          <label style="margin-right: 5px !important">{{languageService.i18n['UserLog.logKeywordString']}}</label>
          <input style="width: 400px" formControlName="keyword">
        </span>

        <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search_UserLogs()">search</span>
        
        <!-- Button of Export User logs to CSV @1107 add by yuchen -->
        <span tooltip="{{languageService.i18n['UserLog.ExportCSV']}}" class="material-icons" (click)="exportToCSV('UserLogs')">content_paste_go</span>
        
      </div>
    </form>

    <table class="userLog">
      <thead>
        <tr>
          <th>{{languageService.i18n['UserLog.No']}}</th>
          <th>{{languageService.i18n['UserLog.userid']}}</th>
          <th>{{languageService.i18n['UserLog.logtype']}}</th>
          <th>{{languageService.i18n['UserLog.loglevel']}}</th>
          <th class="logmsg">{{languageService.i18n['UserLog.logmsg']}}</th>
          <th>{{languageService.i18n['UserLog.logtime']}}</th>
          <th>{{languageService.i18n['UserLog.view']}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let opt of userlogsToDisplay | paginate: { itemsPerPage: pageSize,
           currentPage: p, totalItems: userlogsToDisplay.length, id: 'userlogsList' }; let i = index">
          <td>{{ (p - 1) * pageSize + i + 1 }}</td> <!-- 更動為動態生成每條 User log 的編號 @11/14 changed by yuchen-->
          <td>{{ opt.userid }}</td>
          <td>{{ opt.logtype }}</td>
          <td class="center">{{ opt.loglevel }}</td>
          <td class="logmsg">{{ opt.logmsg }}</td>
          <td>{{ opt.logtime }}</td>
          <td><mat-icon tooltip="{{ languageService.i18n['view_detail'] }}" (click)="openUserlogDetail(opt)">remove_red_eye</mat-icon></td>
        </tr>        
        <tr class="notFind" *ngIf="userlogsToDisplay.length === 0">
          <td colspan="7">{{languageService.i18n['no_results']}}</td>
        </tr> 
      </tbody>
      </table>
      <!-- pagination @11/01 Add by yuchen --> 
      <span class="total">{{languageService.i18n['UserLog.total1']}} {{userlogsToDisplay.length}} {{languageService.i18n['UserLog.total2']}}</span>
      <pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel="" 
      nextLabel="" id="userlogsList"> 
      </pagination-controls>
  </ul>

  <!-- NE Logs -->
  <ul *ngIf="type === 'NE_Logs'">
    <form [formGroup]="searchForm" style="padding-bottom: 10px;">
      <div class="filter">
        <span><label>{{languageService.i18n['Log.start']}}</label>
          <span>
            <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
          </span>
        </span>
        <span><label>{{languageService.i18n['Log.end']}}</label>
          <span>
            <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
          </span>
        </span>
        <span><label>{{languageService.i18n['NElog.operation']}}</label>
          <select formControlName="NELogType">
            <option value="All">All</option>
            <option *ngFor="let nelogtype of NELogTypes" [value]="nelogtype">{{nelogtype}}</option>
          </select>
          <mat-error *ngIf="searchForm.controls['NELogType'].invalid">Required</mat-error>
        </span>

        <!-- Keyword Filter @11/03 add by yuchen -->
        <span style="margin-left: 10px;">
          <label style="margin-right: 5px !important">{{languageService.i18n['NElog.logKeywordString']}}</label>
          <input style="width: 400px" formControlName="keyword">
        </span>

        <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search_NELogs()">search</span>
        <!--<span tooltip="{{languageService.i18n['a_search']}}" class="material-symbols-outlined" (click)="openAdvancedModal()">settings</span> -->

        <!-- Button of Export NE logs to CSV @11/07 add by yuchen -->
        <span tooltip="{{languageService.i18n['NElog.ExportCSV']}}" class="material-icons" (click)="exportToCSV('NELogs')">content_paste_go</span>

      </div>
    </form>

    <table class="neLog">
      <thead>
        <tr>
          <th>{{languageService.i18n['NElog.No']}}</th>
          <th>{{languageService.i18n['NElog.userid']}}</th>
          <th>{{languageService.i18n['NElog.operation']}}</th>
          <th>{{languageService.i18n['NElog.req_data']}}</th>
          <th>{{languageService.i18n['NElog.resp_data']}}</th>
          <th>{{languageService.i18n['NElog.logtime']}}</th>
          <th>{{languageService.i18n['NElog.view']}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let opt of neLogsToDisplay | paginate: { itemsPerPage: pageSize,
           currentPage: p, totalItems: neLogsToDisplay.length, id: 'nelogsList' }; let i = index">
          <td>{{ (p - 1) * pageSize + i + 1 }}</td> <!-- 更動為動態生成每條 NE log 的編號 @11/14 changed by yuchen-->
          <td>{{opt.userid}}</td>
          <td>{{opt.operation}}</td>
          <td class="truncate">
            {{ opt.req_data | truncate:118 }}
          </td>
          <td>
            {{ opt.resp_data | truncate:118 }}
          </td>          
          <td>{{opt.logtime}}</td>
          <td><mat-icon tooltip="{{languageService.i18n['view_detail']}}" (click)="openNElogDetail(opt)">remove_red_eye</mat-icon></td>
        </tr>
        <tr class="notFind" *ngIf="NELogsList.logNumber === 0">
          <td colspan="7">{{languageService.i18n['no_results']}}</td>
        </tr> 
      </tbody>
    </table>
    
    <!-- pagination @10/31 changed by yuchen --> 
    <span class="total">{{languageService.i18n['NElog.total1']}} {{neLogsToDisplay.length}} {{languageService.i18n['NElog.total2']}}</span>
    <pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination2" previousLabel="" 
    nextLabel="" id="nelogsList"> 
    </pagination-controls>
  </ul>
  
</div>

<!-- View of User Logs @11/06 changed by yuchen -->
<ng-template #userlogDetail>
  <h5>{{languageService.i18n['UserLog.detail']}}</h5>
   <ul>
    <li>
      <span>{{languageService.i18n['UserLog.userid']}}: </span><span>{{userLogdetail.userid}}</span>
    </li>
    <li>
      <span>{{languageService.i18n['UserLog.logtype']}}: </span><span>{{userLogdetail.logtype}}</span>
    </li>
    <li>
      <span>{{languageService.i18n['UserLog.loglevel']}}: </span><span>{{userLogdetail.loglevel}}</span>
    </li>
    <li>
      <span>{{languageService.i18n['UserLog.logtime']}}: </span><span>{{userLogdetail.logtime}}</span>
    </li>
    <li>
      <span>{{languageService.i18n['UserLog.logmsg']}}: </span><span>{{userLogdetail.logmsg}}</span>
    </li>
  </ul>

  <div class="buttons">
    <button type="button" mat-dialog-close>{{languageService.i18n['UserLog.detailclose']}}</button>
  </div>
</ng-template>

<!-- View of NE Logs @11/06 changed by yuchen -->
<ng-template #nelogDetail>
  <h5>{{languageService.i18n['NElog.detail']}}</h5>
   <ul>
    <li>
      <span>{{languageService.i18n['NElog.userid']}}: </span><span>{{neLogdetail.userid}}</span>
    </li>
    <li>
      <span>{{languageService.i18n['NElog.operation']}}: </span><span>{{neLogdetail.operation}}</span>
    </li>
    <li>
      <span>{{languageService.i18n['NElog.req_data']}}: </span><span>{{neLogdetail.req_data}}</span>
    </li>
    <li>
      <span>{{languageService.i18n['NElog.resp_data']}}: </span><span>{{neLogdetail.resp_data}}</span>
    </li>
    <li>
      <span>{{languageService.i18n['NElog.logtime']}}: </span><span>{{neLogdetail.logtime}}</span>
    </li>
  </ul>

  <div class="buttons">
    <button type="button" mat-dialog-close>{{languageService.i18n['NElog.detailclose']}}</button>
  </div>
</ng-template>