/* .table table {
  width: 97.5%;
  margin: 0;
  text-align: center;
  max-height: 70vh;
}
table thead th {
  white-space: nowrap;
}
table tr td {
  min-width: 5vw;
  text-align: center;
}
table tr td.time{
  width: 3vw;
  text-align: left;
} */
/* 
table tr td:nth-child(2) {
  
}
table tr td:nth-last-child(2){
  width: 3vw;
}
 */
.userLog
td mat-icon {
  cursor: pointer;
}
td label {
  display: inline-block;
}
:host ::ng-deep p-calendar {
  width: initial;
}

div.tab {
    display: block;
    text-align: center;
    margin: 1em auto;
}
.widthInit  {
  width: initial!important;
  min-width: initial!important;
}
:host ::ng-deep .switch .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  padding: 4px 10px;
}

input[name="processComment"] {
  margin: 0.5em;
  width: 70%;
  padding: 2px 4px;
}
button.modify {
  background-color: #2879c5;
  border: 0;
  font-size: 1em;
  color: #fff !important;
  padding: 0.3em 0.8em;
  border-radius: 1.2em;
}
.statusTable td{
  width: 30vw!important;
}
.statusTable td .material-symbols-outlined {
  vertical-align: middle;
  font-size: 20px;
}
.statusTable table {
  display: block;
  width: 88% !important;
  margin: auto;
  max-height: 42vh;
  font-size: 1em;
}

// For Log Management table @11/02 add by yuchen
table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed; // 固定列寬
}

table thead th, table tbody td {
  text-align: center;
  padding: 8px;
  white-space: nowrap;
  /* width: 14.28%; */ // 平均分配列寬，有 7 個欄位: 100 % / 7 ≈ 14.28% 
  vertical-align: top;
  //text-overflow: ellipsis;
  //overflow: hidden;
}

table.neLog tbody td {
  min-width: 5vw;
}
table.neLog tr td:nth-last-child(3),
table.neLog tr td:nth-last-child(4) {
  text-align: left;
  max-width: 35vw;
  word-break: break-all;
  white-space: pre-line;
}
 
table tbody td.time {
  text-align: left;
}
.filter {
  position: relative;
  padding-left: 15em;
}
.logTab {
  position: absolute;
    z-index: 999;
    margin-top: 0.3em;
    margin-left: 2em;
}
:host ::ng-deep .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color:#ba5a2a!important;
}
:host ::ng-deep .mat-button-toggle-appearance-standard{
  background-color:#485c77!important;
  color:#ddd;
}
:host ::ng-deep .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left:0;
}
.filter input {
  width: 15em!important;
  border-radius: 3px;
  border: 0;
  line-height: 2.2;
}
table.userLog th,
table.userLog td {
  min-width: 5vw;
}
table.userLog th.logmsg,
table.userLog td.logmsg {
  width: 40vw;
}
table.userLog td.logmsg {
  text-align: left;
}
@media screen and (max-width:1920px) {
  .table table {
    max-height: 70vh;
  }

}
@media screen and (max-width:1600px) {
   table tr td:nth-child(4) {
    min-width: 10.3vw;
}
.table table {
    max-height: 66vh;
}
}
@media screen and (max-width:1366px) {
  .table table {
    width: 98.5%;
    max-height: 58vh;
  }

}
