
svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  // stroke: #6f10db;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.center {
  text-align: center;
}
.update-ip {
  width: 28%;
}
.green-icon {
  color: green;
  background-color: transparent;
}
.error-icon {
  color: red;
  background-color: transparent;
}
.percent {
  position: relative;
  width: 5.5em;
  height: 5.5em;
  padding: 3% 0 0;
  font-size: 135%;
  font-weight: bold;
  font-family: Microsoft JhengHei;
  line-height: 120%;
  border-radius: 50%;
  z-index: 1000;
  display: inline-block;
  margin: 2em 1em 0;
  border: 9px solid;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  color: #eee;
}
.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}
.percent svg circle {
  cx:70px;
  cy:70px;
  r:70px;
}
.ocloudInfo h5 button {
  background: transparent;
  border-radius: 50em;
  cursor: pointer;
  font-size: .8em;
  padding: 0.1em 1em .1em .7em;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
}
.ocloudInfo h5 button .material-icons {
  vertical-align: middle;
  font-size: 20px;
  margin:0.1em 0.3em .1em 0;
}
.boxTitle {
  display: block;
  font-size: 2em;
  line-height: 1.6;
  margin: 0 0 0.5em;
  text-align: center;
  padding: 0;
}
.boxTitle a {
    font-size: .8em;
    position: absolute;
    right: 1em;
    top:.3em;
}
.boxTitle a .material-icons {
  vertical-align: middle;
  font-size: .9em;
  margin: 0 0 0 .3em;
}
.boxTitle + div {
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}
:host ::ng-deep .dxg-title text {
  fill: #fff!important;
}

.BOX {
  position: relative;
  display: inline-block;
  padding:0 1.5em 1.5em;
  vertical-align: top;
  margin: 0 1% 1% 0;
  border-radius: 10px;
  opacity: 1;
}
.col-md-3 {
  width:31.55%;
}
.col-md-4 {
  width: 48%;
}
.col-md-8 {
  width:45.7%;
}
.cpu > div {
  width: 100%;
  margin: auto;
  overflow: initial;
}
.cpu .bold {
  font-size: 1.2em;
  font-weight: bold;
  color: #f5e388;
}
.cpu span {
  display: inline-block;
  width: 47%;
  margin: 3% 0 3% 3%;
  font-size: 1.35em;
  font-family: sans-serif;
}
.cpu span label {
  display: inline-block;
  margin: 0 .5em 0 0;
  font-weight: normal;
}
.cpu span img {
  margin: 0 0.8em 0 0;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  width: 3em;
}
.cpu span div {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: bold;
  width: 75%;
}
.bigValue {
  font-size: 3em;
  font-weight: bold;
  text-align: center !important;
  display: inline-block;
  font-family: sans-serif;
  line-height: 1;
  vertical-align: top;
  margin: 0 0 0 1.5em;
}
:host ::ng-deep .dxg-title text {
  fill: #eee!important;
}
:host ::ng-deep #gauge svg.dxg-circular-gauge {
  display: block;
  transform: translateX( 6px) translateY(-47px) scale(0.75);
}
.Fault, .cpu {
  height: 20em;
}
.basicInfo ul {
  margin: 0 0 1em 0;
  font-size: .9em;
}
.basicInfo ul li {
  font-size: 1.35em;
  margin: 0 0 0 1.5em;
}
.basicInfo ul li label {
  display: inline-block;
  margin:  0;
  width: 28%;

}
.basicInfo ul li label::after {
  content: '';
  display: inline-block;
  margin: 0 .3em;
}
.basicInfo ul li span {
  display: inline-block;
  width: 70%;
  word-break: break-all;
  vertical-align: top;
}
.basicInfo ul li span button {
  background: transparent;
  background-color: #1d61a1;
  color: #fff;
  outline: 0;
  padding: 0.3em 1em;
  border: 0;
  margin: 0 0 0 1em;
  vertical-align: bottom;
  font-size: 0.8em;
  border-radius: 50em;
  cursor: pointer;
}
.basicInfo ul li span label.grayLight,
.basicInfo ul li span label.redLight,
.basicInfo ul li span label.greenLight {
  width: 1em;
  margin: 0;
  vertical-align: middle;
}
.BOX table {
  max-height: 25em;
  overflow-x: auto;
  overflow-y: hidden;
}
.greenLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #89d135;
}
.redLight {
  display: inline-block;
}
.grayLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #7e7e7e;
}

.h30 {
  height: 33em;
}
.opt {
  color: #67a0c9;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s;
  display: list-item;
  margin: 0 0 0 1.5em;
  text-decoration: underline;
}
.opt .material-icons {
  vertical-align: middle;
}
.opt.active .material-icons {
  transform: rotate(180deg);
}
.opt + table thead tr th:nth-child(1),
.opt + table tbody tr th:nth-child(1) {
  width: 30%;
}
.opt + table thead tr th:nth-child(2),
.opt + table tbody tr th:nth-child(2) {
  width: 10%;
}
.ResourceTooltip {
  position: relative;
}
.ResourceTooltip a {
  padding: .5em;
}
.ResourceTooltip > div {
  position: absolute;
  top: 2em;
  left: -50%;
  background-color: #99caec;
  border-radius: 4px;
  padding: .3em;
  z-index: 99999;
}
.Interface.ResourceTooltip > div {
  left: -300%;
}
.ResourceTooltip > div table {
  font-size:.7em;
}
.ResourceTooltip > div table th,
.ResourceTooltip > div table td {
  padding: .5em 1em;
  color: #333;
  background-color: transparent;
  text-align: left;
}
.ResourceTooltip > div table th {
  background-color: #192c53;
  color: #fff;
}
.ResourceTooltip > div table td {
  border: 1px solid #223b50;
  background-color: #fff;
  padding: .1em;
  line-height: 1.35;
}

.Critical {
  border-color: #FF0000;
}
.Major {
  border-color: #FFA042;
}
.Minor {
  border-color: #FFFF37;
}
.Warning {
  border-color: #00FFFF;
}
.BOX.col-md-3 .table td {
  width: 15%;
  line-height: 1.35;
  text-align: center;
}
.BOX.col-md-3.nf .table td {
  width: 20%;
  text-align: center;
}
.BOX.col-md-3.nf .table td:nth-child(2),
.BOX.col-md-3.nf .table td:nth-child(3) {
  width: 30%;
}

.BOX.col-md-3.nf .table td:nth-child(3) {
  text-align: left;
}
.table table {
  display: table;
}
.SoftwareUpdate .mat-button-toggle {
  width: 10.55em;
}
.softwareVersion {
  margin: 0.2em .8em!important;
}
.UV {
  margin: 0.2em 0 0 .7em!important;
}
@media screen and (max-width:1680px) {
  .h30 {
    height: 24em;
}
}
@media only screen and (max-width:1600px) {
  .percent{
    margin: 1.5em 0.5em;
  }
  .BOX {
    padding: 0 1em 1.5em;
    height: 17em;
  }
  .boxTitle {
    font-size: 1.8em;
    line-height: 1.5;
}
.basicInfo ul {
  font-size: .9em;
}
.h30 {
  height: 24em;
}
.cpu span img {
  width: 2em;
}
}

@media screen and (max-width:1366px) {
  .BOX {
    height: 11em;
}
  .h30 {
    height: 22em;
  }
  .boxTitle {
    font-size: 1.35em;
    line-height: 1.5;
  }
  .basicInfo ul {
    font-size: .9em;
  }

  .percent {
    position: relative;
    width: 5.5em;
    height: 5.5em;
    padding: 3.5% 0 0;
    font-size: 110%;
    font-weight: bold;
    font-family: Microsoft JhengHei;
    line-height: 120%;
    border-radius: 50%;
    z-index: 1000;
    display: inline-block;
    margin: 0 3%;
    border-width: 6px;
}
  .percent .number {
    margin: 0.3em 0 0 0.3em;
  }
  .col-md-8 {
    width: 57.3%;
  }
  .col-md-3 {
    width:28%;
  }
  .basicInfo {
    width: 39%;
  }
  .basicInfo ul li label {
    width: auto;
  }

  .cpu span {
    display: inline-block;
    width: 47%;
    margin: 0 0 1em;
}
  :host ::ng-deep #gauge svg.dxg-circular-gauge {
    display: block;
    transform: translateX(6px) translateY(-71px) scale(0.75);
  }
  .table table td, .table table th {
    line-height: 1;
    white-space: nowrap;
  }
  .basicInfo ul li span {
    width: 85%;
  }
  .cpu span img {
    margin: 0 0.5em 0 0;
    width: 2em;
}
.cpu span div {
  font-size: .9em;
  width: 72%;
}
.cpu span {
  margin: .5% 0 2% 3%;
  font-size: 1.3em;
}
}
