<div class="ocloudInfo component">
  <h5>
    <button (click)="back()"><span class="material-icons">arrow_back</span>Back</button>
    {{languageService.i18n['cm.info']}} – {{componentInfo.name}}
  </h5>

  <div class="main collabsible">
    <div class="baseInfo">
      <span>{{languageService.i18n['basic.info']}}:</span>
      <input id="baseInfo" class="toggle" type="checkbox">
      <label for="baseInfo" class="lbl-toggle"></label>
      <div class="collapsible-content">
        <div class="content-inner">
            <ul>
              <li><label>{{languageService.i18n['cm.name']}}</label><span>{{componentInfo.name}}</span></li>
              <li><label>{{languageService.i18n['cm.type']}}</label><span>{{mapUploadType(componentInfo.comtype)}}</span></li>
              <li><label>{{languageService.i18n['cm.ip']}}</label><span>{{componentInfo.ip}}</span></li>
              <li><label>{{languageService.i18n['cm.port']}}</label><span>{{componentInfo.port}}</span></li>
              <li><label>{{languageService.i18n['cm.acc']}}</label><span>{{componentInfo.account}}</span></li>
              <li><label>{{languageService.i18n['cm.passw']}}</label><span>{{componentInfo.key}}</span></li>
              <li><label>{{languageService.i18n['cm.manufacturer']}}</label><span>{{componentInfo.firm}}</span></li>
              <li><label>{{languageService.i18n['cm.model']}}</label><span>{{componentInfo.modelname}}</span></li>
              <li><label>{{languageService.i18n['table.Status']}}</label>
                <span *ngIf="componentInfo.status === 2" class="greenLight"></span>
                <span *ngIf="componentInfo.status === 1" class="greenLight"></span>
              </li>
              <li><label>{{languageService.i18n['software_version']}}</label>
                <ng-container *ngFor="let slot of componentInfo.sm?.['software-inventory']?.['software-slot']">
                    <span *ngIf="slot.active === 'true'">
                        {{componentInfo.firm}}/{{componentInfo.modelname}} {{slot['build-version']}}
                    </span>
                </ng-container>
            </li>
            </ul>
        </div>
      </div>
    </div>

    <div>
      <span>
        Datastore:
        <span>
          Source
          <select>
            <option value=""></option>
            <option *ngFor="let opt of cmpsource" [value]="opt">{{commonService.textTransfer(opt)}}</option>
          </select>
          <span class="material-symbols-outlined">double_arrow</span>
          Target
          <select>
            <option value=""></option>
            <option *ngFor="let opt of cmpsource" [value]="opt">{{commonService.textTransfer(opt)}}</option>
          </select>
          <button>Copy</button>
        </span>
        <button>Export Datastore</button>
        <button type="button" (click)="openUpdateDatastoreModal(treeData.keys, treeData.values)">Update Datastore</button>
      </span>
      <input id="Datastore" class="toggle" type="checkbox">
      <label for="Datastore" class="lbl-toggle"></label>
      
      <!-- <div class="collapsible-content">
        <div class="content-inner">
          <div class="collabsible">
            <div>
              <span>netconf-server:<button>Update</button></span>
              <input id="treemenu" class="toggle" type="checkbox">
              <label for="treemenu" class="lbl-toggle"></label>
              <div class="collapsible-content">
                <div class="content-inner">
                  <ul class="treeList">
                    <li class="SubItem">
                        <label class="active">第1層</label>
                        <ul>
                          <li class="SubItem">
                            <label class="active">第2層</label>
                            <ul>
                              <li class="SubItem">
                                <label class="active">第3層</label>
                                <ul>
                                  <li>
                                    <label class="active">第4層</label>
                                    <span><input type="text"></span>
                                  </li>
                                  <li class="SubItem">
                                    <label class="active">第4層</label>
                                    <ul>
                                      <li class="SubItem">
                                        <label class="active">第5層</label>
                                        <ul>
                                          <li>
                                            <label>第6層</label>
                                            <span><input type="text"></span>
                                          </li>
                                          <li>
                                            <label>第6層</label>
                                            <span><input type="text"></span>
                                          </li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </li>
                                  <li>
                                    <label>第4層</label>
                                    <span><input type="text"></span>
                                  </li>
                                </ul>
                              </li>
                              <li><label>第3層</label><span><input type="text"></span></li>
                              <li><label>第3層</label><span><input type="text"></span></li>
                            </ul>
                          </li>
                          <li class="SubItem">
                            <label class="active">第2層</label>
                            <ul>
                              <li class="SubItem">
                                <label class="active">第3層</label>
                                <ul>
                                  <li>
                                    <label>第4層</label>
                                    <span><input type="text"></span>
                                  </li>
                                </ul>
                              </li>
                              <li><label>第3層</label><span><input type="text"></span></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><label>第1層</label><span><input type="text"></span></li>
                      <li><label>第1層</label><span><input type="text"></span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <span>keystore:<button>Update</button></span>
              <input id="netconf-server" class="toggle" type="checkbox">
              <label for="netconf-server" class="lbl-toggle"></label>
              <div class="collapsible-content">
                <div class="content-inner">
                  <ul class="treeList">
                    <li class="SubItem"> 
                        <label class="active">第1層</label>
                        <ul>
                          <li class="SubItem">
                            <label class="active">第2層</label>
                            <ul>
                              <li><label>第3層</label><span><input type="text"></span></li>
                              <li><label>第3層</label><span><input type="text"></span></li>
                              <li><label>第3層</label><span><input type="text"></span></li>
                            </ul>
                          </li>
                          
                        </ul>
                      </li>
                      <li><label>第1層</label><span><input type="text"></span></li>
                      <li><label>第1層</label><span><input type="text"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="collapsible-content">
        <div class="content-inner">
          <div class="collabsible">
            <div class="tree-container" *ngFor="let node of treeData">
              <!-- <span>{{ node.key }}:<button type="button" (click)="update(node.key, node.value)">Update</button></span> -->
              <span>{{ node.key }}:<button type="button" (click)="openUpdateModal(node.key, node.value)">Update</button></span>
              <input id="{{ node.key }}" class="toggle" type="checkbox">
              <label for="{{ node.key }}" class="lbl-toggle"></label>
              <div class="collapsible-content">
                <div class="content-inner">
                  <ul class="treeList">
                    <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: node }"></ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #nodeTemplate let-node>
        <li>
          <label>{{ node.key }}</label>
          <ng-container *ngIf="node.children">
            <ul>
              <ng-container *ngFor="let child of node.children; let i = index">
                <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: child }"></ng-container>
              </ng-container>
            </ul>
          </ng-container>
          <span *ngIf="!node.children && !node.isTerminal" class="node-value"></span>
          <!-- Display input if child type is string or number -->
          <ng-container *ngIf="node.type === 'string' || node.type === 'number'">
            <!-- <input type="text" [(ngModel)]="node.value" class="node-value"> -->
            <label>{{ node.value }}</label>
          </ng-container>
        </li>
      </ng-template>
    </div>

    <div>
      <span>{{languageService.i18n['software.info']}} – {{componentInfo.firm}} – {{componentInfo.modelname}}</span>
      <input id="softInfo" class="toggle" type="checkbox">
      <label for="softInfo" class="lbl-toggle"></label>
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="panel">
                <label *ngFor="let software of componentInfo?.sm?.['software-inventory']?.['software-slot']" [for]="'radio-' + software.name">
              <input type="radio" [id]="'radio-' + software.name" name="software-group">
              <div>
                <ul>
                  <li><label>Software</label><span>{{ software.name }}</span></li>
                  <li><label>Status</label><span>{{ software.status }}</span></li>
                  <li><label>Active</label><span>{{ software.active }}</span></li>
                  <li><label>Running</label><span>{{ software.running }}</span></li>
                  <li><label>Access</label><span>{{ software.access }}</span></li>
                  <li><label>Version</label><span>{{ software['build-version'] ? software['build-version'] : '-' }}</span></li>
                </ul>
              </div>
            </label>
          </div>

            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>{{languageService.i18n['manufacturer']}}</th>
                    <th>{{languageService.i18n['model']}}</th>
                    <th>{{languageService.i18n['type']}}</th>
                    <th>{{languageService.i18n['version']}}</th>
                    <th>{{languageService.i18n['notes']}}</th>
                    <th>{{languageService.i18n['upload_time']}}</th>
                    <th>{{languageService.i18n['cm.apply']}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let info of uploadinfos">
                    <td>{{info.firm}}</td>
                    <td>{{info.modelname}}</td>
                    <td>{{mapUploadType(info.uploadtype)}}</td>
                    <td>{{info.uploadversion}}</td>
                    <td>{{info.description}}</td>
                    <td>{{info.uploadtime}}</td>
                    <td class="center">
                      <mat-icon tooltip="{{languageService.i18n['view_detail']}}">cloud_download</mat-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>

    <!-- <div><span>Alarms</span>
      <input id="faultMsg" class="toggle" type="checkbox">
      <label for="faultMsg" class="lbl-toggle">
        </label>
      <div class="collapsible-content">
        <div class="content-inner">
          <form [formGroup]="searchForm">
            <div class="filter">
              <span><label>{{languageService.i18n['fm.severity']}}</label>
                <select formControlName="severity">
                  <option value="All">All</option>
                  <option *ngFor="let severit of severitys" [value]="severit">{{commonService.textTransfer(severit)}}</option>
                </select>
              </span>
              <span><label>{{languageService.i18n['fm.start']}}</label>
                <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
              </span>
              <span><label>{{languageService.i18n['fm.end']}}</label>
                <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
              </span>
              <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search()">search</span>
            </div>
          </form>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>{{languageService.i18n['fm.no']}}</th>
                    <th>{{languageService.i18n['fm.field']}}</th>
                    <th>{{languageService.i18n['fm.BS']}}</th>
                    <th>{{languageService.i18n['fm.component']}}</th>
                    <th>{{languageService.i18n['fm.alarm']}}</th>
                    <th>{{languageService.i18n['fm.severity']}}</th>
                    <th>{{languageService.i18n['fm.occurtime']}}</th>
                    <th>{{languageService.i18n['fm.status']}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let opt of msgToDisplay | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: msgToDisplay.length, id: 'fmList' }; let i = index" >
                    <td>{{ (p - 1) * pageSize + i + 1 }}</td>
                    <td>{{opt.fieldName}}</td>
                    <td>{{opt.bsName}}</td>
                    <td>{{opt.compname}}</td>
                    <td>{{opt.probablecause}}</td>
                    <td>{{opt.eventtype}}</td>
                    <td>{{opt.timestamp}}</td>
                    <td>{{opt.status}}</td>
                  </tr>
                </tbody>
              </table> 
              <span class="total">{{languageService.i18n['fm.total1']}} {{msgToDisplay.length}} {{languageService.i18n['fm.total2']}}</span>
              <pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
        nextLabel="" id="fmList">
          </pagination-controls>
            </div>

            <div class="note_info">
              <ul>
                <li><label>Field Name</label><span>field01</span></li>
                <li><label>BS Name</label><span>BS_01</span></li>
                <li><label>Severity</label><span>CRITICAL</span></li>
                <li><label>Occur Time</label><span>2023-02-21 09:28:01</span></li>
                <li><label>Status</label><span>0</span></li>
              </ul>
              <ul class="event">
                <li><label>Event Type</label><span>CRITICAL</span></li>
                <li><label>Event Cause</label><span>fault-text_2</span></li>
                <li><label>Event Desc.</label><span>fault-text_2</span></li>
              </ul>
            </div>
        </div>
      </div>
    </div> -->

    <div>
      <span>{{languageService.i18n['cm.file']}}<button type="button" (click)="openUploadModal()">{{languageService.i18n['upload']}}</button></span>
      <input id="cm" class="toggle" type="checkbox">
      <label for="cm" class="lbl-toggle"></label>
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>{{languageService.i18n['fileName']}}</th>
                  <th>{{languageService.i18n['cm.path']}}</th>
                  <th>{{languageService.i18n['cm.download']}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let file of fileMList">
                  <td>{{ file.filename }}</td>
                  <td>{{ file.folder }}</td> 
                  <td class="center"><mat-icon>download_for_offline</mat-icon></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #updateModal let-data>
  <h5>{{languageService.i18n['cm.container']}}</h5>
  <!-- <p>{{languageService.i18n['cm.container']}}</p> -->
  <textarea class="json-textbox" [(ngModel)]="data.jsonString"></textarea>
  <div class="buttons">
    <button type="button" (click)="update(data.jsonString)"  mat-dialog-close>
      {{ languageService.i18n['confirm'] }}
    </button>
    <button type="button" mat-dialog-close>
      {{ languageService.i18n['cancel'] }}
    </button>
  </div>
</ng-template>

<ng-template #updateDatastoreModal let-data>
  <h5>{{languageService.i18n['cm.container']}}</h5>
  <!-- <p>{{languageService.i18n['cm.container']}}</p> -->
  <textarea class="json-textbox" [(ngModel)]="data.jsonString"></textarea>
  <div class="buttons">
    <button type="button" (click)="update(data.jsonString)"  mat-dialog-close>
      {{ languageService.i18n['confirm'] }}
    </button>
    <button type="button" mat-dialog-close>
      {{ languageService.i18n['cancel'] }}
    </button>
  </div>
</ng-template>

<ng-template #uploadModal>
  <h5>{{languageService.i18n['upload_file']}}</h5>
  <ul>
    <span class="btn-group">
      <ng-container *ngIf="softwarecontent == 'upload'">
        <div class="upload">
          <input type="file" name="uploadedFile" (change)="fileChange($event)" accept=".zip, .tar" #fileInput>
        </div>
      </ng-container>
    </span>
  </ul>

  <div class="buttons">
    <button type="button" (click)="uploadFileM()"  mat-dialog-close>
      {{ languageService.i18n['confirm'] }}
    </button>
    <button type="button" mat-dialog-close>
      {{ languageService.i18n['cancel'] }}
    </button>
  </div>
</ng-template>

