<div class="ocloudInfo">
  <h5>
    <button (click)="back()">
      <span class="material-icons">arrow_back</span>Back
    </button>
    {{languageService.i18n['cm.info']}} – {{bsComponentInfo.name}}
  </h5>

  <div class="BOX col-md-3 basicInfo h30">
    <label class="boxTitle">{{languageService.i18n['basic.info']}}</label>
    <ul>
      <li><label>{{languageService.i18n['cm.name']}}</label><span>{{bsComponentInfo.name}}</span></li>
      <li><label>{{languageService.i18n['cm.type']}}</label><span>{{bsComponentInfo.id}}</span></li>
      <li><label>{{languageService.i18n['cm.ip']}}</label><span>{{bsComponentInfo.ip}}</span></li>
      <li><label>{{languageService.i18n['cm.port']}}</label><span>{{bsComponentInfo.port}}</span></li>
      <li><label>{{languageService.i18n['cm.acc']}}</label><span>{{bsComponentInfo.account}}</span></li>
      <li><label>{{languageService.i18n['cm.passw']}}</label><span>{{bsComponentInfo.key}}</span></li>
      <li><label>{{languageService.i18n['cm.manufacturer']}}</label><span>{{bsComponentInfo.firm}}</span></li>
      <li><label>{{languageService.i18n['cm.model']}}</label><span>{{bsComponentInfo.modelname}}</span></li>
      <li><label>{{languageService.i18n['table.Status']}}</label><span>{{bsComponentInfo.status}}</span></li>
      <li><label>{{languageService.i18n['software_version']}}</label><span>{{bsComponentInfo.port}}</span></li>
    </ul>
  </div>

  <div class="BOX col-md-4 center Fault  h30">
    <label class="boxTitle">{{languageService.i18n['index.faultMsg']}}
      <a href="javascript:void(0)" (click)="goFaultMgr()">
       {{languageService.i18n['index.viewMore']}}<span class="material-icons">more_horiz</span>
      </a>
    </label>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>{{languageService.i18n['fm.no']}}</th>
            <th>{{languageService.i18n['fm.field']}}</th>
            <th>{{languageService.i18n['fm.gnb']}}</th>
            <th>{{languageService.i18n['fm.component']}}</th>
            <th>{{languageService.i18n['fm.alarm']}}</th>
            <th>{{languageService.i18n['fm.severity']}}</th>
            <th>{{languageService.i18n['fm.occurtime']}}</th>
            <th>{{languageService.i18n['fm.status']}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{bsComponentInfo.name}}</td>
            <td>{{bsComponentInfo.firm}}</td>
            <td>{{bsComponentInfo.modelname}}</td>
            <td>{{bsComponentInfo.comtype}}</td>
            <td>{{componentInfosw.uploadinfos[0]?.uploadversion}}</td>
            <td>{{bsComponentInfo.comtype}}</td>
            <td>{{componentInfosw.uploadinfos[0]?.uploadtime}}</td>
            <td>{{bsComponentInfo.comtype}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="BOX col-md-4 nf h30">
    <label class="boxTitle">{{languageService.i18n['software.info']}} – {{bsComponentInfo.firm}} – {{bsComponentInfo.modelname}}</label>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>{{languageService.i18n['table.header_name']}}</th>
            <th>{{languageService.i18n['manufacturer']}}</th>
            <th>{{languageService.i18n['model']}}</th>
            <th>{{languageService.i18n['type']}}</th>
            <th>{{languageService.i18n['version']}}</th>
            <th>{{languageService.i18n['upload_time']}}</th>
            <th>{{languageService.i18n['cm.apply']}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{bsComponentInfo.name}}</td>
            <td>{{bsComponentInfo.firm}}</td>
            <td>{{bsComponentInfo.modelname}}</td>
            <td>{{bsComponentInfo.comtype}}</td>
            <td>{{componentInfosw.uploadinfos[0]?.uploadversion}}</td>
            <td>{{componentInfosw.uploadinfos[0]?.uploadtime}}</td>
            <td>
              <mat-icon tooltip="{{languageService.i18n['view_detail']}}">cloud_download</mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="BOX col-md-4 h30">
    <label class="boxTitle">Datastore</label>
  </div>

  <div class="BOX col-md-4 h30">
    <label class="boxTitle">{{languageService.i18n['cm.file']}}</label>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>{{languageService.i18n['fileName']}}</th>
            <th>{{languageService.i18n['cm.path']}}</th>
            <th>{{languageService.i18n['cm.download']}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{bsComponentInfo.name}}</td>
            <td>{{bsComponentInfo.firm}}</td>
            <td><mat-icon tooltip="{{languageService.i18n['view_detail']}}">download_for_offline</mat-icon></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>




<ng-template #updateModal>
  <h5>{{languageService.i18n['software_update']}}</h5>
  <form [formGroup]="updateForm">
    <ul>
      <li>
        <label>Current Version</label>
        <span>{{ocloudInfo.softwareVersion}}</span>
      </li>
      <li>
        <label>Update Software</label>
        <span class="SoftwareUpdate">
          <mat-button-toggle-group formControlName="type" (change)="changeType($event)">
            <mat-button-toggle value="imageUrl">Image URL</mat-button-toggle>
            <mat-button-toggle value="existedFile">Existed File</mat-button-toggle>
          </mat-button-toggle-group>

          <div *ngIf="updateForm.controls['type'].value === 'imageUrl'">
            <input type="text" formControlName="imageUrl" placeholder="Image URL" class="{{formValidated&&updateForm.controls['imageUrl'].invalid?'required':''}}">
            <mat-error *ngIf="formValidated&&updateForm.controls['imageUrl'].invalid">Required</mat-error>
          </div>
          <div *ngIf="updateForm.controls['type'].value === 'existedFile'">
            <select formControlName="fileName" class="{{formValidated&&updateForm.controls['fileName'].invalid?'required':''}}">
              <option *ngFor="let opt of softwareList" [value]="opt.fileName">{{opt.fileName}}</option>
            </select>
            <mat-error *ngIf="formValidated&&updateForm.controls['fileName'].invalid">Required</mat-error>
            <div class="UV" *ngIf="updateForm.controls['type'].value === 'existedFile'">
              Update Version : {{softwareVersion()}}
            </div>
          </div>
        </span>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" (click)="update()">OK</button>
    </div>
  </form>
</ng-template>

<ng-template #updateIPModal>
  <h5>Update IP Address</h5>
  <form [formGroup]="updateForm">
    <ul>
      <li>
        <label>New IP Address</label>
        <input type="text" formControlName="newip" class="update-ip" [ngModel]="ocloudInfo.ipAddress">
        <div class="error-container" *ngIf="updateBasicError">
          <mat-icon class="error-icon">warning</mat-icon>
          Invalid IP, Please try again.
        </div>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" (click)="updateIPAddress()">OK</button>
    </div>
  </form>
</ng-template>
