<div class="wrap">
  <div class="header"><img src="assets/img/logo.png">Athena <span class="normal-text">Orchestrator</span>
      <!--{{title}}-->

      <mat-menu #menu="matMenu">
        <button *ngFor="let opt of styles" (click)="changeStyle(opt)" mat-menu-item>
          <mat-icon>{{styleType === opt.value?'radio_button_checked':'radio_button_unchecked'}}</mat-icon>
          <span>{{opt.displayName}}</span>
        </button>
      </mat-menu>
      <span class="header_btn">

        <span class="switch" style="position: relative; top: 1px; right: 18px;" >
          <mat-button-toggle-group name="language" [(ngModel)]="languageService.language" (ngModelChange)="languageService.toggleChange()">
            <mat-button-toggle value="TW">中</mat-button-toggle>
            <mat-button-toggle value="EN">EN</mat-button-toggle>
          </mat-button-toggle-group>
        </span>
        <button style="position: relative; top: -3.5px; right: 22px;" 
          tooltip="{{languageService.i18n['theme']}}" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>format_color_fill</mat-icon>
          <label>Change Color</label>
        </button>
        <button tooltip="{{languageService.i18n['logout_now']}}" class="logout" type="button" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>

      </span>

    <div class="menu">
      <ul>
        <ng-container *ngIf="userRole == 1; else regularMenu">
          <li (click)="changePage(pageRourter['log-management'])" class="{{page === 'log-management'?'active':''}}" tooltip=""><mat-icon>fact_check</mat-icon><label>{{languageService.i18n['index.menu_logMgr']}}</label></li>
          <li (click)="changePage(pageRourter['account-management'])" class="{{page === 'account-management'?'active':''}}" tooltip=""><mat-icon>account_circle</mat-icon><label>{{languageService.i18n['index.menu_accountMgr']}}</label></li>
      </ng-container>
      <ng-template #regularMenu>
        <li (click)="changePage(pageRourter['dashboard'])" class="{{page === 'dashboard'?'active':''}}" tooltip=""><mat-icon>dashboard</mat-icon><label>{{languageService.i18n['index.menu_dashboard']}}</label></li>
          <li (click)="changePage(pageRourter['field-management'])" class="{{page === 'field-management'?'active':''}}" tooltip=""><mat-icon>map</mat-icon><label>{{languageService.i18n['index.menu_fieldMgr']}}</label></li> <!-- @11/30 Update by yuchen -->
          <li (click)="changePage(pageRourter['bs-management'])" class="{{page === 'bs-management'?'active':''}}" tooltip=""><mat-icon svgIcon="BaseStation" class="svg-icon_BS"></mat-icon><label>{{languageService.i18n['index.menu_BSMgr']}}</label></li> <!-- @12/27 Add by yuchen -->
          <li (click)="changePage(pageRourter['component-management'])" class="{{page === 'component-management'?'active':''}}" tooltip=""><mat-icon>view_in_ar</mat-icon><label>{{languageService.i18n['index.menu_componentMgr']}}</label></li>
          
          <!-- 計畫面 - 切片管理顯示順序 ( 網元故障管理之間 ) @2024/05/03 Add by yuchen -->
          <!-- <li (click)="changePage( pageRourter['slice-management'] )" class="{{ page === 'slice-management'?'active':'' }}" tooltip="">	<mat-icon>storage</mat-icon><label>{{languageService.i18n['index.menu_sliceMgr']}}</label></li> -->
          
          <li (click)="changePage(pageRourter['fault-management'])" class="{{page === 'fault-management'?'active':''}}" tooltip=""><mat-icon>warning</mat-icon><label>{{languageService.i18n['index.menu_faultMgr']}}</label></li>
          <li (click)="changePage(pageRourter['performance-management'])" class="{{page === 'performance-management'?'active':''}}" tooltip=""><mat-icon>trending_up</mat-icon><label>{{languageService.i18n['index.menu_performMgr']}}</label></li>
          
          <!-- 非計畫面 - 切片管理顯示順序 ( 效能軟體管理之間 ) @2024/05/03 Add by yuchen -->
          <li (click)="changePage( pageRourter['slice-management'] )" class="{{ page === 'slice-management'?'active':'' }}" tooltip="">	<mat-icon>storage</mat-icon><label>{{languageService.i18n['index.menu_sliceMgr']}}</label></li>
          
          <li (click)="changePage(pageRourter['software-management'])" class="{{page === 'software-management'?'active':''}}" tooltip=""><mat-icon>display_settings</mat-icon><label>{{languageService.i18n['index.menu_softwareMgr']}}</label></li>     
          <li (click)="changePage(pageRourter['schedule-management'])" class="{{page === 'schedule-management'?'active':''}}" tooltip="">	<mat-icon>schedule</mat-icon><label>{{languageService.i18n['index.menu_scheduleMgr']}}</label></li> <!-- @11/20 Add by yuchen -->
          <li (click)="changePage(pageRourter['log-management'])" class="{{page === 'log-management'?'active':''}}" tooltip=""><mat-icon>fact_check</mat-icon><label>{{languageService.i18n['index.menu_logMgr']}}</label></li>                    <!-- @10/25 Add by yuchen -->
      </ng-template>
      </ul>
    </div>
  </div>
  <div class="menu">
    <ul>
      <ng-container *ngIf="userRole == 1; else regularMenu">
        <li (click)="changePage(pageRourter['log-management'])" class="{{page === 'log-management'?'active':''}}"><mat-icon>fact_check</mat-icon><label>{{languageService.i18n['index.menu_logMgr']}}</label></li>
        <li (click)="changePage(pageRourter['account-management'])" class="{{page === 'account-management'?'active':''}}"><mat-icon>account_circle</mat-icon><label>{{languageService.i18n['index.menu_accountMgr']}}</label></li>
    </ng-container>
    <ng-template #regularMenu>
      <li (click)="changePage(pageRourter['dashboard'])" class="{{page === 'dashboard'?'active':''}}"><mat-icon>dashboard</mat-icon><label>{{languageService.i18n['index.menu_dashboard']}}</label></li>
      <li (click)="changePage(pageRourter['field-management'])" class="{{page === 'field-management'?'active':''}}"><mat-icon>map</mat-icon><label>{{languageService.i18n['index.menu_fieldMgr']}}</label></li> <!-- @11/30 Update by yuchen -->
      <li (click)="changePage(pageRourter['bs-management'])" class="{{page === 'bs-management'?'active':''}}"><mat-icon svgIcon="BaseStation" class="svg-icon_BS"></mat-icon><label>{{languageService.i18n['index.menu_BSMgr']}}</label></li> <!-- @12/27 Add by yuchen -->
      <li (click)="changePage(pageRourter['component-management'])" class="{{page === 'component-management'?'active':''}}"><mat-icon>view_in_ar</mat-icon><label>{{languageService.i18n['index.menu_componentMgr']}}</label></li>
      
      <!-- 計畫面 - 切片管理顯示順序( 網元故障管理之間 ) @2024/05/03 Add by yuchen -->
      <!-- <li (click)="changePage( pageRourter['slice-management'] )" class="{{ page === 'slice-management'?'active':'' }}"><mat-icon>storage</mat-icon><label>{{languageService.i18n['index.menu_sliceMgr']}}</label></li>  -->
      
      <li (click)="changePage( pageRourter['fault-management'] )" class="{{page === 'fault-management'?'active':''}}" ><mat-icon>warning</mat-icon><label>{{languageService.i18n['index.menu_faultMgr']}}</label></li>
      <li (click)="changePage( pageRourter['performance-management'] )" class="{{page === 'performance-management'?'active':''}}" ><mat-icon>trending_up</mat-icon><label>{{languageService.i18n['index.menu_performMgr']}}</label></li>
      
      <!-- 非計畫面 - 切片管理顯示順序 ( 效能軟體管理之間 ) @2024/05/03 Add by yuchen -->
      <li (click)="changePage( pageRourter['slice-management'] )" class="{{ page === 'slice-management'?'active':'' }}"><mat-icon>storage</mat-icon><label>{{languageService.i18n['index.menu_sliceMgr']}}</label></li> 
      
      <li (click)="changePage(pageRourter['software-management'])" class="{{page === 'software-management'?'active':''}}"><mat-icon>display_settings</mat-icon><label>{{languageService.i18n['index.menu_softwareMgr']}}</label></li>
      <li (click)="changePage(pageRourter['schedule-management'])" class="{{page === 'schedule-management'?'active':''}}"><mat-icon>schedule</mat-icon><label>{{languageService.i18n['index.menu_scheduleMgr']}}</label></li> <!-- @11/20 Add by yuchen -->
      <li (click)="changePage(pageRourter['log-management'])" class="{{page === 'log-management'?'active':''}}"><mat-icon>fact_check</mat-icon><label>{{languageService.i18n['index.menu_logMgr']}}</label></li>              <!-- @10/25 Add by yuchen -->
    </ng-template>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <p>Copyright © 2024 ITRI.</p>
  </div>
</div>
