body {
  background: #fff!important;
  background: linear-gradient(to top, rgb(177 184 191 / 40%) 0%, rgb(255 255 255 / 70%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ffffff",GradientType=1 );
  color: #333;
}
div.header {
  color: #a2cbed;
  background-color: #1d61a1;
  box-shadow: 0 0 5px #000;
}
div.header button {
  opacity: .5;
  background: transparent;
}
div.header button:hover .mat-icon {
  color: #fff;
}
.logout {
  opacity: 1;
  color: #abd7ff!important;
  background-color: #17416a!important;
}
h5 .mat-icon {
  background-color: #2979c6;
 /*  color: #3190e5; */
}
.dashboard .leftArea div.w30 > div {
  background-color: #ffffff;
  border: 1px solid #63acc9;
}
.dashboard .w70 > div {
  background-color: #ffffff;
  border: 1px solid #63acc9;
}
.cpu .bold {
  color: #5288b6;
}
.cpu span div {
  color: #000;
}
.menu ul li {
  color: #323c4e;
}
.menu ul li .mat-icon  {

  opacity: .8;
}
.menu ul li.active {
  color: #2979c6;
}
.menu ul li.active .mat-icon  {
  color: #007ef1;
  opacity: 1;
}
.table table {
  border: 1px solid #63acc9;
}
.table table tbody tr:nth-child(even) td {
  background-color: #f2f2f2;
}
.table table tbody tr td:not(:last-child) {
  border-right:1px solid #63acc9;
}
.table table th {
  color: #056897;
  background-color: #c2e7ff;
}
td .mat-icon,
td .material-symbols-outlined {
  color: #2979c6;
}

.mat-progress-bar-buffer {
  background-color: #c5c5c5;
}
.ngx-pagination .disabled {
  color: #424242!important;
}
.ngx-pagination .small-screen {
  color: #424242;
}
mat-dialog-container {
  background-color: #ffffff !important;
  color: #3e4348 !important;
}
mat-dialog-container div.buttons button {
  background-color: transparent;
  border: 2px solid #a7d0f7;
  color: #0b58a3;
}
mat-dialog-container div.buttons button:hover {
  border-color: #50a5ff;
  filter: initial;
}
.filter span label {
  color: #333;
}
.filter {
  background-color: #ebe8d0;
  color: #333;
  border-left: 7px solid #46b1d9;
}
.filter select, .filter input[type=text] {
  border: 1px solid #95bccf;
}
.ngx-pagination a {
  color: #525252 !important;
}
.filter .material-icons,
.filter .material-symbols-outlined {
  color: #00abeb;
  border: 1px solid #a5d0f5;
  background-color: #fff;
}
.ngx-pagination a:hover {
  background: #8fcbf3 !important;
}
.upload > span {
  color: #fff;
  background-color: #2672ba;
  }
.dashboard .leftArea .nodes {
    background-color: #c2e7ff;
    opacity: 1;
    border: 1px solid #63acc9;
}
.dashboard .boxTitle,
.dashboard .bigValue {
  color: #0f1723!important;
}
.dashboard .leftArea > span {
  border: 1px solid #4ba6d9!important;
  background: linear-gradient(45deg, #8dd2e5e8 13%, #a677e6 100%);
}
.dashboard .unit {
  color: #2a6da7!important;
}
.chart g.dxg-title text {
  fill: #2a6da7!important;
  font-weight: bold!important;
}

.dashboard .table table tr td {
  color: #333;
}
.dashboard .leftArea .nodes span:after, .dashboard .rightArea > div.resource > span:after {
  border-right: 2px solid #a0cff7;
}
h5 {
  color: #333;
}
.chartPanel .p-tabview .p-tabview-panels {
  background: transparent;
  /*background: #c2e7ff;*/
  border: 2px solid skyblue;
}
.chartList {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  margin: 1%;
  border-radius: 3px;
  background-color: transparent;
  padding: .5%;
  cursor: pointer;
}
.chartPanel .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: #979fa5;
  margin: 0;
}
.Query {
  padding:0 0 0 2em;
  width: 60vw;
  display: block;
  color : black;
  text-align: left;
}
.Query > label {
  display: inline-block;
  margin: 0 .5em 0 0;
  font-weight: bold;
  color : black;
  font-family: Microsoft JhengHei;
}
.Query mat-radio-button {
  margin: 0 1em 0 0;
}
.Query .mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: #517491 !important;
  margin: 0 1em 0 0;
}
.ocloudInfo h5 button {
  color: #559fd9;
  border: 1px solid #84c0ef;
  background-color: #dbf3ff;
}
.ocloudInfo .BOX {
  background-color: #ffff;
  border: 1px solid #63acc9;
}
.ocloudInfo .boxTitle {
  line-height: 1.9em!important;
  border-bottom: 1px solid #63abe9;
}
.performanceWindow .boxTitle a {
  background-color: #4aa6ff!important;
}

.ocloudInfo,
.basicInfo ul > li > span {
  color: #2c2b2b;
}
.ocloudInfo .BOX.col-md-3{
  background-color: #fff;
}
.cpu > span .unit {
  color: #206faf;
}
.bigValue {
  color: #2a6da7;
}
/* .percent {
  background: #fff;
  color: #222;
  box-shadow: inset 0 0 50px #c2e7ff;
} */
.greenLight {
  background-color: #69b015;
}
.redLight {
  background-color: #d01837;
}
.dashboard .rightArea > div {
  opacity: 1;
}
mat-dialog-container input[type=text],
mat-dialog-container textarea,
mat-dialog-container select {
  color: #333;
  background-color: #fff;
  border: 1px solid #4093e6;
}
table td {
  background-color: #fff;
}
.p-tabview .p-tabview-panels {
  background: #ffffff;
}
.filter .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: rgba(255, 255, 255, 0.87);
  background-color: #2199e8;
}
.filter .mat-button-toggle-appearance-standard {
  color: rgb(241 241 241 / 94%);
  background: #b3b1a6;
}
.chartPanel .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: #6b6b6b;
  background: #a5a7acdb;
  border: 1px solid rgba(0, 0, 0, 0.14) !important;
  margin: 0;
}
span.material-symbols-outlined.stop {
  color: #e17216;
}
.BOX.col-md-4.basicInfo ,
.BOX.col-md-4.nf {
  background-color: #fff!important;
}
.basicInfo ul li {
  color: #6182ae;
}
.cpu span label {
  color: #3a3a3a;
}
h6 {
  color: #2a2a2a!important;
}
#nfInfoCreateModal .center {
  background-color: #e0eeff!important;
}
input[ng-reflect-is-disabled=true] {
  filter: grayscale(1) brightness(0.8)!important;
}
/* 整個捲軸 */
::-webkit-scrollbar { width: 10px; }
/* 捲軸的軌道 */
::-webkit-scrollbar-track {
    background: #dddddd;
    border-radius: 1em;
}
/*捲軸尚未滑到的軌道*/
::-webkit-scrollbar-track-piece{
    background: #dddddd;
    border-radius: 1em;
}
/* 滑動的區塊 */
::-webkit-scrollbar-thumb {
    background: #9e9e9e;
    border-radius: 1em;
}
/* 滑鼠移到滑動的區塊上 */
::-webkit-scrollbar-thumb:hover { background: #9e9e9e; }
@media only screen and (max-width:1600px) {
  
}

ul + .buttons button {
  color: #559fd9;
  border: 1px solid #84c0ef;
  background-color: #dbf3ff;
  padding: 6px 18px;
  margin: 0 8px;
  border-radius: 50em;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s;
  min-width: 6em;
}
.collabsible {
  /* margin: 0!important; */
}
.collapsible-content .content-inner  .content-inner {
  background-color: transparent!important;
}
.collabsible table th {
  border: 1px solid #498cc3!important;
}
.collabsible .filter {
  background-color: #c5cfdb5c !important;
}
.main.collabsible > div > .lbl-toggle {
  background: initial!important;
  /* background-color: #ebe8d0!important; */
  border: 0!important;
 /*  border-left: 7px solid #46b1d9!important;
  border-right: 7px solid #46b1d9!important; */
  color: #1e688d!important;
} 
.collapsible-content > .content-inner {
  background-color: #f3f3f3!important;
  border-left: 7px solid #e2e8eb;
  border-right: 7px solid #e2e8eb;
  color: #333;
}
.collapsible-content > .content-inner .content-inner { 
  background-color: #e9f2ffe8;
  border: none!important;
} 
.collapsible-content > .content-inner > .content-inner .lbl-toggle{
  padding: 0 1em!important;
  color: #0f3e8d!important;
  background: transparent;
}
.collabsible .collabsible > div > .lbl-toggle {
  background: transparent!important;
  color: #000!important;
}
.collabsible .collabsible > div {
  border-bottom: 1px dashed #0b58a3;
 padding-bottom: .5em;
}
.collapsible-content > .content-inner > .content-inner .collabsible > div {
 border-bottom: 1px dashed #0b58a3;
 padding-bottom: .5em;
}
.collabsible .lbl-toggle button {
  background: linear-gradient(179deg, #4293f9, #345a7f)!important;
}
.collabsible .lbl-toggle span {
  margin: 0;
  background-color: initial;
  padding: 0 0.5em;
  }
  .performanceWindow.collabsible .collapsible-content > .content-inner {
    background-color: transparent!important;
  }
  .collabsible .content-inner ul li {
    color: #333!important;
  }
  .collapsible-content .content-inner { 
    border: 0!important;
  }
  .SubItem > label {
    color: #2989c3 !important;
  }
  ul.treeList li:last-child:after,
  ul.treeList li,
  ul.treeList li::after,
  ul.treeList li:nth-last-child(2)::after {
    border-color: #9ac9f5!important;
  }
  ul.treeList li {
    border-color: #9ac9f5!important;
}
  ul.treeList li::before {
    color: #9ac9f5!important;
  }
  ul.treeList::before {
    border-color:#f3f3f3!important;
}
ul.treeList > li span input[type=text] {
  border: 1px solid #b0c7ed!important;
}
.content-inner .panel > label input[type=radio]:checked + div {
  background-color: #fff7a6ba;
}
.mat-menu-item[disabled], .mat-menu-item[disabled] .mat-menu-submenu-icon, .mat-menu-item[disabled] .mat-icon-no-color {
  color: #657278!important;
  background-color: #e3e3e3a3!important;
  text-align: center!important;
}
.mat-menu-panel {
  background: #ffffff!important;
}
.ocloudInfo h5 span button {
  background: #b1daff!important;
  color: #3190e5;
}
#ColorBar .SINR_values,
#ColorBar .RSRP_values {
  color: #979797!important;
}
.colorbar-title {
  color: #798da1!important;
}
#noImageMessage {
  color: #db7c7c!important;
  background-color: rgb(255 223 223 / 48%)!important;
}
#noImageMessage > span {
  color: #e5a6a6!important;
}
mat-dialog-container h5 .mat-icon {
  color: #fff!important;
}
#fieldCreationWindow .mat-step-text-label {
  color: #333!important;
}
.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: #333!important;
}
.mat-step-header .mat-step-icon {
  background-color: #fff;
  color: #333;
  z-index: 999;
  border: 1px solid #919191;
}
#fieldCreationWindow .mat-step-header .mat-step-icon-selected {
  color: #fff!important;
}
#fieldCreationWindow .custom-stepper .mat-input-element {
  color: #333!important;
}
#fieldCreationWindow .mat-form-field-label {
  color: #333!important;
}
#provisionModal ul li > span {
  color: #000;
}
.ocloudInfo.scheduleInfo ul h3 ,
.ocloudInfo.software ul h3 {
  border-bottom: 1px solid #c7dcf1!important;
  color: #3471b9!important;
}
#fieldSnapshotSetWindow .mat-expansion-indicator::after,
#fieldSnapshotSetWindow .mat-expansion-panel-header-title,
#fieldSnapshotSetWindow .mat-expansion-panel-header-description,
#fieldSnapshotSetWindow .mat-expansion-panel table th,
#fieldSnapshotSetWindow .mat-expansion-panel table td {
  color: #333!important;
}
#fieldSnapshotSetWindow .mat-expansion-panel {
  border: 1px solid #afc1e1!important;
}
#fieldSnapshotSetWindow .Snapshot_UI02 li {
  color: #000!important;
}
#fieldSnapshotSetWindow .Snapshot_UI02 {
  background-color: #a4d1f5db;
}
.scheduleInfo .basicInfo table th,
.scheduleInfo .basicInfo table td {
  border-color: #bcd4fd;
}
.scheduleInfo .basicInfo table th, .basicInfo table td {
  border-color: #7eb1df!important;
}
.scheduleInfo .basicInfo table th {
  color: #2a5caf!important;
  background-color: #b6d6f3!important;
}
.field-optim-wrap h4 {
  color: #000!important;
}
.fieldOptimization .left-section > div > span > input[type=number] {
  border-bottom: 1px solid #000!important;
  color: #000!important;
}
.field-optim-wrap table tbody td {
  color: #000!important;
}
.field-optim-wrap > span .table thead th {
  color: #056897!important;
  background-color: #c2e7ff!important;
  border: 1px solid rgba(51, 122, 183, 0.4)!important;
}
.fieldOptimization .Performance {
  background-color: #eaf3ff!important;
}
.field-optim-wrap > span .table table td > label span:after, .field-optim-wrap table tbody td > span:after {
  color: #3c99dd!important;
}
.field-optim-wrap label > div:not(.table) {
  color: #2786b5!important;
}
.field-optim-wrap > span .table.pci thead th {
  background: linear-gradient(180deg, #c2e7ff 0px, #c2e7ff 1px, #c2e7ff 100%)!important;
}
#fieldCreationWindow .mat-step-text-label,
.ocloudInfo.component.bs-info .alarms .filterBY ,
.ocloudInfo.component.bs-info .collabsible .forALL_btn,
#bsCreationWindow .mat-select-arrow,
#bsCreationWindow .mat-form-field-label,
#bsCreationWindow .mat-select-value {
  color: initial!important;
}
#bsCreationWindow .custom-stepper .mat-input-element ,
#bsCreationWindow .mat-step-text-label {
  color: #000!important;
}
.sample_download button {
  color: #5588db!important;
}
#bsCreationWindow .mat-step-header .mat-step-icon-selected {
  color: #fff!important;
}
.ocloudInfo.component.bs-info .collabsible .collabsible > div {
  border-bottom: none;
}
.filterBY .material-symbols-outlined ~ span {
  background-color: #d1e2ed!important;
  color: #066abf!important;
  font-size: 1em!important;
}