:host ::ng-deep .p-tabview .p-tabview-nav {
  font-family: Microsoft JhengHei;
}
.chartList h4 {
  text-align: center;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  font-size: 17px;
}
.singleChart {
  max-width: 70vw;
  border-radius: 3px;
  background-color: dark;
  padding: .5%;
  margin: 1%;
}
.warning {
  color: rgb(233, 38, 119);
}
:host ::ng-deep p-tabview.p-element {
  margin: 2em 0 0 0;
  display: block;
}
:host ::ng-deep .p-inputtext {
  color: #495057;
  padding: 0.2em 0.5em;
  margin: 0 0.2em!important;
  border-radius: 3px;
  width: 9em!important;
}
.Query button {
  padding: 0.3em 1em;
  margin: 0 0 0 0.5em;
  border: none;
  border-radius: 50em;
  font-size: 1em;
  color: #fff;
  background-color: #4886e4;
  cursor: pointer;
}
:host ::ng-deep .p-tabview-nav-link {
  padding: .8em 1em !important;
  margin: 0 2px 0 0;
  border: 1px solid #dee2e5!important;
  border-bottom: none!important;
}
:host ::ng-deep .p-highlight .p-tabview-nav-link {
  color: #ffffff !important;
  background-color: #3B82F6 !important;
  padding: 1.1em!important;
  border: 1px solid #3B82F6!important;
}
:host ::ng-deep .p-tabview .p-tabview-nav {
  background: transparent;
}
:host ::ng-deep .p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color: transparent;
}
:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none;
}
:host ::ng-deep .p-tabview-nav {
  display: block;
}
:host ::ng-deep .p-tabview .p-tabview-nav li {
  margin-right: 0;
  display: inline-block;
  vertical-align: bottom;
}
@media screen and (max-width:1366px) {
  .Query {
    width: 100vw;
  }
  :host ::ng-deep .p-tabview-nav-content ul li a  {
    font-size: .85em!important;
    padding: 0.8em .5em!important;
  }
  p-tabview.p-element {
    margin: 1em 0 0 0;
  }
}
