<h5>{{languageService.i18n['index.menu_softwareMgr']}}
  <mat-icon tooltip="{{languageService.i18n['addSoftware']}}" (click)="openCreateModal()">add</mat-icon>
</h5>
  <form [formGroup]="searchForm">
    <div class="filter">
      <span><label>Manufacturer</label>
        <input type="text"formControlName="firm">
      </span>
      <span><label>Model</label>
          <input type="text"formControlName="model">
      </span>
      <span><label>{{languageService.i18n['type']}}</label>
        <select formControlName="type">
          <option value="All">All</option>
          <option *ngFor="let opt of searchTypeList" [value]="opt.value">{{opt.displayName}}</option>
        </select>
      </span>
      <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search()">search</span>
      <span tooltip="{{languageService.i18n['a_search']}}" class="material-symbols-outlined" (click)="openAdvancedModal()">settings</span>
      <span tooltip="{{languageService.i18n['clear_search']}}" class="material-symbols-outlined" (click)="clearSetting()">clear</span>
    </div>
  </form>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>{{languageService.i18n['manufacturer']}}</th>
        <th>{{languageService.i18n['model']}}</th>
        <th>{{languageService.i18n['type']}}</th>
        <th>{{languageService.i18n['version']}}</th>
        <th>{{languageService.i18n['notes']}}</th>
        <th>{{languageService.i18n['upload_time']}}</th>
        <th>{{languageService.i18n['fileName']}}</th>
        <th>{{languageService.i18n['index.view']}}</th>
        <th>{{languageService.i18n['table.delete']}}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let opt of softwareLists.uploadinfos | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems, id: 'display' } ">
        <td>{{opt.firm}}</td>
        <td>{{opt.modelname}}</td>
        <td>{{typeText(opt.uploadtype)}}</td>
        <td>{{opt.uploadversion}}</td>
        <td>{{opt.description}}</td>
        <td>{{opt.uploadtime}}</td>
        <td>{{opt.uploadinfo}}</td>
        <td class="icon">
          <mat-icon tooltip="{{languageService.i18n['index.view']}}" (click)="viewPage(opt)">description</mat-icon>
        </td>
        <td class="icon">
          <mat-icon tooltip="{{languageService.i18n['delItem']}}" (click)="openDelectModal(opt)">delete_forever</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
  nextLabel="" id="display">
</pagination-controls>


<ng-template #createModal>
  <h5>{{languageService.i18n['addSoftware']}}</h5>
  <form [formGroup]="createForm">
    <ul>
      <li>
        <label>{{languageService.i18n['firm']}}</label>
        <span>
          <input type="text" formControlName="version" class="{{formValidated&&createForm.controls['version'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['version'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['model']}}</label>
        <span>
          <input type="text" formControlName="version" class="{{formValidated&&createForm.controls['version'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['version'].invalid">Required</mat-error>
        </span>
      </li>

      <li>
        <label>{{languageService.i18n['type']}}</label>
        <span>
          <select>
            <option value="All">All</option>
            <option *ngFor="let opt of searchTypeList" [value]="opt.value">{{opt.displayName}}</option>
          </select>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['version']}}</label>
        <span>
          <input type="text" formControlName="version" class="{{formValidated&&createForm.controls['version'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['version'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['add.method']}}</label>
        <span>
          <mat-button-toggle-group formControlName="method">
            <mat-button-toggle value="upload">{{languageService.i18n['upload.file']}}</mat-button-toggle>
            <mat-button-toggle value="url">{{languageService.i18n['url']}}</mat-button-toggle>
          </mat-button-toggle-group>
          <ng-template [ngIf]="createForm.controls['method'].value === 'upload'">
            <div class="upload">
              <input type="file" name="uploadedFile">
              <div>
                File Size:
                <br/>
                Checksum:
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="createForm.controls['method'].value === 'url'">
            <div class="url"><input type="text" placeholder="Url"></div>
          </ng-template>
        </span>
      </li>
        <li>
        <label>{{languageService.i18n['notes']}}</label>
        <span>
          <textarea></textarea>
        </span>
      </li>

      <li>
        <label>{{languageService.i18n['ftp.account']}}</label>
        <span>
          <input type="text" formControlName="version" class="{{formValidated&&createForm.controls['version'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['version'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['ftp.password']}}</label>
        <span>
          <input type="text" formControlName="version" class="{{formValidated&&createForm.controls['version'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['version'].invalid">Required</mat-error>
        </span>
      </li>

    </ul>
    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" (click)="create()">OK</button>
      <!-- <button (click)="debug()">debug</button> -->
    </div>
  </form>
</ng-template>

<ng-template #deleteModal>
  <h5>{{languageService.i18n['delsoftware']}}
  </h5>
  <p>{{languageService.i18n['confirm_del_soft']}} – {{selectSoftware.uploadinfo}}</p>
  <div class="buttons">
    <button type="button" mat-dialog-close>Cancel</button>
    <button type="button" (click)="delete()">Delete</button>
  </div>
</ng-template>

<ng-template #advancedModal>
  <form [formGroup]="advancedForm">
    <h5>Software  {{languageService.i18n['performance_Advanced_Search']}}</h5>

      <ul>
      <li>
        <span>{{languageService.i18n['manufacturer']}}</span> <input type="text" formControlName="firm">
      </li>
      <li>
        <span>{{languageService.i18n['model']}}</span> <input type="text" formControlName="model">
      </li>
      <li>
        <span>{{languageService.i18n['type']}}</span><select>
          <option value="All">All</option>
          <option *ngFor="let opt of searchTypeList" [value]="opt.value">{{opt.displayName}}</option>
        </select>
      </li>
      <li>
        <span>{{languageService.i18n['version']}}</span> <input type="text" formControlName="version">
      </li>
      <li>
        <span>From:</span>
        <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
        <span>To:</span>
        <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
      </li>
      <li>
        <span>{{languageService.i18n['fileName']}}</span> <input type="text" formControlName="fileName">
      </li>
    </ul>

    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" mat-dialog-close="OK">Ok</button>
    </div>
  </form>
</ng-template>