<h5>{{languageService.i18n['index.menu_componentMgr']}}
  <mat-icon tooltip="{{languageService.i18n['addSoftware']}}" (click)="openCreateModal()">add</mat-icon>
</h5>
  <form [formGroup]="searchForm">
    <div class="filter">
      <span><label>{{languageService.i18n['BS.neName']}}</label>
        <input type="text" formControlName="name">
      </span>
      <span><label>IP Address</label>
          <input type="text" formControlName="ipaddress">
      </span>
      <span><label>Port</label>
          <input type="text" formControlName="port">
      </span>
      <span>
        <label>{{ languageService.i18n['type'] }}</label>
        <select formControlName="comtype">
          <option *ngFor="let type of comtype" [ngValue]="type.value">
            {{ type.displayName }}
          </option>
        </select>
      </span>
      <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search()">search</span>
      <!-- <span tooltip="{{languageService.i18n['ExportCSV']}}" class="material-icons" (click)="exportToCSV('componentList')">content_paste_go</span> -->
      <span tooltip="{{languageService.i18n['ExportCSV']}}" class="material-icons" (click)="exportToCSV('componentList')">
        <mat-icon svgIcon="export_to_csv"></mat-icon>
      </span>
      <span tooltip="{{languageService.i18n['clear_search']}}" class="material-symbols-outlined" (click)="clearSetting()">clear</span>
    </div>
    <div class="filterBY">
      <span class="material-symbols-outlined">info</span>{{ languageService.i18n['search_criteria'] }}&nbsp;
        <span *ngIf="afterSearchForm.controls['name'].value">
          <label>{{ languageService.i18n['BS.neName'] }}:&nbsp;</label>{{ afterSearchForm.controls['name'].value }}
        </span>
        <span *ngIf="afterSearchForm.controls['ipaddress'].value">
          <label>IP Address:&nbsp;</label>{{ afterSearchForm.controls['ipaddress'].value }}
        </span>
        <span *ngIf="afterSearchForm.controls['port'].value">
          <label>Port:&nbsp;</label>{{ afterSearchForm.controls['port'].value }}
        </span>
        <span *ngIf="afterSearchForm && afterSearchForm.controls['comtype'] && afterSearchForm.controls['comtype'].value">
          <label>{{ languageService.i18n['type'] }}:&nbsp;</label>
          <label *ngIf="afterSearchForm.controls['comtype'].value === 'All'">All</label>
          <label *ngIf=" afterSearchForm.controls['comtype'].value === '1' ">CU</label>
          <label *ngIf=" afterSearchForm.controls['comtype'].value === '2' ">DU</label>
          <label *ngIf=" afterSearchForm.controls['comtype'].value === '3' ">RU</label>
          <label *ngIf=" afterSearchForm.controls['comtype'].value === '4' ">CU+DU</label>
          <label *ngIf=" afterSearchForm.controls['comtype'].value === '5' ">CU+DU+RU</label>
        </span>
    </div>
  </form>

<div class="table component">
  <table>
    <thead>
      <tr>
        <th>{{languageService.i18n['BS.neName']}}</th>
        <th>IP Address</th>
        <th>Port</th>
        <th>{{languageService.i18n['type']}}</th>
        <th>{{languageService.i18n['BS.neSFversion']}}</th>
        <th>{{languageService.i18n['table.Status']}}</th>
        <th>{{languageService.i18n['index.view']}}</th>
        <th>{{languageService.i18n['cm.provision']}}</th>
        <th>{{languageService.i18n['table.delete']}}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let opt of componentListToDisplay | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems, id: 'display' } ">
        <td>{{opt.name}}</td>
        <td>{{opt.ip}}</td>
        <td>{{opt.port}}</td>
        <td>{{typeText(opt.comtype)}}</td>
        <td>{{ getVersion(opt) }}</td>
        <td class="icon">
          <label *ngIf="opt.status === 2" class="greenLight"></label>
          <label *ngIf="opt.status === 0" class="grayLight"></label>
        </td>
        <td class="icon">
          <mat-icon tooltip="{{languageService.i18n['index.view']}}" (click)="viewPage(opt)">remove_red_eye</mat-icon>
        </td>
        <td class="icon">
          <mat-icon (click)="openProvisionModal(opt)">upload_file</mat-icon>
        </td>
        <td class="icon">
          <mat-icon tooltip="{{ languageService.i18n['delItem'] }}" (click)="openDeleteModal(opt)">delete_forever</mat-icon>
        </td>
      </tr>
      <!-- @2024/06/23 Add by yuchen -->
      <tr class="notFind" *ngIf="componentListToDisplay.length === 0">
        <td colspan="12">{{ languageService.i18n['no_results'] }}</td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
  nextLabel="" id="display">
</pagination-controls>


<ng-template #createComponentModal>
  <h5>{{languageService.i18n['cm.add']}}</h5>
  <form [formGroup]="createForm" >
    <ul class="addcomponent-ul-li-label">
      <li>
        <label>{{languageService.i18n['BS.neName']}}</label>
        <span>
          <input type="text" formControlName="name" class="{{formValidated&&createForm.controls['name'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['name'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['BS.neType']}}</label>
        <span>
          <select formControlName="comtype" class="{{formValidated&&createForm.controls['comtype'].invalid?'required':''}}">
            <option value="" ></option>
            <option *ngFor="let opt of comtype" [value]="opt.value">{{opt.displayName}}</option>
          </select>
          <mat-error *ngIf="formValidated&&createForm.controls['comtype'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['cm.ip']}}</label>
        <span>
          <input type="text" formControlName="ip" class="{{formValidated&&createForm.controls['ip'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['ip'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['cm.port']}}</label>
        <span>
          <input type="text" formControlName="port" class="{{formValidated&&createForm.controls['port'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['port'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['cm.acc']}}</label>
        <span>
          <input type="text" formControlName="account" class="{{formValidated&&createForm.controls['account'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['account'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['cm.passw']}}</label>
        <span>
          <input type="text" formControlName="key" class="{{formValidated&&createForm.controls['key'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['key'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['cm.manufacturer']}}</label>
        <span>
          <input type="text" formControlName="firm" class="{{formValidated&&createForm.controls['firm'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['firm'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{languageService.i18n['cm.model']}}</label>
        <span>
          <input type="text" formControlName="modelname" class="{{formValidated&&createForm.controls['modelname'].invalid?'required':''}}">
          <mat-error *ngIf="formValidated&&createForm.controls['modelname'].invalid">Required</mat-error>
        </span>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" (click)="create()">OK</button>
      <button type="button" mat-dialog-close>Cancel</button>
    </div>
  </form>
</ng-template>

<ng-template #deleteModal>
  <h5 *ngIf="selectComponent.status === 0">
    <mat-icon class="error-icon">warning_amber</mat-icon>
    {{ languageService.i18n['field.warningFault'] }}
  </h5>
  <h5 *ngIf="selectComponent.status === 2">
    <mat-icon class="error-icon">error_outline</mat-icon>
    {{ languageService.i18n['field.noFieldImageAvailableTitle'] }}
  </h5>
  <ul>
    <label *ngIf="selectComponent.status === 0">
      {{ languageService.i18n['cm.confirm_del'] }} – {{ selectComponent.name }} ?
    </label>
    <label *ngIf="selectComponent.status === 2">
      {{ languageService.i18n['cm.bsInUseCannotDelete'] }}
    </label>
  </ul>
  <div class="buttons">
    <button *ngIf="selectComponent.status === 0" type="button" (click)="delete()">{{ languageService.i18n['confirm'] }}</button>
    <button type="button" mat-dialog-close>{{ languageService.i18n['close'] }}</button>
  </div>
</ng-template>

<ng-template #provisionModal>
<h5>{{languageService.i18n['cm.provision']}} - {{selectComponent.name}}</h5>
  <form [formGroup]="provisionForm">
    <ul>
      <span class="btn-group">
        <ng-container>
          <div class="upload">
            <input type="file" name="uploadedFile" (change)="fileChange($event)" accept=".xml" #fileInput>
          </div>
        </ng-container>
      </span>
    </ul>
    <div class="buttons">
      <button type="button" (click)="uploadProvisioning()">Confirm</button>
      <button type="button" mat-dialog-close>Cancel</button>
    </div>
  </form>
</ng-template>