<div class="ocloudInfo">
  <h5>
    <button (click)="back()">
      <span class="material-icons">arrow_back</span>Back
    </button>
    Nf Information – {{nfInfo.nfname}}
  </h5>

  <div class="BOX col-md-4 cpu">
    <label class="boxTitle">{{languageService.i18n['npInfo']}}
      <a href="javascript:void(0)"  (click)="goPerformanceMgr()">
        {{languageService.i18n['index.viewMore']}}<span class="material-icons">more_horiz</span>
      </a>
    </label>
    <div>
      <span>
        <img src="assets/img/send.png">
        <div><label>{{languageService.i18n['send']}}</label>{{nfPerformance.send}}</div>
      </span>
      <span>
        <img src="assets/img/throughput.png">
        <div><label>{{languageService.i18n['index.networkThroughput']}}</label>{{nfPerformance.throughput}}</div>
      </span>
      <span>
        <img src="assets/img/receive.png">
        <div><label>{{languageService.i18n['receive']}}</label>{{nfPerformance.receive}}</div>
      </span>
      <span>
        <img src="assets/img/memory.png">
        <div><label>{{languageService.i18n['index.memoryUsage']}}</label>{{nfPerformance.memoryUsed}}</div>
      </span>
    </div>
  </div>

  <div class="BOX col-md-4 center Fault ">
    <label class="boxTitle">{{languageService.i18n['index.faultMsg']}}
      <a href="javascript:void(0)" (click)="goFaultMgr()">
        {{languageService.i18n['index.viewMore']}}<span class="material-icons">more_horiz</span>
      </a>
    </label>
    <span class="percent {{severityText(severity)}}" *ngFor="let severity of severitys;let i=index">
      {{severityText(severity)}}<br>{{severityCount(severity)}}
    </span>
  </div>

  <div class="BOX col-md-4 basicInfo h30">
    <label class="boxTitle">{{languageService.i18n['basic.info']}}</label>
    <ul>
      <li><label>NF {{languageService.i18n['table.header_name']}}</label><span>{{nfInfo.nfname}}</span></li>
      <li><label>NF ID</label><span>{{nfInfo.nfId}}</span></li>
      <li><label>Field {{languageService.i18n['table.header_name']}}</label><span>{{nfInfo.ocloudName}}</span></li>
      <li><label>Field Global ID</label><span>{{nfInfo.globalId}}</span></li>
      <li><label>DMS</label><span>{{nfInfo.dmsName}}</span></li>
      <li><label>{{languageService.i18n['description']}}</label><span>{{nfInfo.descriptor}}</span></li>
      <li><label>Artifact Repo. URL</label><span>{{nfInfo.artifactRepoUrl}}</span></li>
      <li><label>Artifact {{languageService.i18n['table.header_name']}}</label><span>{{nfInfo.artifactName}}</span></li>
      <li><label>{{languageService.i18n['table.Status']}}</label>
        <span>
          <label tooltip="{{languageService.i18n['nfRun']}}" *ngIf="nfInfo.status === 0" class="greenLight"></label>
          <label tooltip="{{languageService.i18n['nfRun']}}" *ngIf="nfInfo.status === 1" class="blueLight"></label>
          <label tooltip="{{languageService.i18n['nfNotRun']}}" *ngIf="nfInfo.status === 2" class="redLight"></label>
          <label tooltip="{{languageService.i18n['nfNotRun']}}" *ngIf="nfInfo.status === 3" class="grayLight"></label>
          {{commonService.details(nfInfo.status)}}
        </span>
      </li>
    </ul>

    <label class="boxTitle">{{languageService.i18n['software.info']}}</label>
    <ul>
      <li>
        <label>{{languageService.i18n['version']}}</label>
        <span>{{nfInfo.softwareVersion}}
          <button tooltip="{{languageService.i18n['updateSoftware']}}" (click)="openUpdateModel()">{{languageService.i18n['update']}}</button>
        </span>
      </li>
    </ul>
  </div>

  <div class="BOX col-md-4 nf h30">
    <label class="boxTitle">Network Function Capacity Information</label>
    <div class="table Summary">
      <h6>NF Capacity Summary</h6>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>CPU</th>
            <th>Memory</th>
            <th>Storage</th>
            <th>Interface</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total</td>
            <td>{{nfCapacitySummary.totalCpu}}</td>
            <td>{{nfCapacitySummary.totalMemory}}</td>
            <td>{{nfCapacitySummary.totalStorage}}</td>
            <td>{{nfCapacitySummary.totalInterface}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table">
      <h6>NF Capacity
        <mat-icon tooltip="{{languageService.i18n['createNFcapacity']}}" class="addNF" (click)="openCreateModal()">add</mat-icon>
      </h6>
      <table>
        <thead>
          <tr>
            <th>NF {{languageService.i18n['type']}}</th>
            <th>CPU</th>
            <th>Memory</th>
            <th>Storage</th>
            <th>Interface</th>
            <th>{{languageService.i18n['table.delete']}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let opt of nfCapacityList">
            <td>{{opt.name}}</td>
            <td>{{opt.cpu}}</td>
            <td>{{opt.memory}}</td>
            <td>{{opt.storage}}</td>
            <td>{{opt.network}}</td>
            <td><mat-icon tooltip="{{languageService.i18n['delItem']}}" (click)="openDelectModal(opt)">delete_forever</mat-icon></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<ng-template #updateModal>
  <h5>Software Update</h5>
  <form [formGroup]="updateForm">
    <ul>
      <li>
        <label>Current Version</label>
        <span>{{nfInfo.softwareVersion}}</span>
      </li>
      <li>
        <label>Update Software</label>
        <span class="SoftwareUpdate">
          <mat-button-toggle-group formControlName="type" (change)="changeType($event)">
            <mat-button-toggle value="imageUrl">Image URL</mat-button-toggle>
            <mat-button-toggle value="existedFile">Existed File</mat-button-toggle>
          </mat-button-toggle-group>

          <div *ngIf="updateForm.controls['type'].value === 'imageUrl'">
            <input type="text" formControlName="imageUrl" placeholder="Image URL" class="{{formValidated&&updateForm.controls['imageUrl'].invalid?'required':''}}">
            <mat-error *ngIf="formValidated&&updateForm.controls['imageUrl'].invalid">Required</mat-error>
          </div>
          <div *ngIf="updateForm.controls['type'].value === 'existedFile'">
            <select formControlName="fileName" class="{{formValidated&&updateForm.controls['fileName'].invalid?'required':''}}">
              <option *ngFor="let opt of softwareList" [value]="opt.fileName">{{opt.fileName}}</option>
            </select>
            <mat-error *ngIf="formValidated&&updateForm.controls['fileName'].invalid">Required</mat-error>
            <div class="UV" *ngIf="updateForm.controls['type'].value === 'existedFile'">
              Update Version : {{softwareVersion()}}
            </div>
          </div>
        </span>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" (click)="update()">OK</button>
    </div>
  </form>
</ng-template>

<ng-template #createModal>
  <h5>Expand Network Function Capacity</h5>
  <form>
    <div class="center">
      <label>Available  CPUs: {{cpuMax}}</label>
      <label>Memory: {{memoryMax}} MB</label>
      <label>Storages: {{storageMax}} GB</label>
      <label>Interfaces: {{networkMax}}</label>
    </div>

    <ul class="network">
      <li>
        <label><img src="assets/img/cpu.png">CPU</label>
        <span>
          <input type="number" class="{{cpuMax === 0?'disabled':''}}" name="cpu" min="{{cpuMin}}" max="{{cpuMax}}" [(ngModel)]="dmsAvaliableCapacity.cpu" (keyup)="keyupRange('cpu')" [disabled]="cpuMax === 0">
          <span><label>{{cpuMin}}</label>
          <input type="range" class="{{cpuMax === 0?'disabled':''}}" name="cpu" min="{{cpuMin}}" max="{{cpuMax}}" [(ngModel)]="dmsAvaliableCapacity.cpu" [disabled]="cpuMax === 0">
          <label>{{cpuMax}}</label></span>
        </span>
      </li>
      <li>
        <label><img src="assets/img/memory.png">Memory</label>
        <span>
          <input type="number" class="{{memoryMax === 0?'disabled':''}}" name="memoryNum" min="{{memoryMin}}" max="{{memoryMax}}" [(ngModel)]="dmsAvaliableCapacity.memoryNum" (ngModelChange)="changeMemory()" (keyup)="keyupRange('memory')" [disabled]="memoryMax === 0">
          <span><label>{{memoryMin}}</label>
          <input type="range" class="{{memoryMax === 0?'disabled':''}}" name="memoryNum" min="{{memoryMin}}" max="{{memoryMax}}" [(ngModel)]="dmsAvaliableCapacity.memoryNum" (ngModelChange)="changeMemory()" [disabled]="memoryMax === 0">
          <label>{{memoryMax}} MB</label></span>
        </span>
      </li>
      <li>
        <label><img src="assets/img/database.png">Storage</label>
        <span>
          <input type="number" class="{{storageMax === 0?'disabled':''}}" name="storageNum" min="{{storageMin}}" max="{{storageMax}}" [(ngModel)]="dmsAvaliableCapacity.storageNum" (ngModelChange)="changeStorage()" (keyup)="keyupRange('storage')" [disabled]="storageMax === 0">
          <span><label>{{storageMin}}</label>
          <input type="range" class="{{storageMax === 0?'disabled':''}}" name="storageNum" min="{{storageMin}}" max="{{storageMax}}" [(ngModel)]="dmsAvaliableCapacity.storageNum" (ngModelChange)="changeStorage()" [disabled]="storageMax === 0">
          <label>{{storageMax}} GB</label></span>
        </span>
      </li>
      <li>
        <label><img src="assets/img/network.png">Network</label>
        <span>
          <input type="number" class="{{networkMax === 0?'disabled':''}}" name="network" min="{{networkMin}}" max="{{networkMax}}" [(ngModel)]="dmsAvaliableCapacity.network" (keyup)="keyupRange('network')" [disabled]="networkMax === 0">
          <span>
          <label>{{networkMin}}</label>
          <input type="range" class="{{networkMax === 0?'disabled':''}}" name="network" min="{{networkMin}}" max="{{networkMax}}" [(ngModel)]="dmsAvaliableCapacity.network" [disabled]="networkMax === 0">
          <label>{{networkMax}}</label></span>
        </span>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" (click)="create()">OK</button>
    </div>
  </form>
</ng-template>

<ng-template #deleteModal>
  <h5>Delete NF capacity</h5>
  <p>Confirm to NF capacity - {{selectNfCapacityList.name}} ?</p>
  <div class="buttons">
    <button type="button" mat-dialog-close>Cancel</button>
    <button type="button" (click)="delete()">Delete</button>
  </div>
</ng-template>

<ng-template #errorModal>
  <!-- <h5>Error message</h5> -->
  <p>
    <span class="material-icons">warning</span>
    You have exceeded the maximum number of capacity.</p>
  <div class="buttons">
    <button type="button" mat-dialog-close>OK</button>
  </div>
</ng-template>
