<h5>{{languageService.i18n['index.faultMsg']}}</h5>

<form [formGroup]="searchForm">
  <div class="filter">
    <span><label>{{languageService.i18n['fm.field']}}</label>
      <input type="text" formControlName="cloudName">
    </span>
    <span><label>{{languageService.i18n['fm.gnb']}}</label>
      <input type="text" formControlName="nfName">
    </span>
    <span><label>{{languageService.i18n['fm.component']}}</label>
      <input type="text" formControlName="acknowledgeOwner">
    </span>
    <span><label>{{languageService.i18n['fm.severity']}}</label>
      <select formControlName="severity">
        <option value="All">All</option>
        <option *ngFor="let severit of severitys" [value]="severit">{{commonService.textTransfer(severit)}}</option>
      </select>
      <mat-error *ngIf="searchForm.controls['severity'].invalid">Required</mat-error>
    </span>
    <span><label>{{languageService.i18n['fm.start']}}</label>
      <span>
        <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
      </span>
    </span>
    <span><label>{{languageService.i18n['fm.end']}}</label>
      <span>
        <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
      </span>
    </span>
    <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search()">search</span>
    <!--<span tooltip="{{languageService.i18n['a_search']}}" class="material-symbols-outlined" (click)="openAdvancedModal()">settings</span> -->
  </div>
</form>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>{{languageService.i18n['fm.no']}}</th>
        <th>{{languageService.i18n['fm.field']}}</th>
        <th>{{languageService.i18n['fm.gnb']}}</th>
        <th>{{languageService.i18n['fm.component']}}</th>
        <th>{{languageService.i18n['fm.alarm']}}</th>
        <th>{{languageService.i18n['fm.severity']}}</th>
        <th>{{languageService.i18n['fm.count']}}</th>
        <th>{{languageService.i18n['fm.occurtime']}}</th>
        <th>{{languageService.i18n['fm.status']}}</th>
        <th>{{languageService.i18n['fm.situation']}}</th>
        <th>{{languageService.i18n['fm.owner']}}</th>
        <th>{{languageService.i18n['fm.view']}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let opt of faultMessage.faultMessages | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems, id: 'fmList' }">
        <td>{{opt.faultId}}</td>
        <td>{{opt.fieldName}}</td>
        <td>{{opt.bsName}}</td>
        <td>{{opt.compname}}</td>
        <td>{{opt.probablecause}}</td>
        <td>{{opt.eventtype}}</td>
        <td>{{opt.count}}</td>
        <td>{{opt.timestamp}}</td>
        <td>{{opt.status}}</td>
        <!-- <td>{{opt.isCleared?'Cleared':'New'}}</td> -->
        <td>
          <label tooltip="{{languageService.i18n['resolved']}}" *ngIf="opt.processstatus === 0" class="greenLight"></label>
          <label tooltip="{{languageService.i18n['pending_error']}}" *ngIf="opt.processstatus === 1" class="redLight" (click)="openStatusModal(opt)"></label>
          {{opt.processresult}}
        </td>
        <td>{{opt.acknowledgeOwner}}</td>
        <td><mat-icon tooltip="{{languageService.i18n['view_detail']}}" (click)="openItemDetail(opt)">remove_red_eye</mat-icon></td>
      </tr>
      <tr class="notFind" *ngIf="faultMessage.totalMessageNumber === 0">
        <td colspan="7">{{languageService.i18n['no_results']}}</td>
      </tr>
    </tbody>
  </table>
  
  <!-- pagination -->    
  <span class="total">{{languageService.i18n['fm.total1']}} {{faultMessage.totalMessageNumber}} {{languageService.i18n['fm.total2']}}</span>
  <pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
nextLabel="" id="fmList">
  </pagination-controls>
</div>

<ng-template #statusModal>
  <h5>{{languageService.i18n['fm.situation']}}</h5>
  <!-- processing_status -->
  <div class="tab">
    <mat-button-toggle-group name="type" [(ngModel)]="type" (change)="changeType($event)">
      <mat-button-toggle value="add_situation">{{languageService.i18n['fm.addsitch']}}</mat-button-toggle>
      <mat-button-toggle value="situation_history">{{languageService.i18n['fm.sHistory']}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <ul *ngIf="type === 'add_situation'">
    <li>
      <label>{{languageService.i18n['fm.field']}}: </label><span>{{selectedMsg.fieldName}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.gnb']}}: </label><span>{{selectedMsg.bsName}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.component']}}: </label><span>{{selectedMsg.compname}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.eCause']}}: </label><span>{{selectedMsg.probablecause}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.severity']}}: </label><span>{{commonService.textTransfer(selectedMsg.eventtype)}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.occurtime']}}: </label><span>{{selectedMsg.timestamp}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.status']}}: </label><span>{{selectedMsg.status}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.situation']}}: </label><span>
        <label *ngIf="selectedMsg.processstatus === 0" class="greenLight"></label>
        <label *ngIf="selectedMsg.processstatus === 1" class="redLight"></label> {{selectedMsg.processresult}} 
      </span>
    <p>
      <span>
        <!-- <div class="vc-toggle-container">
          <label class="vc-switch">
            <input type="checkbox" class="vc-switch-input" [checked]="switchProcessStatus()" (change)="changeProcessSwitch()">
            <span class="vc-switch-label" data-on="PENDING" data-off="RESOLVE"></span>
            <span class="vc-handle"></span>
          </label>
        </div> -->
        <span class="switch">
          <mat-button-toggle-group name="isCleared" [(ngModel)]="fmStatus.__processStatus">
            <mat-button-toggle value="PENDING">{{languageService.i18n['fm.pending']}}</mat-button-toggle>
            <mat-button-toggle value="RESOLVE">{{languageService.i18n['fm.ended']}}</mat-button-toggle>
          </mat-button-toggle-group>
        </span>
        <!-- <input type="text" name="processComment" [(ngModel)]="fmStatus.processComment"> -->
        <input type="text" name="processComment">
        <button class="modify" type="button" (click)="modify()">{{languageService.i18n['fm.add']}}</button>

        <p *ngIf="show200Msg" style="color:#46c116"><span class="material-symbols-outlined">done</span>Modify successfully</p>
        <p *ngIf="show500Msg" style="color:#ff469c"><span class="material-symbols-outlined">error</span>Fail modify Pending Status and Add CPU</p>
      </span>
    </li>

  </ul>
  <!-- processing_status_record -->
  <ng-template [ngIf]="type === 'situation_history'">
    <div class="table statusTable">
    <table>
      <thead>
        <tr>
          <th (click)="doSortTime()">{{languageService.i18n['time']}}
            <span class="material-symbols-outlined" *ngIf="timeSort === 'asc'">
              arrow_downward
            </span>
            <span class="material-symbols-outlined" *ngIf="timeSort === 'desc'">
              arrow_upward
            </span>

          </th>
          <th>Processing Status</th>
          <th>Acknowledge Owner</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let opt of fmStatusRecordList| paginate: { itemsPerPage: record_pageSize, currentPage: record_p, totalItems: record_totalItems, id: 'record' } ">
          <td>{{opt.timestamp}}</td>
          <td>
            <label *ngIf="opt.processStatus === 0" class="greenLight"></label>
            <label *ngIf="opt.processStatus === 1" class="redLight"></label>
            {{opt.processComment}}
          </td>
          <td>{{opt.acknowledgeOwner}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="recordPageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel="" nextLabel="" id="record"></pagination-controls>
  </div>
  </ng-template>

  <div class="buttons">
    <button type="button" mat-dialog-close>Cancel</button>
  </div>
</ng-template>

<ng-template #modifyModal>
  <h5>{{languageService.i18n['modify_faultMsg_status']}}</h5>
  <p>{{languageService.i18n['confirm_modify']}} ?</p>
  <div class="buttons">
    <button type="button" mat-dialog-close>Cancel</button>
    <button type="button" mat-dialog-close="OK">OK</button>
  </div>
</ng-template>

<ng-template #advancedModal>
  <form [formGroup]="advancedForm">
    <h5>Fault Message  {{languageService.i18n['performance_Advanced_Search']}}</h5>

      <ul>
      <li>
        <span>Global ID:</span> <input type="text" formControlName="globalId">
      </li>
      <li>
        <span>Field {{languageService.i18n['table.header_name']}}:</span> <input type="text" formControlName="cloudName">
      </li>
      <li>
        <span>NF ID:</span> <input type="text" formControlName="nfId">
      </li>
      <li>
        <span>NF {{languageService.i18n['table.header_name']}}:</span> <input type="text" formControlName="nfName">
      </li>
      <li>
        <span>From:</span>
        <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
        <span class="widthInit">To:</span>
        <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
      </li>
      <li>
        <span>{{languageService.i18n['severity']}}</span>
        <select formControlName="severity">
          <option value="All">All</option>
          <option *ngFor="let severit of severitys" [value]="severit">{{commonService.textTransfer(severit)}}</option>
        </select>
      </li>
      <li>
        <span>Acknowledge Owner:</span> <input type="text" formControlName="acknowledgeOwner">
      </li>
    </ul>

    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" mat-dialog-close="OK">Ok</button>
      <!-- <button type="button" (click)="debug()">debug</button> -->
    </div>
  </form>
</ng-template>

<ng-template #itemDetail>
  <h5>{{languageService.i18n['fm.detail']}}</h5>
   <ul class="faultMsg_detail">
    <li>
      <label>{{languageService.i18n['fm.field']}}: </label><span>{{selectedMsg.fieldName}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.gnb']}}: </label><span>{{selectedMsg.bsName}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.component']}}: </label><span>{{selectedMsg.compname}}</span>
    </li>    
    <li>
      <label>{{languageService.i18n['fm.severity']}}: </label><span>{{commonService.textTransfer(selectedMsg.eventtype)}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.status']}}: </label><span>{{selectedMsg.status}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.occurtime']}}: </label><span>{{selectedMsg.timestamp}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.createtime']}}: </label><span>{{selectedMsg.createtime}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.updatetime']}}: </label><span>{{selectedMsg.updatetime}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.count']}}: </label><span>{{selectedMsg.count}}</span>
    </li>
  </ul>
  <br/>
  <ul class="faultMsg_detail">
    <li>
      <label>{{languageService.i18n['fm.eType']}}: </label><span>{{commonService.textTransfer(selectedMsg.eventtype)}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.eCause']}}: </label><span>{{selectedMsg.probablecause}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.eDesc']}}: </label><span>{{selectedMsg.eDesc}}</span>
    </li>
  </ul>

  <div class="buttons">
    <button type="button" mat-dialog-close>{{languageService.i18n['cancel']}}</button>
  </div>
</ng-template>