<h5>{{languageService.i18n['index.menu_faultMgr']}}</h5>

<form [formGroup]="searchForm">
  <div class="filter">
    <span><label>{{languageService.i18n['fm.field']}}</label>
      <input type="text" formControlName="fieldName">
    </span>
    <span><label>{{languageService.i18n['fm.BS']}}</label>
      <input type="text" formControlName="BSName">
    </span>
    <span><label>{{languageService.i18n['fm.component']}}</label>
      <input type="text" formControlName="neName">
    </span>
    <span><label>{{languageService.i18n['fm.eCause']}}</label>
      <input type="text" formControlName="alarmName">
    </span>
    <span><label>{{languageService.i18n['fm.severity']}}</label>
      <select formControlName="severity">
        <option value="All">All</option>
        <option *ngFor="let severity of severitys" [value]="severity">{{ commonService.textTransfer( severity ) }}</option>
      </select>
      <mat-error *ngIf="searchForm.controls['severity'].invalid">Required</mat-error>
    </span>
    <span><label>{{languageService.i18n['fm.status']}}</label>
      <select formControlName="status">
        <option *ngFor="let status of statusTypes" [ngValue]="status.value">
          {{ status.displayName }}
        </option>
      </select>
      <mat-error *ngIf="searchForm.controls['status'].invalid">Required</mat-error>
    </span>
    <span><label>{{ languageService.i18n['fm.situation'] }}</label>
      <select formControlName="situation">
        <option *ngFor="let situation of situationTypes" [ngValue]="situation.value">
          {{ situation.displayName }}
        </option>
      </select>
      <mat-error *ngIf="searchForm.controls['situation'].invalid">Required</mat-error>
    </span>

    <span><label>{{languageService.i18n['fm.occurtime']}}</label>
      <span>
        <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
      </span>    
      <span><label>～</label>
        <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
      </span>
    </span>
    <!-- <span><label>{{languageService.i18n['fm.owner']}}</label>
      <input type="text" formControlName="ackOwner">
    </span> -->
    <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search()">search</span>
    <span tooltip="{{languageService.i18n['clear_search']}}" class="material-symbols-outlined" (click)="clear_search()">clear</span>
  </div>

  <!-- Search Criteria Summary of Fault Management -->
  <div class="filterBY">
    <span class="material-symbols-outlined">info</span>{{ languageService.i18n['search_criteria'] }}&nbsp;
    <span *ngIf="afterSearchForm.controls['fieldName'].value">
      <label>{{ languageService.i18n['fm.field'] }}:&nbsp;</label>{{ afterSearchForm.controls['fieldName'].value }}
    </span>
    <span *ngIf="afterSearchForm.controls['BSName'].value">
      <label>{{ languageService.i18n['fm.BS'] }}:&nbsp;</label>{{ afterSearchForm.controls['BSName'].value }}
    </span>
    <span *ngIf="afterSearchForm.controls['neName'].value">
      <label>{{ languageService.i18n['fm.component'] }}:&nbsp;</label>{{ afterSearchForm.controls['neName'].value }}
    </span>
    <span *ngIf="afterSearchForm.controls['alarmName'].value">  
      <label>{{ languageService.i18n['fm.eCause'] }}:&nbsp;</label>{{ afterSearchForm.controls['alarmName'].value }}
    </span>
    <span *ngIf="afterSearchForm.controls['severity'].value">
      <label>{{ languageService.i18n['fm.severity'] }}:&nbsp;</label>{{ commonService.textTransfer(afterSearchForm.controls['severity'].value) }}
    </span>
    <span *ngIf="afterSearchForm.controls['status'].value">
      <label>{{ languageService.i18n['fm.status'] }}:&nbsp;</label>{{ getStatusDisplayName(afterSearchForm.controls['status'].value) }}  
    </span>
    <span *ngIf="afterSearchForm.controls['situation'].value">
      <label>{{ languageService.i18n['fm.situation'] }}:&nbsp;</label>{{ getSituationDisplayName(afterSearchForm.controls['situation'].value) }}
    </span>
    <span *ngIf="afterSearchForm.controls['from'].value || afterSearchForm.controls['to'].value">
      <label>{{ languageService.i18n['fm.occurtime'] }}:&nbsp;</label>
        {{ afterSearchForm.controls['from'].value ? (commonService.dealPostDate(afterSearchForm.controls['from'].value) + ' ~ ') : '' }}
        {{ afterSearchForm.controls['to'].value ? commonService.dealPostDate(afterSearchForm.controls['to'].value) : '' }}  
    </span>
  </div>

</form>

<div class="table fault_mgr">
  <table>
    <thead>
      <tr>
        <th>{{ languageService.i18n['fm.no'] }}</th>
        <th>{{ languageService.i18n['fm.field'] }}</th>
        <th>{{ languageService.i18n['fm.BS'] }}</th>
        <th>{{ languageService.i18n['fm.component'] }}</th>
        <th>{{ languageService.i18n['fm.eCause'] }}</th>
        <th>{{ languageService.i18n['fm.severity'] }}</th>
        <th>{{ languageService.i18n['fm.count'] }}</th>
        <th>{{ languageService.i18n['fm.occurtime'] }}</th>
        <th>{{ languageService.i18n['fm.status'] }}</th>
        <th>{{ languageService.i18n['fm.situation'] }}</th>
        <th>{{ languageService.i18n['fm.owner'] }}</th>
        <th>{{ languageService.i18n['fm.view']}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let opt of faultListToDisplay | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems, id: 'faultList' }; let i = index">
        <td>{{ (p - 1) * pageSize + i + 1 }}</td> <!-- 更動為動態生成每條訊息的編號 -->
        <td>{{ opt.fieldName }}</td>
        <td>{{ opt.bsName }}</td>
        <td>{{ opt.compname }}</td>
        <td>{{ opt.probablecause }}</td>
        <td>{{ commonService.textTransfer( opt.perceivedseverity ) }}</td>
        <td>{{ opt.count }}</td>
        <td>{{ formatTimestamp( opt.timestamp ) }}</td>
        <td>
          <label *ngIf=" opt.notificationtype === 0 ">{{ languageService.i18n['fm.unexcluded'] }}</label>
          <label *ngIf=" opt.notificationtype === 1 ">{{ languageService.i18n['fm.excluded'] }}</label>
        </td>
        <td class="icon state">
          <label tooltip="{{languageService.i18n['resolved']}}" *ngIf=" opt.processstatus === 1 " class="greenLight" (click)="openStatusModal(opt)"></label>
          <label tooltip="{{languageService.i18n['pending_error']}}" *ngIf=" opt.processstatus === '' " class="redLight" (click)="openStatusModal(opt)"></label>
          {{ opt.processresult }}
        </td>
        <td>{{ owner }}</td>
        <td><mat-icon tooltip="{{languageService.i18n['view_detail']}}" (click)="openFaultDetail(opt)">remove_red_eye</mat-icon></td>
      </tr>
      <tr class="notFind" *ngIf="faultListToDisplay.length === 0">
        <td colspan="12">{{languageService.i18n['no_results']}}</td>
      </tr>
    </tbody>
  </table>
  
  <!-- pagination -->    
  <span class="total">{{ languageService.i18n['fm.total1'] }} {{ totalItems }} {{ languageService.i18n['fm.total2'] }}</span>
  <pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" 
                          previousLabel="" nextLabel="" id="faultList">
  </pagination-controls>
</div>

<ng-template #statusModal>
  <h5>{{ languageService.i18n['fm.situation'] }}
    <!-- processing_status -->
      <mat-button-toggle-group name="type" [(ngModel)]="type" (change)="changeType($event)">
        <mat-button-toggle value="add_situation">{{languageService.i18n['fm.add']}}</mat-button-toggle>
        <mat-button-toggle value="situation_history">{{languageService.i18n['fm.history']}}</mat-button-toggle>
      </mat-button-toggle-group>
  </h5>
  <ul *ngIf="type === 'add_situation'">
    <li>
      <label>{{languageService.i18n['fm.field']}}: </label><span>{{selectedFaultMsg.fieldName}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.BS']}}: </label><span>{{selectedFaultMsg.bsName}}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.component']}}: </label><span>{{ selectedFaultMsg.compname }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.eType'] }}: </label><span>{{ selectedFaultMsg.eventtype }}</span>
    </li>  
    <li>
      <label>{{ languageService.i18n['fm.severity'] }}: </label><span>{{ commonService.textTransfer( selectedFaultMsg.perceivedseverity ) }}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.eCause']}}: </label><span>{{ selectedFaultMsg.probablecause }}</span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.occurtime']}}: </label><span>{{ formatTimestamp( selectedFaultMsg.timestamp ) }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.status'] }}: </label>
      <span>
        <label *ngIf=" selectedFaultMsg.notificationtype === 0 ">{{ languageService.i18n['fm.unexcluded'] }}</label>
        <label *ngIf=" selectedFaultMsg.notificationtype === 1 ">{{ languageService.i18n['fm.excluded'] }}</label>
      </span>
    </li>
    <li>
      <label>{{languageService.i18n['fm.situation']}}: </label>
      <span>
        <label tooltip="{{languageService.i18n['resolved']}}" *ngIf=" selectedFaultMsg.processstatus === 1 " class="greenLight"></label>
        <label tooltip="{{languageService.i18n['pending_error']}}" *ngIf=" selectedFaultMsg.processstatus === '' " class="redLight"></label>
        {{ selectedFaultMsg.processresult }}
      </span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.owner'] }}: </label><span>{{ owner }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.statusReport'] }}: </label>
      <!-- <br> -->
      <span class="nowrap">
        <span class="switch">
          <mat-button-toggle-group name="isCleared" [(ngModel)]="modifySatus">
            <mat-button-toggle value="PENDING">{{ languageService.i18n['fm.pending'] }}</mat-button-toggle>
            <mat-button-toggle value="RESOLVE">{{ languageService.i18n['fm.ended'] }}</mat-button-toggle>
          </mat-button-toggle-group>
        </span>
        <input type="text" name="processComment" [(ngModel)]="modifyMsg.processresult">
        <button class="modify" type="button" (click)="modify()">{{ languageService.i18n['fm.add'] }}</button>

        <p *ngIf="show200Msg" style="color:#46c116"><span class="material-symbols-outlined">done</span>{{ languageService.i18n['fm.modifySuccess'] }}</p>
        <p *ngIf="show500Msg" style="color:#ff469c"><span class="material-symbols-outlined">error</span>Fail modify Pending Status and Add CPU</p>
      </span>
    </li>
  </ul>

  <!-- processing_status_record -->
  <ng-template [ngIf]="type === 'situation_history'">
    <div class="table statusTable">
      <table>
        <thead>
          <tr>
            <th>{{ languageService.i18n['fm.no'] }}</th>
            <th>
              {{ languageService.i18n['time'] }}
              <!-- <span class="material-symbols-outlined" *ngIf="timeSort === 'asc'" (click)="doSortTime()">
                arrow_downward
              </span>
              <span class="material-symbols-outlined" *ngIf="timeSort === 'desc'">
                arrow_upward
              </span> -->
            </th>
            <th>{{ languageService.i18n['fm.situation'] }}</th>
            <th>{{ languageService.i18n['fm.owner'] }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let opt of faultProcessListToDisplay | 
                        paginate: { itemsPerPage: record_pageSize, currentPage: record_p, totalItems: record_totalItems, id: 'record' }; let i = index">
            <td>{{ ( record_p - 1 ) * record_pageSize + i + 1 }}</td> <!-- 動態生成每條訊息的編號 -->
            <td>{{ opt.createtime }}</td>
            <td>
              <label *ngIf="opt.processstatus === 0" class="greenLight"></label>
              <label *ngIf="opt.processstatus === 1" class="redLight"></label>
              {{ opt.processresult }}
            </td>
            <td>{{ owner }}</td>
          </tr>
          <tr class="notFind" *ngIf="faultProcessListToDisplay.length === 0">
            <td colspan="4">{{ languageService.i18n['no_results'] }}</td>
          </tr>
        </tbody>
      </table>

      <!-- pagination -->    
      <span class="total">{{ languageService.i18n['fm.total1'] }} {{ record_totalItems }} {{ languageService.i18n['fm.situation'] }}</span>
      <pagination-controls (pageChange)="recordPageChanged($event)" screenReaderPaginationLabel="Pagination_Situation" 
                              previousLabel="" nextLabel="" id="record">
      </pagination-controls>
    </div>
  </ng-template>
  

  <div class="buttons">
    <button type="button" mat-dialog-close>{{languageService.i18n['fm.close']}}</button>
  </div>
</ng-template>

<ng-template #modifyModal>
  <h5>{{ languageService.i18n['modify_faultMsg_status'] }}</h5>
  <p>{{ languageService.i18n['confirm_modify'] }} ?</p>
  <div class="buttons">
    <button type="button" mat-dialog-close>{{ languageService.i18n['cancel'] }}</button>
    <button type="button" mat-dialog-close="OK">{{ languageService.i18n['ok'] }}</button>
  </div>
</ng-template>

<ng-template #itemDetail>
  <h5>{{ languageService.i18n['fm.detail'] }}</h5>
   <ul class="faultMsg_detail">
    <li>
      <label>{{ languageService.i18n['fm.field'] }}: </label><span>{{ selectedFaultMsg.fieldName }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.BS'] }}: </label><span>{{ selectedFaultMsg.bsName }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.component'] }}: </label><span>{{ selectedFaultMsg.compname }}</span>
    </li>  
    <li>
      <label>{{ languageService.i18n['fm.eType'] }}: </label><span>{{ selectedFaultMsg.eventtype }}</span>
    </li>  
    <li>
      <label>{{ languageService.i18n['fm.severity'] }}: </label><span>{{ commonService.textTransfer( selectedFaultMsg.perceivedseverity ) }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.status'] }}: </label>
      <span>
        <label *ngIf=" selectedFaultMsg.notificationtype === 0 ">{{ languageService.i18n['fm.unexcluded'] }}</label>
        <label *ngIf=" selectedFaultMsg.notificationtype === 1 ">{{ languageService.i18n['fm.excluded'] }}</label>
      </span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.situation'] }}: </label>
      <span>
        <label tooltip="{{ languageService.i18n['resolved'] }}" *ngIf=" selectedFaultMsg.processstatus === 1 " class="greenLight"></label>
        <label tooltip="{{ languageService.i18n['pending_error'] }}" *ngIf=" selectedFaultMsg.processstatus === '' " class="redLight"></label>
        {{ selectedFaultMsg.processresult }}
      </span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.owner'] }}: </label><span>{{ owner }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.occurtime'] }}: </label><span>{{ formatTimestamp( selectedFaultMsg.timestamp ) }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.createtime'] }}: </label><span>{{ selectedFaultMsg.createtime }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.updatetime'] }}: </label><span>{{ selectedFaultMsg.modifytime }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.count'] }}: </label><span>{{ selectedFaultMsg.count }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.eCause'] }}: </label><span>{{ selectedFaultMsg.probablecause }}</span>
    </li>
    <li>
      <label>{{ languageService.i18n['fm.eDesc'] }}: </label><span>{{ selectedFaultMsg.specificproblem }}</span>
    </li>
  </ul>

  <div class="buttons">
    <button type="button" mat-dialog-close>{{ languageService.i18n['fm.close'] }}</button>
  </div>
</ng-template>