<div class="ocloudInfo component">
  <h5>
    <button (click)="back()"><span class="material-icons">arrow_back</span>Back</button>
      {{ languageService.i18n['BS.info'] }} – {{ bsName }} / 
    <label *ngIf=" bsType === '1' ">All-in-one:&thinsp;[CU + DU + RU]</label>
    <label *ngIf=" bsType === '2' ">Disaggregated:&thinsp;[CU] + [DU] + [RU]</label>
  </h5>

  <div class="main collabsible">

    <div class="baseInfo"><!-- 基本訊息區 -->
      <span>
        {{ languageService.i18n['basic.info'] }}
        <button>{{ languageService.i18n['BS.editSettings'] }}</button>
      </span>
      <input id="baseInfo" class="toggle" type="checkbox">
      <label for="baseInfo" class="lbl-toggle"></label>

      <div class="collapsible-content">
        <div class="content-inner">

          <!-- 當數據正在加載時顯示進度條 @2024/03/27 Add -->
          <ng-container *ngIf="isLoadingBsInfo">
            <div class="progress-spinner-container">
              <!-- 指示器大小設置 -->
              <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="100"></mat-progress-spinner>
            </div>
          </ng-container>

          <!-- 加載完成後顯示 基站資訊 數據 @2024/03/27 Add -->
          <ng-container *ngIf="!isLoadingBsInfo">
            <ul>
              <li>
                <!-- 基站名稱 -->
                <label>{{ languageService.i18n['BS.name'] }}</label>
                <span *ngIf="selectBsInfo">{{ selectBsInfo.name }}</span>
                <span *ngIf="selectBsInfo_dist">{{ selectBsInfo_dist.name }}</span>
              </li>
              <li>
                <!-- 基站類型 -->
                <label>{{ languageService.i18n['BS.type'] }}</label>
                <span *ngIf="selectBsInfo.bstype === 1">All-in-one:&thinsp;[CU + DU + RU]</span>
                <span *ngIf="selectBsInfo_dist.bstype === 2">Disaggregated:&thinsp;[CU] + [DU] + [RU]</span>
              </li>
              <li>
                <!-- 基站狀態 -->
                <label>{{ languageService.i18n['BS.status'] }}</label>

                <!-- 一體式 -->
                <span *ngIf=" selectBsInfo.status === 0 " class="grayLight"></span>
                <span *ngIf=" selectBsInfo.status === 1 " class="redLight"></span>
                <span *ngIf=" selectBsInfo.status === 2 " class="greenLight"></span>

                <!-- 分佈式 -->
                <span *ngIf=" selectBsInfo_dist.status === 0 " class="grayLight"></span>
                <span *ngIf=" selectBsInfo_dist.status === 1 " class="redLight"></span>
                <span *ngIf=" selectBsInfo_dist.status === 2 " class="greenLight"></span>
              </li>
              <li>
                <!-- 基站 Cell 數量 -->
                <label>{{ languageService.i18n['BS.cellCount'] }}</label>
                <span>{{ selectBsCellCount }}</span>
              </li>
              <li>
                <!-- 基站地點說明 -->
                <label>{{ languageService.i18n['BS.description'] }}</label>
                <span *ngIf="selectBsInfo">{{ selectBsInfo.description }}</span>
                <span *ngIf="selectBsInfo_dist">{{ selectBsInfo_dist.description }}</span>
              </li>
              <li>
                <!-- 基站天線位置座標 -->
                <label>{{ languageService.i18n['BS.bsAntennaCoord'] }}</label>
                <!-- 依據 BS 類型，顯示對應的位置內容訊息 -->

                <!-- 一體式 -->
                <ng-container>
                  <span *ngIf="selectBsInfo.bstype === 1">{{ selectBsPosition }}</span>
                </ng-container>

                <!-- 分佈式 -->
                <ng-container *ngIf="selectBsInfo_dist.bstype === 2">
                  <div class="table">
                    <table class="par_success">
                      <thead>
                        <tr>
                          <th>{{ languageService.i18n['BS.ruNeName'] }}</th>
                          <th>{{ languageService.i18n['BS.latLong'] }}</th>
                        </tr>
                      </thead>
                      <tbody>

                        <!-- 當數據正在加載時顯示進度條 @2024/03/27 Add -->
                        <ng-container *ngIf="isLoadingNEList">
                          <div class="progress-spinner-container">
                            <!-- 指示器大小設置 -->
                            <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="65"></mat-progress-spinner>
                          </div>
                        </ng-container>

                        <!-- 加載完成後顯示 分佈式基站經緯度資訊 數據 @2024/03/27 Add -->
                        <ng-container *ngIf="!isLoadingNEList">
                          <tr *ngFor="let ruInfo of ruIdNamePositionMap | keyvalue">
                            <td>{{ ruInfo.value.name }}</td>
                            <td>{{ ruInfo.value.position }}</td>
                          </tr>
                        </ng-container>
                        
                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </li>
              <li>
                <!-- 基站最後心跳時間 -->
                <label>{{ languageService.i18n['BS.lastHeartbeatTime'] }}</label>
                <span *ngIf="selectBsInfo">{{ selectBsInfo.laston }}</span>
                <span *ngIf="selectBsInfo_dist">{{ selectBsInfo_dist.laston }}</span>
              </li>
              <li>
                <!-- 軟體版本 -->
                <label>{{ languageService.i18n['software_version'] }}</label>
                <div class="table">
                  <table class="par_success">
                    <thead>
                      <tr>
                        <th>{{ languageService.i18n['BS.neName'] }}</th>
                        <th>{{ languageService.i18n['BS.neType'] }}</th>
                        <th>{{ languageService.i18n['BS.neModel'] }}</th>
                        <th>{{ languageService.i18n['BS.neSFversion'] }}</th>
                      </tr>
                    </thead>
                    <tbody>

                      <!-- 當數據正在加載時顯示進度條 @2024/03/27 Add -->
                      <ng-container *ngIf="isLoadingNEList">
                        <div class="progress-spinner-container">
                          <!-- 指示器大小設置 -->
                          <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="65"></mat-progress-spinner>
                        </div>
                      </ng-container>

                      <!-- 加載完成後顯示 一體式或分佈式 BS 網元軟體版本資訊 數據 @2024/03/27 Add -->
                      <ng-container *ngIf="!isLoadingNEList">
                        <!-- 一體式或分佈式 BS 共用網元軟體版本表格 -->
                        <tr *ngFor="let swInfo of swVersionMap | keyvalue">
                          <td>{{ swInfo.value.neName }}</td>
                          <td>{{ swInfo.value.neType }}</td>
                          <td>{{ swInfo.value.neModel }}</td>
                          <td>{{ swInfo.value.neSFversion }}</td>
                        </tr>
                      </ng-container>

                    </tbody>
                  </table>
                </div>
              </li>            
            </ul>
          </ng-container>

        </div>
      </div>
    </div>

    <div><!-- 網元拓樸圖 -->
      <span>{{ languageService.i18n['BS.topology'] }}</span>
      <input id="topology" class="toggle" type="checkbox">
      <label for="topology" class="lbl-toggle"></label>
      
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="collabsible">

            <!-- 當數據正在加載時顯示進度條 @2024/03/29 Add -->
            <ng-container *ngIf="isLoadingNEList">
              <div class="progress-spinner-container">
                <!-- 指示器大小設置 -->
                <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="65"></mat-progress-spinner>
              </div>
            </ng-container>

            <!-- 使用 Canvas 畫網元拓樸圖 -->
            <canvas #canvas class="topology-canvas"></canvas>

            <!-- 加載完成後，如 bsType === '1'，則顯示繪製的一體式 BS 網元拓樸圖 @2024/03/29 Add -->
            <ng-container *ngIf=" bsType === '1' && !isLoadingNEList ">
              <!-- 顯示 一體式基站 拓樸 -->
              <div class="nes-topology">
                <div>  
                  <div tooltip="{{ getComponentName( allInOneNEID ) }}" class="ne-info all-in-one-ne-info"
                          [style.left.px] = "getAllInOnePosition().x"
                            [style.top.px] = "getAllInOnePosition().y" >
                    <span class="grayLight"  *ngIf="getComponentStatus( allInOneNEID ) === 0"></span>
                    <span class="redLight"   *ngIf="getComponentStatus( allInOneNEID ) === 1"></span>
                    <span class="greenLight" *ngIf="getComponentStatus( allInOneNEID ) === 2"></span>
                    <span>[CU+DU+RU]</span>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- 加載完成後，如 bsType === '2'，則顯示繪製的分佈式 BS 網元拓樸圖 @2024/03/29 Add -->
            <ng-container *ngIf=" bsType === '2' && !isLoadingNEList ">
              <!-- 顯示 分佈式基站 拓樸 -->
              <div class="nes-topology">   
                <div *ngFor="let cu of componentArray | filterBy: 'type': 'cu'">
                  <!-- 顯示 CU 的資訊 -->
                  <div tooltip="{{ getComponentName(cu.id) }}" class="ne-info cu-info" [style.left.px]="getCuPosition(cu).x" [style.top.px]="getCuPosition(cu).y">
                    <span class="grayLight"  *ngIf="getComponentStatus(cu.id) === 0"></span>
                    <span class="redLight"   *ngIf="getComponentStatus(cu.id) === 1"></span>
                    <span class="greenLight" *ngIf="getComponentStatus(cu.id) === 2"></span>
                    <span>CU</span>
                  </div>
                </div>
                <div *ngFor="let du of componentArray | filterBy: 'type': 'du'">
                  <!-- 顯示 DU 的資訊 -->
                  <div tooltip="{{ getComponentName(du.id) }}" class="ne-info du-info" [style.left.px]="getDuPosition(du).x" [style.top.px]="getDuPosition(du).y">
                    <span class="grayLight"  *ngIf="getComponentStatus(du.id) === 0"></span>
                    <span class="redLight"   *ngIf="getComponentStatus(du.id) === 1"></span>
                    <span class="greenLight" *ngIf="getComponentStatus(du.id) === 2"></span>
                    <span>DU</span>
                  </div>
                </div>
                <div *ngFor="let ru of componentArray | filterBy: 'type': 'ru'">
                  <!-- 顯示 RU 的資訊 -->
                  <div tooltip="{{ getComponentName(ru.id) }}" class="ne-info ru-info" [style.left.px]="getRuPosition(ru).x" [style.top.px]="getRuPosition(ru).y">
                    <span class="grayLight"  *ngIf="getComponentStatus(ru.id) === 0"></span>
                    <span class="redLight"   *ngIf="getComponentStatus(ru.id) === 1"></span>
                    <span class="greenLight" *ngIf="getComponentStatus(ru.id) === 2"></span>
                    <span>RU</span>
                  </div>
                </div>
              </div>
            </ng-container>
  
          </div>
        </div>
      </div>
    </div>

    <div><!-- 基站參數 -->
      <span>
        {{ languageService.i18n['BS.parameters'] }}
        <button>DB → gNB</button><button>gNB → DB</button>
      </span>
      <input id="bsParameters" class="toggle" type="checkbox">
      <label for="bsParameters" class="lbl-toggle"></label>
      
      <div class="collapsible-content">
        <div class="content-inner">
          
          <form>
            <div class="filter">
              <span><label>Cell:</label>
                <select>
                  <option>
                    Cell#1 (NCI=0x000024001)
                  </option>
                  <option>
                    Cell#2 (NCI=0x000024002)
                  </option>
                  <option>
                    Cell#3 (NCI=0x000024003)
                  </option>
                  <option>
                    Cell#4 (NCI=0x000024004)
                  </option>
                </select>
              </span>
          
              <span tooltip="{{ languageService.i18n['search'] }}" class="material-icons" >search</span>
          
              <!-- Button of clear_search_ScheduleList -->
              <span tooltip="{{ languageService.i18n['clear_search'] }}" class="material-symbols-outlined">clear</span>
            </div>
          </form>

          <!-- <div class="logTab">
            <mat-button-toggle-group name="type" [(ngModel)]="type" (change)="changeType($event)">
              <mat-button-toggle value="Basic">Basic</mat-button-toggle>
              <mat-button-toggle value="Advanced">Advanced</mat-button-toggle>
            </mat-button-toggle-group>
          </div> -->

          <div class="collabsible">
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>Items</th>
                    <th>Athena Ochestreator DB</th>
                    <th>Network Element Datastore</th>
                    <th>Conflict</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>PLMNID_MCC</td>
                    <td>466</td>
                    <td>466</td>
                    <td>No</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>PLMNID_MNC</td>
                    <td>66</td>
                    <td>66</td>
                    <td>No</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>gNB ID</td>
                    <td>9</td>
                    <td>9</td>
                    <td>No</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>gNB ID Length</td>
                    <td>22</td>
                    <td>22</td>
                    <td>No</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Cell Local ID ( binary value )</td>
                    <td>10</td>
                    <td>10</td>
                    <td>No</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>NCI ( hexadecimal value )</td>
                    <td>000024001</td>
                    <td>000024001</td>
                    <td>No</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>PCI</td>
                    <td>158</td>
                    <td>100</td>
                    <td>Yes</td>
                    <td><button>DB → gNB</button><button>gNB → DB</button></td>
                  </tr>
                  <tr>
                    <td>NR-ARFCN-DL</td>
                    <td>723333</td>
                    <td>723333</td>
                    <td>No</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>NR-ARFCN-UL</td>
                    <td>723333</td>
                    <td>723333</td>
                    <td>No</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Channel Bandwidth</td>
                    <td>20</td>
                    <td>20</td>
                    <td>No</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Tx Power</td>
                    <td>8</td>
                    <td>10</td>
                    <td>Yes</td>
                    <td><button>DB → gNB</button><button>gNB → DB</button></td>
                  </tr>
                  <tr>
                    <td>TAC</td>
                    <td>3000</td>
                    <td>3001</td>
                    <td>Yes</td>
                    <td><button>DB → gNB</button><button>gNB → DB</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div><!-- 鄰居基站列表 -->
      <span>{{ languageService.i18n['BS.neighborBsList'] }}
        <h5><mat-icon tooltip="{{languageService.i18n['sm.create']}}">add</mat-icon></h5>
      </span>
      <input id="neighborBsList" class="toggle" type="checkbox">
      <label for="neighborBsList" class="lbl-toggle"></label>
      <div class="collapsible-content">
        <div class="content-inner">
          <form>
            <div class="filter">
              <span><label>Cell:</label>
                <select>
                  <option>
                    Cell#1 (NCI=0x000024001)
                  </option>
                  <option>
                    Cell#2 (NCI=0x000024002)
                  </option>
                  <option>
                    Cell#3 (NCI=0x000024003)
                  </option>
                  <option>
                    Cell#4 (NCI=0x000024004)
                  </option>
                </select>
              </span>
          
              <span tooltip="{{ languageService.i18n['search'] }}" class="material-icons" >search</span>
          
              <!-- Button of clear_search_ScheduleList -->
              <span tooltip="{{ languageService.i18n['clear_search'] }}" class="material-symbols-outlined">clear</span>
            </div>
          </form>
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>{{ languageService.i18n['BS.No'] }}</th>
                  <th>PLMN ID</th>
                  <th>gNB ID</th>
                  <th>NCI</th>
                  <th>PCI</th>
                  <th>{{ languageService.i18n['BS.edit'] }}</th>
                  <th>{{ languageService.i18n['BS.delete'] }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>46655</td>
                  <td>7</td>
                  <td>0x00001c108</td>
                  <td>152</td>
                  <td class="center">
                    <mat-icon tooltip="{{languageService.i18n['BS.edit']}}">edit</mat-icon>
                  </td>
                  <td class="icon"><!-- 刪除按鈕 -->
                    <mat-icon tooltip="{{ languageService.i18n['BS.delete'] }}">delete_forever</mat-icon>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>46655</td>
                  <td>16</td>
                  <td>0x000040108</td>
                  <td>153</td>
                  <td class="center">
                    <mat-icon tooltip="{{languageService.i18n['BS.edit']}}">edit</mat-icon>
                  </td>
                  <td class="icon"><!-- 刪除按鈕 -->
                    <mat-icon tooltip="{{ languageService.i18n['BS.delete'] }}">delete_forever</mat-icon>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>46655</td>
                  <td>11</td>
                  <td>0x00002c108</td>
                  <td>154</td>
                  <td class="center">
                    <mat-icon tooltip="{{languageService.i18n['BS.edit']}}">edit</mat-icon>
                  </td>
                  <td class="icon"><!-- 刪除按鈕 -->
                    <mat-icon tooltip="{{ languageService.i18n['BS.delete'] }}">delete_forever</mat-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>

    <div><!-- 基站告警 -->
      <span>{{ languageService.i18n['BS.alarms'] }}</span>
      <input id="faultMsg" class="toggle" type="checkbox">
      <label for="faultMsg" class="lbl-toggle">
      </label>

      <div class="collapsible-content">
        <div class="content-inner">
          <!-- <form [formGroup]="searchForm">
            <div class="filter">
              <span><label>{{languageService.i18n['fm.severity']}}</label>
                <select formControlName="severity">
                  <option value="All">All</option>
                  <option *ngFor="let severit of severitys" [value]="severit">{{commonService.textTransfer(severit)}}</option>
                </select> -->
                <!-- <mat-error *ngIf="searchForm.controls['severity'].invalid">Required</mat-error> -->
              <!-- </span>
              <span><label>{{languageService.i18n['fm.start']}}</label>
                <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
              </span>
              <span><label>{{languageService.i18n['fm.end']}}</label>
                <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
              </span>
              <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search()">search</span>
              <span tooltip="{{languageService.i18n['clear_search']}}" class="material-symbols-outlined" (click)="clear_search()">clear</span>
            </div>
          </form> -->
          <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>{{ languageService.i18n['BS.No'] }}</th>
                    <th>{{ languageService.i18n['fm.field'] }}</th>
                    <th>{{ languageService.i18n['fm.BS'] }}</th>
                    <th>{{ languageService.i18n['BS.neName'] }}</th>
                    <th>{{ languageService.i18n['fm.alarm'] }}</th>
                    <th>{{ languageService.i18n['fm.severity'] }}</th>
                    <th>{{ languageService.i18n['fm.occurtime'] }}</th>
                    <th>{{ languageService.i18n['fm.status'] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let opt of msgToDisplay | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: 1, id: 'fmList' }; let i = index" >
                    <td>{{ (p - 1) * pageSize + i + 1 }}</td> <!-- 更動為動態生成每條訊息的編號 -->
                    <td>{{opt.fieldName}}</td>
                    <td>{{opt.bsName}}</td>
                    <td>{{opt.compname}}</td>
                    <td>{{opt.probablecause}}</td>
                    <td>{{opt.eventtype}}</td>
                    <td>{{opt.timestamp}}</td>
                    <td>{{opt.status}}</td>
                  </tr>
                </tbody>
              </table>
              <!-- pagination -->    
              <span class="total">{{languageService.i18n['fm.total1']}}  {{languageService.i18n['fm.total2']}}</span>
              <pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
                nextLabel="" id="fmList">
              </pagination-controls>
          </div>
        </div>
      </div>
    </div>

    <div><!-- 網元列表 -->
      <span>{{ languageService.i18n['BS.neList'] }}</span>
      <input id="neList" class="toggle" type="checkbox">
      <label for="neList" class="lbl-toggle"></label>
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>{{ languageService.i18n['BS.neName'] }}</th>
                  <th>{{ languageService.i18n['BS.neType'] }}</th>
                  <th>{{ languageService.i18n['BS.ip'] }}</th>
                  <th>{{ languageService.i18n['BS.port'] }}</th>
                  <th>{{ languageService.i18n['BS.neStatus'] }}</th>
                  <th>{{ languageService.i18n['BS.view'] }}</th>
                </tr>
              </thead>
              <tbody>

                <!-- 當數據正在加載時顯示進度條 @2024/03/29 Add -->
                <ng-container *ngIf="isLoadingNEList">
                  <div class="progress-spinner-container">
                    <!-- 指示器大小設置 -->
                    <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="65"></mat-progress-spinner>
                  </div>
                </ng-container>

                <!-- 加載完成後顯示 一體式或分佈式 BS 網元軟體版本資訊 數據 @2024/03/27 Add -->
                <ng-container *ngIf="!isLoadingNEList">
                  <tr
                    *ngFor="let NE of NEList_InThisBS.components | paginate: { 
                                itemsPerPage: pageSize, 
                                  currentPage: p, 
                                    totalItems: totalItems, 
                                      id: 'PageDisplay_of_NEList'
                            };">
                    <td>{{ NE.name }}</td>
                    <td>
                      <label *ngIf=" NE.comtype === 1 ">CU</label>
                      <label *ngIf=" NE.comtype === 2 ">DU</label>
                      <label *ngIf=" NE.comtype === 3 ">RU</label>
                      <label *ngIf=" NE.comtype === 4 ">CU+DU</label>
                      <label *ngIf=" NE.comtype === 5 ">CU+DU+RU</label>
                    </td>
                    <td>{{ NE.ip }}</td>
                    <td>{{ NE.port }}</td>
                    <td class="icon">
                      <label *ngIf=" NE.status === 0 " class="grayLight"></label>
                      <label *ngIf=" NE.status === 1 " class="redLight"></label>
                      <label *ngIf=" NE.status === 2 " class="greenLight"></label>
                    </td>
                    <td class="icon">
                      <mat-icon tooltip="{{ languageService.i18n['BS.view'] }}" (click)="viewNEDetailInfo( NE )">remove_red_eye</mat-icon>
                    </td>
                  </tr>
                </ng-container>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div>
      <span>{{ languageService.i18n['BS.performance'] }}</span>
      <input id="performance" class="toggle" type="checkbox">
      <label for="performance" class="lbl-toggle"></label>
      
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="collabsible">
      
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

