<div class="ocloudInfo component">
  <h5>
    <button (click)="back()"><span class="material-icons">arrow_back</span>Back</button>
    {{ languageService.i18n['BS.info'] }} – {{ bsName }} / 
    <label *ngIf="bsType === '1' ">All-in-one:&thinsp;[CU + DU + RU]</label>
    <label *ngIf="bsType === '2'">Disaggregated:&thinsp;[CU] + [DU] + [RU]</label>
  </h5>

  <div class="main collabsible">
    <div class="baseInfo">
      <span>{{ languageService.i18n['basic.info'] }}</span>
      <input id="baseInfo" class="toggle" type="checkbox">
      <label for="baseInfo" class="lbl-toggle"></label>
      <div class="collapsible-content">
        <div class="content-inner">
          <ul>
            <li><!-- 基站名稱 -->
              <label>{{ languageService.i18n['BS.name'] }}</label>
               <span *ngIf="selectBsInfo">{{ selectBsInfo.name }}</span>
               <span *ngIf="selectBsInfo_dist">{{ selectBsInfo_dist.name }}</span>
            </li>
            <li><!-- 基站類型 -->
              <label>{{ languageService.i18n['BS.type'] }}</label>
              <span *ngIf="selectBsInfo.bstype === 1">All-in-one:&thinsp;[CU + DU + RU]</span>
              <span *ngIf="selectBsInfo_dist.bstype === 2">Disaggregated:&thinsp;[CU] + [DU] + [RU]</span>
            </li>
            <li><!-- 基站Cell數量 -->
              <label>{{ languageService.i18n['BS.cellCount'] }}</label>
              <span>{{ bsCellCount }}</span>
            </li>
            <li><!-- 基站地點說明 -->
              <label>{{ languageService.i18n['BS.description'] }}</label>
              <span *ngIf="selectBsInfo">{{ selectBsInfo.description }}</span>
              <span *ngIf="selectBsInfo_dist">{{ selectBsInfo_dist.description }}</span>
            </li>
            <li><!-- 基站天線位置座標 -->
              <label>{{ languageService.i18n['BS.bsAntennaCoord'] }}</label>
              <span *ngIf="selectBsInfo">{{ selectBsInfo.position }}</span>
              <span *ngIf="selectBsInfo_dist">{{ selectBsInfo_dist.position }}</span>
            </li>
            <li><!-- 基站最後心跳時間 -->
              <label>{{ languageService.i18n['BS.lastHeartbeatTime'] }}</label>
              <span *ngIf="selectBsInfo">{{ selectBsInfo.laston }}</span>
              <span *ngIf="selectBsInfo_dist">{{ selectBsInfo_dist.laston }}</span>
            </li>
            <li><!-- 基站狀態 -->
              <label>{{ languageService.i18n['BS.status'] }}</label>

              <!-- 一體式 -->
              <span *ngIf=" selectBsInfo.status === 0 " class="grayLight"></span>
              <span *ngIf=" selectBsInfo.status === 1 " class="redLight"></span>
              <span *ngIf=" selectBsInfo.status === 2 " class="greenLight"></span>

              <!-- 分佈式 -->
              <span *ngIf=" selectBsInfo_dist.status === 0 " class="grayLight"></span>
              <span *ngIf=" selectBsInfo_dist.status === 1 " class="redLight"></span>
              <span *ngIf=" selectBsInfo_dist.status === 2 " class="greenLight"></span>

            </li>
            <li>
              <label>{{languageService.i18n['software_version']}}</label>
              <span>{{bsComponentInfo.port}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <span>
        Datastore:
        <span>
          Source
          <select>
            <option value=""></option>
            <option *ngFor="let opt of cmpsource" [value]="opt">{{commonService.textTransfer(opt)}}</option>
          </select>
          <span class="material-symbols-outlined">double_arrow</span>
          Target
          <select>
            <option value=""></option>
            <option *ngFor="let opt of cmpsource" [value]="opt">{{commonService.textTransfer(opt)}}</option>
          </select>
          <button>Copy</button>
        </span>
        <button>Export Datastore</button>
        <button>Update Datastore</button>
      
      </span>
      <input id="Datastore" class="toggle" type="checkbox">
      <label for="Datastore" class="lbl-toggle"></label>
      
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="collabsible">
            <div>
              <span>Netconf Server:<button>Update</button></span>
              <input id="treemenu" class="toggle" type="checkbox">
              <label for="treemenu" class="lbl-toggle"></label>
              <div class="collapsible-content">
                <div class="content-inner">
                  <ul class="treeList">
                    <li class="SubItem">
                        <label class="active">第1層</label>
                        <ul>
                          <li class="SubItem">
                            <label class="active">第2層</label>
                            <ul>
                              <li class="SubItem">
                                <label class="active">第3層</label>
                                <ul>
                                  <li>
                                    <label class="active">第4層</label>
                                    <span><input type="text"></span>
                                  </li>
                                  <li class="SubItem">
                                    <label class="active">第4層</label>
                                    <ul>
                                      <li class="SubItem">
                                        <label class="active">第5層</label>
                                        <ul>
                                          <li>
                                            <label>第6層</label>
                                            <span><input type="text"></span>
                                          </li>
                                          <li>
                                            <label>第6層</label>
                                            <span><input type="text"></span>
                                          </li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </li>
                                  <li>
                                    <label>第4層</label>
                                    <span><input type="text"></span>
                                  </li>
                                </ul>
                              </li>
                              <li><label>第3層</label><span><input type="text"></span></li>
                              <li><label>第3層</label><span><input type="text"></span></li>
                            </ul>
                          </li>
                          <li class="SubItem">
                            <label class="active">第2層</label>
                            <ul>
                              <li class="SubItem">
                                <label class="active">第3層</label>
                                <ul>
                                  <li>
                                    <label>第4層</label>
                                    <span><input type="text"></span>
                                  </li>
                                </ul>
                              </li>
                              <li><label>第3層</label><span><input type="text"></span></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><label>第1層</label><span><input type="text"></span></li>
                      <li><label>第1層</label><span><input type="text"></span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <span>Netconf Server:<button>Update</button></span>
              <input id="netconf-server" class="toggle" type="checkbox">
              <label for="netconf-server" class="lbl-toggle"></label>
              <div class="collapsible-content">
                <div class="content-inner">
                  <ul class="treeList">
                    <li class="SubItem"> 
                        <label class="active">第1層</label>
                        <ul>
                          <li class="SubItem">
                            <label class="active">第2層</label>
                            <ul>
                              <li><label>第3層</label><span><input type="text"></span></li>
                              <li><label>第3層</label><span><input type="text"></span></li>
                              <li><label>第3層</label><span><input type="text"></span></li>
                            </ul>
                          </li>
                          
                        </ul>
                      </li>
                      <li><label>第1層</label><span><input type="text"></span></li>
                      <li><label>第1層</label><span><input type="text"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <span>{{languageService.i18n['software.info']}} – {{bsComponentInfo.firm}} – {{bsComponentInfo.modelname}}</span>
      <input id="softInfo" class="toggle" type="checkbox">
      <label for="softInfo" class="lbl-toggle"></label>
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="panel">
            <!-- <label *ngFor="let software of bsComponentInfo.sm.softwareInventory.softwareSlot" [for]="'radio-' + software.name">
              <input type="radio" [id]="'radio-' + software.name" name="software-group">
              <div>
                <ul>
                  <li><label>Software</label><span>{{ software.name }}</span></li>
                  <li><label>Status</label><span>{{ software.status }}</span></li>
                  <li><label>Active</label><span>{{ software.active }}</span></li>
                  <li><label>Running</label><span>{{ software.running }}</span></li>
                  <li><label>Access</label><span>{{ software.access }}</span></li>
                  <li><label>Version</label><span>{{ software.buildVersion }}</span></li>
                </ul>
              </div>
            </label> -->
          </div>

            <div class="table">
              <table>
                <thead>
                  <tr>
                    <!-- <th>{{languageService.i18n['table.header_name']}}</th> -->
                    <th>{{languageService.i18n['manufacturer']}}</th>
                    <th>{{languageService.i18n['model']}}</th>
                    <th>{{languageService.i18n['type']}}</th>
                    <th>{{languageService.i18n['version']}}</th>
                    <th>{{languageService.i18n['notes']}}</th>
                    <th>{{languageService.i18n['upload_time']}}</th>
                    <th>{{languageService.i18n['cm.apply']}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- <td>{{bsComponentInfo.name}}</td> -->
                    <td>{{bsComponentInfo.firm}}</td>
                    <td>{{bsComponentInfo.modelname}}</td>
                    <td>{{bsComponentInfo.comtype}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="center">
                      <mat-icon tooltip="{{languageService.i18n['view_detail']}}">cloud_download</mat-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          
        </div>
      </div>
    </div>

    <div><span>Alarms</span>
      <input id="faultMsg" class="toggle" type="checkbox">
      <label for="faultMsg" class="lbl-toggle">
        </label>
      <div class="collapsible-content">
        <div class="content-inner">
          <form [formGroup]="searchForm">
            <div class="filter">
              <span><label>{{languageService.i18n['fm.severity']}}</label>
                <select formControlName="severity">
                  <option value="All">All</option>
                  <option *ngFor="let severit of severitys" [value]="severit">{{commonService.textTransfer(severit)}}</option>
                </select>
                <!-- <mat-error *ngIf="searchForm.controls['severity'].invalid">Required</mat-error> -->
              </span>
              <span><label>{{languageService.i18n['fm.start']}}</label>
                <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
              </span>
              <span><label>{{languageService.i18n['fm.end']}}</label>
                <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
              </span>
              <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search()">search</span>
              <!-- <span tooltip="{{languageService.i18n['clear_search']}}" class="material-symbols-outlined" (click)="clear_search()">clear</span> -->
            </div>
          </form>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>{{languageService.i18n['fm.no']}}</th>
                    <th>{{languageService.i18n['fm.field']}}</th>
                    <th>{{languageService.i18n['fm.BS']}}</th>
                    <th>{{languageService.i18n['fm.component']}}</th>
                    <th>{{languageService.i18n['fm.alarm']}}</th>
                    <th>{{languageService.i18n['fm.severity']}}</th>
                    <th>{{languageService.i18n['fm.occurtime']}}</th>
                    <th>{{languageService.i18n['fm.status']}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let opt of msgToDisplay | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: 1, id: 'fmList' }; let i = index" >
                    <td>{{ (p - 1) * pageSize + i + 1 }}</td> <!-- 更動為動態生成每條訊息的編號 -->
                    <td>{{opt.fieldName}}</td>
                    <td>{{opt.bsName}}</td>
                    <td>{{opt.compname}}</td>
                    <td>{{opt.probablecause}}</td>
                    <td>{{opt.eventtype}}</td>
                    <td>{{opt.timestamp}}</td>
                    <td>{{opt.status}}</td>
                  </tr>
                </tbody>
              </table>
              <!-- pagination -->    
              <span class="total">{{languageService.i18n['fm.total1']}}  {{languageService.i18n['fm.total2']}}</span>
              <pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
        nextLabel="" id="fmList">
          </pagination-controls>
            </div>

            <div class="note_info">
              <ul>
                <li><label>Field Name</label><span>field01</span></li>
                <li><label>BS Name</label><span>BS_01</span></li>
                <li><label>Severity</label><span>CRITICAL</span></li>
                <li><label>Occur Time</label><span>2023-02-21 09:28:01</span></li>
                <li><label>Status</label><span>0</span></li>
              </ul>
              <ul class="event">
                <li><label>Event Type</label><span>CRITICAL</span></li>
                <li><label>Event Cause</label><span>fault-text_2</span></li>
                <li><label>Event Desc.</label><span>fault-text_2</span></li>
              </ul>
            </div>
        </div>
      </div>
    </div>

    <div>
      <span>{{languageService.i18n['cm.file']}}</span>
      <input id="cm" class="toggle" type="checkbox">
      <label for="cm" class="lbl-toggle"></label>
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>{{languageService.i18n['fileName']}}</th>
                  <th>{{languageService.i18n['cm.path']}}</th>
                  <th>{{languageService.i18n['cm.download']}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{bsComponentInfo.name}}</td>
                  <td>{{bsComponentInfo.firm}}</td>
                  <td class="center"><mat-icon tooltip="{{languageService.i18n['view_detail']}}">download_for_offline</mat-icon></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>

