<div class="ocloudInfo component">
  <h5>
    <button (click)="back()"><span class="material-icons">arrow_back</span>Back</button>
      {{ languageService.i18n['BS.info'] }} – {{ bsName }} / 
    <label *ngIf=" bsType === '1' ">All-in-one:&thinsp;[CU + DU + RU]</label>
    <label *ngIf=" bsType === '2' ">Disaggregated:&thinsp;[CU] + [DU] + [RU]</label>
  </h5>

  <div class="main collabsible">
    <div class="baseInfo">
      <span>{{ languageService.i18n['basic.info'] }}</span>
      <input id="baseInfo" class="toggle" type="checkbox">
      <label for="baseInfo" class="lbl-toggle"></label>

      <div class="collapsible-content">
        <div class="content-inner">

          <!-- 當數據正在加載時顯示進度條 @2024/03/27 Add -->
          <ng-container *ngIf="isLoadingBsInfo">
            <div class="progress-spinner-container">
              <!-- 指示器大小設置 -->
              <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="100"></mat-progress-spinner>
            </div>
          </ng-container>

          <!-- 加載完成後顯示 基站資訊 數據 @2024/03/27 Add -->
          <ng-container *ngIf="!isLoadingBsInfo">
            <ul>
              <li>
                <!-- 基站名稱 -->
                <label>{{ languageService.i18n['BS.name'] }}</label>
                <span *ngIf="selectBsInfo">{{ selectBsInfo.name }}</span>
                <span *ngIf="selectBsInfo_dist">{{ selectBsInfo_dist.name }}</span>
              </li>
              <li>
                <!-- 基站類型 -->
                <label>{{ languageService.i18n['BS.type'] }}</label>
                <span *ngIf="selectBsInfo.bstype === 1">All-in-one:&thinsp;[CU + DU + RU]</span>
                <span *ngIf="selectBsInfo_dist.bstype === 2">Disaggregated:&thinsp;[CU] + [DU] + [RU]</span>
              </li>
              <li>
                <!-- 基站狀態 -->
                <label>{{ languageService.i18n['BS.status'] }}</label>

                <!-- 一體式 -->
                <span *ngIf=" selectBsInfo.status === 0 " class="grayLight"></span>
                <span *ngIf=" selectBsInfo.status === 1 " class="redLight"></span>
                <span *ngIf=" selectBsInfo.status === 2 " class="greenLight"></span>

                <!-- 分佈式 -->
                <span *ngIf=" selectBsInfo_dist.status === 0 " class="grayLight"></span>
                <span *ngIf=" selectBsInfo_dist.status === 1 " class="redLight"></span>
                <span *ngIf=" selectBsInfo_dist.status === 2 " class="greenLight"></span>
              </li>
              <li>
                <!-- 基站 Cell 數量 -->
                <label>{{ languageService.i18n['BS.cellCount'] }}</label>
                <span>{{ selectBsCellCount }}</span>
              </li>
              <li>
                <!-- 基站地點說明 -->
                <label>{{ languageService.i18n['BS.description'] }}</label>
                <span *ngIf="selectBsInfo">{{ selectBsInfo.description }}</span>
                <span *ngIf="selectBsInfo_dist">{{ selectBsInfo_dist.description }}</span>
              </li>
              <li>
                <!-- 基站天線位置座標 -->
                <label>{{ languageService.i18n['BS.bsAntennaCoord'] }}</label>
                <!-- 依據 BS 類型，顯示對應的位置內容訊息 -->

                <!-- 一體式 -->
                <ng-container>
                  <span *ngIf="selectBsInfo.bstype === 1">{{ selectBsInfo.position }}</span>
                </ng-container>

                <!-- 分佈式 -->
                <ng-container *ngIf="selectBsInfo_dist.bstype === 2">
                  <div class="table">
                    <table class="par_success">
                      <thead>
                        <tr>
                          <th>{{ languageService.i18n['BS.ruNeName'] }}</th>
                          <th>{{ languageService.i18n['BS.latLong'] }}</th>
                        </tr>
                      </thead>
                      <tbody>

                        <!-- 當數據正在加載時顯示進度條 @2024/03/27 Add -->
                        <ng-container *ngIf="isLoadingNEList">
                          <div class="progress-spinner-container">
                            <!-- 指示器大小設置 -->
                            <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="65"></mat-progress-spinner>
                          </div>
                        </ng-container>

                        <!-- 加載完成後顯示 分佈式基站經緯度資訊 數據 @2024/03/27 Add -->
                        <ng-container *ngIf="!isLoadingNEList">
                          <tr *ngFor="let ruInfo of ruIdNamePositionMap | keyvalue">
                            <td>{{ ruInfo.value.name }}</td>
                            <td>{{ ruInfo.value.position }}</td>
                          </tr>
                        </ng-container>
                        
                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </li>
              <li>
                <!-- 基站最後心跳時間 -->
                <label>{{ languageService.i18n['BS.lastHeartbeatTime'] }}</label>
                <span *ngIf="selectBsInfo">{{ selectBsInfo.laston }}</span>
                <span *ngIf="selectBsInfo_dist">{{ selectBsInfo_dist.laston }}</span>
              </li>
              <li>
                <!-- 軟體版本 -->
                <label>{{ languageService.i18n['software_version'] }}</label>
                <div class="table">
                  <table class="par_success">
                    <thead>
                      <tr>
                        <th>{{ languageService.i18n['BS.neName'] }}</th>
                        <th>{{ languageService.i18n['BS.neType'] }}</th>
                        <th>{{ languageService.i18n['BS.neModel'] }}</th>
                        <th>{{ languageService.i18n['BS.neSFversion'] }}</th>
                      </tr>
                    </thead>
                    <tbody>

                      <!-- 當數據正在加載時顯示進度條 @2024/03/27 Add -->
                      <ng-container *ngIf="isLoadingNEList">
                        <div class="progress-spinner-container">
                          <!-- 指示器大小設置 -->
                          <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="65"></mat-progress-spinner>
                        </div>
                      </ng-container>

                      <!-- 加載完成後顯示 一體式或分佈式 BS 網元軟體版本資訊 數據 @2024/03/27 Add -->
                      <ng-container *ngIf="!isLoadingNEList">
                        <!-- 一體式或分佈式 BS 共用網元軟體版本表格 -->
                        <tr *ngFor="let swInfo of swVersionMap | keyvalue">
                          <td>{{ swInfo.value.neName }}</td>
                          <td>{{ swInfo.value.neType }}</td>
                          <td>{{ swInfo.value.neModel }}</td>
                          <td>{{ swInfo.value.neSFversion }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </li>            
            </ul>
          </ng-container>

        </div>
      </div>
    </div>

    <div>
      <span>{{ languageService.i18n['BS.topology'] }}</span>
      <input id="Datastore" class="toggle" type="checkbox">
      <label for="Datastore" class="lbl-toggle"></label>
      
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="collabsible">

            <!-- 使用 Canvas 畫網元拓樸圖 -->

            <canvas #canvas class="topology-canvas"></canvas>
            <!-- 顯示組件資訊 -->
            <div *ngIf="bsType === '2'">
              <div *ngFor="let cu of componentArray | filterBy: 'type': 'cu'">
                <!-- 顯示 CU 的資訊 -->
              </div>
              <div *ngFor="let du of componentArray | filterBy: 'type': 'du'">
                <!-- 顯示 DU 的資訊 -->
              </div>
              <div *ngFor="let ru of componentArray | filterBy: 'type': 'ru'">
                <!-- 顯示 RU 的資訊 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <span>{{ languageService.i18n['BS.parameters'] }}</span>
      <input id="Datastore" class="toggle" type="checkbox">
      <label for="Datastore" class="lbl-toggle"></label>
      
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="collabsible">
      
          </div>
        </div>
      </div>
    </div>

    <div>
      <span>{{ languageService.i18n['BS.neighborBsList'] }}</span>
      <input id="softInfo" class="toggle" type="checkbox">
      <label for="softInfo" class="lbl-toggle"></label>
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="panel">
            <!-- <label *ngFor="let software of bsComponentInfo.sm.softwareInventory.softwareSlot" [for]="'radio-' + software.name">
              <input type="radio" [id]="'radio-' + software.name" name="software-group">
              <div>
                <ul>
                  <li><label>Software</label><span>{{ software.name }}</span></li>
                  <li><label>Status</label><span>{{ software.status }}</span></li>
                  <li><label>Active</label><span>{{ software.active }}</span></li>
                  <li><label>Running</label><span>{{ software.running }}</span></li>
                  <li><label>Access</label><span>{{ software.access }}</span></li>
                  <li><label>Version</label><span>{{ software.buildVersion }}</span></li>
                </ul>
              </div>
            </label> -->
          </div>

            <div class="table">
              <table>
                <thead>
                  <tr>
                    <!-- <th>{{languageService.i18n['table.header_name']}}</th> -->
                    <th>{{languageService.i18n['manufacturer']}}</th>
                    <th>{{languageService.i18n['model']}}</th>
                    <th>{{languageService.i18n['type']}}</th>
                    <th>{{languageService.i18n['version']}}</th>
                    <th>{{languageService.i18n['notes']}}</th>
                    <th>{{languageService.i18n['upload_time']}}</th>
                    <th>{{languageService.i18n['cm.apply']}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- <td>{{bsComponentInfo.name}}</td> -->
                    <td>{{bsComponentInfo.firm}}</td>
                    <td>{{bsComponentInfo.modelname}}</td>
                    <td>{{bsComponentInfo.comtype}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="center">
                      <mat-icon tooltip="{{languageService.i18n['view_detail']}}">cloud_download</mat-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          
        </div>
      </div>
    </div>

    <div>
      <span>{{ languageService.i18n['BS.alarms'] }}</span>
      <input id="faultMsg" class="toggle" type="checkbox">
      <label for="faultMsg" class="lbl-toggle">
      </label>

      <div class="collapsible-content">
        <div class="content-inner">
          <!-- <form [formGroup]="searchForm">
            <div class="filter">
              <span><label>{{languageService.i18n['fm.severity']}}</label>
                <select formControlName="severity">
                  <option value="All">All</option>
                  <option *ngFor="let severit of severitys" [value]="severit">{{commonService.textTransfer(severit)}}</option>
                </select> -->
                <!-- <mat-error *ngIf="searchForm.controls['severity'].invalid">Required</mat-error> -->
              <!-- </span>
              <span><label>{{languageService.i18n['fm.start']}}</label>
                <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
              </span>
              <span><label>{{languageService.i18n['fm.end']}}</label>
                <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
              </span>
              <span tooltip="{{languageService.i18n['search']}}" class="material-icons" (click)="search()">search</span>
              <span tooltip="{{languageService.i18n['clear_search']}}" class="material-symbols-outlined" (click)="clear_search()">clear</span>
            </div>
          </form> -->
          <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>{{languageService.i18n['fm.no']}}</th>
                    <th>{{languageService.i18n['fm.field']}}</th>
                    <th>{{languageService.i18n['fm.BS']}}</th>
                    <th>{{languageService.i18n['fm.component']}}</th>
                    <th>{{languageService.i18n['fm.alarm']}}</th>
                    <th>{{languageService.i18n['fm.severity']}}</th>
                    <th>{{languageService.i18n['fm.occurtime']}}</th>
                    <th>{{languageService.i18n['fm.status']}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let opt of msgToDisplay | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: 1, id: 'fmList' }; let i = index" >
                    <td>{{ (p - 1) * pageSize + i + 1 }}</td> <!-- 更動為動態生成每條訊息的編號 -->
                    <td>{{opt.fieldName}}</td>
                    <td>{{opt.bsName}}</td>
                    <td>{{opt.compname}}</td>
                    <td>{{opt.probablecause}}</td>
                    <td>{{opt.eventtype}}</td>
                    <td>{{opt.timestamp}}</td>
                    <td>{{opt.status}}</td>
                  </tr>
                </tbody>
              </table>
              <!-- pagination -->    
              <span class="total">{{languageService.i18n['fm.total1']}}  {{languageService.i18n['fm.total2']}}</span>
              <pagination-controls (pageChange)="pageChanged($event)" screenReaderPaginationLabel="Pagination" previousLabel=""
                nextLabel="" id="fmList">
              </pagination-controls>
          </div>
        </div>
      </div>
    </div>

    <div>
      <span>{{ languageService.i18n['BS.neList'] }}</span>
      <input id="cm" class="toggle" type="checkbox">
      <label for="cm" class="lbl-toggle"></label>
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>{{languageService.i18n['fileName']}}</th>
                  <th>{{languageService.i18n['cm.path']}}</th>
                  <th>{{languageService.i18n['cm.download']}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{bsComponentInfo.name}}</td>
                  <td>{{bsComponentInfo.firm}}</td>
                  <td class="center"><mat-icon tooltip="{{languageService.i18n['view_detail']}}">download_for_offline</mat-icon></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div>
      <span>{{ languageService.i18n['BS.performance'] }}</span>
      <input id="Datastore" class="toggle" type="checkbox">
      <label for="Datastore" class="lbl-toggle"></label>
      
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="collabsible">
      
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

