
.dashboard > div {
    display: inline-block;
    vertical-align: top;
}
.dashboard .leftArea {
    width: 100%;
}
.dashboard .leftArea > span {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    border-radius: 1em;
    border: 1px solid #1d4b85;
    padding: 1%;
    color: #000;
}
.dashboard .leftArea > span:not(:last-child) {
    margin:0 1.5% 1%;
}
.dashboard .leftArea > span img {
    width: auto;
    height: 9em;
    margin: 1% 0 0 5%;
}
.dashboard .rightArea {
    width: 97%;
}
.dashboard .rightArea > div {
    border-radius: 10px;
}
.dashboard .rightArea > div:nth-child(1) .bigValue,
.dashboard .rightArea > div:nth-child(2) .bigValue {
    margin: .3em 0 0;
}
.dashboard .rightArea > div label {
    display: block;
}
.dashboard .rightArea > div.resource {
    width: 89%;
    display: block;
}
.dashboard .rightArea > div.resource > label {
    text-align: center;
}
.dashboard .rightArea > div.resource > span {
    display: inline-block;
    vertical-align: top;
    width: 44%;
    text-align: left;
    position: relative;
    padding: 1% 3%;
}
.dashboard .rightArea > div.resource > span label {
    text-align: left;
}

.boxTitle {
    position: relative;
}
.boxTitle a {
    position: absolute;
    font-size: .8em;
    right: 1em;
}
.boxTitle a .material-icons{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 0.2em;
    font-size: 20px;
}
.dashboard .table table tr th {
    white-space: nowrap;
}
.dashboard .table table tr th,
.dashboard .table table tr td {
    width: 7vw;
}
.dashboard .table table tr th:first-child,
.dashboard .table table tr td:first-child {
    width: 23vw;
    
}
.dashboard .table table tr th:not(:first-child),
.dashboard .table table tr td:not(:first-child) {
    text-align: center;
}
.dashboard .table table tr td:last-child {
    cursor: pointer;
    color: #2e94e7;
}
.dashboard .table table tr td:last-child .material-icons {
    font-size: 1.6em;
    vertical-align: sub;
}
.dashboard .leftArea .nodes {
    padding: 1% 3%;
    margin: 1.5%;
    border-radius: 10px;
    height:32.8em;
}
.dashboard .leftArea .nodes span {
    vertical-align: top;
    display: inline-block;
    padding: 1% 3%;
    width: 50%;
    position: relative;
}
.dashboard .leftArea .nodes span:after,
.dashboard .rightArea > div.resource > span:after {
    content: '';
    width: 1px;
    height: 4em;
    position: absolute;
    right: 0;
    top: 1em;
}
.dashboard .leftArea .nodes span:nth-child(3)::after,
.dashboard .rightArea > div.resource > span:nth-child(3)::after {
    display: none;
}
.dashboard .bigValue {
    font-size: 4.5em;
    font-weight: bold;
    display: block;
    font-family: sans-serif;
    line-height: 1;
    margin: 0;
}
.resource .bigValue {
    margin-top: 0;
}
.dashboard .leftArea .nodes > label {
    display: block;
}
.dashboard .leftArea .nodes .chart {
    display: block;
    width: 100%;
    height: 15.3em;
    margin: 0.2em 0 0
}

.dashboard .boxTitle {
    font-size: 1.5em;
    line-height: 2em;
    margin: 0 20% 0 0;
    float: right;
    text-align: center;
}
.rightArea .boxTitle {
 float: none;
 margin: 0 0 0.3em 1.5%;
}
.dashboard .unit {
    font-size: 1.3em;
}
.cpu {
    width: 80%;
    margin: 0 auto 0;
  }
.cpu > div {
    width: 90%;
    margin: auto;
    overflow: initial;
  }
  .cpu .bold {
    font-size: 1.2em;
    font-weight: bold;
    color: #f5e388;
  }
  .cpu span {
    display: inline-block;
    width: 50%;
    margin: 0 0 1em;
  }
  .cpu span label {
    width: 65%;
    display: inline-block;
    font-weight: normal;
  }

  .cpu span img {
    margin: 0 0.8em 0 0;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    width: 3em;
  }
  .cpu span div {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: 1.34em;
    width: 72%;
    text-align: left;
    font-weight: bold;
  }
  .percent {
    position: relative;
    width: 6em;
    height: 5.5em;
    padding: 2.3% 0 0;
    font-size: 130%;
    font-weight: bold;
    font-family: Microsoft JhengHei;
    line-height: 120%;
    border-radius: 50%;
    z-index: 1000;
    display: inline-block;
    text-align: center;
    margin: 0 1em;
    border: 5px solid;
}
  .Critical {
    border-color: #FF0000;
  }
  .Major {
    border-color: #FFA042;
  }
  .Minor {
    border-color: #FFFF37;
  }
  .Warning {
    border-color: #00FFFF;
  }
  .table {
    width: 100%;
  }
  .table h5 {
    margin-left: 1em;
  }
@media screen and (max-width:1920px) {
    .dashboard .leftArea > span img {
        height: 7em;
    }
    .table table {
        font-size: 1em;
        max-height: 60vh;
    }
    .dashboard .boxTitle {
        font-size: 1.5em;
        line-height: 2em;
        margin: 0 15% 0 0;
    }
    .dashboard .table table tr th,
    .dashboard .table table tr td {
        width: 9vw;
    }
}
@media screen and (max-width:1680px){
  .dashboard .leftArea .nodes {
    height: 23.2em;
  }
}
@media only screen and (max-width:1600px) {
    .dashboard .leftArea .nodes .chart {
        height: 13.3em;
    }
    .dashboard .bigValue {
        font-size: 3.5em;
    }
    .dashboard .nodes .bigValue {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 23%;
    }

    .dashboard .rightArea > div.resource {
        height: 22.5vh;
    }
    .dashboard .leftArea .nodes span:after,
    .dashboard .rightArea > div.resource > span:after {
        content: '';
        height: 3.5em;
    }
    .dashboard .table table {
        margin: 0;
    }
    .dashboard .table table td,
    .dashboard .table table th {
    padding: .5% 1%;
    }
 /*    .dashboard .boxTitle {
        font-size: 1.3em;
        padding: 0;
    } */
    .dashboard .leftArea .nodes {
      height: 18.6em;
  }
}

@media screen and (max-width:1440px) {
  .dashboard .leftArea .nodes {
    height: 18.5em;
}
}
@media screen and (max-width:1400px) and (max-hight:1050px) {
    .dashboard .leftArea .nodes {
        height: 21.9em;
  }
}
@media only screen and (max-width: 1600px) {
    .table table {
        max-height: 55vh;
    }
}
@media only screen and (max-width: 1366px) {
    .dashboard .leftArea > span {
        width: 30%;
    }
    .dashboard .leftArea {
        text-align: center;
    }
    .dashboard .rightArea {
        width: 100%;
        margin: auto;
        display: block;
    }
    .dashboard .rightArea h5 {
        margin-left: 1em;
    }
    .dashboard .leftArea > span img {
        height: 5em;
      }
      .dashboard .boxTitle {
        font-size: 1.25em;
        line-height: 1.5em;
        margin: 0 14% 0 0;
      }
    .w70 > div {
        margin: 0 0 0.8em 0;
        padding-bottom: 0em;
        min-height: 10em;
    }
  .cpu{
    width: 90%;
}
  .dashboard .leftArea .nodes .chart {
      height: 10.8em;
  }
  .dashboard .table table {
      margin: 0 auto .5em;
  }
  .dashboard .table table th,.dashboard .table table td {
      font-size: 100%!important;
  }
  .dashboard .rightArea > div.resource {
    width: 93%;
  }
  .dashboard .table .boxTitle {
    margin-left: 0;
  }
  .dashboard .leftArea .nodes {
      height: 15.4em;
  }
  .dashboard .rightArea > div:nth-child(1) .bigValue,
  .dashboard .rightArea > div:nth-child(2) .bigValue {
    margin: 0.2em 0 0;
  }
  .dashboard .bigValue {
      font-size: 2.5em;
  }
  .dashboard .rightArea > div.resource > span:last-child .bigValue {
      margin-left: 1.8em;
  }


  .dashboard .leftArea div.w30 > div {
    height:9.9em;
}
.percent {
    width: 5.5em;
    height: 5em;
    /* padding: 2% 0 0; */
    font-size: 116%;
  }
  .cpu span img {
    margin: 0 0.5em 0 0;
    width: 2em;
    }
    .cpu span div {
    font-size: 1em;
    width: 72%;
    }
    .cpu span {
        margin: 0.33em 0;
        font-size: 1.2em;
        width: 50%;
    }
    .cpu span label {
     width: initial;
      margin: 0 6% 0 0;
  }
  .dashboard .table table tr th,
  .dashboard .table table tr td {
    width: 11vw;
    }
    .table table {
        max-height: 55vh;
    }
}
