<div class="dashboard">
  <div class="leftArea">
    <div class="w30">
      <div>
        <label class="boxTitle">Fields</label>
        <span class="bigValue" *ngFor="let field of fieldSummary.fieldSummaryInfo;">{{field.fieldNum}}</span>
      </div>

      <div>
        <label class="boxTitle">gNbs</label>
        <span class="bigValue" *ngFor="let field of fieldSummary.fieldSummaryInfo;">{{field.bsNum}}</span>
      </div>
    </div>
    <div class="w70">
      <div class="Fault">
        <label class="boxTitle">{{languageService.i18n['index.faultMsg']}}
          <a href="javascript:void(0)" (click)="viewMore()">
            {{languageService.i18n['index.viewMore']}}<span class="material-icons">more_horiz</span>
          </a>
        </label>
        <span class="percent {{severityText(severity)}}" *ngFor="let severity of severitys;let i=index">
          {{severityText(severity)}}<br>{{severityCount(severity)}}
        </span>
      </div>
      <div>
        <label class="boxTitle">UEs</label>
        <span class="bigValue" *ngFor="let field of fieldSummary.fieldSummaryInfo;">{{ueNum}}</span>
      </div>
    </div>
</div>
    <div class="rightArea">
      <div class="table">
        <label class="boxTitle">{{languageService.i18n['field_list']}}</label>
        <table>
          <thead>
            <tr>
              <th>Field {{languageService.i18n['table.header_name']}}</th>
              <th>Number of gNBs</th>
              <th>Number of UEs</th>
              <th>Coverage</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let opt of ocloudSummary">
              <td>{{opt.name}}</td>
              <td>{{opt.dmsCount}}</td>
              <td>{{opt.nfCount}}</td>
              <td>{{opt.faultCount}}</td>
              <td (click)="veiw(opt)">
                <mat-icon tooltip="{{languageService.i18n['view_detail']}}">search</mat-icon>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
