<div class="dashboard">
  <div class="leftArea">
    <span>
      <img src="assets/img/fields.svg">
      <label class="boxTitle">{{languageService.i18n['num_fields']}}
        <span class="bigValue" *ngFor="let field of fieldSummary.fieldSummaryInfo;">{{field.fieldNum}}</span>
      </label>
    </span>

    <span>
      <img src="assets/img/gNB01.svg">
      <label class="boxTitle">{{languageService.i18n['num_BSs']}}
        <span class="bigValue" *ngFor="let field of fieldSummary.fieldSummaryInfo;">{{field.bsNum}}</span>
      </label>
    </span>

    <span>
      <img src="assets/img/ues.svg">
      <label class="boxTitle">{{languageService.i18n['num_UEs']}}
        <span class="bigValue" *ngFor="let field of fieldSummary.fieldSummaryInfo;">{{ueNum}}</span>
      </label>
    </span>
  </div>
 
  <div class="rightArea">
    <div class="table">
      <h5>{{languageService.i18n['field_list']}}</h5>
      <table>
        <thead>
          <tr>
            <th>{{languageService.i18n['fm.field']}}</th>
            <th>{{languageService.i18n['num_BSs']}}</th>
            <th>{{languageService.i18n['num_UEs']}}</th>
            <th>{{languageService.i18n['coverage']}}</th>
            <th>{{languageService.i18n['critical_Alarm']}}</th>
            <th>{{languageService.i18n['major_Alarm']}}</th>
            <th>{{languageService.i18n['minor_Alarm']}}</th>
            <th>{{languageService.i18n['warning_Alarm']}}</th>
            <th>{{languageService.i18n['dashboard.view']}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let opt of fieldList.fields">
            <td>{{opt.name}}</td>
            <td>{{opt.bsNum}}</td>
            <td>{{NumUes(opt.ueNum) }}</td>
            <td>{{opt.coverage}}</td>
            <td>{{opt.alarmCriticalNum}}</td>
            <td>{{opt.alarmMajorNum}}</td>
            <td>{{opt.alarmMinorNum}}</td>
            <td>{{opt.alarmWarningNum}}</td>
            <td (click)="view(opt)">
              <mat-icon tooltip="{{languageService.i18n['view_detail']}}" >remove_red_eye</mat-icon>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
