
table {
  //width: 100%;
  max-width: 97.65%;
  table-layout: fixed; // 固定列寬
}
table th {
  white-space: nowrap;
}
thead tr th,
tbody tr td {
  width: 11%;    // 將每個列的寬度設置為相等的百分比
  text-align: center; // 所有內容都居中對齊
}
tbody tr td:nth-child(1),
tbody tr td:nth-child(4) {
  width: 23%;
}
.icon {
  //width: auto;
  width:7.5em!important;
  text-align: center;
}

// Spinner 居中並設定大小
.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px; 
}

// 設定進度調 (Spinner) 的顏色
::ng-deep .mat-progress-spinner circle {
  stroke: #7cbaec !important;
}

input[type="file"] {
  outline: 0;
}
ul li > label {
  min-width: 7em;
}