<h5>{{languageService.i18n['index.menu_BSMgr']}}
  <mat-icon tooltip="{{ languageService.i18n['BS.create'] }}" (click)="openBsCreationWindow()">add</mat-icon>
</h5>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>{{ languageService.i18n['BS.name'] }}</th>
        <th>{{ languageService.i18n['BS.type'] }}</th>
        <th>{{ languageService.i18n['BS.cellCount'] }}</th>
        <th>{{ languageService.i18n['BS.description'] }}</th>
        <th>{{ languageService.i18n['BS.belongField'] }}</th>
        <th class="icon">{{ languageService.i18n['BS.status'] }}</th>
        <th class="icon">{{ languageService.i18n['BS.view'] }}</th>
        <th class="icon">{{ languageService.i18n['BS.delete'] }}</th>
      </tr>
    </thead>
    <tbody>

      <!-- 當數據正在加載時顯示進度條 -->
      <!-- <ng-container *ngIf="isGetQueryBsListLoading"> -->
        <!-- <tr>
          <td colspan="6"> -->
            <!-- <div class="progress-spinner-container"> -->
              <!-- 指示器大小設置 -->
              <!-- <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="90"></mat-progress-spinner> -->
            <!-- </div>
          </td>
        </tr>
      </ng-container> -->

      <!-- 加載完成後顯示 BS 列表 數據 -->
      <!-- <ng-container *ngIf="!isGetQueryBsListLoading"> -->
        <tr
          *ngFor="let BS of bsList.basestation | paginate: { 
            itemsPerPage: pageSize, 
            currentPage: p, 
            totalItems: totalItems, 
            id: 'PageDisplay_of_bsList' 
          };">
          <td>{{ BS.name }}</td>
          <td>{{ BS.bstype === 1 ? 'A' : 'D' }}</td>
          <!-- <td> -->
            <!-- 如果 BS.bstype 等於 1，顯示 "All-in-one: [CU + DU + RU]" -->
            <!-- <label *ngIf="BS.bstype === 1"> All-in-one: [CU + DU + RU] </label> -->
            <!-- <label *ngIf="BS.bstype === 1">{{ languageService.i18n['BS.all-in-one'] }}</label> -->

            <!-- 如果 BS.bstype 等於 2，顯示 "Disaggregated: [CU] + [DU] + [RU]" -->
            <!-- <label *ngIf="BS.bstype === 2"> Disaggregated: [CU] + [DU] + [RU] </label> -->
            <!-- <label *ngIf="BS.bstype === 2">{{ languageService.i18n['BS.dist'] }}</label> -->
          <!-- </td> -->
          <td>{{ BS.cellCount }}</td>
          <td>{{ BS.description }}</td>
          <td>{{ BS.fieldName }}</td>
          <td class="icon">
            <label *ngIf=" BS.status === 0 " class="grayLight"></label>
            <label *ngIf=" BS.status === 1 " class="redLight"></label>
            <label *ngIf=" BS.status === 2 " class="greenLight"></label>
          </td>
          <td class="icon">
            <mat-icon tooltip="{{ languageService.i18n['BS.view'] }}" (click)="viewBSDetailInfo( BS )">remove_red_eye</mat-icon>
          </td>
          <td class="icon"><!-- 刪除按鈕 -->
            <mat-icon tooltip="{{ languageService.i18n['BS.delete'] }}" (click)="openDeleteBS_ConfirmWindow( BS )">delete_forever</mat-icon>
          </td>
        </tr>
      <!-- </ng-container> -->
    </tbody>
  </table>
</div>
<pagination-controls
  (pageChange)="pageChanged( $event )"
   screenReaderPaginationLabel="Pagination"
   previousLabel=""
   nextLabel=""
   id="PageDisplay_of_bsList"
  ></pagination-controls>

<!-- Confirm Window of Delete BS @2024/03/22 Add -->
<ng-template #deleteBS_ConfirmWindow>

  <h5>{{languageService.i18n['field.warningFault']}}</h5>
  
  <!-- 確認刪除的提示信息，展示 BS 名稱 -->
  <p>{{ languageService.i18n['BS.confirm_del'] }} - {{ selectBS.name }} ?</p>
  
  <!-- 按鈕容器 -->
  <div class="buttons">
    <!-- 確認按鈕，點擊時呼叫 confirmDeleteBS() 函數處理確認邏輯，並且關閉視窗 -->
    <button type="button" (click)="confirmDeleteBS()" mat-dialog-close>
      {{ languageService.i18n['confirm'] }} <!-- 按鈕文字 -->
    </button>
    
    <!-- 取消按鈕，點擊時不進行任何操作，直接關閉視窗 -->
    <button type="button" mat-dialog-close>
      {{ languageService.i18n['cancel'] }} <!-- 按鈕文字 -->
    </button>
  </div>
</ng-template>


<!-- Window of Create BS @2024/04/26 Add -->
<ng-template #bsCreationWindow>
  <div>
    <!-- 欄位標題 - 基站建立 -->
    <h5>{{ languageService.i18n['BS.createWindowTitle'] }}</h5>
  </div>

  <!-- 創建基站的步驟結構 -->
  <mat-stepper class="custom-stepper" orientation="vertical" [linear]="isLinear" #stepper>

    <!-- 步驟 1: 輸入基站名稱 -->
    <mat-step [stepControl]="bsFormGroup_Name">
      <form [formGroup]="bsFormGroup_Name">
        <ng-template matStepLabel>{{ languageService.i18n['BS.setBSName'] }}</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>{{ languageService.i18n['BS.name'] }}</mat-label>
          <input matInput formControlName="BSName" required>
          <!-- 顯示唯一性錯誤 -->
          <mat-error *ngIf="bsFormGroup_Name.get('BSName')?.touched && bsFormGroup_Name.get('BSName')?.hasError('uniqueBSName')">
            {{ languageService.i18n['BS.nameExists'] }}
          </mat-error>
          <!-- 顯示必填錯誤 -->
          <mat-error *ngIf="bsFormGroup_Name.get('BSName')?.touched && bsFormGroup_Name.get('BSName')?.hasError('required')">
            {{ languageService.i18n['BS.enterBSName'] }}
          </mat-error>                 
        </mat-form-field>
        <!-- 操作按鈕 -->
        <div class="next">
          <!-- 下一步按鈕 -->
          <button mat-button matStepperNext>{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>
    
    <!-- 步驟 2: 選擇基站類型 -->
    <mat-step [stepControl]="bsFormGroup_Type">
      <form [formGroup]="bsFormGroup_Type">
        <ng-template matStepLabel>{{ languageService.i18n['BS.setBSType'] }}</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>{{ languageService.i18n['BS.type'] }}</mat-label>
          <mat-select formControlName="BSType" (selectionChange)="onBSTypeChange($event.value)">
            <mat-option value="allInOne">{{ languageService.i18n['BS.all-in-one'] }}</mat-option>
            <mat-option value="dist">{{ languageService.i18n['BS.dist'] }}</mat-option>
          </mat-select>
          <mat-error *ngIf="bsFormGroup_Type.get('BSType')?.touched && bsFormGroup_Type.get('BSType')?.hasError('required')">
            {{ languageService.i18n['BS.selectBSType'] }}
          </mat-error>
        </mat-form-field>

        <ng-container *ngIf="bsFormGroup_Type.get('BSType')?.value === 'dist'">
          <!-- DU 數量選擇 -->
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['BS.duNumber'] }}</mat-label>
            <mat-select formControlName="DUNumber">
              <mat-option *ngFor="let num of duNumberOptions" [value]="num">
                {{ num }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="bsFormGroup_Type.get('DUNumber')?.touched && bsFormGroup_Type.get('DUNumber')?.hasError('required')">
              {{ languageService.i18n['BS.selectDUNumber'] }}
            </mat-error>
          </mat-form-field>

          <!-- RU 數量選擇 -->
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['BS.ruNumber'] }}</mat-label>
            <mat-select formControlName="RUNumber">
              <mat-option *ngFor="let num of ruNumberOptions" [value]="num">
                {{ num }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="bsFormGroup_Type.get('RUNumber')?.touched && bsFormGroup_Type.get('RUNumber')?.hasError('required')">
              {{ languageService.i18n['BS.selectRUNumber'] }}
            </mat-error>
          </mat-form-field>
        </ng-container>

        <div class="next">
          <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
          <button mat-button matStepperNext (click)="prepareForStep3();">{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>


    <!-- 步驟 3: 選擇網元並設定 GPS 位置 -->
    <mat-step [stepControl]="bsFormGroup_Elements">
      <form [formGroup]="bsFormGroup_Elements" class="step-3-content">
        <ng-template matStepLabel>{{ languageService.i18n['BS.setNEAndCoordinates'] }}
           <span *ngIf=" bsFormGroup_Type.get('BSType')?.value === 'allInOne' ">  ╴{{ languageService.i18n['BS.all-in-one'] }}</span>
           <span *ngIf=" bsFormGroup_Type.get('BSType')?.value === 'dist' ">  ╴{{ languageService.i18n['BS.dist'] }}</span>
        </ng-template>

        <!-- 設定 All-In-One 網元 -->
        <ng-container *ngIf="bsFormGroup_Type?.get('BSType')?.value === 'allInOne' && bsFormGroup_Elements && bsFormGroup_Elements.contains('allInOneElement')">

          <!-- 選擇 All-In-One 網元 -->
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['BS.selectIntegratedNE'] }}</mat-label>
            <mat-select formControlName="allInOneElement">
              <mat-option *ngFor="let allInOne of allInOneOptions" [value]="allInOne.id">
                {{ allInOne.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="bsFormGroup_Elements.get('allInOneElement')?.touched && bsFormGroup_Elements.get('allInOneElement')?.invalid">
              {{ languageService.i18n['BS.selectNE'] }}
            </mat-error>
          </mat-form-field>


          <!-- 設定 All-In-One 網元經度位置 -->
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['BS.setLongitude'] }}</mat-label>
            <input matInput formControlName="allInOneLongitude" placeholder="{{ languageService.i18n['field.lng'] }} ( -180.0 ~ 180.0 )" required>
            <mat-error *ngIf="bsFormGroup_Elements.get('allInOneLongitude')?.touched && bsFormGroup_Elements.get('allInOneLongitude')?.invalid">
              {{ languageService.i18n['field.validLongitude'] }}
            </mat-error>
          </mat-form-field>

          <!-- 設定 All-In-One 網元緯度位置 -->
          <mat-form-field appearance="fill">
            <mat-label>{{ languageService.i18n['BS.setLatitude'] }}</mat-label>
            <input matInput formControlName="allInOneLatitude" placeholder="{{ languageService.i18n['field.lat'] }} ( -90.0 ~ 90.0 )" required>
            <mat-error *ngIf="bsFormGroup_Elements.get('allInOneLatitude')?.touched && bsFormGroup_Elements.get('allInOneLatitude')?.invalid">
              {{ languageService.i18n['field.validLatitude'] }}
            </mat-error>
          </mat-form-field>

        </ng-container>


        <!-- 設定 分佈式 網元 -->
        <ng-container *ngIf=" bsFormGroup_Type.get('BSType')?.value === 'dist' && bsFormGroup_Elements" style="max-height: 100px; overflow-y: auto;">

          <!-- 設定 CU -->
          <div class="ne-cu-set-wrap">
            <label class="active" (click)="toggleNeCuSet()">
              {{ languageService.i18n['BS.setCU'] }}
              <span class="material-symbols-outlined">expand_more</span>
            </label>
            <div class="ne-cu-set-container">

              <!-- 選擇 CU -->
              <mat-form-field appearance="fill">
                <mat-label>{{ languageService.i18n['BS.selectCUNE'] }}</mat-label>
                <mat-select formControlName="CUElement">
                  <mat-option *ngFor="let cu of CUOptions" [value]="cu.id">
                    {{ cu.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="bsFormGroup_Elements.get('CUElement')?.touched && !bsFormGroup_Elements.get('CUElement')?.valid">
                  {{ languageService.i18n['BS.requiredCU'] }}
                </mat-error>
              </mat-form-field>

            </div>
          </div>

          <!-- 設定 DU -->
          <div class="ne-du-set-wrap">
            <label class="active" (click)="toggleNeDuSet()">
              {{ languageService.i18n['BS.setDU'] }}
              <span class="material-symbols-outlined">expand_more</span>
            </label>
            <div class="ne-du-set-container">
              <div formArrayName="DUElements">
                <div *ngFor="let duControl of DUElementsFormArray.controls; let i = index" [formGroupName]="i">

                  <!-- 選擇 DU  -->
                  <mat-form-field appearance="fill">
                    <mat-label>{{ languageService.i18n['BS.selectDUNE'] }}#{{ i + 1 }}</mat-label>
                    <mat-select formControlName="DUElement">
                      <mat-option *ngFor="let du of DUOptions" [value]="du.id">
                        {{ du.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="duControl.get('DUElement')?.touched && !duControl.get('DUElement')?.valid">
                      {{ languageService.i18n['BS.requiredDU'] }}
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>
            </div>
          </div>

          <!-- 設定 RU -->
          <div class="ne-ru-set-wrap">
            <label class="active" (click)="toggleNeRuSet()">
              {{ languageService.i18n['BS.setRU'] }}
              <span class="material-symbols-outlined">expand_more</span>
            </label>
            <div class="ne-ru-set-container">
              <div formArrayName="RUElements">
                <div *ngFor="let ruControl of RUElementsFormArray.controls; let i = index" [formGroupName]="i">

                  <!-- 選擇 RU  -->
                  <mat-form-field appearance="fill">
                    <mat-label>{{ languageService.i18n['BS.selectRUNE'] }}#{{ i + 1 }}</mat-label>
                    <mat-select formControlName="RUElement">
                      <mat-option *ngFor="let ru of RUOptions" [value]="ru.id">
                        {{ ru.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ruControl.get('RUElement')?.touched && !ruControl.get('RUElement')?.valid">
                      {{ languageService.i18n['BS.requiredRU'] }}
                    </mat-error>
                  </mat-form-field>

                  <!-- 設定 RU 經度位置 -->
                  <mat-form-field appearance="fill">
                    <mat-label>RU#{{ i + 1 }} - {{ languageService.i18n['BS.setLongitude'] }}</mat-label>
                    <input matInput formControlName="longitude" placeholder="{{ languageService.i18n['field.lng'] }} ( -180.0 ~ 180.0 )" required>
                    <mat-error *ngIf="ruControl.get('longitude')?.invalid && ruControl.get('longitude')?.touched">
                      {{ languageService.i18n['field.validLongitude'] }}
                    </mat-error>
                  </mat-form-field>

                  <!-- 設定 RU 緯度位置 -->
                  <mat-form-field appearance="fill">
                    <mat-label>RU#{{ i + 1 }} - {{ languageService.i18n['BS.setLatitude'] }}</mat-label>
                    <input matInput formControlName="latitude" placeholder="{{ languageService.i18n['field.lat'] }} ( -90.0 ~ 90.0 )" required>
                    <mat-error *ngIf="ruControl.get('latitude')?.invalid && ruControl.get('latitude')?.touched">
                      {{ languageService.i18n['field.validLatitude'] }}
                    </mat-error>
                  </mat-form-field>
                  
                  <!-- 設定 RU 連接到的 DU -->
                  <mat-form-field appearance="fill">
                    <mat-label>RU#{{ i + 1 }} - {{ languageService.i18n['BS.setConnectedDU'] }}</mat-label>
                    <mat-select formControlName="connectedDU">
                      <mat-option *ngFor="let du of DUOptions" [value]="du.id">
                        {{ du.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ruControl.get('connectedDU')?.touched && !ruControl.get('connectedDU')?.valid">
                      {{ languageService.i18n['BS.selectConnectedDU'] }} RU#{{ i + 1 }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

        </ng-container>

        <!-- 操作按鈕 -->
        <div class="next">
          <!-- 上一步按鈕 -->
          <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
          <!-- 下一步按鈕 -->
          <button mat-button matStepperNext (click)="checkBefore4StepsFormsValidity();">{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>

    <!-- 步驟 4: 設定基站地點說明與上傳配置文件 -->
    <mat-step [stepControl]="bsFormGroup_Description">
      <form [formGroup]="bsFormGroup_Description">
        <ng-template matStepLabel>{{ languageService.i18n['BS.setBSLocationDescriptionAndUploadParameters'] }}</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>{{ languageService.i18n['BS.description'] }}</mat-label>
          <textarea matInput formControlName="LocationDescription"></textarea>
          <!-- 顯示必填錯誤 -->
          <mat-error class="error_def" *ngIf="bsFormGroup_Description.get('LocationDescription')?.touched && bsFormGroup_Description.get('LocationDescription')?.hasError('required')">
            {{ languageService.i18n['BS.enterBSLocationDescription'] }} <!-- 提示輸入基站地點描述 -->
          </mat-error>
        </mat-form-field>

        <!-- 這裡是上傳文件的按鈕和輸入，已移出 mat-form-field -->
        <div class="button-container">
          <button mat-flat-button class="button-modifyConfiguration">
            {{ languageService.i18n['BS.generateParameterSampleFile'] }}
          </button>
        </div>
        <div class="button-container">
          <button mat-flat-button class="button-modifyConfiguration" (click)="triggerFileInput()">
            {{ languageService.i18n['BS.uploadParameterFile'] }}
          </button>
          <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)" accept=".xlsx">
            <!-- 如未有檔案，則顯示示意的檔案名稱 -->
            <span style="position: relative; left: 10px;" *ngIf="!selectedFileName">
              <!-- {{ languageService.i18n['BS.ex'] }}: BS_parameters_1x1x2_sample.xlsx -->
              {{ languageService.i18n['BS.notUploaded'] }}
            </span>
            <!-- 如有檔案，則顯示選擇的檔案名稱 -->
            <span style="position: relative; left: 10px;" *ngIf="selectedFileName">
              {{ languageService.i18n['BS.uploaded'] }}: {{ selectedFileName }}
            </span>
            <!-- 如未上傳檔案，則顯示錯誤提示 -->
            <mat-error *ngIf="bsFormGroup_Description.get('ConfigurationFile')?.touched && bsFormGroup_Description.get('ConfigurationFile')?.hasError('required')">
              {{ languageService.i18n['BS.uploadBSParameterFile'] }} <!-- 提示上傳配置文件 -->
            </mat-error>
        </div>

        <!-- 操作按鈕 -->
        <div class="next">
          <!-- 上一步按鈕 -->
          <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
          <!-- 下一步按鈕 -->
          <button mat-button matStepperNext (click)="checkAndMarkFileAsTouched(); checkAllFormsValidity()">{{ languageService.i18n['field.createNext'] }}</button>
        </div>
      </form>
    </mat-step>

    <!-- 步驟完成提示 -->
    <mat-step>
      <!-- 步驟標籤 -->
      <ng-template matStepLabel>{{ languageService.i18n['field.createDone'] }}</ng-template>
      <!-- 完成提示訊息 -->
      <p>{{ languageService.i18n['BS.setupComplete'] }}</p>
      <!-- 操作按鈕 -->
      <div class="next">
        <!-- 上一步按鈕 -->
        <button mat-button matStepperPrevious>{{ languageService.i18n['field.createBack'] }}</button>
        <!-- 重置步驟按鈕 -->
        <button mat-button (click)="stepper.reset(); resetBsCreationForm()">{{ languageService.i18n['field.createReset'] }}</button>
      </div>
    </mat-step>

  </mat-stepper>

  <!-- 按鈕組容器，用於對齊並中心顯示按鈕 -->
  <div class="buttons buttons-centered">
    <!-- 確認按鈕：點擊時呼叫 FieldCreation_Submit() 方法來提交"基站建立"的資料，並關閉對話框 -->
    <button type="button" (click)="onSubmit()" mat-dialog-close>
      {{ languageService.i18n['confirm'] }}
    </button>
    <!-- 取消按鈕：點擊時呼叫 resetBsCreationForm() 方法來重置"基站建立"的表單，並關閉對話框 -->
    <button type="button" (click)="resetBsCreationForm()" mat-dialog-close>
      {{ languageService.i18n['cancel'] }}
    </button>
  </div>

</ng-template>

