<h5>{{languageService.i18n['index.menu_BSMgr']}}
  <mat-icon tooltip="{{languageService.i18n['sm.create']}}" (click)="openCreateModal()">add</mat-icon>
</h5>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>{{ languageService.i18n['BS.name'] }}</th>
        <th>{{ languageService.i18n['BS.type'] }}</th>
        <th>{{ languageService.i18n['BS.cellCount'] }}</th>
        <th>{{ languageService.i18n['BS.description'] }}</th>
        <th>{{ languageService.i18n['BS.belongField'] }}</th>
        <th class="icon">{{ languageService.i18n['BS.status'] }}</th>
        <th class="icon">{{ languageService.i18n['BS.view'] }}</th>
        <th class="icon">{{ languageService.i18n['BS.delete'] }}</th>
      </tr>
    </thead>
    <tbody>

      <!-- 當數據正在加載時顯示進度條 -->
      <!-- <ng-container *ngIf="isGetQueryBsListLoading"> -->
        <!-- <tr>
          <td colspan="6"> -->
            <!-- <div class="progress-spinner-container"> -->
              <!-- 指示器大小設置 -->
              <!-- <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="90"></mat-progress-spinner> -->
            <!-- </div>
          </td>
        </tr>
      </ng-container> -->

      <!-- 加載完成後顯示 BS 列表 數據 -->
      <!-- <ng-container *ngIf="!isGetQueryBsListLoading"> -->
        <tr
          *ngFor="let BS of bsList.basestation | paginate: { 
            itemsPerPage: pageSize, 
            currentPage: p, 
            totalItems: totalItems, 
            id: 'PageDisplay_of_bsList' 
          };">
          <td>{{ BS.name }}</td>
          <td>{{ BS.bstype === 1 ? 'A' : 'D' }}</td>
          <!-- <td> -->
            <!-- 如果 BS.bstype 等於 1，顯示 "All-in-one: [CU + DU + RU]" -->
            <!-- <label *ngIf="BS.bstype === 1"> All-in-one: [CU + DU + RU] </label> -->
            <!-- <label *ngIf="BS.bstype === 1">{{ languageService.i18n['BS.all-in-one'] }}</label> -->

            <!-- 如果 BS.bstype 等於 2，顯示 "Disaggregated: [CU] + [DU] + [RU]" -->
            <!-- <label *ngIf="BS.bstype === 2"> Disaggregated: [CU] + [DU] + [RU] </label> -->
            <!-- <label *ngIf="BS.bstype === 2">{{ languageService.i18n['BS.dist'] }}</label> -->
          <!-- </td> -->
          <td>{{ BS.cellCount }}</td>
          <td>{{ BS.description }}</td>
          <td>{{ BS.fieldName }}</td>
          <td class="icon">
            <label *ngIf=" BS.status === 0 " class="grayLight"></label>
            <label *ngIf=" BS.status === 1 " class="redLight"></label>
            <label *ngIf=" BS.status === 2 " class="greenLight"></label>
          </td>
          <td class="icon">
            <mat-icon tooltip="{{ languageService.i18n['BS.view'] }}" (click)="viewBSDetailInfo( BS )">remove_red_eye</mat-icon>
          </td>
          <td class="icon"><!-- 刪除按鈕 -->
            <mat-icon tooltip="{{ languageService.i18n['BS.delete'] }}" (click)="openDeleteBS_ConfirmWindow( BS )">delete_forever</mat-icon>
          </td>
        </tr>
      <!-- </ng-container> -->
    </tbody>
  </table>
</div>
<pagination-controls
  (pageChange)="pageChanged( $event )"
   screenReaderPaginationLabel="Pagination"
   previousLabel=""
   nextLabel=""
   id="PageDisplay_of_bsList"
  ></pagination-controls>

<!-- Confirm Window of Delete BS @2024/03/22 Add -->
<ng-template #deleteBS_ConfirmWindow>

  <h5>{{languageService.i18n['field.warningFault']}}</h5>
  
  <!-- 確認刪除的提示信息，展示 BS 名稱 -->
  <p>{{ languageService.i18n['BS.confirm_del'] }} - {{ selectBS.name }} ?</p>
  
  <!-- 按鈕容器 -->
  <div class="buttons">
    <!-- 確認按鈕，點擊時呼叫 confirmDeleteBS() 函數處理確認邏輯，並且關閉視窗 -->
    <button type="button" (click)="confirmDeleteBS()" mat-dialog-close>
      {{ languageService.i18n['confirm'] }} <!-- 按鈕文字 -->
    </button>
    
    <!-- 取消按鈕，點擊時不進行任何操作，直接關閉視窗 -->
    <button type="button" mat-dialog-close>
      {{ languageService.i18n['cancel'] }} <!-- 按鈕文字 -->
    </button>
  </div>
</ng-template>



<ng-template #createBSModal>
  <h5>{{ languageService.i18n['sm.th_create'] }}</h5>
  <form [formGroup]="createForm" >
    <ul class="addBS-ul-li-label">
      <li>
        <label>{{languageService.i18n['sm.select_type']}}</label>
        <span>
          <select formControlName="comtype" class="{{formValidated&&createForm.controls['comtype'].invalid?'required':''}}">
            <option value="" ></option>
            <option *ngFor="let opt of comtype" [value]="opt.value">{{ opt.displayName }}</option>
          </select>
          <mat-error *ngIf="formValidated&&createForm.controls['comtype'].invalid">Required</mat-error>
        </span>
      </li>
      <li>
        <label>{{ languageService.i18n['sm.select_field'] }}</label>
        <span>
          <select formControlName="comtype" class="{{formValidated&&createForm.controls['comtype'].invalid?'required':''}}">
            <option value="" ></option>
            <option *ngFor="let opt of comtype" [value]="opt.value">{{opt.displayName}}</option>
          </select>
          <mat-error *ngIf="formValidated&&createForm.controls['comtype'].invalid">Required</mat-error>
        </span>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" (click)="create()">OK</button>
      <button type="button" mat-dialog-close>Cancel</button>
    </div>
  </form>
</ng-template>

<ng-template #deleteModal>
  <h5 *ngIf="selectBS.status === 1">{{languageService.i18n['cm.delete']}}</h5>
  <h5 *ngIf="selectBS.status === 0"><mat-icon class="error-icon">warning</mat-icon>{{languageService.i18n['cm.error']}}</h5>
  <p>
    {{selectBS.status === 1 ? languageService.i18n['cm.confirm_del'] : languageService.i18n['cm.unable_del']}}
    – {{selectBS.name}}
  </p>
  <div class="buttons">
    <button type="button" mat-dialog-close>Cancel</button>
    <button *ngIf="selectBS.status === 1" type="button" (click)="delete()">Delete</button>
  </div>
</ng-template>


<ng-template #provisionModal>
<h5>{{languageService.i18n['cm.provision']}} - {{selectBS.name}}</h5>
  <form [formGroup]="provisionForm">
    <ul>
      <li>
        <label>{{languageService.i18n['add.method']}}</label>
        <span>
          <div class="upload {{formValidated&&provisionForm.controls['fileName'].invalid?'required':''}}">
            <span>{{languageService.i18n['upload']}}
              <input type="file" name="uploadedFile" (change)="fileChange($event)" accept=".zip, .tar" #fileInput>
            </span>
            <div>{{provisionForm.controls['fileName'].value}}</div>
            <mat-error *ngIf="formValidated&&provisionForm.controls['fileName'].invalid">is Required</mat-error>
            <mat-error *ngIf="fileMsg">{{fileMsg}}</mat-error>
          </div>
        </span>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" >Confirm</button>
    </div>
  </form>

</ng-template>

<ng-template #advancedModal>
  <form [formGroup]="advancedForm">
    <h5>Software  {{languageService.i18n['performance_Advanced_Search']}}</h5>
      <ul>
      <li>
        <span>{{languageService.i18n['manufacturer']}}</span> <input type="text" formControlName="firm">
      </li>
      <li>
        <span>{{languageService.i18n['model']}}</span> <input type="text" formControlName="model">
      </li>
      <li>
        <span>{{languageService.i18n['type']}}</span>
        <select formControlName="uploadtype">
          <option value="All">All</option>
          <option *ngFor="let opt of comtype" [value]="opt.value">{{opt.displayName}}</option>
        </select>
      </li>
      <li>
        <span>{{languageService.i18n['version']}}</span> <input type="text" formControlName="version">
      </li>
      <li>
        <span>From:</span>
        <p-calendar formControlName="from" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
        <span>To:</span>
        <p-calendar formControlName="to" [showTime]="true" inputId="time" dateFormat="yy-mm-dd"></p-calendar>
      </li>
      <li>
        <span>{{languageService.i18n['fileName']}}</span> <input type="text" formControlName="fileName">
      </li>
    </ul>

    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" mat-dialog-close="OK">Ok</button>
    </div>
  </form>
</ng-template>