/* css reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
button {
  outline: 0;
}
body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


// 設定進度條 Bar 的顏色 @2024/04/12 Add
.custom-color .mat-progress-bar-fill::after {
  background-color: #78c2ffb9;
}


.content {
  margin: 0 0 0 2%;
  padding: 1% 0 0 0;
}
h5 {
  font-weight: normal!important;
  font-size: 1.5em!important;
}
h5 .mat-icon {
  cursor: pointer;
  vertical-align: middle;
  margin: 0 0.5em;
  color: #fff;
  border-radius: 50em;
}
h5 button {
  background: transparent;
  border-radius: 50em;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.1em 1em 0.1em 0.7em;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
}
h5 button .material-icons {
  vertical-align: middle;
}
.mat-button-toggle-button {
  min-width: 5em;
}
h6 {
  font-weight: normal!important;
  font-size: 1.5em!important;
}
mat-dialog-container {
  padding: 0 !important;
  min-width: 23em;
  font-size: 16px;
}
body.en mat-dialog-container {
  min-width: 28em;
}
mat-dialog-container h5 {
  color: #fff;
  /* background-color: #2979c6; */
  padding: .75em 1em;
  font-size: 1.3em!important;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1d8ee5+0,1e5799+100 */
background: #1d8ee5; /* Old browsers */
background: -moz-linear-gradient(left,  #1d8ee5 0%, #1e5799 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1d8ee5 0%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1d8ee5 0%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d8ee5', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */

}
mat-dialog-container h5 + p {
  font-size: 1.15em;
  max-width: 90%;
  text-align: center;
  margin: auto!important;
  display: block;
  word-break: break-word!important;
}
mat-dialog-container ul {
  margin: 1% 6%;
}
mat-dialog-container ul li::marker,
ul li::marker  {
  list-style: disc outside;
  color: #436588;
}
mat-dialog-container ul li {
  margin: 0 0 .5em 1.5em;
}
mat-dialog-container ul li > label,
mat-dialog-container ul li > span {
  display: inline-block;
  vertical-align: top;
  margin: 0 1%;
}
mat-dialog-container ul li > label {
  min-width: 23%;
}
#itemDetail ul li > label {
  min-width: 8.5em!important;
}
mat-dialog-container ul li > span {
  max-width: 70%;
  position: relative;
}
mat-dialog-container ul li span {
  position: relative;
}
mat-dialog-container input[type="text"],
mat-dialog-container textarea ,
mat-dialog-container select {
  padding: 5px 6px;
  border-radius: 3px;
  line-height: 1.35;
  vertical-align: middle;
  width: 100%;
  outline: 0;
  font-size: 1.03em;
}
mat-dialog-container select {
  color: #fff;
}
mat-dialog-container select option {
  padding: 5px;
  margin: 5px;
  line-height: 2;
  color: #333;
}

mat-dialog-container div.buttons {
  text-align: center;
  margin: 1.5em 0;
}
mat-dialog-container div.buttons button {
  padding: 6px 18px;
  margin: 0 8px;
  border-radius: 50em;
  font-size: 1em;
  cursor: pointer;
  transition: all .3s;
  min-width: 6em;
}
mat-dialog-container div.buttons button:hover {
  filter: brightness(1.5);
}

.mat-dialog-container ul li > div {
  margin: .2em 0 0 0.7em;
}
.mat-dialog-container ul li div input[type="text"] ,
.mat-dialog-container ul li div select {
  width: 20.6em;
  margin: 0;
}
.mat-dialog-container ul li div label {
  min-width: 15em!important;
}
#softCreateModal {
  width: 40em;
}
#softCreateModal ul li label {
  width: 7em;
}
body.tw #softCreateModal ul li label {
  width: 4em;
  min-width: initial;
}
#softCreateModal input[type="text"],
#softCreateModal textarea,
#softCreateModal select,
.mat-dialog-container#createModal input[type="text"],
.mat-dialog-container#createModal textarea,
.mat-dialog-container#createModal select {
  width: 21.5em;
}
mat-button-toggle-group {
  margin: .5em 0;
}
.mat-calendar-body-selected {
  background-color: #4589cb!important;
  color: #fff;
}
.mat-dialog-container#updateModal ul li div {
  position: relative;
  margin: 0.5em 0;
}
.mat-dialog-container#updateModal ul li div select + .mat-error {
  position: absolute;
  z-index: 9999;
  top: 5px;
  left: 5px;
}
.mat-dialog-container#updateModal ul li div select.required {
  border:1px solid #e3497c;
  background-color: #ffeaea;
}
.mat-dialog-container#updateModal ul li div select {
  width: auto;
}

mat-dialog-container .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
mat-dialog-container .mat-button-toggle-group-appearance-standard {
    border: none;
    margin: 0;
}
mat-dialog-container .mat-button-toggle-checked {
  background-color: #2879c5;
  color: #fff!important;
}
mat-dialog-container .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 32px;
}

.mat-progress-bar {
  border-radius: 50em;
  height: 10px !important;
  width: 70% !important;
  margin: auto;
}

.mat-progress-bar-fill::after {
  background-color: #ff5722;
}
.progressBar {
  display: block;
  margin: 2em 0;
  text-align: center;
}
.progressBar div {
  display: block;
  margin: 0 auto 0.5em;
  color: #ffaf88;
  /* font-weight: bold; */
  font-style: italic;
  font-size: 1.25em;
  text-shadow: 0 0px 9px #f7a46c;
}
.progressBar .mat-progress-bar-buffer {
  background-color: #494a4e;
}
.progressBar .material-symbols-outlined {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 .2em;
  color: #ebb4a7;
  transform: skewX(-14deg);
}
.progressBar .mat-progress-bar-fill::after {
  background-color: #f39664b8;
}
// Radio button 外框 - 未被選擇時的顏色 @2024/02/16 Add
.mat-radio-button .mat-radio-outer-circle {
  border-color: #bcd3e9; 
}

// Radio button 內圈 - 被選時的配色 @2024/02/16 Add
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #bcd3e9;
}

// Radio button 外框 - 被選擇時的顏色 @2024/02/16 Add
.mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: #bcd3e9 !important;
}



// label of mat-steper @2024/02/01 Add
.mat-step-text-label {
  text-overflow: ellipsis;
  overflow: hidden;
  color: #d8eaff;
  font-weight: bolder;
}

// mat-steper icon 時初始的調色 @2024/02/01 Add
.mat-step-header .mat-step-icon {
  background-color: #485c77; // 背景色
  color: #fff; // icon 本身顏色
}

// mat-steper icon 時被選擇時的調色 @2024/02/01 Add
.mat-step-header .mat-step-icon-selected {
  background-color: #ba5a2a; // 背景色
  color: #fff; // icon 本身顏色
}

// mat-steper 變成編輯 icon 時的調色 @2024/02/02 Add
.mat-step-header .mat-step-icon-state-edit {
  background-color: #1e6cda; // 背景色
  color: #fff; // icon 本身顏色
}



.table {
  display: block;
  margin: 1% 0 0;
}
.table table {
  margin: 0 0 1em;
  max-height: 60vh;
  overflow: auto;
  z-index: 9999;
  /* font-size: 1.25em; */
  display: block;
  width: 98%;
  border-radius: 10px 10px 0 0;
  font-family: Microsoft JhengHei;
}
.table table th {
    position: sticky;
    top: -1px;
    z-index: 999;
    font-weight: bold;
    font-size: 1.1em;
    white-space: nowrap;
}
 table thead tr th:first-child {
  border-radius: 5px 0 0 0;
}
 table thead tr th:last-child {
  border-radius: 0 5px 0 0;
}
.table table td,
.table table th {
  padding: .5em;
  /* white-space: nowrap; */
  line-height: 1.35;
  vertical-align: middle;
}
.table table td .mat-icon,
.table table td .material-symbols-outlined {
    cursor: pointer;
}
.table table td .mat-icon:hover,
.table table td .material-symbols-outlined:hover {
    filter: brightness(1.05);
}
.table table td ul {
  vertical-align: top;
}
.table table td ul li {
  margin: 0 0 .5em 1.5em;
  white-space: nowrap;
}
.greenLight {
  display: inline-block;
  margin: auto;
  width: 1em;
  height: 1em;
  border-radius: 50em;
}
.redLight {
  display:inline-block;
  margin: auto;
  width: 1em;
  height: 1em;
  border-radius: 50em;
}
.grayLight {
  display: inline-block;
  margin: auto;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #7e7e7e;
}
.blueLight {
  display: inline-block;
  margin: auto;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #2553d1;
}
.ngx-pagination .pagination-previous a:before, .ngx-pagination .pagination-previous.disabled:before{
	content: "<" !important;
}
.ngx-pagination .pagination-next a:after, .ngx-pagination .pagination-next.disabled:after {
	content: ">" !important;
}

.ngx-pagination {
  margin: .5em 0;
  text-align: right;
  width: 96%;
}
.ngx-pagination li {
  margin:0;
}
.ngx-pagination li span{
  margin:0;
  padding: 0;
}
.ngx-pagination a:hover {
  background: #1069a5!important;
}
.ngx-pagination .small-screen {
  display: inline-block!important;
  position: absolute;
  left: 0;
  top: .3em;
}
nav[role="navigation"] {
  position: relative;
    padding-left: 5em;
}
.top {
  vertical-align: top;
}

.mat-button-toggle-appearance-standard {
  color: rgba(0,0,0,.87);
  background: #d0d1d1;
  font-size: 15px;
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
  border-left: none;
}
input[type="text"].required {
  position: relative;
  border:1px solid #e3497c;
  background-color: #ffeaea;
}
.mat-error {
  color: #df0c6d;
  background-color: #ffeaea;
  padding: 0 2em 0.2em 0;
}
input[type="text"].required + .mat-error {
  position: absolute;
  z-index: 999;
  left: 8px;
  top: 5px;
}
.upload.required > span {
  background-color: #e91e63;
}
.upload.required label {
  margin: 0;
}
.upload.required .mat-error {
  background-color: transparent;
  padding: initial;
  color: #fb5aa4;
  vertical-align: middle;
}
.pagination {
  position: relative;
}
.pagination .total {
  position: absolute;
  left: 5em;
  top: .3em;
}
#createModal {
  min-width: 40em;
}
#createModal ul li label {
  width: 5em;
  min-width: initial;
  margin: 0;
}
body.en #createModal ul li label {
  width: 7em;
}
body.tw #createScheduleModal ul li > label {
  min-width: 5em;
}
body.tw #createModal ul li label {
  width: 7em;
}
#createComponentModal {
  min-width:25vw;
}
#createComponentModal ul li label {
  width: 40%;
  min-width: initial;
  margin: 0;
}
#createModal .upload label {
  width: initial;
  max-width: initial;
}
#createModal hr {
  border-top: 1px solid #516676;
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
  border-left: solid 1px #e0e0e0;
}
.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: rgba(0,0,0,.87);
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 35px!important;
}
.center {
  text-align: center;
}
#nfInfoCreateModal {
  max-width: 52em;
}
#nfInfoCreateModal .center {
  text-align: center;
  line-height: 2;
  border: 1px solid #1e589b;
  width: 90%;
  padding: .3em 0;
  margin: 1em auto 2em;
  border-radius: 4px;
}
#nfInfoCreateModal .center label {
  margin: 0 .8em;
}
#nfInfoCreateModal ul li > span {
  max-width: initial;
  margin: 0;
  width: 15em;
  vertical-align: bottom;
}
#nfInfoCreateModal ul li {
  margin: 0 0 1em 0.5em;
}

#nfInfoCreateModal ul li > label {
  min-width: initial;
  width: 4em;
  margin: 0 0.5em;
  vertical-align: bottom;
  text-align: center;
}
#nfInfoCreateModal ul li > label img {
  display: block;
  width: 2.25em;
  margin: 0 auto 0.25em;
}
#nfInfoCreateModal ul {
  margin: 0 0 0 8%;
}
#nfInfoCreateModal input {
  outline: 0;
}
tooltip { max-width: 500px!important;}
tooltip table {
  width: 100%;
}
tooltip table tr th {
  background-color: #bfdbfe;
  border:1px solid #333;
  padding: 5px;
}
tooltip table tr td {
  padding: 5px;
  border: 1px solid #586d86;
  max-width: 12em;
  word-break: break-all;
}
.boxTitle a .material-icons {
  vertical-align: middle!important;
  font-size: 0.9em!important;
  margin: 0 0 0 0.3em!important;
  font-family: "Material Icons"!important;
  width: initial!important;
}

input.disabled {
  cursor: not-allowed;
}
#errorModal {
  border: 1px solid #f74075;
}
#errorModal p {
  font-size: 1.2em;
  margin: 1em 1em 0;
  width: 90%;
  text-align: center;
}
#errorModal .material-icons {
  color: #f74075;
  font-size: 2.5em;
  display: inline-block;
  vertical-align: middle;
  margin: 0.2em;
}
#errorModal div.buttons {
  margin: 0.5em 0 1.5em;
}
#errorModal div.buttons button {
  border: 2px solid #787878;
  color: #ffffff;
}
.filter .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 33px !important;
}
.filter mat-button-toggle-group {
margin: 0.5em;
font-size: 1.2em;
}
.filter .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
color: rgba(255, 255, 255, 0.87);
}

.filter .mat-button-toggle-group-appearance-standard,
.filter .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
border: none;
}
.filter select,
.filter input[type="text"] {
border: 1px solid #11648b;
margin: 5px;
padding: 6px;
border-radius: 3px;
}
.filter {
padding: 8px 0 6px 2%;
width: 97.65%;
border-radius: 5px;
}
.filter > span {
  margin: 0 .5em 0 0;
  }
.filter select {
  min-width: 5em;
}
.filter mat-button-toggle-group {
margin: 0 2% 0 0;
}
.filter .material-icons,
.filter .material-symbols-outlined {
cursor: pointer;
vertical-align: middle;
margin: 0 0 0 .5em;
border-radius: 50em;
padding: 0.2em;
transition: all 0.3s;
}
#advancedModal ul li {
  display: inline-block;
}

.btn-group div div {
  margin: 0!important;
}
/* switch */

.vc-toggle-container * {
  font-family:Arial;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.vc-toggle-container {
  position: unset !important;
  display: inline-block;
  vertical-align: middle;
}
.vc-switch {
  width: 60px;
  height: 25px;
}

.vc-toggle-container label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 20em;
  cursor: pointer;
  margin: 5px 0 0;
}

.vc-switch-input {
  position: absolute;
  transform: translate3d(5px, 5px, 0);
}

.vc-switch-label {
  position: relative!important;
  display: block;
  height: inherit;
  font-size: 13px;
  font-weight: bold;
  background: #218ec9;
  border-radius: inherit;
}

.vc-switch-label:before,
.vc-switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1.1;
}

.vc-switch-label:before {
  content: attr(data-off);
  color: #fff;
}

.vc-switch-label:after {
  content: attr(data-on);
  color: #fff;
  opacity: 0;
}

.vc-switch-label:before {
  right: 12px;
}

.vc-switch-label:after {
  left: 12px;
}

.vc-switch-input:checked ~ .vc-switch-label {
  background:#218ec9;
}

.vc-switch-input:checked ~ .vc-switch-label:before {
  opacity: 0;
}

.vc-switch-input:checked ~ .vc-switch-label:after {
  opacity: 1;
}

.vc-handle {
  position: absolute !important;
  top: 5px!important;
  left: 5px;
  background: #fff;
  border-radius:20px;
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
}

.vc-handle {
  width: 15px;
  height: 15px;
}

.vc-handle:before {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute !important;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

.vc-switch-label:active ~ .vc-handle,
.vc-handle:active {
  width:20px;
}

.vc-switch-input:checked ~ .vc-handle {
  left: unset;
  right: 5px;
}

.switch .mat-button-toggle-button {
  min-width: auto;
  opacity: 1;
}
.switch .mat-button-toggle-group-appearance-standard {
  border: 0;
  padding: 0.3em;
  font-size: .9em;
  font-style: initial;
  background: #3082bd;
  border-radius: 5em;
}
.switch .mat-button-toggle-appearance-standard {
  background-color: transparent;
  color: white;
  border: none!important;
  min-width: 1em;
  transition: all .3s;
  font-family: Microsoft JhengHei;
  border-radius: 4px 0 0 4px;
}
.switch .mat-button-toggle-appearance-standard:not(:first-child) {
  border-radius: 0 4px 4px 0;
}
.switch .mat-button-toggle-checked {
  background-color: #fff!important;
  color: rgba(0, 0, 0, 1) !important;
  /* border-radius: 5em; */
}
.switch .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  padding: 6px 10px;
}
.switch .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 20px!important;
}
.switch .mat-button-toggle-appearance-standard .mat-button-toggle-focus-overlay {
  background-color: #000;
}
#statusModal .switch .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background: #fff!important;
  color: #000!important;
  border-radius: 5em!important;
}
.tab {
  border-bottom: 2px solid #11648b;
  width: 90%;
  margin: auto;
}
.tab .mat-button-toggle-appearance-standard {
  color: #999;
  background: transparent;
}
.tab .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background: #2879c5!important;
  color: #fff !important;
  border-radius: 4px 4px 0 0;
}
.tab .mat-button-toggle-group-appearance-standard {
  border-radius: 0;
}
.tab .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border-left: none;
}
#statusModal {
  width: 45em;
}
#statusModal .table {
  margin: .5em auto;
}
#statusModal .ngx-pagination {
  width: initial!important;
  margin: 0!important;
}
#statusModal .ngx-pagination .disabled {
  padding: 0 0.625rem;
  vertical-align: top;
}
#statusModal .ngx-pagination .small-screen {
  left: 3em;
}
#statusModal pagination-controls {
  width: 96%;
  display: block;
  margin: 0.5em 0;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #7e8899;
  /* border-top: 1px solid #172d42; */
  padding: 0.75em 0 0;
}
#faultAdvancedModal ul li > span,
#faultAdvancedModal ul li input[type="text"],
#faultAdvancedModal ul li select {
  display: inline-block;
  width: initial;
}
#faultAdvancedModal ul li > span:first-child {
  min-width: 5em;
  width: 7em;
  text-align: right;
  line-height: 1;
}
#faultAdvancedModal ul li input[type="text"] {
  width: 22em;
}
#faultAdvancedModal ul li::marker {
  color: transparent;
}
#faultAdvancedModal ul li {
  margin: 0 0 .5em 0;
}

#faultAdvancedModal #time,
p-calendar #time {
  width: 10.06em;
  padding: 5px 6px;
}
.p-datepicker table th {
  background: #d8e5f5!important;
}
.p-datepicker table td > span,
.p-datepicker table th > span  {
  width: 1.5rem;
  height: 1.5rem;
}
.p-datepicker table td {
  padding: 0.1rem 0.25rem;
}
.p-datepicker table tbody tr:nth-child(even) td {
  background-color: #eee!important;
}
.p-calendar .p-datepicker {
  margin: 0;
  top: -39vh!important;
}
#faultAdvancedModal p-calendar .p-datepicker {
  transform:scale(0.85) translate(-50%, 50%);
}
.filter p-calendar {
  display: inline-block;
  vertical-align: middle;
}
.filter span label {
  font-size: 1.2em;
}
.filter input[type="text"], .filter select {
  font-size: 1rem;
}
.filter .p-calendar .p-datepicker {
  margin: 0;
  padding: 0 0.5rem;
  top: 5vh !important;
  min-width: 13em;
}
.filter input[type=text] {
  max-width: 10em;
}
.filter .p-calendar input[type=text] {
  max-width: 9em!important;
}
.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background: #418fdb!important;
  color: #fff!important;
}
.loginPage .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  border-radius: 5em;
  background: #ffffff !important;
  color: #000 !important;
}
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
 border: 0!important;
}
h4 {
  font-size: 1.3em!important;
  font-family: Microsoft JhengHei!important;
}
ul.modify li {
  display: block;
  margin: 0 0 0 .5em!important;
}
#nelogDetail ul li >span:nth-child(2),
#userlogDetail ul li >span:nth-child(2){
  word-break: break-all;
}

#nelogDetail ul li > span:first-child,
#userlogDetail ul li > span:first-child {
  width: 7.3em;
  margin: 0;
}


input::file-selector-button {
  font-weight: normal;
  color:#000;
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 4px;
}
input[type="file"] {
  font-size: 13px;
  margin: 5px 0;
}
#createModal .url {
  margin-top: .5em;
}
.url input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #3b82f6;
}

#nelogDetail {
  width: 70em!important;
}
#nelogDetail li > span:nth-child(2) {
  max-width: 85%;
  word-break: break-all;
}
#deleteModal h5 .mat-icon {
  background-color: transparent;
}
#provisionModal label, #provisionModal span {
  vertical-align: initial!important;
}

.filterBY {
  display: block;
  padding: 1em 2em;
  color: #c0d6f2;
}
.filterBY .material-symbols-outlined {
vertical-align: bottom;
display: inline-block;
font-size: 20px;
margin: 0 3px 0 0;
}
.filterBY .material-symbols-outlined ~ span {
border: 1px solid #ffffff;
background-color: #c4e4fa;
color: #066abf;
padding: 0.35em;
font-size: 1.05em;
border-radius: 4px;
cursor: pointer;
margin: 0 0.5em 0 0;
}
.filterBY .material-symbols-outlined ~ span:hover {
filter: brightness(1.05);
transition: all .25s;
}
.filterBY .material-symbols-outlined ~ span label {
cursor: pointer;
}
.ocloudInfo.component .ngx-pagination .small-screen {
  left: 2.5em;
}
#modifyConfigWindow ul li span {
  min-width: 15em;
}
/* field detail */
.mat-menu-panel {
  background: #fff;
}
.mat-menu-content:not(:empty) {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.mat-menu-content button {
  background: transparent;
  color: rgba(0,0,0,.87);
  border-bottom: 1px solid #6d92b166!important;
  line-height: 38px!important;
  height: 38px!important;
}
.mat-menu-content h3 {
  margin: 0!important;
  line-height: 2.5em;
  border-bottom: 1px solid #6d92b166!important;
}
.mat-menu-content h3 + .mat-menu-content button {
  border-bottom: none;
}

.mat-menu-content h3 ,
.mat-menu-content h3 .mat-menu-submenu-icon,
.mat-menu-content h3  .mat-icon-no-color {
  color: #356279;
  background-color: #ccd1d9a3;
  text-align: center;
}
.mat-menu-content .mat-menu-item:nth-child(3),
.mat-menu-content .mat-menu-item:nth-child(6) {
  border-bottom: none!important;
}
.mat-menu-item .mat-icon {
  color: #57abf1;
  border-radius: 5em;
  background-color: #ffffffd9;
  vertical-align: middle!important;
  margin-right: 11px !important;
  padding: 0 !important;
  
}
.mat-menu-item .material-symbols-outlined {
  font-size: 22px;
  color: #57abf1;
  border-radius: 5em;
  background-color: #ffffffd9;
  vertical-align: middle;
  margin-right: 8px;
  padding: 3px;
}
.mat-menu-item[disabled] mat-icon {
  display: none;
}
.mat-menu-item .mat-icon svg {
  vertical-align: top;
  width: 25px;
  height: 25px;
  color: #51a1e3;
}
/**/
#fieldEditWindow {
  width: 63em;
  position: relative;
}
body.en #fieldEditWindow {
  width: 71em;
}
#fieldOptimizationWindow mat-button-toggle-group .mat-button-toggle-appearance-standard.mat-button-toggle-checked,
 #fieldEditWindow .fieldEditTab mat-button-toggle-group .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color:#ba5a2a!important;
}
#fieldOptimizationWindow mat-button-toggle-group .mat-button-toggle-appearance-standard,
#fieldEditWindow .fieldEditTab mat-button-toggle-group .mat-button-toggle-appearance-standard {
  background-color:#485c77!important;
  color:#ddd;
}
#fieldOptimizationWindow .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border-left: solid 1px #2d3842;
}
#fieldEditWindow .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border-left: solid 1px #064f97;
}
#fieldEditWindow  ul li {
  line-height: 1;
}
#fieldEditWindow  ul li label {
  width: 7.5em;
  word-break: break-word;
  vertical-align: middle;
}
#fieldEditWindow  ul li span {
  vertical-align: middle;
}
#fieldEditWindow table {
  width: 100%;
}
#fieldEditWindow ul {
  margin: 1% 3%;
}
#fieldEditWindow th {
  width: 6em;
  white-space: nowrap;
}
#fieldEditWindow thead th:nth-child(3) {
  width: 14em;
}
body.en #fieldEditWindow  ul li > span {
  width: 67%;
}

#promptWindow_noFieldImage,
#confirmDeleteWindow_For_fieldEdit {
  min-width: 21em;
}
body.en #promptWindow_noFieldImage {
  min-width: 28em;
}
#promptWindow_noFieldImage .label-centered {
  width: 90%;
  margin: auto;
}
body.en .ocloudInfo.component .collabsible .baseInfo .content-inner ul li label {
  width: 10.5em;
}
body.en .bs-info .collabsible .baseInfo .content-inner ul li label {
  width: 11.5em!important;
}
body.en .ocloudInfo.bs_mgr .basicInfo ul li label {
  width: 10.5em!important;
}
body.tw #itemDetail ul li > label {
  min-width: 6em !important;
}
body.tw #itemDetail ul li > span {
  max-width: 68%!important;
}
body.en .ocloudInfo.software .basicInfo ul.Software_info li label {
  width: 7.5em !important;
}
body.en .schedule_mgr .basicInfo ul li label {
  width: 10.5em!important;
}
body.en .account_mgr .basicInfo ul li label {
  width: 7em!important;
}
body.tw .dashboard  .boxTitle {
  margin: 0 26% 0 0!important;
}
body.en .account_Info .basicInfo ul li label {
  width: 6.7em!important;
}
body.tw #userlogDetail ul li > span:first-child {
  width: 4.3em;
}
body.tw #createBSModal ul li > label {
  min-width: 5em;
}
body.tw #createComponentModal ul li label {
  width: 7em;}

body.tw .performanceWindow {
  width: 17em;
}
#confirmFieldEditWindow {
  min-width: 25em;
}
body.en #PMgmtParameterSetWindow ul li > label {
  min-width: 11em;
}
body.tw #PMgmtParameterSetWindow ul li > label {
  min-width: 9em;
}
#PMgmtParameterSetWindow ul li > span {
  width: 22em;
}
body.en .fault_mgr.table table tbody tr td:nth-child(4) {
  min-width: 9em;
}
 #fieldCreationWindow {
  width: 50em!important;
}

.pw {
  position: relative;
}
.pw i {
  vertical-align: middle;
  margin: 0 0.3em;
  cursor: pointer;
  position: absolute;
  right: 0;
  color: #45a0e7;
  top: 5px;
}

#PMgmtParameterSetWindow {
  width: 44em;
}
#fieldOptimizationWindow .mat-radio-button.mat-accent .mat-radio-inner-circle,
#PMgmtParameterSetWindow .mat-radio-button.mat-accent .mat-radio-inner-circle,
#PMgmtParameterSetWindow .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #1d8ee4!important;
}
#fieldOptimizationWindow .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
#PMgmtParameterSetWindow .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #1d8ee5!important;
}
#fieldOptimizationWindow .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
#fieldOptimizationWindow .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: #1d8ee4!important;
}
#fieldOptimizationWindow .mat-checkbox-frame {
  border-color: #ddd;
}
#PMgmtParameterSetWindow .content {
  max-height: 53vh;
  overflow: auto;
  display: block;
}

#provisionModal ul li span {
  white-space: nowrap;
}
#itemDetail {
  min-width: 35em;
}
.upload > span {
  outline: 0;
  padding: 0.3em 2em;
  border: 0;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  font-size: 0.9em;
  border-radius: 50em;
  cursor: pointer;
}
.upload > span input {
  position: absolute;
  font-size: 50px;
  right: 0;
  top: 0;
  width: 100%;
  height: 27px;
  opacity: 0;
  cursor: pointer;
}
.upload label {
  word-wrap: break-word;
  display: inline-block;
  max-width: 75%;
  line-height: 1;
  vertical-align: middle;
}
span.upload {
  width: 70%;
}
body.tw #accountCreateModal ul li > label {
  min-width: 15%;
}
#fieldSnapshotSetWindow {
  min-width: 38em;
}
#fieldSnapshotSetWindow .mat-expansion-panel {
  background: transparent;
}
#fieldSnapshotSetWindow .mat-expansion-panel table th,
#fieldSnapshotSetWindow .mat-expansion-panel table td {
  white-space: nowrap;
  color: #fff;
}
body.tw #fieldSnapshotSetWindow .Snapshot_UI02 .save_name input {
  width: 20.5em !important;
  margin: -5px 0 0;
  padding: 7px 8px;
}
body.tw .Snapshot_UI02 + .mat-accordion {
  margin: 3.8em 1em 0!important;
}
body.tw .schedule .fmReport ul.ftp_info li label,
body.tw .schedule .ftp_info li > label {
  width: 5em!important;
}
body.tw .schedule .Software_info li label{
  width: 7em!important;
}
body.tw .caReport ul.file_url_info li label {
  width: 9em!important;
}

body.tw .sfUpdate .file_url_info li label {
  width: 6em!important;
}
body.tw .fmReport .file_url_info li label,
body.tw .sfReport .file_url_info li label,
body.tw .pmReport .file_url_info li label {
  width: 7em!important;
}

body.tw .slice .fmReport ul.ftp_info li label,
body.tw .slice .ftp_info li > label {
  width: 5em!important;
}
body.tw .slice .Software_info li label{
  width: 8em!important;
}

#bsCreationWindow {
  min-width: 50em;
  min-height: 45em;
}
#bsCreationWindow .mat-form-field-wrapper {
  transform: translateY(-22px);
}
#bsCreationWindow .mat-select-value {
  color: #fff;
}
#bsCreationWindow .mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-0.5em) scale(0.75);
}
@media screen and (max-width:1920px) {
 /*  .table table {
      font-size: 1em;
  } */
  .filter span label {
    font-size: 1em;
  }
  .dashboard .bigValue {
    font-size: 3em;
}
  .filter input[type=text] {
    max-width: 7em;
    font-size: .9em;
  }
  .filter select {
    font-size: .9em;
  }
  mat-dialog-container h5 {
    font-size: 1.1em !important;
}
}
@media only screen and (max-width: 1366px) {
  .p-calendar .p-datepicker {
    transform: scale(.7) translateY(-30%);
  }
  .mat-dialog-container {
    transform: scale(.9)!important;}
  h5 {
    font-size: 1.25em !important;
}
#faultAdvancedModal #time, p-calendar #time,.filter input[type=text], .filter select {
  font-size: .9em;
}

.filter input[type=text] {
 /*  max-width: 6em; */
  font-size: .9em;
  line-height: 1;
  padding: 5px;
}
.filter span {
  margin: 0;
}
  .content {
    padding: 0;
  }
  .pattern_list .path {
    line-height: 250%;
  }
  .gauge .value {
    margin: 0 0 0 0.5em;
  }
  .warning_list {
    width: 24%;
  }
  h1 .float_right {
    font-size: 0.5em;
  }
  #createModal {
    min-width: 42em;
  }
  .table table {
    font-size: 1em;
  }
  /* .table table td {
    font-size: .85em;
    line-height: 1;
  }
   */
  .filter {
    width: 98.5%;
  }
  .filter span label {
    font-size: 1em;
  }
  .material-icons {
    font-size: 20px;}
    .table table td ul li {
      margin: 0 0 0.5em 1.5em;
      white-space: break-spaces;
  }
}

// @2024/02/27 Add
// 定義 Google Maps API 的 InfoWindow 樣式 
.gm-style .gm-style-iw {
  background: rgba( 255, 255, 255, 0.9 ); // 設定半透明的白色背景
  color: #192c53;      // 文字顏色
  font-size: xx-small;   // 字體大小
 // font-weight: bolder; // 字體粗細
}

// @2024/02/27 Add
// 定義 Google Maps API 的 InfoWindow 中鼠標懸停在 <li> 標籤上的樣式
.gm-style .gm-style-iw li:hover {
  color: #ba5a2a; // 當鼠標懸停在 <li> 標籤上時，將文字顏色改變顏色
}

#fieldOptimizationWindow {
  width: 63.35vw!important;
  padding-bottom: 1.5em!important;
}
#fieldOptimizationWindow .field-optim-wrap .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #fff;
  font-size: .75em;
}
#fieldOptimizationWindow .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #fff;
}
#fieldOptimizationWindow .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: initial;
  font-size: .75em;
  top: 3px;
  position: absolute;
  display: inline-block;
  color: #ddd;
}

body.tw #fieldOptimizationWindow ul li > label {
  width: 6.5em!important;
  min-width: initial;
}
#fieldOptimizationWindow .mat-radio-button ~ .mat-radio-button {
  margin: 3px 0;
}
body.tw table.neLog tr td:nth-last-child(2) {
  width: 15em!important;
}
body.tw #nelogDetail ul li > span:first-child,
body.tw #userlogDetail ul li > span:first-child {
  width: 4.3em;
  margin: 0;
}
#softUpdateModal {
  min-width: 30em;
}

#softUpdateModal .boxTitle {
  font-size: 1.2em;
}
#softUpdateModal ul li > label {
  width: 7em;
}
body.tw #softUpdateModal ul li > label {
  width: 5em;
  min-width: initial;
}
#userlogDetail {
  min-width: 32em;
}
body.tw div.baseInfo .content-inner ul li label {
  width: 7em!important;
}
#createComponentModal select {
  width: 12.6em;
}
tbody {
  position: relative;
}
.progress-spinner-container {
  position: absolute;
  left: 45%;
  top: 35%;
  z-index: 1000000;
  height: initial;
}
#BsBasicInfoEditWindowRef table td input[type="text"] {
  width: 100%;
}
body.tw #BsBasicInfoEditWindowRef ul li > label {
  min-width: 6em;
}
ngx-spinner .ngx-spinner-overlay {
  background-color: #080c10a8!important;
}
.ngx-spinner-overlay > div:not(.loading-text) {
  color: #36c6ff!important;
}
.loading-text {
  top: 57%!important;
  left: 50.2%!important;
}
.loading-text p {
  font-size: 18px;
  color: #fff;
  text-shadow: 0 0 5px #167ccd;
}
.p-datepicker .p-timepicker ,
.p-datepicker .p-datepicker-header {
  padding: 0!important;
}
.p-datepicker table th {
  padding: 0.25rem 0.5rem!important;
}
.p-datepicker .p-timepicker span {
  font-size: 1.15rem!important;
}
.p-datepicker .p-timepicker button {
  width: 1.3rem!important;
  height: 1.3rem!important;
}
#bsCreationWindow .mat-select-arrow {
  color: rgba(255, 255, 255, .54)!important; 
}
#bsCreationWindow .mat-form-field-appearance-fill .mat-form-field-infix {
   padding: .5em 0 .25em 0!important;
}
#bsCreationWindow .mat-form-field-label-wrapper {
  top: -0.83375em!important;
}
#fieldCreationWindow .mat-form-field {
  width: 17.5em;
}
#addOrEditNeighborBsWindowRef {
  width: 44em;
}
#addOrEditNeighborBsWindowRef ul li {
  min-height: 6em;
}

#addOrEditNeighborBsWindowRef ul li input[type="text"] {  
  margin: 0.3em 0 .3em;
  width: 35em;
  display: block;
}
#addOrEditNeighborBsWindowRef .mat-error {
  padding: 0.3em 0.5em 0.4em;
  font-size: 0.9em;
  display: block;
  width: 40em;
  border-radius: 3px;
}
.mat-error {
  padding: 0.5em;
  font-size: 12PX;
  border-radius: 3px;
}
#editSingleParamValueWindowRef {
  width: 40em;
  height: 17.5em;
}
#editSingleParamValueWindowRef ul li > label + span {
  display: inline-block;
}
#editSingleParamValueWindowRef ul li > label + span input,
#editSingleParamValueWindowRef ul li > label + span select {
  max-width: 15em;
  display: block;
  margin: 0 0 .5em;
}
#editSingleParamValueWindowRef .parmName {
  font-weight: bold;
  font-family: Microsoft JhengHei;
  margin: 1em 2.5em;
  color: #fff;
  display: block;
}
#editSingleParamValueWindowRef ul li > label {
  min-width: 9.5em;
}
body.tw #editSingleParamValueWindowRef ul li > label {
  min-width: 5em;
}

// @2024/05/22 Add
// 設定 ngx-charts-line-chart 圖表模組區域整體樣式
ngx-charts-line-chart {
  position: relative;
  top: 12px;
}

// @2024/05/16 Add
// 設定 ngx-charts-line-chart 圖表模組，所有 SVG 文本元素的顏色
ngx-charts-line-chart text {
  fill: #ffffff !important; // 將所有文本設為白色 
}

// @2024/05/22 Add
// 設定 ngx-charts-line-chart 圖表模組，圖例區域整體樣式
// ngx-charts-line-chart .chart-legend {
//   /* position: relative;
//   top: -1px; */
// }

// @2024/05/22 Add
// 設定 ngx-charts-line-chart 圖表模組，圖例標題樣式
ngx-charts-line-chart .chart-legend .legend-title {
  color: #AFB7C8 !important; // 設為灰色
  font-size: 16.5px !important;
}

// @2024/05/25 Update
// 設定 ngx-charts-line-chart 圖表模組，X 軸標題樣式
ngx-charts-line-chart .x.axis text.ng-star-inserted {
  transform: rotate( -32deg ); // 傾斜角度
  transform-origin: end;       // 傾斜起始方向
}

// @2024/05/22 Add
// 調整圖表圖例中 "未活動" 數據標籤的顏色
ngx-charts-line-chart .chart-legend .legend-label .legend-label-text {
  font-size: 14px !important;
}

// @2024/05/22 Update
// 調整圖表圖例中 "活動" 數據標籤的顏色和字體粗細
ngx-charts-line-chart .chart-legend .legend-label .active .legend-label-text {
  color: #d2e0f6 !important;  // 改成亮色
  font-weight: bold !important; // 增加字體粗細
  font-size: 14px !important;
}

// @2024/05/23 Add
// 隱藏 ngx-charts 圖表中名為 'none' 的圖例項目
ngx-charts-legend-entry[ng-reflect-label="none"] {
  display: none !important;        // 設置為不顯示
  pointer-events: none !important; // 設置為不可點擊 
}

// @2024/05/31 Add
// 設定 ngx-charts-bar-horizontal 圖表模組，所有 SVG 文本元素的顏色
ngx-charts-bar-horizontal text {
  fill: #ffffff !important; // 將所有文本設為白色 
}

// @2024/05/31 Add
// 調整圖表圖例中 "活動" 數據標籤的顏色和字體粗細
ngx-charts-bar-horizontal .chart-legend .legend-label .active .legend-label-text {
  color: #d2e0f6 !important;  // 改成亮色
  font-weight: bold !important; // 增加字體粗細
  //font-size: 14px !important;
}

// @2024/05/24 Add
// 用於顯示當點 ngx-charts 圖表的對應圖例項目要隱藏選擇的數據線時，將其加上橫槓
.hidden-line {
  text-decoration: line-through;
}

#fieldPMReportWindow {
  position: relative;
}
#fieldPMReportWindow mat-button-toggle-group {
  position: absolute;
  top: 5px;
  right: 5px;
}
#fieldPMReportWindow mat-button-toggle-group .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: #ba5a2a !important;
}
#fieldPMReportWindow mat-button-toggle-group .mat-button-toggle-appearance-standard {
  background-color: #485c77 !important;
  color: #ddd;
}
#fieldPMReportWindow .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border-left: solid 1px #427ebd;
}

// 調整未選中狀態下滑桿的背景色 @2024/05/29 Add
.mat-slide-toggle.mat-slide-toggle-disabled .mat-slide-toggle-bar,
.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: #607089;
}

// bs-info mouseover 
.gm-style-iw-chr button[title="Close"] {
  width: 12px!important;
  height: 12px!important;
}
.gm-style-iw-chr button[title="Close"] span {
  width: 18px !important;
  height: 18px !important;
  margin: 0 !important;
  position: absolute;
  right: 1px;
  top: 2px;
}
.gm-style-iw-t .gm-style-iw {
  padding-left: 15px!important;
}
#fieldPMReportWindow {
  min-width: 45em;
}
#fieldPMReportWindow .filter  {
  text-align: center;
  margin: 0 auto 1em;
  width: 92%;
  white-space: nowrap;
}
#fieldPMReportWindow .filter select {
  width: auto;
}
body.tw .performance table th.relative span:last-child {
  right: 38px!important;
}
body.tw .performance table th.relative span:first-child {
  left: 20px!important;
}