                                         <!-- 使用 [ngClass] 根據條件動態添加 CSS -->
<div class="ocloudInfo schedule slice" [ngClass]="getDynamicClasses( selectScheduleInfo )">
  <h5>
    <button (click)="back()">
      <span class="material-icons">arrow_back</span>{{ languageService.i18n['back'] }}
    </button>
    {{languageService.i18n['slice.info']}} – 
    <!-- <label *ngIf=" selectScheduleInfo.tickettype === '0' ">eMBB</label>
    <label *ngIf=" selectScheduleInfo.tickettype === '1' ">URLLC</label>
    <label *ngIf=" selectScheduleInfo.tickettype === '2' ">mMTC</label>
    <label *ngIf=" selectScheduleInfo.tickettype === '3' ">V2X</label>
    <label *ngIf=" selectScheduleInfo.tickettype === '4' ">HMTC</label> -->slice_1
    / {{ selectScheduleInfo.executedtime }}
  </h5>

  <div class="BOX basicInfo">
    <label class="boxTitle">
      {{ languageService.i18n['sm.detailInfo'] }}
    </label>

    <!-- 當數據正在加載時顯示進度條 @2024/03/24 Add -->
    <!-- <ng-container *ngIf="isLoadingScheduleInfo">
        <div class="progress-spinner-container"> -->
          <!-- 指示器大小設置 -->
          <!-- <mat-progress-spinner class="custom-spinner-color" mode="indeterminate" [diameter]="150"></mat-progress-spinner>
        </div>
    </ng-container> -->

    <!-- 加載完成後顯示 排程資訊 數據 @2024/03/24 Add -->
    <ng-container *ngIf="!isLoadingScheduleInfo">
      <div [ngClass]="{'kpiTable': shouldApplyKpiTableStyle()}">
        
        <!-- 基本訊息區 @2024/03/24 Add -->
        <ul class="Software_info">
          <h3>{{ languageService.i18n['basic.info'] }}</h3>
          <li>
            <label>{{ languageService.i18n['slice.id'] }}</label>
            <span>f769da087f2044e7a0d7</span>
          </li>
          <li>
            <label>{{ languageService.i18n['slice.creationTime'] }}</label>
            <span>{{ selectScheduleInfo.executedtime }}</span>
          </li>
          <li>
            <label>{{ languageService.i18n['slice.name'] }}</label>
            <span>slice_1</span>
          </li>
          <li>
            <label>{{ languageService.i18n['slice.type'] }}</label>
            <!-- <span *ngIf=" selectScheduleInfo.tickettype === '0' ">eMBB</span>
            <span *ngIf=" selectScheduleInfo.tickettype === '1' ">URLLC</span>
            <span *ngIf=" selectScheduleInfo.tickettype === '2' ">mMTC</span>
            <span *ngIf=" selectScheduleInfo.tickettype === '3' ">V2X</span>
            <span *ngIf=" selectScheduleInfo.tickettype === '4' ">HMTC</span> -->
            eMBB
          </li>
          <li>
            <label>{{ languageService.i18n['slice.status'] }}</label>
            <span><span class="icon" [class]="getTicketStatusInfo( selectScheduleInfo ).icon"></span>
              &zwnj;{{ getTicketStatusInfo( selectScheduleInfo ).message }}</span>
          </li>
          <li>
            <label>{{ languageService.i18n['slice.load'] }}</label>
            <span>70 %</span>
          </li>
          <li>
            <label>{{ languageService.i18n['slice.totalUENumber'] }}</label>
            <span>100</span>
          </li>
          <li>
            <label>{{ languageService.i18n['slice.registeredUENumber'] }}</label>
            <span>55</span>
          </li>
          <li>
            <label>{{ languageService.i18n['slice.activeUENumber'] }}</label>
            <span>30</span>
          </li>
          <li>
            <label>{{ languageService.i18n['slice.pduSessionNumber'] }}</label>
            <span>30</span>
          </li>
        </ul>

        <!-- 切片拓樸區 @2024/05/29 Update -->
        <ul class="file_url_info">
          <h3>{{ languageService.i18n['slice.topology'] }}</h3>
          <div>
            <img style="width: 90%; " src="assets/img/sliceTopologySample2.png">
          </div>
        </ul>

        <!-- 操作區 @2024/05/29 Update -->
        <ul class="ftp_info">
          <h3>{{ languageService.i18n['slice.operations'] }}</h3>
          <li>
            <label>{{ languageService.i18n['slice.activate'] }}</label>
            <span>
              <mat-slide-toggle tooltip="{{ languageService.i18n['slice.activateThisSlice'] }}"></mat-slide-toggle>
            </span>
          </li>
        </ul>

      </div>
    </ng-container>
  </div>
