.BOX {
  position: relative;
  display: inline-block;
  padding:0 1.5em 1.5em;
  vertical-align: top;
  margin: 0 1% 1% 0;
  border-radius: 10px;
  opacity: 1;
  width: 40em;
}
.boxTitle {
  display: block;
  font-size: 1.5em;
  line-height: 2;
  margin: 0 0 0.5em;
  text-align: center;
  padding: 0;
}

.basicInfo ul {
  margin: 0 0 1em 0;
  font-size: .9em;
}
.basicInfo ul li {
  font-size: 1.35em;
  margin: 0 0 0 1.5em;
}
.basicInfo ul li label {
  display: inline-block;
  margin:  0;
  /* width: 28%; */

}
.basicInfo ul li label::after {
  content: ':';
  display: inline-block;
  margin: 0 .3em;
}
.basicInfo ul li span {
  display: inline-block;
 /*  width: 70%; */
  word-break: break-all;
  vertical-align: top;
}
.basicInfo ul li span button {
  background: transparent;
  background-color: #1d61a1;
  color: #fff;
  outline: 0;
  padding: 0.3em 1em;
  border: 0;
  margin: 0 0 0 1em;
  vertical-align: bottom;
  font-size: 0.8em;
  border-radius: 50em;
  cursor: pointer;
}
ul + .buttons {
  display: block;
  text-align: center;
}
ul + .buttons button {
  background-color: transparent;
  border: 2px solid #1f4970;
  color: #418fdb;
  padding: 6px 18px;
    margin: 0 8px;
    border-radius: 50em;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s;
    min-width: 6em;
    
}