<div class="ocloudInfo">
  <h5>
    <button (click)="back()">
      <span class="material-icons">arrow_back</span>Back
    </button>
    {{fieldName}} – {{languageService.i18n['field.info']}}
  </h5>

  <div class="BOX mapWindow">
    <label class="boxTitle">Field Map</label>

    
  </div>

  <div class="BOX col-md-4 center faultWindow">
    <label class="boxTitle">{{ languageService.i18n['field.alarm'] }}
      <a href="javascript:void(0)" (click)="goFaultMgr()">
        {{ languageService.i18n['index.viewMore'] }}<span class="material-icons">more_horiz</span>
      </a>
    </label>
    <div class="percent {{severityText(severity)}}   Fault" *ngFor="let severity of severitys; let i = index" >
      {{ severityText(severity) }}<br>{{ severityCount(severity) }}
    </div>
  </div>

  <div class="BOX cpu performanceWindow">
    <label class="boxTitle">場域效能
      <a href="javascript:void(0)" (click)="goPerformanceMgr()">
       {{languageService.i18n['index.viewMore']}}<span class="material-icons">more_horiz</span>
      </a>
    </label>
    <div>
      <span>
        <img src="assets/img/cpu.png">
        <div><label>{{languageService.i18n['index.cpuLoading']}}</label>{{ocloudPerformance.cpu}}</div>
      </span>
      <span>
        <img src="assets/img/database.png">
        <div><label>{{languageService.i18n['index.diskUsage']}}</label>{{ocloudPerformance.storage}}</div>
      </span>
      <span>
        
        <div><label>{{languageService.i18n['index.memoryUsage']}}</label><!--span class="bold"-->{{ocloudPerformance.memory}}<!--/span--></div>
      </span>
      <span>
        
        <div><label>{{languageService.i18n['index.networkThroughput']}}</label>{{ocloudPerformance.network}}</div>
      </span>
    </div>

  </div>


  

  <div class="BOX col-md-3 basicInfo bsWindow">
    <label class="boxTitle">基站資訊</label>
    <ul>
      <li><label>基站名稱</label><span>{{ocloudInfo.name}}</span></li>
      <li><label>基站類型</label><span>{{ocloudInfo.id}}</span></li>
      <li><label>NCI</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
      <li><label>PCI</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
      <li><label>PLMN ID</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
      <li><label>Tx Power (dBm)</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
      <li><label>NR-ARFCN-UL</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
      <li><label>NR-ARFCN-DL</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
      <li><label>經度</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
      <li><label>緯度</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
    </ul>
    <span>{{ocloudInfo.softwareVersion}}
      <button tooltip="{{languageService.i18n['updateSoftware']}}" (click)="openUpdateModel()">修改設定</button>
    </span>

    <label class="boxTitle">鄰近基站列表</label>
    <ul>
      <li><label>PLMN ID</label><span>{{ocloudInfo.name}}</span></li>
      <li><label>NCI</label><span>{{ocloudInfo.id}}</span></li>
      <li><label>PCI</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
    </ul>
  </div>

  

</div>




<ng-template #updateModal>
  <h5>{{languageService.i18n['software_update']}}</h5>
  <form [formGroup]="updateForm">
    <ul>
      <li>
        <label>Current Version</label>
        <span>{{ocloudInfo.softwareVersion}}</span>
      </li>
      <li>
        <label>Update Software</label>
        <span class="SoftwareUpdate">
          <mat-button-toggle-group formControlName="type" (change)="changeType($event)">
            <mat-button-toggle value="imageUrl">Image URL</mat-button-toggle>
            <mat-button-toggle value="existedFile">Existed File</mat-button-toggle>
          </mat-button-toggle-group>

          <div *ngIf="updateForm.controls['type'].value === 'imageUrl'">
            <input type="text" formControlName="imageUrl" placeholder="Image URL" class="{{formValidated&&updateForm.controls['imageUrl'].invalid?'required':''}}">
            <mat-error *ngIf="formValidated&&updateForm.controls['imageUrl'].invalid">Required</mat-error>
          </div>
          <div *ngIf="updateForm.controls['type'].value === 'existedFile'">
            <select formControlName="fileName" class="{{formValidated&&updateForm.controls['fileName'].invalid?'required':''}}">
              <option *ngFor="let opt of softwareList" [value]="opt.fileName">{{opt.fileName}}</option>
            </select>
            <mat-error *ngIf="formValidated&&updateForm.controls['fileName'].invalid">Required</mat-error>
            <div class="UV" *ngIf="updateForm.controls['type'].value === 'existedFile'">
              Update Version : {{softwareVersion()}}
            </div>
          </div>
        </span>
      </li>
    </ul>
    <div class="buttons">
      <button type="button" mat-dialog-close>Cancel</button>
      <button type="button" (click)="update()">OK</button>
    </div>
  </form>
</ng-template>
