
<div class="ocloudInfo">
	<h5>
    <button (click)="back()">
      <span class="material-icons">arrow_back</span>Back
    </button>
    {{languageService.i18n['field.info']}} – {{fieldName}}
  </h5>
	<!-- Field Map (場域地圖) -->
	<div>
		<div class="BOX mapWindow">
			<label class="boxTitle boxTitleRightAligned"> <span class="title-container">{{ languageService.i18n['field.Map'] }}</span>
				<div class="button-container">
					<button>{{ languageService.i18n['field.image'] }}</button>
					<button>NR</button>
					<button (click)="toggleColorbar('RSRP')">{{ languageService.i18n['field.rsrpMap'] }}</button>
					<button (click)="toggleColorbar('SINR')">{{ languageService.i18n['field.sinrMap'] }}</button> <span class="material-icons" tooltip="{{ languageService.i18n['field.MapOption'] }}">more_horiz</span> </div>
			</label>
			<google-map width="915px" height="748px" [center]="center" [zoom]="zoom" [options]="mapOptions"> </google-map>
		</div>
		<div id="ColorBar" style="margin-top: -10px; ">
			<ul *ngIf="currentColorbar === 'RSRP'">
				<div> <span class="colorbar-title">RSRP</span> <img src="assets/img/rsrp_colorbar.png">
					<!-- RSRP Colorbar -->
					<div class="RSRP_values"> <span>-130</span> <span>-120</span> <span>-110</span> <span>-100</span> <span>-90</span> <span>-80</span> </div>
				</div>
			</ul>
			<ul *ngIf="currentColorbar === 'SINR'">
				<div> <span class="colorbar-title">SINR</span> <img src="assets/img/rsrp_colorbar.png">
					<!-- SINR Colorbar -->
					<div class="SINR_values"> <span>-10</span> <span>0</span> <span>10</span> <span>20</span> <span>30</span> </div>
				</div>
			</ul>
		</div>
	</div>
	<div>
		<!-- Field Alarms Information (場域告警資訊) -->
		<div class="BOX col-md-4 center">
			<label class="boxTitle">{{ languageService.i18n['field.faultInfo'] }}
				<a href="javascript:void(0)" (click)="goFaultMgr()"> <span class="material-icons" tooltip="{{languageService.i18n['index.viewMore']}}">more_horiz</span> </a>
			</label>
			<div class="percent {{severityText_forCSS(severity)}} Fault" *ngFor="let severity of severitys; let i = index"> {{ severityText(severity) }}
				<br>{{ severityCount(severity) }} </div>
		</div>
		<!-- Field Performance Information (場域效能資訊) -->
		<div class="BOX performanceWindow cpu">
			<label class="boxTitle">{{languageService.i18n['field.performanceInfo']}}
				<a href="javascript:void(0)" (click)="goPerformanceMgr()"> <span class="material-icons" tooltip="{{languageService.i18n['index.viewMore']}}">more_horiz</span> </a>
			</label>
			<div class="performance_percent">
				<div class="item">
					<!-- @12/10 update to get fieldInfo.handoverRate -->
					<div class="label-container">
						<label>{{ languageService.i18n['field.handoverRate'] }}</label>
					</div>
					<circle-progress [percent]="coverageAsNumber" [subtitle]="coverageAsNumber + '%'"></circle-progress>
				</div>
				<div class="item">
					<!-- @12/10 update to get fieldInfo.accessibility -->
					<div class="label-container">
						<label>{{ languageService.i18n['field.accessRate'] }}</label>
					</div>
					<circle-progress [percent]="accessibilityAsNumber" [subtitle]="accessibilityAsNumber + '%'"></circle-progress>
				</div>
				<div class="item">
					<!-- @12/10 update to get fieldInfo.utilization.resourceProcess -->
					<div class="label-container">
						<label>{{ languageService.i18n['field.CPU_Utilization'] }}</label>
					</div>
					<circle-progress [percent]="resourceProcessAsNumber" [subtitle]="resourceProcessAsNumber + '%'"></circle-progress>
				</div>
				<div class="item">
					<!-- @12/10 update to get fieldInfo.utilization.resourceMemory -->
					<div class="label-container">
						<label>{{ languageService.i18n['field.Memory_Utilization'] }}</label>
					</div>
					<circle-progress [percent]="resourceMemoryAsNumber" [subtitle]="resourceMemoryAsNumber + '%'"></circle-progress>
				</div>
			</div>
		</div>
		<!-- gNB Detailed Information (基站資訊) -->
		<div class="BOX col-md-3 basicInfo bsWindow">
			<label class="boxTitle">{{languageService.i18n['field.bsInfo']}}</label>
			<ul>
				<li>
					<label>{{languageService.i18n['field.gNBname']}}</label><span>{{ocloudInfo.name}}</span></li>
				<li>
					<label>{{languageService.i18n['field.gNBtype']}}</label><span>{{ocloudInfo.id}}</span></li>
				<li>
					<label>NCI</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
				<li>
					<label>PCI</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
				<li>
					<label>PLMN ID</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
				<li>
					<label>Tx Power (dBm)</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
				<li>
					<label>NR-ARFCN-UL</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
				<li>
					<label>NR-ARFCN-DL</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
				<li>
					<label>{{languageService.i18n['field.Longitude']}}</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
				<li>
					<label>{{languageService.i18n['field.Latitude']}}</label><span>{{ocloudInfo.imsEndpoint}}</span></li>
			</ul>
			<div>
				<button mat-flat-button class="button-modifyConfiguration" tooltip="{{languageService.i18n['field.modifyConfiguration']}}" (click)="openUpdateModel()">{{languageService.i18n['field.modifyConfiguration']}}</button>
			</div>
			<div>
				<label class="boxTitle">{{languageService.i18n['field.neighboringBSList']}}</label>
				<!-- @12/08 Add by yuchen -->
				<div class="table ">
					<table>
						<thead>
							<tr>
								<th>PLMN ID</th>
								<th>NCI</th>
								<th>PCI</th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr /**ngFor="let opt of msgToDisplay" >
                  <td>{{opt.fieldName}}</td>
                  <td>{{opt.bsName}}</td>
                  <td>{{opt.compname}}</td>
                </tr> -->
							<tr>
								<td>46655</td>
								<td>000004108</td>
								<td>100</td>
							</tr>
							<tr>
								<td>46655</td>
								<td>000050109</td>
								<td>101</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<ng-template #updateModal>
		<h5>{{languageService.i18n['software_update']}}</h5>
		<form [formGroup]="updateForm">
			<ul>
				<li>
					<label>Current Version</label> <span>{{ocloudInfo.softwareVersion}}</span> </li>
				<li>
					<label>Update Software</label> <span class="SoftwareUpdate">
          <mat-button-toggle-group formControlName="type" (change)="changeType($event)">
            <mat-button-toggle value="imageUrl">Image URL</mat-button-toggle>
            <mat-button-toggle value="existedFile">Existed File</mat-button-toggle>
          </mat-button-toggle-group>

          <div *ngIf="updateForm.controls['type'].value === 'imageUrl'">
            <input type="text" formControlName="imageUrl" placeholder="Image URL" class="{{formValidated&&updateForm.controls['imageUrl'].invalid?'required':''}}">
            <mat-error *ngIf="formValidated&&updateForm.controls['imageUrl'].invalid">Required</mat-error>
          </div>
          <div *ngIf="updateForm.controls['type'].value === 'existedFile'">
            <select formControlName="fileName" class="{{formValidated&&updateForm.controls['fileName'].invalid?'required':''}}">
              <option *ngFor="let opt of softwareList" [value]="opt.fileName">{{opt.fileName}}</option>
            </select>
            <mat-error *ngIf="formValidated&&updateForm.controls['fileName'].invalid">Required</mat-error>
            <div class="UV" *ngIf="updateForm.controls['type'].value === 'existedFile'">
              Update Version : {{softwareVersion()}}
            </div>
          </div>
        </span> </li>
			</ul>
			<div class="buttons">
				<button type="button" mat-dialog-close>Cancel</button>
				<button type="button" (click)="update()">OK</button>
			</div>
		</form>
	</ng-template>
