svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  // stroke: #6f10db;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

// @2024/01/22 Add
h5 .mat-icon {
  background-color: transparent;
} 

// @12/28 Add for Map Legend
.map-legend {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #d7be78cf;
  padding: 8px 12px 2px 5px;
  z-index: 1000;
  color: #000;
}
.map-legend > div {
  display: inline-block;
  vertical-align: middle;
  margin: -11px 0.4em 0.3em 0.8em;
}
.map-legend img {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0.5em 0 0;
}

// @12/28 Add
.map-container {
  position: relative;
  height: 900px; /* 設定與地圖相同的高度 */
}

// @2024/02/28 Update
// 自定義 Mouseover 用樣式 ( 非 Google Maps 的)
.bs-info-display {
  position: absolute;
  color: #192c53;
  font-size: xx-small;

  top: 10px; 
  left: 10px;
  width: 235px;

  background-color: rgba( 255, 255, 255, 0.8 ); // Translucent background
  border: 1px solid #ccc;
  padding: 10px;

  z-index: 1000; // 確保它顯示在地圖上層
}

// @2024/02/27 Update
// 自定義 Mouseover 中鼠標懸停在 <li> 標籤上的樣式
.bs-info-display li:hover {
  color: #ba5a2a; // 當鼠標懸停在 <li> 標籤上時，將文字顏色改變顏色
}

// 定義 Expansion Accordion 樣式 @2024/02/29 Add
// ::ng-deep .mat-accordion {
//   /* background-color: rgba(255, 255, 255, 0.1); */
// }

// 定義 Expansion Panel 樣式 @2024/02/29 Add
// ::ng-deep .mat-expansion-panel {
//   /* background-color: rgba(255, 255, 255, 0.1); */
// }

// 設定 Expansion Panel 標題區的樣式 @2024/02/29 Add
.custom-panel-header {
  height: 40px; 
  min-height: 40px;
}

// 設定 Expansion Panel 標題的樣式 @2024/02/29 Add
.custom-panel-title {
  font-size: 15px;
}

// 設定 Expansion Panel 描述的樣式 @2024/02/29 Add
.custom-panel-description {
  font-size: 13px;
}

// 設定 Expansion Panel 展開內容的樣式 @2024/02/29 Add
.custom-panel-content {
  font-size: 13px;
}


// @12/28 Add
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // 將 spinner 置於容器中心
  z-index: 10; // 確保 spinner 顯示在地圖上方 
}
F
// 進度調居中並設定大小 @12/28 Add
.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px; 
}

// "效能管理參數設定"視窗用 Spinner @2024/02/22 Add
.progress-spinner-container-for-getQueryPmFtpInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px; 
}

// 設定進度調的顏色 @12/28 Add
::ng-deep .mat-progress-spinner circle {
  stroke: #78c2ffb9 !important;
}

// 這個樣式類會增加進度調的大小 @12/28 Add
.custom-spinner-size {
  width: 100px;  // 進度調的寬度
  height: 100px; // 進度調的高度
}

// radio button of PM Parameter Setting @2024/02/16 Add
.mat-radio-button ~ .mat-radio-button {
  margin-left: 15px;
}


.center {
  text-align: center;
}
.hoverInfo {
  position: absolute;
  top: 1.5em;
  left: -5px;
  z-index: 99999;
  display: none;
}
.badge:hover > .hoverInfo {
  display: block;
}
.hoverInfo > span {
  display: block;
  padding: 0.5em 1em;
  margin: 0 !important;
  font-size: 0.8em;
  color: #000;
  white-space: nowrap;
}
.hoverInfo > span > span {
  margin: 0 0 0 5px!important;
  vertical-align: initial!important;
}
.percent {
  font-weight: bold;
  font-family: Microsoft JhengHei;
  vertical-align: middle;
  display: inline-block;
  margin:0 .5em;
}
.percent > label, .percent > span {
  display: inline-block;
  padding: 4px 0;
  margin: 0 auto!important;
  text-align: center;
}
.percent > label::before {
  content: "\e7f4";
  font-family: "Material Icons";
  margin: 0 3px 0 -11px;
  font-size: 23px;
  vertical-align: middle;
  color: #ffffffc2;
}
.percent > span::before {
  content: ':';
  margin-right: 3px;
}
.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  color: #eee;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

// 場域配置-基站列表頁內按鈕切換樣式 @2024/01/25 Add by yuchen
.field-Edit-bsList-button-active {
  background-color: #485c77;   // 按鈕啟用時的顏色
  color: white;                // 按鈕啟用時的字體顏色
}

.field-Edit-bsList-button-inactive {
  background-color: #ba5a2a; // 按鈕未啟用時的顏色
  color: white;              // 按鈕未啟用時的字體顏色
}

// 激活狀態的按鈕樣式 @2024/01/15 update by yuchen
.button-active {
  color: #ffffff!important;
  background: #477acd!important;
  border: none;
  mat-icon {
    color: #b0cfec; // 激活狀態的圖標顏色
  }
}
button.more.button-active {
  background:#337ab766!important;
}
// 非激活狀態時移除外框 @2024/01/15 add by yuchen
.button-inactive {
  border: none; // 確保非激活狀態不顯示外框
}

// @12/13 add by yuchen
/* .fieldMap-button-container{
  display: flex;
} */

// @12/13 add by yuchen
.fieldMap-button-container button{
  font-family: 'Arial Black', sans-serif;
  font-weight: bolder;
}

// For Field Editing @2024/01/11 add by yuchen
.fieldEditTab {
  position: absolute;
  z-index: 999;
  right: 8px;
  top: 5px;
}

// @2024/01/19 Add by yuchen
.delete-icon {
  position: absolute;
  top: 11px;
  right: -10px;
  font-size: 28px;
  text-align: center;
  width: 33px;
  line-height: 33px;
  height: 33px;
  cursor: pointer;
  color: #ececec;
  background-color: #ba5a2a;
  border-radius: 65%;
  z-index: 100;
}

// 設置標籤的字體大小 @2024/01/19 Add by yuchen
.label-centered {
  display: block;
  text-align: center;
  font-size: 19px; 
}

// 按鈕容器的對齊方式 @2024/01/19 Add by yuchen
.buttons-centered {
  text-align: center;
}

// 設定圖片容器的相對定位，以便於裡面的絕對定位標籤正確顯示
.image-container {
  position: relative;
  width: 150%;      // 可以根據需要調整 
  max-width: 350px; // 限制圖片容器的最大寬度 
  left: 28px;
  top: 25px;
}

// 圖片樣式
.image-container img {
  width: 100%;  // 使圖片寬度撐滿容器
  height: auto; // 保持圖片的原始比例
  position: relative;
  left: 70px;
}

// 標籤的基本樣式
.label-position {
  position: absolute;
  //background: #fff; // 白色背景
  padding: 2px 5px;  // 添加一些內邊距
  font-size: 12px;   // 字體大小
}

// 四個角的標籤位置
.leftUp {
  bottom: 97%;
  left: 0;
  transform: translateY(-50%);
}

.rightUp {
  bottom: 97%;
  left: 50%;
  transform: translateY(-50%) translateX(118%);
}

.leftDown {
  top: 105%;
  left: 50%;
  transform: translateY(-50%) translateX(118%);
}

.rightDown {
  top: 105%;
  left: 0;
  transform: translateY(-50%);
}




.ocloudInfo h5 span {
  vertical-align: middle;
  margin-right: 1em;
}
.ocloudInfo h5 span button {
  font-size: .75em;
  margin: 0 1em 0 0;
}
.ocloudInfo h5 span button[ng-reflect-tooltip-value="More Options"] {
  background-color: #3796e7a8;
  padding: 0;
  width: 2.45em;
  height: 2.45em;
}
.ocloudInfo h5 button {
  border-radius: 50em;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.1em 1em 0.1em 0.7em;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
  background: transparent;
}
.ocloudInfo h5 button .material-icons.back {
  margin: 0;
}
.ocloudInfo h5 button .material-icons:not(.back) {
  vertical-align: middle;
  font-size: 20px;
  margin: 0;
  display: none;
}
.ocloudInfo h5 button .material-symbols-outlined {
  margin: 0;
  display: none;
}
.ocloudInfo h5 button.more .material-symbols-outlined {
  display: block;
}
.ocloudInfo h5 .button-active .material-symbols-outlined {
  display: inline-block;
}
.ocloudInfo h5 button {
  font-family: Microsoft JhengHei;
}
.ocloudInfo {
  max-height: calc(450vh - 250px);
  //overflow-y: auto;
  //overflow-x: auto;
}

.boxTitle {
  display: block;
  font-size: 1.3em;
  line-height: 1.6;
  margin: 0 0 0.5em;
  text-align: center;
  padding: 0;
}

.boxTitle a {
  font-size: 0.8em;
  position: absolute;
  right: 1em;
  top: 0.3em;
}

.boxTitle a .material-icons {
  vertical-align: middle;
  font-size: 0.9em;
  margin: 0 0 0 0.3em;
}

.boxTitle + div {
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

:host ::ng-deep .dxg-title text {
  fill: #fff !important;
}

// @12/08 Add by yuchen
.boxTitleRightAligned {
  display: flex;
  /* 使用 flex 布局 */
  justify-content: space-between;
  /* 兩端對齊，子元素之間間隔相等 */
  align-items: center;
  /* 子元素垂直居中 */
  font-size: 2em;
  /* 或根據您的需求進行調整 */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: left;
  /* 文字對齊設定為左對齊 */
}

// @12/08 Add by yuchen
/* 新增或修改的 CSS */
// .boxTitleRightAligned {
//   /* justify-content: center; */
//   /* 讓內部元素整體居中對齊 */
// }

.boxTitleRightAligned .title-container {
  flex-grow: 1;
  margin: 0 0 0 0.8em;
  font-size: .85em;
  line-height: 1;
  /* 讓標題容器增長佔據空間，以保持標題置中 */
  text-align: center;
  /* 確保標題文字居中 */
}

.boxTitleRightAligned .button-container {
  display: flex;
  justify-content: flex-end;
  /* 讓按鈕容器內的元素靠右對齊 */
  flex-grow: 0;
  /* 防止按鈕容器增長，使其僅佔需要的空間 */
}

.BOX {
  position: relative;
  display: inline-block;
  padding: 0 1.5em 1.5em;
  vertical-align: top;
  margin: 0 1% 1% 0;
  border-radius: 10px;
  opacity: 1;
}

/* .col-md-3 {
  width: 32%;
}

.col-md-4 {
  height: 16em;
  width: 32%;
  position: fixed;
  top: 121.5px;
  left: 1298px;
}
 */
.col-md-8 {
  width: 45.7%;
}

.bigValue {
  font-size: 3em;
  font-weight: bold;
  text-align: center !important;
  display: inline-block;
  font-family: sans-serif;
  line-height: 1;
  vertical-align: top;
  margin: 0 0 0 1.5em;
}

:host ::ng-deep .dxg-title text {
  fill: #eee !important;
}

:host ::ng-deep #gauge svg.dxg-circular-gauge {
  display: block;
  transform: translateX(6px) translateY(-47px) scale(0.75);
}

.Fault,
.cpu {
  height: 20em;
}

.basicInfo ul {
  margin: 0 0 1em 0;
  font-size: 0.9em;
  color: #c7cbcf!important;
}

.basicInfo ul li {
  font-size: 1.35em;
  margin: 0 0 0 1.5em;
}

.basicInfo ul li label {
  display: inline-block;
  margin: 0;
  width: 27%;
}

.basicInfo ul li label::after {
  content: ":";
  display: inline-block;
  margin: 0 0.3em;
}

.basicInfo ul li span {
  display: inline-block;
  width: 70%;
  word-break: break-all;
  vertical-align: top;
}

.basicInfo ul li span button {
  background: transparent;
  background-color: #1d61a1;
  color: #fff;
  outline: 0;
  padding: 0.3em 1em;
  border: 0;
  margin: 0 0 0 1em;
  vertical-align: bottom;
  font-size: 0.8em;
  border-radius: 50em;
  cursor: pointer;
}

.BOX table {
  max-height: 25em;
  overflow-x: auto;
  overflow-y: hidden;
}

// @12/08 Add by yuchen
table {
  margin-left: auto;
  margin-right: auto; // 使表格在其容器內居中
}

// @12/12 Update by yuchen
#ColorBar img {
  max-width: 813px; // 確保圖片的寬度永遠不會超過其容器
  height: auto; // 高度設定為自動，以維持長寬比
  position: relative;
  left: 25px;
}
#ColorBar {
  position: relative;
  margin: 1em 0 0 0 ;
}
#ColorBar_sinr {
  max-width: 750px!important; // 確保圖片的寬度永遠不會超過其容器
  height: auto; // 高度設定為自動，以維持長寬比
  position: relative;
  left: 25px;
}

// @12/12 Update by yuchen
.colorbar-title {
  font-weight: BOLD;
  color: #bcd3e9;
  font-size: 1.5em;
  position: absolute;
  left: -60.5px;
  top: -8.5px;
}

// @12/12 Update by yuchen
#ColorBar .RSRP_values {
  color: rgb(188, 211, 233); // 設定字體顏色
  font-size: 17.5px; // 設定字體大小
  font-family: Arial, sans-serif; // 設定字體
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
}
// @12/12 Update by yuchen
// #ColorBar .RSRP_values span {
//    margin-right: 129.5px;   // 在值之間添加空間
//   display: inline-block;   // 使 span 行內顯示
// }

// @12/12 Update by yuchen
#ColorBar .SINR_values {
  color: rgb(188, 211, 233); // 設定字體顏色
  font-size: 17.5px; // 設定字體大小
  font-family: Arial, sans-serif; // 設定字體
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
}

// @12/12 Update by yuchen
// #ColorBar .SINR_values span {
//   margin-right: 130pt; // 在值之間添加空間
//   display: inline-block; // 使 span 行內顯示
// }

.greenLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #89d135;
}

.redLight {
  display: inline-block;
}

.grayLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #7e7e7e;
}

.h30 {
  height: 33em;
}

.opt {
  color: #67a0c9;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s;
  display: list-item;
  margin: 0 0 0 1.5em;
  text-decoration: underline;
}

.opt .material-icons {
  vertical-align: middle;
}

.opt.active .material-icons {
  transform: rotate(180deg);
}

.opt + table thead tr th:nth-child(1),
.opt + table tbody tr th:nth-child(1) {
  width: 30%;
}

.opt + table thead tr th:nth-child(2),
.opt + table tbody tr th:nth-child(2) {
  width: 10%;
}

.ResourceTooltip {
  position: relative;
}

.ResourceTooltip a {
  padding: 0.5em;
}

.ResourceTooltip > div {
  position: absolute;
  top: 2em;
  left: -50%;
  background-color: #99caec;
  border-radius: 4px;
  padding: 0.3em;
  z-index: 99999;
}

.Interface.ResourceTooltip > div {
  left: -300%;
}

.ResourceTooltip > div table {
  font-size: 0.7em;
}

.ResourceTooltip > div table th,
.ResourceTooltip > div table td {
  padding: 0.5em 1em;
  color: #333;
  background-color: transparent;
  text-align: left;
}

.ResourceTooltip > div table th {
  background-color: #192c53;
  color: #fff;
}

.ResourceTooltip > div table td {
  border: 1px solid #223b50;
  background-color: #fff;
  padding: 0.1em;
  line-height: 1.35;
}

.Critical {
  background-color: #eb2a2a;
  color: #fff!important;
}

.Major {
  background-color: #f18f32;
}

.Minor {
  background-color: #ffe924;
}

.Warning {
  background-color: #2de2bb;
}

.BOX.col-md-3 .table td {
  width: 15%;
  line-height: 1.35;
  text-align: center;
}

.BOX.col-md-3.nf .table td {
  width: 20%;
  text-align: center;
}

.BOX.col-md-3.nf .table td:nth-child(2),
.BOX.col-md-3.nf .table td:nth-child(3) {
  width: 30%;
}

.BOX.col-md-3.nf .table td:nth-child(3) {
  text-align: left;
}

.table table {
  display: block;
  max-height: 25em;
  overflow: auto;
}
.table table td {
  padding: 0.5em 0.1em;
  /* white-space: nowrap; */
}
.table table td label {
  text-align: left;
}
.SoftwareUpdate .mat-button-toggle {
  width: 10.55em;
}

.softwareVersion {
  margin: 0.2em 0.8em !important;
}

.UV {
  margin: 0.2em 0 0 0.7em !important;
}

@media screen and (max-width: 1680px) {
  .h30 {
    height: 24em;
  }
}

@media only screen and (max-width: 1600px) {
  .percent {
    margin: 1em 0.5em;
  }

  .BOX {
    padding: 0 1em 1.5em;
    height: 17em;
  }

  .boxTitle {
    font-size: 1.8em;
    line-height: 1.5;
  }

  .basicInfo ul {
    font-size: 0.9em;
  }

  .h30 {
    height: 24em;
  }

  .cpu span img {
    width: 2em;
  }
}

// @12/12 Update by yuchen
.mapWindow {
  height: 52em;
  width:100%;
  position: relative;
  // position: fixed;
}

// @12/10 Add by yuchen
google-map {
  height: 52em;
  width:100%;
}

// @12/07 Add by yuchen
.faultWindow {
  height: 18em;
  width: 44em;
  position: absolute;
  top: 0px;
  left: 2000px;
}

// @12/07 Add by yuchen
.performanceWindow {
  height: auto;
  width: 20em;
  position: absolute;
  top: -2.75em;
  right: 2.2em;
  background-color: #337ab7e3;
  border-radius: 10px;
}
a.viewmore {
  font-size: 1em;
  position: absolute;
  right: 0.5em;
  top: 8px;
  background-color: #17416a;
  border-radius: 5em;
  line-height: 1.25em;
  width: 1.5em;
  height: 1.5em;
  color: #fff !important;
  font-weight: bolder;
}
a.viewmore .material-icons {
  margin: 0!important;
}
.item {
  color: #000;
  font-size: 1.3em;
  margin: .5em 0 .5em 1em;
}
.item img {
  width: 2.3em;
  height: auto;
  display: inline-block;
  margin: 0 0.5em 0 0;
}
.item .label-container {
  color: #fff;
  text-align: left;
  display: inline-block;
}

.item .label-container span {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
.performanceWindow hr {
  width: 90%;
  margin: auto;
  border: 1px dashed #78aae9;
}
.performanceWindow hr ~ .item {
  margin-bottom: 1em;
}
// @12/11 Add by yuchen
circle-progress {
  margin-top: 2px;
  /* 增加進度圈與下方元素之間的上邊距 */
}

// @12/07 Add by yuchen
.bsWindow {
  height: 27.6em;
  /* width: 32%; */
  /* position: fixed;
  top: 604px;
  left: 1298px; */
  overflow-y: auto;
}

// @12/12 Update by yuchen
.button-modifyConfiguration {
  background-color: #2982e7e8; // Button 背景色
  color: white;                // Button 文字顏色
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin: 15px auto 10px;
  padding: 2px 15px;      // 按鈕大小
}

// @2024/01/10 Add by yuchen
// 按鈕和占位符的容器
.button-container {
  display: flex;
  justify-content: center; // 置中按鈕
  align-items: center;     // 垂直對齊按鈕
  width: 100%;             // 占滿全寬以容納按鈕和成功訊息
}

// @2024/01/10 Add by yuchen
// 當成功訊息不可見時的占位符
.success-message-placeholder {
  visibility: hidden; // 不可見的占位符
  width: 20px;        // 寬度應與成功訊息的寬度相符
  flex-shrink: 0;     // 防止縮小
}

// @2024/01/10 Add by yuchen
// 整行的容器
.button-and-success-message-container {
  display: flex;
  justify-content: center; // 置中內容
  align-items: center;     // 垂直對齊內容
  gap: 5px;                // 按鈕容器和成功訊息之間的空隙
}

// @2024/01/10 Add by yuchen
// 成功訊息的樣式
.success-message {
  display: flex;
  align-items: center;     // 垂直置中 
  justify-content: center; // 水平置中
  color: green;          // 成功訊息和圖標的顏色
  font-weight: bolder;
  flex-shrink: 0;          // 防止縮小
}

// @2024/01/10 Add by yuchen
// 訊息與圖標間距
.success-message mat-icon {
  margin-right: 5px; 
}

// @2024/01/10 Add by yuchen
.success-message span {
  display: block;
  margin-top: auto;
  margin-bottom: 100px;
}

// @2024/01/10 Add by yuchen
// 錯誤訊息樣式
.error-message {
  display: flex;
  align-items: center;     // 垂直置中 
  justify-content: center; // 水平置中
  color: red;            // 錯誤訊息和圖標的顏色
  font-weight: bolder;  
  flex-shrink: 0;          // 防止縮小
}

// @2024/01/15 Add by yuchen
// 訊息與圖標間距
.error-message mat-icon {
  margin-right: 5px; 
}

// @2024/01/15 Add by yuchen
.error-message span {
  display: block;
  margin-top: auto;
  margin-bottom: 100px;
}

// @2024/01/15 Add by yuchen
// 未更動訊息樣式
.info-message {
  display: flex;
  align-items: center;            // 垂直置中 
  justify-content: center;        // 水平置中
  color: rgb(197, 113, 245);    // 未更動訊息和圖標的顏色
  font-weight: bolder;  
  flex-shrink: 0;                 // 防止縮小
}

// @2024/01/15 Add by yuchen
// 訊息與圖標間距
.info-message mat-icon {
  margin-right: 5px; 
}

// @2024/01/15 Add by yuchen
.info-message span {
  display: block;
  margin-top: auto;
  margin-bottom: 100px;
}
input[type="password"] {
  padding: 5px 6px;
  border-radius: 3px;
  line-height: 1.35;
  vertical-align: middle;
  width: 100%;
  outline: 0;
  font-size: 1.03em;
  color: #2c3340;
  background-color: #fff;
  border: 1px solid #4093e6;
}
.measurement_Type {
  margin: .3em 0 0;
}
.measurement_Type > div {
  position: relative;
  padding: 3px 0;
  width: 15em;

}
.measurement_Type > div:last-child {
  display: inline-block;
}
.measurement_Type > div .add {
  display: none;
}
.measurement_Type > div:last-child .add {
  display: inline-block;
}
.measurement_Type > div input {
  width: 100%;
}
.measurement_Type  button {
  position: absolute;
  border: 0;
  background-color: #1d8ee5;
  color: #fff;
  border-radius: 5em;
  font-size: 24px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
.measurement_Type  button.delete {
  right: -33px;
  top: 8px;
}
.measurement_Type  button.add {
  right: -65px;
  top: 8px;
}
.measurement_Type > div + button {
  display: inline-block;
  vertical-align: middle;
}

/**/

/* .performanceWindow.collabsible {
  width: 90%;
} */
.performanceWindow.collabsible > div .lbl-toggle {
  position: absolute;
  top: -0.4em;
  width: 2em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
/* .collabsible { 
  margin: 1.2rem 0;
  font-size: 16px;
  padding: 0;
 }  */
.collabsible > div input.toggle[type='checkbox'] { 
  display: none; 
} 
.collabsible > div {
  margin: .5em 0 0 0;
  padding: 2em 0 0 0;
  position: relative;
}
.collabsible > div > span:first-child {
  position: absolute;
  left: 0;
  top: -9px;
  line-height: 2;
  padding: 0 0 0 2em;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 41px;
  font-family: Microsoft JhengHei;
  color: #fff;
  background:linear-gradient(to right, #1d8ee5 0%, #1e5799 100%);
  font-weight: bold;
  font-size: 17px;
  text-align: left;
}
.content-inner .collabsible > div > span:first-child {
  background:linear-gradient(to right, #1d8ee5be 0%, #1e5799da 100%);
}
.collabsible .lbl-toggle {
  display: block;
  text-align: left;
  padding: 0.5em 1em;
  color: #b0ceff;
  cursor: pointer;
  border-radius: 7px 7px 0 0;
  transition: all 0.25s ease-out;
}

.collabsible .lbl-toggle::before { 
  content: ' '; 
  color: #fff;
  display: inline-block; 
  border-top: 5px solid transparent; 
  border-bottom: 5px solid transparent; 
  border-left: 5px solid currentColor; 
  vertical-align: middle; 
  margin-right: .7rem; 
  transform: translateY(-2px); 
  transition: transform .2s ease-out;
  transform: rotate(90deg) translateX(-3px);
 } 
.collabsible .toggle:checked + .lbl-toggle::before { 
  transform: rotate(0deg) translateX(0px); 
} 
.collapsible-content { 
  max-height: 52vh; 
  overflow: auto; 
  transition: max-height .25s ease-in-out; 
} 
.collabsible .toggle:checked + .lbl-toggle + .collapsible-content { 
  max-height: 0;
  overflow: hidden;
} 
.collapsible-content .collapsible-content {
  max-height: 38vh;
}
.collabsible .toggle:checked+.lbl-toggle { 
  border-radius: 7px;
} 
.isAnr tbody tr td:first-child {
  width: 7em;
}
.isAnr td.orig,
.isAnr td.new {
  width: 32em;
}
@media screen and (max-width: 1366px) {
  .BOX {
    height: 11em;
  }

  .h30 {
    height: 100em;
    width: 100em;
  }

  .boxTitle {
    font-size: 1.35em;
    line-height: 1.5;
  }

  .basicInfo ul {
    font-size: 0.9em;
  }

  .percent {
    position: relative;
    width: 5.5em;
    height: 5.5em;
    padding: 3.5% 0 0;
    font-size: 110%;
    font-weight: bold;
    font-family: Microsoft JhengHei;
    line-height: 120%;
    border-radius: 50%;
    z-index: 1000;
    display: inline-block;
    margin: 0 3%;
    border-width: 6px;
  }

  .percent .number {
    margin: 0.3em 0 0 0.3em;
  }

  .col-md-8 {
    width: 57.3%;
  }

  .col-md-3 {
    width: 50%;
  }

  .basicInfo {
    width: 39%;
  }

  .basicInfo ul li label {
    width: auto;
  }

  .cpu span {
    display: inline-block;
    width: 47%;
    margin: 0 0 1em;
  }

  // @12/20 Add
  :host{
      display: block;
      width: 100vw;
      height: 100vh;
  }

  :host ::ng-deep #gauge svg.dxg-circular-gauge {
    display: block;
    transform: translateX(6px) translateY(-71px) scale(0.75);
  }

  .table table td,
  .table table th {
    line-height: 1;
    white-space: nowrap;
  }

  .basicInfo ul li span {
    width: 85%;
  }

  .cpu span img {
    margin: 0 0.5em 0 0;
    width: 2em;
  }

  .cpu span div {
    font-size: 0.9em;
    width: 72%;
  }

  .cpu span {
    margin: 0.5% 0 2% 3%;
    font-size: 1.3em;
  }
}
/*2024-01-01 add by wen*/
.badge {
  position: relative;
  cursor: pointer;
}
.badge .value {
  background-color: #d30d0d;
  color: #fff;
  position: absolute;
  top: -1em;
  right: -11px;
  height: 2em;
  text-align: center;
  width: 2em;
  line-height: 2em;
  border-radius: 50em;
  font-size: 14px;
}
.badge .material-symbols-outlined {
  font-size: 27px;
}
.colorbar {
  background: linear-gradient(90deg, #005bff, #23d71d,#ffd914, #ff0000);
  width: 100%;
  height: 1em;
  display: block;
}
.main_content {
  display: block;
  position: relative;
}
.left_area{
  display: block;
  width: 98%;
}

.input_2 input[type="text"] {
  width: 7.05em;
  display: inline-block;
  margin-right: 0.5em;
}

.Field_Infos > span {
  display: inline-block;
  vertical-align: top;
  width: 44%;
  margin-top: 1em;
}
.Field_Infos > span:nth-child(2) {
  margin-top: -1em;
  width: 53%;
}

#noImageMessage {
  margin: 0 auto 0em;
  color: #ff9090;
  border: 1px dashed #dd3535ed;
  background-color: rgba(80, 80, 80, 0.48);
  text-align: center;
  line-height: 200%;
  padding: 3em 0 0;
  height: 10em;
  width: 85%;
}
#noImageMessage  > span {
  display: block;
  color: #fff;
  font-size: 30px;
}
h3 {
  font-size: 1em;
  display: block;
  text-align: center;
  margin: 10px 0 0;
}
.preview {
  margin: 2.3em 0 0;
  position: relative;
}
.preview > div.center {
  margin: -5px 0 5px;
}
.preview img {
  width: 100%;
  height: auto;
}
.BS_List th {
  white-space: nowrap;
}
:host ::ng-deep map-info-window .mat-expansion-panel {
  background-color: #bfdbfeed;
}
:host ::ng-deep map-info-window .mat-expansion-panel-header-title {
  color: #000;
}
:host ::ng-deep map-info-window .mat-expansion-panel-header-description {
  color: #666;
}
:host ::ng-deep map-info-window .mat-expansion-panel-body {
  padding: 16px 0 16px 39px;
  background: #eee;
}
:host ::ng-deep map-info-window .mat-expansion-panel-body ul li label {
  width: 8em;
  display: inline-block;
}
:host ::ng-deep map-info-window  .mat-expansion-panel-body ul li:hover {
  color: #3b95f6!important;
}
.field-optim-wrap  label > div:not(.table) {
  color: #61baff;
  text-align: center;
  font-size: 1.1em;
}
.bs_list table {
  max-height: 50em;
}
.bs_list table thead th {
  min-width: 8.5em;
  /* font-size: .9em; */
}
.field-optim-wrap table tbody td {
  text-align: center;
  padding: .5em 1em;
  color: #fff;
  font-size: .9em;
}
.field-optim-wrap > span .table table td  label span,
.field-optim-wrap table tbody td  span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.field-optim-wrap > span .table table td  label:after,
.field-optim-wrap table tbody td label:after {
  content: '&';
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  color: #d3ab8e;
}
.after.material-symbols-outlined {
  color: #3b82f6;
  margin: 0 18px;
  cursor: initial;
}
.field-optim-wrap > span .table table td label:last-child::after,
.field-optim-wrap table tbody td label:last-child::after {
  display: none;
}
.bs_list table thead th:nth-child(1) {
  width: 15em;
}
.bs_list table thead th:nth-child(2),
.bs_list table thead th:nth-child(3) {
  width: 30em;
}
.showMapModel {
  height: initial!important;
}
.field-optim-wrap > span {
  display: block;
}
 .field-optim-wrap ul {
  margin: 0 1%!important;
}
.field-optim-wrap ul li > label {
  width: 4em;
  min-width: initial;
}
.field-optim-wrap ul li:first-child > label {
  width: initial;
  min-width: initial;
}
mat-form-field {
  margin: 0 0.5em 0 0;
}
.field-optim-wrap ul li > span {
  margin: 0;
}
.field-optim-wrap h4 {
  font-size: 1.1em !important;
  font-weight: bold;
  text-align: left;
  padding: 0;
  margin: 0 0 0 1.1em;
  line-height: 2;
  display: list-item;
  list-style: disc;
  color: #fff;
}
.field-optim-wrap h4.active {
  display: list-item;
}
.field-optim-wrap h4.active + .field-optim-container {
  display:block;
}
.field-optim-wrap h4 + .field-optim-container {
  display:none;
}
.field-optim-wrap h4 .material-symbols-outlined {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 28px;
  color: #3daaff;
  transform: rotate(180deg);
  transition: all .25s;
}
.field-optim-wrap h4.active .material-symbols-outlined {
  transform: rotate(0deg);
}
.field-optim-wrap h3 {
  text-align: left;
}
.field-optim-wrap > span .table thead th {
  font-size: 15px !important;
}
.field-optim-wrap > span .table.pci thead th {
  white-space: nowrap;
  padding: 0 1em;
  line-height: 2em;
  color: #498cc3;
  border: 1px solid #337ab766;
  background: linear-gradient(180deg, #337ab7 0px,  #07141f 1px,#07141f 100%);
  z-index: 999;
  min-width: 8em;
}
.field-optim-wrap > span .table.pci thead tr:first-child th {
  top: -1px;
}
.field-optim-wrap > span .table.pci thead tr:last-child th {
  top: 27px;
}
.field-optim-wrap > span .table thead th .after {
  margin-top: 5px;
}
.field-optim-wrap > span label {
  display: inline-block;
  vertical-align: top;
}
h6 {
  display: list-item;
  list-style: disc;
  font-size: 17px!important;
  margin: 0 0 0 1.3em;
}

.fieldOptimization,
.fieldOptimization > .Field_Infos {
  margin: 0 1em 0 2em;
  max-height: 76vh;
  overflow: auto;
}
.fieldOptimization .Field_Infos {
  margin: 0 0 0 1.2em;
  width: 95%;
  padding-top: .5em;
}
.fieldOptimization .mat-radio-button {
  display: inline-block;
  margin: 0 10px 0 0;
}
.fieldOptimization mat-checkbox {
  display: inline-block;
  margin: 0 1em 0 1.3em;
  min-width: 4em;
}
.fieldOptimization .tabs  {
  margin: 0 0 0 1.2em;
  border-bottom: 2px solid #617d97;
  width: 96%;

}
.fieldOptimization .left-section > div {
  margin-bottom: 0.5em;
}
.fieldOptimization .left-section > div > span {
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 0 0;
}
.fieldOptimization .left-section > div > span > label {
  font-size: .75em;
}
.fieldOptimization .left-section > div > span > input[type="number"] {
  font-size: 1em;
  display: block;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.fieldOptimization table {
  width: 100%;
}
.fieldOptimization div.buttons {
  text-align: center;
  margin: 0;
}
.fieldOptimization .table table tbody tr:nth-child(even) td {
  background-color: #337ab738;
}
.fieldOptimization select {
  font-size: 14px;
}
.fieldOptimization .Performance {
  margin: .3em 0 0 3em;
  background-color: #232934;
  padding: 1em 2em;
  width: 45%;
  box-shadow: inset 0 0px 5px rgb(162 193 219 / 40%);
  border-radius: 5px;
}
.fieldOptimization .Performance h6 {
  list-style: none;
  margin: 0 0 .5em 0;
}
.fieldOptimization .Performance ul {
  white-space: nowrap;
}
.sonCalculate button {
  border-radius: 5px!important;
  background: linear-gradient( 166deg , #1d8ee5 0%, #1e5799 100%);
  color: #fff;
  border: none;
  padding: 10px;
}
