
svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  // stroke: #6f10db;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.center {
  text-align: center;
}
.percent {
  position: relative;
  width: 5.5em;
  height: 5.5em!important;
  padding: 3% 0 0;
  font-size: 135%;
  font-weight: bold;
  font-family: Microsoft JhengHei;
  line-height: 125%;
  border-radius: 50%;
  z-index: 1000;
  display: inline-block;
  margin: 2em 1em 0;
  border: 6.5px solid;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  color: #eee;
}
.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}
// @12/10 add by yuchen
// 指定所有:nth-child的數字大於或等於 3 的 .percent 元素位置高度
.percent:nth-child(n+3) { 
  position: relative;
  top: -38px;
}


.ocloudInfo h5 button {
  background: transparent;
  border-radius: 50em;
  cursor: pointer;
  font-size: .8em;
  padding: 0.1em 1em .1em .7em;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
}
.ocloudInfo h5 button .material-icons {
  vertical-align: middle;
  font-size: 20px;
  margin:0.1em 0.3em .1em 0;
}
.ocloudInfo{
  max-height: calc(450vh - 250px);; 
  //overflow-y: auto;
  //overflow-x: auto;
}
.boxTitle {
  display: block;
  font-size: 2em;
  line-height: 1.6;
  margin: 0 0 0.5em;
  text-align: center;
  padding: 0;
}
.boxTitle a {
    font-size: .8em;
    position: absolute;
    right: 1em;
    top:.3em;
}
.boxTitle a .material-icons {
  vertical-align: middle;
  font-size: .9em;
  margin: 0 0 0 .3em;
}
.boxTitle + div {
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}
:host ::ng-deep .dxg-title text {
  fill: #fff!important;
}

// @12/08 Add by yuchen
.boxTitleRightAligned {
  display: flex; /* 使用 flex 布局 */
  justify-content: space-between; /* 兩端對齊，子元素之間間隔相等 */
  align-items: center; /* 子元素垂直居中 */
  font-size: 2em; /* 或根據您的需求進行調整 */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: left; /* 文字對齊設定為左對齊 */
}

// @12/08 Add by yuchen
/* 新增或修改的 CSS */
.boxTitleRightAligned {
  justify-content: center; /* 讓內部元素整體居中對齊 */
}

.boxTitleRightAligned .title-container {
  flex-grow: 1; /* 讓標題容器增長佔據空間，以保持標題置中 */
  text-align: center; /* 確保標題文字居中 */
}

.boxTitleRightAligned .button-container {
  display: flex;
  justify-content: flex-end; /* 讓按鈕容器內的元素靠右對齊 */
  flex-grow: 0; /* 防止按鈕容器增長，使其僅佔需要的空間 */
}


.BOX {
  position: relative;
  display: inline-block;
  padding:0 1.5em 1.5em;
  vertical-align: top;
  margin: 0 1% 1% 0;
  border-radius: 10px;
  opacity: 1;
}


.col-md-3 {
  width:32%;
}
.col-md-4 {
  height: 18em;
  width: 32%;
  position: fixed;
  top: 121.5px;
  left: 1270px;
}
.col-md-8 {
  width:45.7%;
}
.cpu > div {
  width: 60%;
  margin: auto;
  overflow: initial;
}
.cpu .bold {
  font-size: 1.2em;
  font-weight: bold;
  color: #f5e388;
}
.cpu span {
  display: inline-block;
  width: 35%;
  margin: 3% 0 3% 1%;
  font-size: 0.85em;
  font-family: sans-serif;
}
.cpu span label {
  display: inline-block;
  margin: 0 .9em 0 0;
  font-weight: bolder;
  //color: #eee;
}
.cpu span img {
  margin: 0 0.8em 0 0;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  width: 3em;
}
.cpu span div {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: bold;
  width: 85%;
}


.bigValue {
  font-size: 3em;
  font-weight: bold;
  text-align: center !important;
  display: inline-block;
  font-family: sans-serif;
  line-height: 1;
  vertical-align: top;
  margin: 0 0 0 1.5em;
}
:host ::ng-deep .dxg-title text {
  fill: #eee!important;
}
:host ::ng-deep #gauge svg.dxg-circular-gauge {
  display: block;
  transform: translateX( 6px) translateY(-47px) scale(0.75);
}
.Fault, .cpu {
  height: 20em;
}
.basicInfo ul {
  margin: 0 0 1em 0;
  font-size: .9em;
}
.basicInfo ul li {
  font-size: 1.35em;
  margin: 0 0 0 1.5em;
}
.basicInfo ul li label {
  display: inline-block;
  margin:  0;
  width: 28%;

}
.basicInfo ul li label::after {
  content: ':';
  display: inline-block;
  margin: 0 .3em;
}
.basicInfo ul li span {
  display: inline-block;
  width: 70%;
  word-break: break-all;
  vertical-align: top;
}
.basicInfo ul li span button {
  background: transparent;
  background-color: #1d61a1;
  color: #fff;
  outline: 0;
  padding: 0.3em 1em;
  border: 0;
  margin: 0 0 0 1em;
  vertical-align: bottom;
  font-size: 0.8em;
  border-radius: 50em;
  cursor: pointer;
}
.BOX table {
  max-height: 25em;
  overflow-x: auto;
  overflow-y: hidden;
}

// @12/08 Add by yuchen
table{
  margin-left: auto;
  margin-right: auto; // 使表格在其容器內居中
}

#ColorBar img {
  max-width: 56%;  // 確保圖片的寬度永遠不會超過其容器
  height: auto;    // 高度設定為自動，以維持長寬比
  position: relative;
  left: 30px;
}

.colorbar-title {
  font-weight: bolder;
  color: rgb(188, 211, 233); // 設定字體顏色
  font-size: 27.5px;
  position: relative;
  left: 8.5px;
  bottom: 5px;
}

#ColorBar .RSRP_values {
  //text-align: center; // 確保數據在其容器中居中對齊
  //margin-top: 0px;  // 在colorbar和數據之間提供一些空間
  color: rgb(188, 211, 233); // 設定字體顏色
  font-size: 21.5px;    // 設定字體大小
  font-family: Arial, sans-serif; // 設定字體
  padding: 20px 10;     // 上下填充
  //background-color: rgba(0, 0, 0, 0.5); // 半透明的背景
  // border-radius: 5px;                  // 圓角邊框
  display: block; // 使 div 作為塊級元素顯示
  width: auto;    // 根據內容自動調整寬度 
  position: relative;
  left: 11px;
  top: 2.5px;
}

#ColorBar .RSRP_values span {
  margin-right: 140px;     // 在值之間添加空間
  display: inline-block;  // 使span行內顯示
}

#ColorBar .SINR_values {
  //text-align: center; // 確保數據在其容器中居中對齊
  //margin-top: 0px;    // 在colorbar和數據之間提供一些空間
  color: rgb(188, 211, 233); // 設定字體顏色
  font-size: 21.5px;           // 設定字體大小
  font-family: Arial, sans-serif; // 設定字體
  padding: 20px 10;     // 上下填充
  //background-color: rgba(0, 0, 0, 0.5); // 可半透明的背景
  // border-radius: 5px;                  // 圓角邊框
  display: block;  // 使 div 作為塊級元素顯示
  width: auto;     // 根據內容自動調整寬度 
  position: relative;
  left: 15px;
  top: 2.5px;
}

#ColorBar .SINR_values span {
  margin-right: 203px;     // 在值之間添加空間
  display: inline-block;   // 使 span 行內顯示
}

.greenLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #89d135;
}
.redLight {
  display: inline-block;
}
.grayLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #7e7e7e;
}

.h30 {
  height: 33em;
}
.opt {
  color: #67a0c9;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s;
  display: list-item;
  margin: 0 0 0 1.5em;
  text-decoration: underline;
}
.opt .material-icons {
  vertical-align: middle;
}
.opt.active .material-icons {
  transform: rotate(180deg);
}
.opt + table thead tr th:nth-child(1),
.opt + table tbody tr th:nth-child(1) {
  width: 30%;
}
.opt + table thead tr th:nth-child(2),
.opt + table tbody tr th:nth-child(2) {
  width: 10%;
}
.ResourceTooltip {
  position: relative;
}
.ResourceTooltip a {
  padding: .5em;
}
.ResourceTooltip > div {
  position: absolute;
  top: 2em;
  left: -50%;
  background-color: #99caec;
  border-radius: 4px;
  padding: .3em;
  z-index: 99999;
}
.Interface.ResourceTooltip > div {
  left: -300%;
}
.ResourceTooltip > div table {
  font-size:.7em;
}
.ResourceTooltip > div table th,
.ResourceTooltip > div table td {
  padding: .5em 1em;
  color: #333;
  background-color: transparent;
  text-align: left;
}
.ResourceTooltip > div table th {
  background-color: #192c53;
  color: #fff;
}
.ResourceTooltip > div table td {
  border: 1px solid #223b50;
  background-color: #fff;
  padding: .1em;
  line-height: 1.35;
}

.Critical {
  border-color: #FF0000;
}
.Major {
  border-color: #FFA042;
}
.Minor {
  border-color: #FFFF37;
}
.Warning {
  border-color: #00FFFF;
}
.BOX.col-md-3 .table td {
  width: 15%;
  line-height: 1.35;
  text-align: center;
}
.BOX.col-md-3.nf .table td {
  width: 20%;
  text-align: center;
}
.BOX.col-md-3.nf .table td:nth-child(2),
.BOX.col-md-3.nf .table td:nth-child(3) {
  width: 30%;
}

.BOX.col-md-3.nf .table td:nth-child(3) {
  text-align: left;
}
.table table {
  display: table;
}
.SoftwareUpdate .mat-button-toggle {
  width: 10.55em;
}
.softwareVersion {
  margin: 0.2em .8em!important;
}
.UV {
  margin: 0.2em 0 0 .7em!important;
}
@media screen and (max-width:1680px) {
  .h30 {
    height: 24em;
}
}
@media only screen and (max-width:1600px) {
  .percent{
    margin: 1.5em 0.5em;
  }
  .BOX {
    padding: 0 1em 1.5em;
    height: 17em;
  }
  .boxTitle {
    font-size: 1.8em;
    line-height: 1.5;
}
.basicInfo ul {
  font-size: .9em;
}
.h30 {
  height: 24em;
}
.cpu span img {
  width: 2em;
}
}

// @12/07 Add by yuchen
.mapWindow {
  height: 55em;
  width: 68.5em;
  // position: fixed;
}

// @12/10 Add by yuchen
google-map {
  height: 100%;  // 高度
  width: 100%;   // 寬度
  
  position: relative;
  top: 3px;
  left: 2px;
}

/* CSS 調整 */
.button-modifyConfiguraion > span {
  /* 樣式與 .upload > span 相同 */
  outline: 0;
  padding: 0.3em 2em;
  border: 0;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  font-size: 0.9em;
  border-radius: 50em;
  cursor: pointer;
}
.button-modifyConfiguraion > span input {
  /* 如果不需要隱藏，則此規則可能不適用 */
  position: absolute;
  font-size: 50px;
  right: 0;
  top: 0;
  width: 100%;
  height: 27px;
  opacity: 0;
  cursor: pointer;
}
.button-modifyConfiguraion label {
  /* 與 .upload label 相同的樣式 */
  word-wrap: break-word;
  display: inline-block;
  max-width: 75%;
  line-height: 1;
  vertical-align: middle;
}
span.button-modifyConfiguraion {
  /* 與 span.upload 相同的樣式 */
  width: 70%;
}S


// @12/07 Add by yuchen
.faultWindow {
  height: 18em;
  width: 44em;
  position: absolute;
  top: 0px;
  left: 2000px;
}

// @12/07 Add by yuchen
.performanceWindow {
  height: 18em;
  width: 32%;
  position: fixed;
  top: 377px;
  left: 1270px;
}

// @12/11 Add by yuchen
.performance_percent {
  display: flex;
  flex-direction: row; /* 水平排列 */
  justify-content: center; /* 在項目之間提供均勻的空間 */
  //align-items: center; /* 垂直居中對齊項目 */
  flex-wrap: nowrap; /* 防止元素換行 */
  padding-top: 20px;
}

// @12/11 Add by yuchen
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  //flex: 50; /* 給予每個項目相等的空間 */
  margin: 0 10px;   // 增加左右邊距，數值根據需要調整
}

// @12/11 Add by yuchen
.label-container {
  margin-bottom: 5px; /* 調整為所需的間距 */
  white-space: nowrap; /* 防止標籤換行 */
  text-align: center;
  overflow: hidden; /* 超出容器的文本將被隱藏 */
  text-overflow: ellipsis; /* 超出部分顯示省略符號 */
  font-size: 1.05em; /* 根據需要調整字體大小 */
  font-family: 'Arial', sans-serif; 
}

// @12/11 Add by yuchen
circle-progress {
  margin-top: 2px; /* 增加進度圈與下方元素之間的上邊距 */
}

// @12/07 Add by yuchen
.bsWindow {
  height: 27em;
  width: 32%;
  position: fixed;
  top: 632px;
  left: 1270px;
  overflow-y: auto; 
}

// @12/07 Add by yuchen
.button-modifyConfiguraion {
  display: block;
  justify-content: center;
  align-items: center;
  height: 10%; 
  margin: -5px auto 20px;;
}

  @media screen and (max-width:1366px) {
    .BOX {
      height: 11em;
    }
    .h30 {
      height: 100em;
      width: 100em;
    }
    .boxTitle {
      font-size: 1.35em;
      line-height: 1.5;
    }
    .basicInfo ul {
      font-size: .9em;
    }

    .percent {
      position: relative;
      width: 5.5em;
      height: 5.5em;
      padding: 3.5% 0 0;
      font-size: 110%;
      font-weight: bold;
      font-family: Microsoft JhengHei;
      line-height: 120%;
      border-radius: 50%;
      z-index: 1000;
      display: inline-block;
      margin: 0 3%;
      border-width: 6px;
  }
    .percent .number {
      margin: 0.3em 0 0 0.3em;
    }
    .col-md-8 {
      width: 57.3%;
    }
    .col-md-3 {
      width:50%;
    }
    .basicInfo {
      width: 39%;
    }
    .basicInfo ul li label {
      width: auto;
    }

    .cpu span {
      display: inline-block;
      width: 47%;
      margin: 0 0 1em;
  }
    :host ::ng-deep #gauge svg.dxg-circular-gauge {
      display: block;
      transform: translateX(6px) translateY(-71px) scale(0.75);
    }
    .table table td, .table table th {
      line-height: 1;
      white-space: nowrap;
    }
    .basicInfo ul li span {
      width: 85%;
    }
    .cpu span img {
      margin: 0 0.5em 0 0;
      width: 2em;
  }
  .cpu span div {
    font-size: .9em;
    width: 72%;
  }
  .cpu span {
    margin: .5% 0 2% 3%;
    font-size: 1.3em;
  }
}
