svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  // stroke: #6f10db;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

// @12/28 Add for Map Legend
.map-legend {
  position: absolute; 
  bottom: 30px; 
  left: 10px; 
  background: rgba(92, 141, 197, 0.678); 
  padding: 8px; 
  z-index: 1000;
  color: #ffffff;
  font-weight: bold;
  display: flex; 
  align-items: center; 
  flex-direction: column; 
}

// @12/28 Add
.map-container {
  position: relative;
  height: 900px; /* 設定與地圖相同的高度 */
}

// @12/28 Add
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // 將 spinner 置於容器中心
  z-index: 10; // 確保 spinner 顯示在地圖上方 
}

// 進度調居中並設定大小 @12/28 Add
.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px; 
}

// 設定進度調的顏色 @12/28 Add
::ng-deep .mat-progress-spinner circle {
  stroke: #78c2ffb9 !important;
}

// 這個樣式類會增加進度調的大小 @12/28 Add
.custom-spinner-size {
  width: 100px;  // 進度調的寬度
  height: 100px; // 進度調的高度
}

.center {
  text-align: center;
}

.percent {
  position: relative;
  width: 5.5em;
  height: 5.5em !important;
  padding: 3.2% 0 0;
  font-size: 135%;
  font-weight: bold;
  font-family: Microsoft JhengHei;
  border-radius: 50%;
  z-index: 1000;
  text-align: center;
  vertical-align: middle;display: inline-block;
  margin:0 .5em;
  border: 6.5px solid;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  color: #eee;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}


// 激活狀態的按鈕樣式 @2024/01/15 update by yuchen
.button-active {
  color: rgb(176, 207, 236);              // 激活狀態的字體顏色
  border: 1.5px solid rgb(176, 207, 236); // 新增激活狀態的外框顏色
  mat-icon {
    color: rgb(176, 207, 236); // 激活狀態的圖標顏色
  }
}

// 非激活狀態時移除外框 @2024/01/15 add by yuchen
.button-inactive {
  border: none; // 確保非激活狀態不顯示外框
}

// @12/13 add by yuchen
.fieldMap-button-container{
  display: flex;
}

// @12/13 add by yuchen
.fieldMap-button-container button{
  font-family: 'Arial Black', sans-serif;
  font-weight: bolder;
}

// For Field Editing @2024/01/11 add by yuchen
.fieldEditTab {
  position: absolute;
  z-index: 999;
  margin-top: -3.25em;
  margin-left: 22em;
}

.delete-icon {
  position: absolute;
  top: 41px;
  right: 15px;
  cursor: pointer;
  color: #ececec; /* 或您想要的顏色 */
  background-color: rgba(0, 0, 0, 0.5); /* 為圖標添加背景色以增加可視性 */
  border-radius: 65%; /* 可選，為圖標添加圓角邊框 */
  //padding: 5px; /* 可選，圖標內填充 */
  z-index: 100;
}


// 設定圖片容器的相對定位，以便於裡面的絕對定位標籤正確顯示
.image-container {
  position: relative;
  width: 150%;      // 可以根據需要調整 
  max-width: 350px; // 限制圖片容器的最大寬度 
  left: 28px;
  top: 25px;
}

// 圖片樣式
.image-container img {
  width: 100%;  // 使圖片寬度撐滿容器
  height: auto; // 保持圖片的原始比例
  position: relative;
  left: 70px;
}

// 標籤的基本樣式
.label-position {
  position: absolute;
  //background: #fff; // 白色背景
  padding: 2px 5px;  // 添加一些內邊距
  font-size: 12px;   // 字體大小
}

// 四個角的標籤位置
.leftUp {
  bottom: 97%;
  left: 0;
  transform: translateY(-50%);
}

.rightUp {
  bottom: 97%;
  left: 50%;
  transform: translateY(-50%) translateX(118%);
}

.leftDown {
  top: 105%;
  left: 50%;
  transform: translateY(-50%) translateX(118%);
}

.rightDown {
  top: 105%;
  left: 0;
  transform: translateY(-50%);
}





.ocloudInfo h5 button {
  background: transparent;
  border-radius: 50em;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.1em 1em 0.1em 0.7em;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
}

.ocloudInfo h5 button .material-icons {
  vertical-align: middle;
  font-size: 20px;
  margin: 0.1em 0.3em 0.1em 0;
}

.ocloudInfo {
  max-height: calc(450vh - 250px);
  //overflow-y: auto;
  //overflow-x: auto;
}

.boxTitle {
  display: block;
  font-size: 2em;
  line-height: 1.6;
  margin: 0 0 0.5em;
  text-align: center;
  padding: 0;
}

.boxTitle a {
  font-size: 0.8em;
  position: absolute;
  right: 1em;
  top: 0.3em;
}

.boxTitle a .material-icons {
  vertical-align: middle;
  font-size: 0.9em;
  margin: 0 0 0 0.3em;
}

.boxTitle + div {
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

:host ::ng-deep .dxg-title text {
  fill: #fff !important;
}

// @12/08 Add by yuchen
.boxTitleRightAligned {
  display: flex;
  /* 使用 flex 布局 */
  justify-content: space-between;
  /* 兩端對齊，子元素之間間隔相等 */
  align-items: center;
  /* 子元素垂直居中 */
  font-size: 2em;
  /* 或根據您的需求進行調整 */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: left;
  /* 文字對齊設定為左對齊 */
}

// @12/08 Add by yuchen
/* 新增或修改的 CSS */
.boxTitleRightAligned {
  justify-content: center;
  /* 讓內部元素整體居中對齊 */
}

.boxTitleRightAligned .title-container {
  flex-grow: 1;
  /* 讓標題容器增長佔據空間，以保持標題置中 */
  text-align: center;
  /* 確保標題文字居中 */
}

.boxTitleRightAligned .button-container {
  display: flex;
  justify-content: flex-end;
  /* 讓按鈕容器內的元素靠右對齊 */
  flex-grow: 0;
  /* 防止按鈕容器增長，使其僅佔需要的空間 */
}

.BOX {
  position: relative;
  display: inline-block;
  padding: 0 1.5em 1.5em;
  vertical-align: top;
  margin: 0 1% 1% 0;
  border-radius: 10px;
  opacity: 1;
}

/* .col-md-3 {
  width: 32%;
}

.col-md-4 {
  height: 16em;
  width: 32%;
  position: fixed;
  top: 121.5px;
  left: 1298px;
}
 */
.col-md-8 {
  width: 45.7%;
}

.bigValue {
  font-size: 3em;
  font-weight: bold;
  text-align: center !important;
  display: inline-block;
  font-family: sans-serif;
  line-height: 1;
  vertical-align: top;
  margin: 0 0 0 1.5em;
}

:host ::ng-deep .dxg-title text {
  fill: #eee !important;
}

:host ::ng-deep #gauge svg.dxg-circular-gauge {
  display: block;
  transform: translateX(6px) translateY(-47px) scale(0.75);
}

.Fault,
.cpu {
  height: 20em;
}

.basicInfo ul {
  margin: 0 0 1em 0;
  font-size: 0.9em;
  color: #c7cbcf!important;
}

.basicInfo ul li {
  font-size: 1.35em;
  margin: 0 0 0 1.5em;
}

.basicInfo ul li label {
  display: inline-block;
  margin: 0;
  width: 27%;
}

.basicInfo ul li label::after {
  content: ":";
  display: inline-block;
  margin: 0 0.3em;
}

.basicInfo ul li span {
  display: inline-block;
  width: 70%;
  word-break: break-all;
  vertical-align: top;
}

.basicInfo ul li span button {
  background: transparent;
  background-color: #1d61a1;
  color: #fff;
  outline: 0;
  padding: 0.3em 1em;
  border: 0;
  margin: 0 0 0 1em;
  vertical-align: bottom;
  font-size: 0.8em;
  border-radius: 50em;
  cursor: pointer;
}

.BOX table {
  max-height: 25em;
  overflow-x: auto;
  overflow-y: hidden;
}

// @12/08 Add by yuchen
table {
  margin-left: auto;
  margin-right: auto; // 使表格在其容器內居中
}

// @12/12 Update by yuchen
#ColorBar img {
  max-width: 813px; // 確保圖片的寬度永遠不會超過其容器
  height: auto; // 高度設定為自動，以維持長寬比
  position: relative;
  left: 25px;
}

#ColorBar_sinr {
  max-width: 750px!important; // 確保圖片的寬度永遠不會超過其容器
  height: auto; // 高度設定為自動，以維持長寬比
  position: relative;
  left: 25px;
}

// @12/12 Update by yuchen
.colorbar-title {
  font-weight: bolder;
  color: rgb(188, 211, 233); // 設定字體顏色
  font-size: 27.5px;
  position: relative;
  left: 8.5px;
  bottom: 7.5px;
}

// @12/12 Update by yuchen
#ColorBar .RSRP_values {
  color: rgb(188, 211, 233); // 設定字體顏色
  font-size: 17.5px; // 設定字體大小
  font-family: Arial, sans-serif; // 設定字體
  padding: 20px 10; // 上下填充
  display: block; // 使 div 作為塊級元素顯示
  width: auto; // 根據內容自動調整寬度
  position: relative;
  left: 73.5px;
  top: 2.5px;
}
// @12/12 Update by yuchen
#ColorBar .RSRP_values span {
  margin-right: 129.5px;   // 在值之間添加空間
  display: inline-block;   // 使 span 行內顯示
}

// @12/12 Update by yuchen
#ColorBar .SINR_values {
  color: rgb(188, 211, 233); // 設定字體顏色
  font-size: 17.5px; // 設定字體大小
  font-family: Arial, sans-serif; // 設定字體
  padding: 20px 8; // 上下填充
  display: block; // 使 div 作為塊級元素顯示
  width: auto; // 根據內容自動調整寬度
  position: relative;
  left: 73.5px;
  top: 2.5px;
}

// @12/12 Update by yuchen
#ColorBar .SINR_values span {
  margin-right: 130pt; // 在值之間添加空間
  display: inline-block; // 使 span 行內顯示
}

.greenLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #89d135;
}

.redLight {
  display: inline-block;
}

.grayLight {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50em;
  background-color: #7e7e7e;
}

.h30 {
  height: 33em;
}

.opt {
  color: #67a0c9;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s;
  display: list-item;
  margin: 0 0 0 1.5em;
  text-decoration: underline;
}

.opt .material-icons {
  vertical-align: middle;
}

.opt.active .material-icons {
  transform: rotate(180deg);
}

.opt + table thead tr th:nth-child(1),
.opt + table tbody tr th:nth-child(1) {
  width: 30%;
}

.opt + table thead tr th:nth-child(2),
.opt + table tbody tr th:nth-child(2) {
  width: 10%;
}

.ResourceTooltip {
  position: relative;
}

.ResourceTooltip a {
  padding: 0.5em;
}

.ResourceTooltip > div {
  position: absolute;
  top: 2em;
  left: -50%;
  background-color: #99caec;
  border-radius: 4px;
  padding: 0.3em;
  z-index: 99999;
}

.Interface.ResourceTooltip > div {
  left: -300%;
}

.ResourceTooltip > div table {
  font-size: 0.7em;
}

.ResourceTooltip > div table th,
.ResourceTooltip > div table td {
  padding: 0.5em 1em;
  color: #333;
  background-color: transparent;
  text-align: left;
}

.ResourceTooltip > div table th {
  background-color: #192c53;
  color: #fff;
}

.ResourceTooltip > div table td {
  border: 1px solid #223b50;
  background-color: #fff;
  padding: 0.1em;
  line-height: 1.35;
}

.Critical {
  border-color: #ff0000;
}

.Major {
  border-color: #ffa042;
}

.Minor {
  border-color: #ffff37;
}

.Warning {
  border-color: #00ffff;
}

.BOX.col-md-3 .table td {
  width: 15%;
  line-height: 1.35;
  text-align: center;
}

.BOX.col-md-3.nf .table td {
  width: 20%;
  text-align: center;
}

.BOX.col-md-3.nf .table td:nth-child(2),
.BOX.col-md-3.nf .table td:nth-child(3) {
  width: 30%;
}

.BOX.col-md-3.nf .table td:nth-child(3) {
  text-align: left;
}

.table table {
  display: table;
}

.SoftwareUpdate .mat-button-toggle {
  width: 10.55em;
}

.softwareVersion {
  margin: 0.2em 0.8em !important;
}

.UV {
  margin: 0.2em 0 0 0.7em !important;
}

@media screen and (max-width: 1680px) {
  .h30 {
    height: 24em;
  }
}

@media only screen and (max-width: 1600px) {
  .percent {
    margin: 1em 0.5em;
  }

  .BOX {
    padding: 0 1em 1.5em;
    height: 17em;
  }

  .boxTitle {
    font-size: 1.8em;
    line-height: 1.5;
  }

  .basicInfo ul {
    font-size: 0.9em;
  }

  .h30 {
    height: 24em;
  }

  .cpu span img {
    width: 2em;
  }
}

// @12/12 Update by yuchen
.mapWindow {
  height: 58em;
  width:100%;
  // position: fixed;
}

// @12/10 Add by yuchen
google-map {
  height: 100%; // 高度
  width: 100%; // 寬度

  position: relative;
  top: 3px;
  left: 2px;
}

// @12/07 Add by yuchen
.faultWindow {
  height: 18em;
  width: 44em;
  position: absolute;
  top: 0px;
  left: 2000px;
}

// @12/07 Add by yuchen
.performanceWindow {
  height: 16em;
  width: 100%;
  /* position: fixed;
  top: 349px;
  left: 1298px; */
}

// @12/11 Add by yuchen
.performance_percent {
  display: flex;
  flex-direction: row;
  /* 水平排列 */
  justify-content: center;
  /* 在項目之間提供均勻的空間 */
  //align-items: center; /* 垂直居中對齊項目 */
  flex-wrap: nowrap;
  /* 防止元素換行 */
  padding-top: .5em;
}

// @2024/01/15 Update by yuchen
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  //flex: 50; /* 給予每個項目相等的空間 */
  margin: 0 6.5px; // 增加左右邊距，數值根據需要調整
}

// @2024/01/15 Update by yuchen
.label-container {
  margin-bottom: 5px;
  /* 調整為所需的間距 */
  white-space: nowrap;
  /* 防止標籤換行 */
  text-align: center;
  overflow: hidden;
  /* 超出容器的文本將被隱藏 */
  text-overflow: ellipsis;
  /* 超出部分顯示省略符號 */
  font-size: 0.85em;
  /* 根據需要調整字體大小 */
  font-family: "Arial", sans-serif;
  position: relative;
  left: -1px;
}

// @12/11 Add by yuchen
circle-progress {
  margin-top: 2px;
  /* 增加進度圈與下方元素之間的上邊距 */
}

// @12/07 Add by yuchen
.bsWindow {
  height: 27.6em;
  /* width: 32%; */
  /* position: fixed;
  top: 604px;
  left: 1298px; */
  overflow-y: auto;
}

// @12/12 Update by yuchen
.button-modifyConfiguration {
  background-color: #2982e7e8; // Button 背景色
  color: white;                // Button 文字顏色
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin: 15px auto 10px;
  padding: 2px 15px;      // 按鈕大小
}

// @2024/01/10 Add by yuchen
// 按鈕和占位符的容器
.button-container {
  display: flex;
  justify-content: center; // 置中按鈕
  align-items: center;     // 垂直對齊按鈕
  width: 100%;             // 占滿全寬以容納按鈕和成功訊息
}

// @2024/01/10 Add by yuchen
// 當成功訊息不可見時的占位符
.success-message-placeholder {
  visibility: hidden; // 不可見的占位符
  width: 20px;        // 寬度應與成功訊息的寬度相符
  flex-shrink: 0;     // 防止縮小
}

// @2024/01/10 Add by yuchen
// 整行的容器
.button-and-success-message-container {
  display: flex;
  justify-content: center; // 置中內容
  align-items: center;     // 垂直對齊內容
  gap: 5px;                // 按鈕容器和成功訊息之間的空隙
}

// @2024/01/10 Add by yuchen
// 成功訊息的樣式
.success-message {
  display: flex;
  align-items: center;     // 垂直置中 
  justify-content: center; // 水平置中
  color: green;          // 成功訊息和圖標的顏色
  font-weight: bolder;
  flex-shrink: 0;          // 防止縮小
}

// @2024/01/10 Add by yuchen
// 訊息與圖標間距
.success-message mat-icon {
  margin-right: 5px; 
}

// @2024/01/10 Add by yuchen
.success-message span {
  display: block;
  margin-top: auto;
  margin-bottom: 100px;
}

// @2024/01/10 Add by yuchen
// 錯誤訊息樣式
.error-message {
  display: flex;
  align-items: center;     // 垂直置中 
  justify-content: center; // 水平置中
  color: red;            // 錯誤訊息和圖標的顏色
  font-weight: bolder;  
  flex-shrink: 0;          // 防止縮小
}

// @2024/01/15 Add by yuchen
// 訊息與圖標間距
.error-message mat-icon {
  margin-right: 5px; 
}

// @2024/01/15 Add by yuchen
.error-message span {
  display: block;
  margin-top: auto;
  margin-bottom: 100px;
}

// @2024/01/15 Add by yuchen
// 未更動訊息樣式
.info-message {
  display: flex;
  align-items: center;            // 垂直置中 
  justify-content: center;        // 水平置中
  color: rgb(197, 113, 245);    // 未更動訊息和圖標的顏色
  font-weight: bolder;  
  flex-shrink: 0;                 // 防止縮小
}

// @2024/01/15 Add by yuchen
// 訊息與圖標間距
.info-message mat-icon {
  margin-right: 5px; 
}

// @2024/01/15 Add by yuchen
.info-message span {
  display: block;
  margin-top: auto;
  margin-bottom: 100px;
}

@media screen and (max-width: 1366px) {
  .BOX {
    height: 11em;
  }

  .h30 {
    height: 100em;
    width: 100em;
  }

  .boxTitle {
    font-size: 1.35em;
    line-height: 1.5;
  }

  .basicInfo ul {
    font-size: 0.9em;
  }

  .percent {
    position: relative;
    width: 5.5em;
    height: 5.5em;
    padding: 3.5% 0 0;
    font-size: 110%;
    font-weight: bold;
    font-family: Microsoft JhengHei;
    line-height: 120%;
    border-radius: 50%;
    z-index: 1000;
    display: inline-block;
    margin: 0 3%;
    border-width: 6px;
  }

  .percent .number {
    margin: 0.3em 0 0 0.3em;
  }

  .col-md-8 {
    width: 57.3%;
  }

  .col-md-3 {
    width: 50%;
  }

  .basicInfo {
    width: 39%;
  }

  .basicInfo ul li label {
    width: auto;
  }

  .cpu span {
    display: inline-block;
    width: 47%;
    margin: 0 0 1em;
  }

  // @12/20 Add
  :host{
      display: block;
      width: 100vw;
      height: 100vh;
  }

  :host ::ng-deep #gauge svg.dxg-circular-gauge {
    display: block;
    transform: translateX(6px) translateY(-71px) scale(0.75);
  }

  .table table td,
  .table table th {
    line-height: 1;
    white-space: nowrap;
  }

  .basicInfo ul li span {
    width: 85%;
  }

  .cpu span img {
    margin: 0 0.5em 0 0;
    width: 2em;
  }

  .cpu span div {
    font-size: 0.9em;
    width: 72%;
  }

  .cpu span {
    margin: 0.5% 0 2% 3%;
    font-size: 1.3em;
  }
}
/*2024-01-01 add by wen*/
.left_area,
.right_area {
  display: inline-block;
  vertical-align: top;
  margin:0 .5em;
  width: 60%;
}
.right_area {
  width: 35%;
}
.right_area > div.BOX {
  display: block;
  text-align: center;
  width: 100%;
}
.right_area > div.BOX ul {
  text-align: left;
}
.input_2 input[type="text"] {
  width: 7.05em;
  display: inline-block;
  margin-right: 0.5em;
}


